<!-- @format -->

<form class="auth" [formGroup]="loginForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="auth__title">Вход</h1>
    <p class="login__reg">Нет аккаунта? <a routerLink="/auth/register">Зарегистрируйтесь</a></p>
    @if (loginForm.get("email"); as email) {
    <fieldset class="auth__field">
      <label for="email" class="field-label">Электронная почта</label>
      <app-input
        [error]="email | controlError"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Введите почту"
      ></app-input>
      @if (email | controlError: "email") {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_EMAIL }}
      </div>
      } @if (email | controlError: "required") {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    } @if (loginForm.get("password"); as password) {
    <fieldset class="auth__field">
      <label for="password" class="field-label">Пароль</label>
      <app-input
        [error]="password | controlError"
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Введите пароль"
      >
        @if(showPassword) {
        <i
          appIcon
          icon="eye"
          appSquare="24"
          appWidth="24"
          appHeight="24"
          appViewBox="0 0 24 24"
          class="icon"
          (click)="toggleShowPassword()"
        ></i>
        } @else {
        <i
          appIcon
          icon="eye-off"
          appSquare="24"
          appWidth="24"
          appHeight="24"
          appViewBox="0 0 24 24"
          class="icon"
          (click)="toggleShowPassword()"
        ></i>
        }
      </app-input>
      @if (password | controlError: "required") {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    } @if (errorWrongAuth) {
    <div class="text-body-14 error">
      {{ errorMessage.AUTH_WRONG_AUTH }}
    </div>
    }
    <app-button
      [loader]="loginIsSubmitting"
      class="auth__button"
      customTypographyClass="auth__button-typography"
      type="submit"
    >
      Войти
      <i
        class="auth__button-icon"
        appIcon
        icon="arrow-no-body"
        appWidth="12"
        appHeight="6"
        appViewBox="0 0 18 9"
      ></i>
    </app-button>
    <a routerLink="/auth/reset_password/send_email" class="login__forget"> Забыли пароль? </a>
  </div>
</form>
