/** @format */

@use "styles/responsive";
@use "styles/typography";

.login {
  height: 100vh;

  &__left {
    padding-top: 180px;
  }

  &__image {
    position: absolute;
    top: 0%;
    right: 0%;
    display: none;

    @include responsive.apply-desktop {
      display: block;
      width: inherit;
      height: 100%;
      max-height: 100vh;
      margin-left: 135px;
    }
  }

  &__logo {
    position: sticky;
    display: block;
    width: 95px;
    margin-bottom: 20px;

    @include responsive.apply-desktop {
      width: 157px;
      height: 30px;
    }
  }

  &__reg {
    margin-top: 8px;
  }

  &__forget {
    display: block;
    text-align: center;

    @include typography.body-12;

    @include responsive.apply-desktop {
      text-align: left;

      @include typography.body-14;
    }
  }

  &__password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__external {
    width: 80%;
    color: var(--grey-for-text);

    @include responsive.apply-desktop {
      width: 100%;
    }
  }

  &__additional {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-left: 18px;
  }
}

.icon {
  color: var(--dark-grey);
  cursor: pointer;
}

.tooltip {
  position: fixed;
  bottom: 0%;
  left: 5%;
  display: flex;
  align-items: center;
  height: 135px;
  margin-top: 18px;

  @include responsive.apply-desktop {
    bottom: 0%;
    left: 12%;
    margin-top: 30px;
  }

  &__wrapper {
    width: 260px;
    padding: 18px 10px 10px 16px;
    margin-bottom: 140px;
    background-color: var(--white);
    border: 0.5px solid var(--grey-for-text);
    border-radius: var(--rounded-lg) var(--rounded-lg) var(--rounded-lg) 0;
  }

  &__text {
    color: var(--grey-for-text);

    span {
      color: var(--accent);
    }
  }
}
