.button {
  color: #fff;
  cursor: pointer;
  background-color: var(--accent);
  border: none;
  border-radius: 30px;
  outline: none;

  &--md {
    min-width: 210px;
    padding: 10px 20px;
  }

  &--lg {
    min-width: 375px;
    padding: 15px 30px;
  }
}
