/** @format */

.button {
  color: #fff;
  cursor: pointer;
  background-color: var(--accent);
  border: none;
  border-radius: var(--rounded-lg);
  outline: none;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--accent-hover);
  }

  &--md {
    min-width: 210px;
    padding: 10px 20px;
  }

  &--lg {
    min-width: 375px;
    padding: 15px 30px;
  }
}
