/** @format */

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 52px;
  padding: 14px 18px;
  color: var(--white);
  text-align: center;
  cursor: pointer;
  background: var(--accent);
  border: none;
  border-radius: var(--rounded-lg);
  outline: none;
  transition: background-color 0.2s;

  ::ng-deep * {
    display: block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &--red {
    background-color: var(--red);
  }
}
