<!-- @format -->

<div class="skills">
  <div class="skills__main">
    <h2 class="skills__title">Навыки</h2>
    <i
      appIcon
      icon="hint"
      appSquare="24"
      class="skills__hint"
      (mouseenter)="showTooltip()"
      (mouseleave)="hideTooltip()"
    ></i>
    <span class="skills__tooltip text-body-12" [class.skills__tooltip--visible]="isHintVisible">{{
      tooltipText
    }}</span>
    <div class="skills_list">
      @for (skill of displayedSkills; track $index) {
      <app-personal-rating-card
        [routerLink]="['/skills', skill.skillId]"
        [personalRatingCardData]="skill"
      ></app-personal-rating-card>
      } @empty {
      <!-- <p class="skills__placeholder-text">
        выберите навыки,которые Вы будете развивать в этом месяце
      </p> -->

      <p class="skills__placeholder-text">начините проходить навыки, чтобы увидеть свой прогресс</p>
      <!-- <app-button class="skills__select" (click)="openInstruction = true">Выбрать</app-button> -->
      } @if (displayedSkills.length) {
      <div class="skills_pagination">
        <div class="skills_pages">
          <i
            appIcon
            icon="left-arrow"
            class="skills_pages-prev skills_pages-icon"
            (click)="prevPage()"
          ></i>
          <p>
            <span class="skills_pages-start">{{ currentPage }}/</span>{{ totalPages() }}
          </p>
          <i
            appIcon
            icon="left-arrow"
            class="skills_pages-next skills_pages-icon"
            (click)="nextPage()"
          ></i>
        </div>
        <app-button routerLink="/profile/skills">Перейти</app-button>
      </div>
      }
    </div>
  </div>
  <!-- @if (!skillsList.length) {
  <app-button routerLink="/profile/skills">Все навыки</app-button>
  } -->
</div>

<app-modal [open]="openInstruction" (openChange)="onOpenInstructionChange($event)">
  <div class="cancel">
    <i (click)="openInstruction = !openInstruction" appIcon icon="cross" class="cancel__cross"></i>

    <p class="cancel__title">Выбор навыков</p>
    <p class="text-body-14 cancel__text">
      Тебе предстоит выбрать 5 навыков, развитию которых будет посвящен месяц твоей подписки. Не
      торопись с выбором. Отменить или поменять его будет нельзя!
    </p>
    <app-button customTypographyClass="text-body-12" style="width: 100%" (click)="nextStepModal()"
      >Выбрать навыки месяца</app-button
    >
    <img alt="wave" src="assets/images/subscription/wave.svg" class="cancel__wave" />
  </div>
</app-modal>

<app-skill-chooser
  [open]="openSkillChoose"
  (openChange)="onOpenSkillsChange($event)"
></app-skill-chooser>
