@use "styles/typography";
@use "styles/responsive";

.skills {
  &__main {
    min-height: 235px;
    padding: 20px;
    margin-bottom: 18px;
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: 15px;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--black);

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 12px;

      @include typography.heading-3;
    }
  }

  &__placeholder-text {
    margin-bottom: 44px;
    color: var(--dark-grey);

    @include typography.body-12;

    @include responsive.apply-desktop {
      margin-bottom: 4px;

      @include typography.body-14;
    }
  }

  &__select {
    display: block;
    max-width: 315px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_pagination {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &_pages {
    display: flex;
    align-items: center;
    justify-content: center;

    @include responsive.apply-desktop {
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &-start {
      color: var(--dark-grey);
    }

    &-icon {
      width: 32px;
      height: 32px;
      cursor: pointer;
    }

    &-prev {
      color: var(--dark-grey);
    }

    &-next {
      transform: rotate(180deg);
    }
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 20px 0 50px;
  overflow-y: auto;

  @include responsive.apply-desktop {
    padding: 20px 0 60px;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: var(--black);
    inline-size: 280px;

    @include typography.heading-3;

    @include responsive.apply-desktop {
      inline-size: 500px;
    }
  }

  &__text {
    margin-bottom: 50px;

    @include responsive.apply-desktop {
      margin-bottom: 30px;
    }
  }

  &__subtext {
    color: var(--black);
  }

  &__wave {
    position: absolute;
    bottom: -20%;
    left: 0;
    z-index: -10;
    width: 100%;
    opacity: 0.3;
  }
}
