@use "styles/typography";
@use "styles/responsive";

.skills {
  &__main {
    min-height: 235px;
    padding: 20px;
    margin-bottom: 18px;
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: 15px;
  }

  &__title {
    margin-bottom: 30px;
    color: var(--black);

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 12px;

      @include typography.heading-3;
    }
  }

  &__placeholder-text {
    margin-bottom: 44px;
    color: var(--dark-grey);

    @include typography.body-12;

    @include responsive.apply-desktop {
      margin-bottom: 4px;

      @include typography.body-14;
    }
  }

  &__select {
    display: block;
    max-width: 315px;
  }

  &_list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &_pagination {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &_pages {
    display: flex;
    justify-content: center;
    align-items: center;



    @include responsive.apply-desktop {
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
    }

    &-start {
      color: var(--dark-grey);
    }

    &-icon {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }

    &-prev {
      color: var(--dark-grey);
    }

    &-next {
      transform: rotate(180deg);
    }
  }
}