<!-- @format -->

<div class="kanban__sidebar" (clickOutside)="isContextMenuOpen.set(false)">
  @if (projectBoardInfo) {
  <div class="kanban__sidebar-project">
    <div (click)="isContextMenuOpen.set(!isContextMenuOpen())">
      <app-avatar
        (mousedown)="onMouseDown($event, projectBoardInfo)"
        (contextmenu)="$event.preventDefault()"
        [size]="32"
        [url]="projectBoardInfo.imageAddress"
      ></app-avatar>
    </div>

    <app-dropdown
      type="text"
      [isOpen]="isContextMenuOpen()"
      [options]="contextMenuOptions"
      (outside)="isContextMenuOpen.set(false)"
    ></app-dropdown>
  </div>
  }

  <app-kanban-board-actions></app-kanban-board-actions>
</div>
