.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;

  &__header {
    padding: 20px;
    background-color: var(--white);
    border-bottom: 1px solid var(--grey-button);
  }

  &__opponent {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--black);
  }

  &__chat {
    flex-grow: 1;
  }
}
