<!-- @format -->

<div class="page">
  <header class="page__header" *ngIf="chat">
    <a class="page__opponent" [routerLink]="['/office/profile', chat.opponent.id]">
      <app-avatar class="page__avatar" [url]="chat.imageAddress" [size]="40"></app-avatar>
      <div class="page__name text-heading-4">{{ chat.name }}</div>
    </a>
  </header>
  <app-chat-window
    class="page__chat"
    [messages]="messages"
    (submit)="onSubmitMessage($event)"
    (edit)="onEditMessage($event)"
    (delete)="onDeleteMessage($event)"
    (type)="onType()"
    (fetch)="onFetchMessages()"
  ></app-chat-window>
</div>
