<!-- @format -->

@if (invite) {
<div class="invite">
  <div class="invite__info">
    <div class="invite__top">
      <p class="text-body-12">{{ invite.role | truncate: 30 }}</p>
      @if(invite.isAccepted === null) {
      <p class="text-body-12 invite__status">• приглашение отправлено</p>
      }
    </div>

    <div class="invite__user">
      <app-avatar [url]="invite.user.avatar" [size]="40"></app-avatar>
      <h3 class="text-body-12 invite__role">
        {{ invite.user.firstName | truncate: 15 }} {{ invite.user.lastName | truncate: 15 }}
      </h3>
    </div>
  </div>

  <app-button size="big" color="red" (click)="isRemoveInviteModal.set(true)">
    <i appIcon icon="basket" appSquare="14" class="invite__cross invite__icon"></i>
  </app-button>

  <!-- <div class="invite__icons"> -->
  <!-- <i
      class="invite__edit invite__icon"
      appIcon
      icon="edit-pen"
      appSquare="24"
      (click)="isEditInviteModal.set(true)"
    ></i> -->
  <!-- </div> -->
</div>
}

<app-modal [open]="isRemoveInviteModal()" (openChange)="isRemoveInviteModal.set(false)">
  <div class="invite__warning-modal" style="align-items: center">
    <p class="text-body-12">Вы, действительно, хотите удалить приглашение в команду?</p>
    <div class="invite__buttons">
      <app-button
        size="medium"
        customTypographyClass="text-body-12"
        (click)="isRemoveInviteModal.set(false)"
        appearance="outline"
        >Отмена</app-button
      >
      <app-button size="medium" customTypographyClass="text-body-12" (click)="onRemove($event)"
        >Удалить</app-button
      >
    </div>
  </div>
</app-modal>

<app-modal [open]="isEditInviteModal()" (openChange)="isEditInviteModal.set(false)">
  <div class="invite__warning-modal">
    <h3 class="text-bold-body-16">Редактирование участника</h3>
    <p class="text-body-12" style="text-align: start; margin-top: 20px">Роль в команде</p>
    <form [formGroup]="inviteForm" class="invite__form">
      @if (inviteForm.get("role"); as role) {
      <fieldset class="invite__role">
        <app-input
          size="big"
          id="invite_role"
          formControlName="role"
          [error]="role | controlError"
          placeholder="Напишите роль участника в команде"
        ></app-input>
        @if ((role | controlError: "required")) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (inviteForm.get("specialization"); as specialization) {
      <fieldset>
        <app-select
          size="big"
          id="specialization"
          formControlName="specialization"
          placeholder="Специальность"
          [options]="rolesMembersList"
        ></app-select>
        @if ((specialization | controlError: "required")) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
      <app-button size="big" customTypographyClass="text-body-12" (click)="onEdit($event)"
        >Сохранить</app-button
      >
    </form>
  </div>
</app-modal>
