<!-- @format -->

<div class="card">
  <a class="card__head head" [routerLink]="['/office/projects', feedItem.project.id]">
    <img class="head__avatar" [src]="feedItem.project.imageAddress" alt="newsItem.name" />
    <div>
      <div class="head__name">{{ feedItem.project.name }}</div>
      <div class="head__date text-body-14">
        {{ "2024-19-08 12:09:17" | dayjs: "format":"DD MMMM, HH:mm" }}
      </div>
    </div>
  </a>
  <h3 class="card__title">
    <span>Тебя ищут в проект</span>
    <a [routerLink]="['/office/projects', feedItem.project.id]" class="card__project">{{
      feedItem.project.name
    }}</a>
  </h3>
  <div class="card__skills skills">
    <div class="skills__title">Необходимые навыки</div>
    <ul class="skills__list">
      @for (skill of feedItem.requiredSkills; track $index) {
      <app-tag>{{ skill }}</app-tag>
      }
    </ul>
  </div>
  <div class="action card__action">
    <span class="action__job"> {{ feedItem.role }} </span>
    <app-button (click)="router.navigateByUrl('/office/vacancy/1')">Откликнуться</app-button>
  </div>
</div>
