<!-- @format -->

@if (vacancy()) {
<div class="vacancy">
  <div class="vacancy__split">
    <app-vacancies-left-side [vacancy]="vacancy"></app-vacancies-left-side>

    <app-vacancies-right-side [vacancy]="vacancy"></app-vacancies-right-side>
  </div>
</div>

<app-modal [(open)]="resultModal">
  <div class="succeed">
    <i class="succeed__check" appIcon icon="check" appWidth="60" appHeight="42"></i>
    <p class="text-body-12 succeed__text">отклик отправлен</p>
    <app-button routerLink="/office/vacancies/all" size="big" customTypographyClass="text-body-12"
      >перейти к вакансиям</app-button
    >
  </div>
</app-modal>
}
