@use "styles/responsive";
@use "styles/typography";

.vacancy {
  &__content {
    padding: 24px;
    margin-bottom: 20px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__split {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      color: var(--black);
    }

    &--or {
      color: var(--grey-for-text);
      text-align: center;
    }

    &-error {
      border: 0.5px solid var(--red);
    }

    &--cv {
      ::ng-deep {
        app-upload-file {
          .control {
            height: 80px;
            border-radius: var(--rounded-xl);
          }
        }
      }

      &-empty {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        color: var(--grey-for-text);
      }
    }
  }
}

$succeed-modal-width: 310px;

.succeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $succeed-modal-width;

  &__check {
    margin-bottom: 18px;
    color: var(--green);
  }

  &__text {
    margin-bottom: 18px;
    color: var(--black);
  }

  &__link {
    width: $succeed-modal-width;
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__image {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
    }
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;

    &--status {
      padding: 8px;
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    &--title {
      color: var(--black);
    }

    i {
      padding: 6px;
      background-color: var(--light-white);
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    p {
      color: var(--accent);
    }

    span {
      cursor: pointer;
    }
  }
}
