@use "styles/responsive";
@use "styles/typography";

.vacancy {
  &__content {
    padding: 24px;
    margin-bottom: 20px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__split {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 20px;
  }
}

$succeed-modal-width: 310px;

.succeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $succeed-modal-width;

  &__check {
    margin-bottom: 18px;
    color: var(--green);
  }

  &__text {
    margin-bottom: 18px;
    color: var(--black);
  }

  &__link {
    width: $succeed-modal-width;
  }
}
