<!-- @format -->
<div class="students">
  @if (students) { @for (student of students; track $index) {
  <div class="student-item">
    <div class="students__container">
      <div class="students__info">
        <app-avatar
          [size]="avatarSize()"
          [url]="student.student.avatar ? student.student.avatar : placeholderUrl"
        ></app-avatar>
        <div class="students__content">
          <p class="students__title">
            {{ student.student.firstName }} {{ student.student.lastName }}
          </p>
          <p class="students__profile text-body-14">
            {{ student.student.age }}
            {{ student.student.age | pluralize: ["год", "года", "лет"] }} •
            {{ student.student.specialization }}
          </p>
          <a
            [href]="
              'https://app.procollab.ru/office/chats/' + student.student.id + '_' + student.mentorId
            "
          >
            <app-button customTypographyClass="text-body-12" class="students__button"
              >Чат с участником</app-button
            >
          </a>
        </div>
      </div>

      <div class="students__trajectory">
        <p class="text-heading-4">{{ student.trajectory.name }}</p>
        <img
          class="trajectory__image"
          alt="trajectory image"
          [src]="student.trajectory.avatar ? student.trajectory.avatar : placeholderUrl"
        />
      </div>
    </div>

    <div
      class="students__stats"
      [class.students__stats--expanded]="expandedStudentId === student.student.id"
    >
      @if(expandedStudentId === student.student.id){
      <div class="stats">
        <div class="stats__container">
          <div class="stats__skills">
            <div class="stats__checkbox">
              <div class="stats__info">
                <p class="text-heading-4">Начальная встреча с наставником</p>
                <p class="text-body-12 stats__meeting">Встреча прошла</p>
              </div>
              <app-checkbox
                (click)="onSelect('initialMeeting', !studentForm.get('initialMeeting')?.value)"
                [checked]="studentForm.get('initialMeeting')?.value"
              ></app-checkbox>
            </div>
          </div>

          <div class="stats__skills">
            <div class="stats__checkbox">
              <div class="stats__info">
                <p class="text-heading-4">Финальная встреча с наставником</p>
                <p class="text-body-12 stats__meeting">Встреча прошла</p>
              </div>
              <app-checkbox
                (click)="onSelect('finalMeeting', !studentForm.get('finalMeeting')?.value)"
                [checked]="studentForm.get('finalMeeting')?.value"
              ></app-checkbox>
            </div>
          </div>
        </div>

        <div class="stats__bottom">
          <div class="stats__text-content">
            <div>
              <p class="text-bold-body-16">
                {{ student.remainingDays }}
                {{ student.remainingDays | pluralize: ["день", "дня", "дней"] }}
              </p>
              <p class="text-body-12 stats__trajectories">До конца траектории</p>
            </div>

            <div>
              <p class="text-bold-body-16">0</p>
              <p class="text-body-12 stats__point">Количество баллов</p>
            </div>
          </div>

          <div class="stats__save">
            <app-button customTypographyClass="text-body-12" (click)="onSave(student.meetingId)"
              >Сохранить</app-button
            >
          </div>
        </div>
      </div>
      }

      <div
        class="stats__expand"
        [class.stats__expand--expanded]="expandedStudentId === student.student.id"
      >
        <p (click)="toggleExpand(student.student.id)" class="text-body-14">
          {{ expandedStudentId === student.student.id ? "Скрыть" : "Посмотреть" }} статистику
        </p>
        @if (expandedStudentId === student.student.id) {
        <i appIcon icon="arrow-no-body" appSquare="32" class="icon"></i>
        } @else {
        <i appIcon icon="arrow-no-body" appSquare="32" class="icon__unexpanded"></i>
        }
      </div>
    </div>
  </div>
  } }
</div>
