<!-- @format -->
<div class="students">
  <div class="students__container">
    <div class="students__info">
      <app-avatar [size]="94" [url]="placeholderUrl"></app-avatar>
      <div class="students__content">
        <p class="text-heading-2">Тест Тестович</p>
        <p class="students__profile text-body-14">19 лет * Frontend Developer</p>
        <app-button customTypographyClass="text-body-12" class="students__button"
          >Чат с участником</app-button
        >
      </div>
    </div>

    <div class="students__trajectory">
      <p class="text-heading-4">Старт карьеры</p>
      <img alt="trajectory image" src="assets\images\trajectories\trajectories_cover.svg" />
    </div>
  </div>

  <div
    class="students__stats"
    [ngStyle]="{ height: expanded ? '240px' : '40px', padding: expanded ? '36px 24px' : '10px' }"
  >
    @if(expanded){
    <div class="stats">
      <div class="stats__container">
        <div class="stats__skills">
          <p class="text-heading-4" [ngStyle]="{ color: 1 === 1 ? 'var(--green)' : 'var(--red)' }">
            Выполненный навык: 2
          </p>
          <div class="stats__checkbox">
            <div class="stats__info">
              <p class="text-heading-4">Начальная встреча с наставником</p>
              <p class="text-body-12 stats__meeting">Встреча прошла</p>
            </div>
            <app-checkbox [checked]="true"></app-checkbox>
          </div>
        </div>

        <div class="stats__skills">
          <p
            class="text-heading-4"
            [ngStyle]="{ color: 1 + 1 === 3 ? 'var(--green)' : 'var(--red)' }"
          >
            Выполненный навык: 1
          </p>
          <div class="stats__checkbox">
            <div class="stats__info">
              <p class="text-heading-4">Начальная встреча с наставником</p>
              <p class="text-body-12 stats__meeting">Встреча прошла</p>
            </div>
            <app-checkbox [checked]="false"></app-checkbox>
          </div>
        </div>
      </div>

      <div class="stats__bottom">
        <div class="stats__text-content">
          <div>
            <p class="text-bold-body-16">15 дней</p>
            <p class="text-body-12 stats__trajectories">До конца траектории</p>
          </div>

          <div>
            <p class="text-bold-body-16">36</p>
            <p class="text-body-12 stats__point">Количество баллов</p>
          </div>
        </div>

        <div class="stats__save">
          <app-button customTypographyClass="text-body-12" (click)="expanded = !expanded"
            >Сохранить</app-button
          >
        </div>
      </div>
    </div>
    }

    <p (click)="expanded = !expanded" class="text-body-14 stats__expand">
      {{ expanded ? "Скрыть" : "Посмотреть" }} статистику
    </p>
  </div>
</div>
