@use "styles/responsive";
@use "styles/typography";

.students {
  position: relative !important;
  z-index: 100;
  padding: 15px 22px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__trajectory {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__profile {
    color: var(--dark-grey);
  }

  app-button {
    &::ng-deep .button--inline {
      height: 25px;
    }
  }

  &__stats {
    position: absolute;
    top: 92%;
    left: 5%;
    z-index: 10;
    width: 90%;
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: 15px;
    transition: height 0.3s ease;
  }
}

.stats {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__expand {
    position: absolute;
    bottom: 5%;
    left: 41%;
  }

  &__skills {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__checkbox {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__info {
    text-align: end;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__text-content {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__point,
  &__trajectories,
  &__meeting {
    color: var(--dark-grey);
  }

  &__save {
    width: 13%;

    app-button {
      &::ng-deep .button--inline {
        min-height: 38px;
      }
    }
  }
}
