.bar {
  background-color: var(--white);

  &__nav {
    display: flex;
    align-items: center;
  }

  &__tabs {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--dark-gray);
    cursor: pointer;
  }

  &__ball {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    min-height: 22px;
    padding: 1px 6px;
    margin-left: 6px;
    line-height: 1;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 7px;

    &--small {
      padding: 0;
      border-radius: 100px;
    }
  }

  &__link {
    &--active {
      .bar__item {
        color: var(--black);
        border-bottom: 2px solid var(--black);
      }

      .bar__ball {
        background-color: var(--black);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__add-project {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      display: block;
      margin-left: 6px;
    }
  }
}

.filter {
  position: relative;

  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    color: var(--black);
    cursor: pointer;

    &--active {
      color: var(--white);
      background-color: var(--black);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 5px;
    left: 50%;
    color: var(--white);
    transform: rotate(180deg) translateX(50%);
  }

  &__body {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 280px;
    padding: 22px;
    background-color: var(--white);
    border-radius: var(--rounded-md);
    transform: translateY(10px);
  }

  &__title {
    margin-bottom: 14px;
    color: var(--black);
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: var(--black);
    cursor: pointer;

    app-checkbox {
      margin-right: 15px;
    }
  }
}
