@use "styles/responsive";
@use "styles/typography";

.course {
  padding-top: 12px;
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 0;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__right {
    display: flex;
    flex-direction: column;
    max-height: 226px;
  }

  &__left {
    max-width: 157px;
  }

  &__section {
    padding: 24px;
    margin-bottom: 14px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;

    @include responsive.apply-desktop {
      grid-template-columns: 2fr 5fr 3fr;
    }
  }

  &__progress {
    position: relative;
    height: 48px;
    padding: 10px;
    margin-bottom: 18px;
    overflow: hidden;
    text-align: center;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);

    &--cover {
      position: absolute;
      top: 0%;
      left: 0%;
      height: 48px;
      background-color: var(--accent);
      border-radius: var(--rounded-lg);
      opacity: 0.15;
    }

    &--percent {
      position: relative;
      z-index: 1;
      color: var(--green-dark);
    }

    &--complete {
      background-color: var(--green-light);

      .course__progress--percent {
        color: var(--black);
      }

      .course__progress--cover {
        background-color: var(--green-dark);
      }
    }
  }

  &__modules {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 18px;
  }
}


.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 0 200px;

  &__text {
    color: var(--dark-grey);
    text-align: center;
  }

  &__img {
    margin: 30px 0;
  }
}
