<!-- @format -->

<div class="task">
  <div class="task__badge badge">
    <div class="badge__left">
      <h1 class="badge__title">Публичные выступления</h1>
      <div class="badge__text">
        развитие навыка стало доступным благодаря <br />
        начните обучение прямо сейчас
      </div>
    </div>
    <img
      class="badge__img"
      src="https://i.pinimg.com/564x/9f/ac/9b/9fac9b2c62a353fc352466fa9cd54c71.jpg"
      alt=""
    />
  </div>
  <div class="task__progress progress" #progressBarEl>
    <div class="progress__line"></div>
    <div class="progress__line-done" [ngStyle]="{ width: progressDoneWidth() + 'px' }"></div>
    <div class="progress__first progress__border progress__border--done">1 задание</div>
    @for (id of taskIds(); track $index) {
    <a
      #pointEls
      class="progress__point"
      [attr.data-id]="id"
      [ngClass]="{ 'progress__point--done': doneTasks().includes(id) }"
    ></a>
    }
    <img
      src="https://i.pinimg.com/564x/a5/bb/d6/a5bbd6dc85281bd8e3821d1abd12428e.jpg"
      class="progress__brand-point"
      [ngStyle]="{ left: progressDoneWidth() + 'px' }"
      alt=""
    />
    <div class="progress__last progress__border">2 задание</div>
  </div>
  <router-outlet></router-outlet>
</div>
