@use "styles/typography";
@use "styles/responsive";

.task {
  display: grid;
  grid-template-columns: 68px 1fr;
  gap: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__tasks {
    text-align: center;
    margin-bottom: 12px;
  }

  &__skill-name {
    color: var(--black);
  }

  &__name {
    color: var(--dark-grey);
  }

  &__progress {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.progress {
  &__task {
    border-radius: var(--rounded-xl);
    background-color: var(--light-white);
    height: 23px;
    padding: 4px 0px;
    text-align: center;

    &--done {
      background-color: var(--green);
      border: 0px !important;
      color: var(--light-white);
    }

    &--current {
      border: 0.5px solid var(--accent);
    }
  }
}


