<!-- @format -->

<div class="detail">
  <section class="bar detail__bar">
    <nav class="bar__nav">
      <app-back class="bar__back"></app-back>
      <!--      <ul class="bar__tabs">
        <a
          class="bar__link"
          [routerLink]="['/office/program', programId]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link&#45;&#45;active"
        >
          <li class="text-body-14 bar__item">Страница проекта</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/program', programId, 'projects']"
          routerLinkActive="bar__link&#45;&#45;active"
        >
          <li class="text-body-14 bar__item">Проекты-участники</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/program', programId, 'members']"
          routerLinkActive="bar__link&#45;&#45;active"
        >
          <li class="text-body-14 bar__item">Участники</li>
        </a>
      </ul>-->
    </nav>
  </section>
  <div class="detail__body">
    <router-outlet></router-outlet>
  </div>
</div>
