@use "src/styles/responsive";

.page {
  display: flex;
  align-items: flex-start;

  &__filter {
    margin-right: 16px;
  }

  &__list {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr;
    grid-gap: 16px;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
