<!-- @format -->

<section class="page">
  <div class="filter-toggle page__filter-toggle" (click)="isFilterOpen = !isFilterOpen">
    <span>Фильтр</span>
    <i appIcon icon="filter" appSquare="34"></i>
  </div>
  <ul class="page__list" *ngIf="searchedProjects.length">
    <a *ngFor="let project of searchedProjects" [routerLink]="['/office/projects', project.id]">
      <li>
        <app-project-card
          [project]="project"
          [canDelete]="project.leader === profile?.id"
          (remove)="deleteProject($event)"
        ></app-project-card>
      </li>
    </a>
  </ul>
  <div 
    *ngIf="isAll"
    class="filter page__filter" 
    [class.page__filter--open]="isFilterOpen"
  >
    <div class="filter__overlay" (click)="isFilterOpen = false"></div>
    <div class="filter__body">
      <div class="filter__bar"></div>
      <app-projects-filter></app-projects-filter>
    </div>
  </div>
  <div class="page__empty empty text-body-14" *ngIf="!searchedProjects.length && isMy">
    <button class="empty__action text-body-14" (click)="addProject()">
      <i appIcon icon="plus" appSquare="32"></i>
      Добавьте свой первый проект
    </button>
    <span class="empty__or">или</span>
    <a class="empty__action" routerLink="/office/projects/all">
      <i appIcon icon="search" appSquare="32"></i>
      Найдите интересующий проект в списке
    </a>
  </div>
</section>
