@use "styles/responsive";
@use "styles/typography";

.video {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;

  @include responsive.apply-desktop {
    flex-direction: row;
  }

  &--hasVideo {
    flex-direction: column;

    @include responsive.apply-desktop {
      align-items: flex-start;
    }
  }

  img {
    width: 100%;
    max-width: 430px;
    height: 100%;
    max-height: 285px;
    border-radius: 15px;
    object-fit: cover;
  }

  &__frame {
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 285px;

    &--hasVideo {
      min-width: 670px;
      align-self: center;
    }
  }

  &__text-content {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    gap: 10px;

    &--hasVideo {
      flex-basis: 55%;
    }
  }

  &__text {
    white-space: pre-line;

    @include typography.body-12;

    @include responsive.apply-desktop {
      @include typography.body-14;
    }
  }

  &__title {
    @include typography.heading-3;
  }
}
