<!-- @format -->

<div class="video" [class.video--hasVideo]="contentType === 'mp4'">
  <div class="video__text-content" [class.video__text-content--hasVideo]="!!sanitizedFileUrl">
    <p class="video__title">{{ data.title }}</p>
    <p class="video__text" [innerHTML]="description"></p>
  </div>

  @if (sanitizedFileUrl) {
  <div class="video__wrapper" [class.video__wrapper--hasVideo]="contentType === 'mp4'">
    <div
      class="video__frame"
      [class.video__frame--hasVideo]="contentType === 'mp4' || contentType === 'gif'"
    >
      @if (contentType === 'mp4' || contentType === 'gif') {
      <iframe
        [src]="sanitizedFileUrl"
        width="100%"
        height="285px"
        frameborder="0"
        allowfullscreen
        allowtransparency="true"
      ></iframe>
      } @else if(data.files[0].length) {
      <img [alt]="data.files[0]" [src]="data.files[0]" />
      }
    </div>
  </div>
  }
</div>
