<!-- @format -->

<div class="video" [class.video--hasVideo]="contentType === 'mp4'">
  @if (sanitizedFileUrl) {
  <div class="video__frame" [class.video__frame--hasVideo]="contentType === 'mp4'">
    <iframe
      [src]="sanitizedFileUrl"
      width="100%"
      height="285px"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
  }

  <div class="video__text-content">
    <p class="video__title">{{ data.title }}</p>
    <p class="video__text">{{ data.text }}</p>
  </div>
</div>
