@use "styles/responsive";
@use "styles/typography";

.video {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  align-items: center;
  padding: 26px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  @include responsive.apply-desktop {
    flex-direction: row;
  }

  &--hasVideo {
    flex-direction: column;

    @include responsive.apply-desktop {
      align-items: flex-start;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    &--hasVideo {
      align-self: center;
      justify-content: center;
      border: 1px solid var(--grey-for-text);
      border-radius: 15px;
    }
  }

  img {
    width: 100%;
    max-width: 430px;
    height: 100%;
    max-height: 285px;
    border-radius: 15px;
    object-fit: cover;
  }

  iframe {
    border-radius: 15px;
  }

  &__frame {
    width: 100%;
    max-width: 315px;
    height: 100%;
    margin-left: 40px;

    &--hasVideo {
      align-self: center;
      width: 100%;
      max-width: 670px;
      height: 100%;
      margin-left: 0;
    }

    @include responsive.apply-desktop {
      width: 100%;
      max-width: 440px;
      height: 100%;
      max-height: 285px;

      &--hasVideo {
        align-self: center;
        width: 100%;
        max-width: 670px;
        height: 100%;
        margin-left: 0;
      }
    }
  }

  &__text-content {
    display: flex;
    flex-basis: 120%;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  &__text {
    white-space: pre-line;

    @include typography.body-12;

    @include responsive.apply-desktop {
      @include typography.body-14;
    }
  }

  &__title {
    @include typography.heading-3;
  }
}
