<!-- @format -->

<div class="video">
  <img [src]="data.files[0]" [alt]="data.text" />
  <p class="video__text">{{ data.text }}</p>
  <!--<iframe
    width="100%"
    height="600px"
    src="https://www.youtube.com/embed/mpPlANYOo-4?si=gnmXenJoxrzxYV3q"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen
  ></iframe>-->
</div>
