/** @format */

@use "styles/typography";

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: var(--rounded-xxl);
  transition: all 0.2s;

  &.button--inline {
    font-weight: 400;
    color: var(--white);
    background: var(--accent);
    border: 0.5px solid transparent;
    outline: none;

    &:hover {
      background-color: var(--accent-medium);
      box-shadow: -2px 3px 3px rgb(51 51 51 / 20%);
    }

    ::ng-deep *:not(.dot-wave) {
      display: block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &.button--red {
      background-color: var(--red);

      &:hover {
        background-color: var(--red-dark);
      }
    }

    &.button--gradient {
      background: var(--gradient);

      &:hover {
        background: var(--gradient-mild);
      }
    }

    &.button--grey {
      color: var(--black);
      background-color: var(--grey-button);
    }

    &.button--green {
      color: var(--white);
      background-color: var(--green);
    }

    &.button--gold {
      color: var(--white);
      background: var(--gold-dark);
    }

    &.button--white {
      color: var(--accent);
      background: var(--white);
    }

    &.button--no-border {
      border: none;
    }
  }

  &.button--outline {
    color: var(--accent);
    background: transparent;
    border: 0.5px solid var(--accent);

    &:hover {
      color: var(--accent-medium);
      border-color: var(--accent-medium);
      box-shadow: -2px 3px 3px rgb(51 51 51 / 20%);
    }

    &.button--red {
      color: var(--red);
      border-color: var(--red);

      &:hover {
        color: var(--red-dark);
        border-color: var(--red-dark);
      }
    }

    &.button--gold {
      color: var(--gold);
      border-color: var(--gold);
    }

    &.button--white {
      color: var(--white);
      border: 0.5px solid var(--white);
    }

    &.button--green {
      color: var(--green);
      border: 0.5px solid var(--green);
    }

    &.button--no-border {
      border: none;
    }

    ::ng-deep *:not(.dot-wave) {
      display: block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &--extra-small {
    width: 70px;
    padding: 2px 10px;
  }

  &--small {
    width: 70px;
    padding: 4px 24px;

    &--icon {
      padding: 12px 24px;
    }
  }

  &--medium {
    width: 157px;
    padding: 4px 0;

    &--icon {
      padding: 12px 60px;
    }
  }

  &--big {
    width: 100%;
    padding: 4px 24px;

    &--icon {
      width: 100%;
      padding: 12px 24px;
    }
  }
}
