/** @format */

.button {
  &.button--inline {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 52px;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    cursor: pointer;
    background: var(--accent);
    border: 2px solid transparent;
    border-radius: var(--rounded-xl);
    outline: none;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--accent-light);
      box-shadow: -2px 3px 3px rgba(51, 51, 51, 0.2);
    }

    ::ng-deep *:not(.dot-wave) {
      display: block;

      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &.button--red {
      background-color: var(--red);

      &:hover {
        background-color: var(--red-dark);
      }
    }

    &.button--gradient {
      background: var(--gradient);

      &:hover {
        background: var(--gradient-mild);
      }
    }

    &.button--grey {
      color: var(--black);
      background-color: var(--grey-button);
    }

    &.button--green {
      color: var(--white);
      background-color: var(--green);
    }

    &.button--gold {
      color: var(--white);
      background: var(--gold-dark);
    }

    &.button--white {
      color: var(--accent);
      background: var(--white);
    }

    &.button--small {
      padding: 12px 24px;
    }

    &.button--medium {
      padding: 12px 60px;
    }

    &.button--big {
      padding: 12px 24px;
      width: 100%;
    }

    &.button--no-border {
      border: none;
    }
  }

  &.button--outline {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 52px;
    color: var(--accent);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--accent);
    border-radius: var(--rounded-xl);
    transition: all 0.2s;

    &:hover {
      color: var(--accent-light);
      border-color: var(--accent-light);
    }

    &.button--red {
      color: var(--red);
      border-color: var(--red);

      &:hover {
        color: var(--red-dark);
        border-color: var(--red-dark);
      }
    }

    &.button--small {
      padding: 12px 24px;
    }

    &.button--medium {
      padding: 12px 36px;
    }

    &.button--big {
      padding: 12px 24px;
      width: 100%;
    }

    &.button--no-border {
      border: none;
    }
  }
}
