<!-- @format -->
<button
  [type]="type"
  [class]="'button text-body-12' + ' ' + customTypographyClass"
  [ngClass]="{
    'button--red': color === 'red',
    'button--inline': appearance === 'inline',
    'button--outline': appearance === 'outline',
    'button--no-border': hasBorder === false,
    'button--green': color === 'green',
    'button--grey': color === 'grey',
    'button--gold': color === 'gold',
    'button--gradient': color === 'gradient',
    'button--white': color === 'white',
    'button--small': size === 'small',
    'button--medium': size === 'medium',
    'button--big': size === 'big'
  }"
  [style.background-color]="backgroundColor"
  [disabled]="disabled"
>
  @if (loader) {
  <app-loader [color]="appearance === 'inline' ? 'white' : 'gray'"></app-loader>
  } @else {
  <ng-container>
    <ng-content></ng-content>
  </ng-container>
  }
</button>
