<!-- @format -->

@if (response()) {
  <section class="response">
    <div class="response__section"></div>

    <div class="response__section">
      <div class="lists__section">
        <p class="text-body-12 lists__title">сопроводительное письмо</p>
        <i appIcon icon="folder" class="lists__icon" appSquare="12"></i>
      </div>

      <p class="text-body-10">{{ response().whyMe }}</p>

      @if (response().accompanyingFile; as file) {
        <app-file-item
          class="response__file"
          [canDelete]="true"
          [link]="file.link"
          [name]="file.name"
          [type]="file.mimeType"
          [size]="file.size"
        ></app-file-item>
      }
    </div>
  </section>
}
