/** @format */

@use "src/styles/responsive";

.login {
  &__reg {
    margin-bottom: 20px;
  }

  &__forget {
    display: block;
    margin-top: 12px;
    text-align: center;

    @include responsive.apply-desktop {
      text-align: left;
    }
  }
}
