<!-- @format -->

<form class="auth" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <h1 class="text-h4 auth__title">Вход</h1>
  <fieldset *ngIf="loginForm.get('email') as email" class="auth__field">
    <app-input
      [error]="!!(email.touched && email.invalid)"
      type="email"
      formControlName="email"
      placeholder="Введите почту"
    ></app-input>
    <div *ngIf="email.errors?.email" class="error auth__error">
      <app-icon icon="color-error" appSquare="16"></app-icon>
      {{ errorMessages.VALIDATION_EMAIL }}
    </div>
    <div *ngIf="email.errors?.required" class="error auth__error">
      <app-icon icon="color-error" appSquare="16"></app-icon>
      {{ errorMessages.VALIDATION_REQUIRED }}
    </div>
  </fieldset>
  <fieldset *ngIf="loginForm.get('password') as password" class="auth__field">
    <app-input
      [error]="!!(password?.touched && password?.invalid)"
      type="password"
      formControlName="password"
      placeholder="Пароль"
    ></app-input>
    <div *ngIf="password.errors?.required" class="error auth__error">
      <app-icon icon="color-error" appSquare="16"></app-icon>
      {{ errorMessages.VALIDATION_REQUIRED }}
    </div>
    <div *ngIf="password.errors?.minlength" class="error auth__error">
      <app-icon icon="color-error" appSquare="16"></app-icon>
      {{ errorMessages.VALIDATION_TOO_SHORT }} {{ password.errors?.minlength.requiredLength }}
    </div>
  </fieldset>
  <div class="auth__agreement">
    <app-checkbox class="auth__checkbox" [(checked)]="loginMem"></app-checkbox>
    <span class="text-p1 auth__agreement-text" (click)="loginMem = !loginMem">Запомнить меня</span>
  </div>
  <app-button class="auth__button" size="lg">Войти</app-button>
</form>
