<!-- @format -->

<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">Выбери кем ты будешь на платформе</h3>
    <p class="auth__info">
      На платформе есть несколько ролей, каждая роль имеет свои фишки. Выбери, кто ты!
    </p>
  </div>
  <ul class="page__list">
    <li class="page__item item" [class.item--active]="userRole === 1" (click)="setUserRole(1)">
      <div class="item__head">
        <div class="item__checkbox checkbox"></div>
        <div class="item__title">Участник</div>
      </div>
      <div class="item__text text-body-12">
        Данный пользователь видит все проекты платформы и всех участников, может написать кому
        угодно и предложить сотрудничество, владеет какими-то финансами для поддержки
        проектов-стартапов.
      </div>
    </li>
    <li class="page__item item" [class.item--active]="userRole === 2" (click)="setUserRole(2)">
      <div class="item__head">
        <div class="item__checkbox checkbox"></div>
        <div class="item__title">Ментор</div>
      </div>
      <div class="item__text text-body-12">
        На платформе инвестор - человек, который владеет какими-то финансами для поддержки
        проектов-стартапов. Данный пользователь видит все проекты платформы и всех участников, может
        на
      </div>
    </li>
    <li class="page__item item" [class.item--active]="userRole === 3" (click)="setUserRole(3)">
      <div class="item__head">
        <div class="item__checkbox checkbox"></div>
        <div class="item__title">Инвестор</div>
      </div>
      <div class="item__text text-body-12">
        На платформе инвестор - человек, который владеет какими-то финансами для поддержки
        проектов-стартапов. Данный пользователь видит все проекты платформы и всех участников, может
        нап
      </div>
    </li>
    <li class="page__item item" [class.item--active]="userRole === 4" (click)="setUserRole(4)">
      <div class="item__head">
        <div class="item__checkbox checkbox"></div>
        <div class="item__title">Эксперт</div>
      </div>
      <div class="item__text text-body-12">
        На платформе инвестор - человек, который владеет какими-то финансами для поддержки
        проектов-стартапов. Данный пользователь видит все проекты платформы и всех участников, может
        напи
      </div>
    </li>
  </ul>
  <app-button class="page__button" (click)="onSubmit()">Продолжить</app-button>
</div>
