<!-- @format -->

@if (collaborator) {
<div class="collaborator">
  <div class="collaborator__info">
    <app-avatar [url]="collaborator.avatar" [size]="68"></app-avatar>
    <div class="collaborator__info--text">
      <h3 class="text-body-12 collaborator__role">
        {{ collaborator.firstName | truncate: 12 }} {{ collaborator.lastName | truncate: 12 }}
      </h3>
      <h3 class="text-body-10 collaborator__role">{{ collaborator.role | truncate: 12 }}</h3>
    </div>

    <div class="collaborator__icons">
      <i class="collaborator__icons--edit--disabled" appIcon icon="edit-pen" appSquare="14"></i>
      <i
        appIcon
        icon="basket"
        appSquare="14"
        class="collaborator__icons--delete"
        (click)="onDeleteCollaborator(collaborator.userId)"
      ></i>
    </div>
  </div>
</div>
}
