/** @format */

@use "styles/typography";

.collaborator {
  min-height: 200px;
  padding: 15px 24px;
  background-color: white;
  border: 1px solid var(--dark-grey);
  border-radius: var(--rounded-md);

  &__role {
    color: var(--black);
  }

  &__requirements {
    color: var(--dark-grey);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    text-align: center;

    &--text {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }

  &__skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
  }

  &__icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    i {
      color: var(--accent);
      cursor: pointer;
    }

    &--delete {
      color: var(--red) !important;
    }

    &--edit {
      &--disabled {
        opacity: 0.3;
      }
    }
  }
}
