<!-- @format -->

@if (feedItem) {
<div class="card">
  <div class="card__inner">
    <img
      class="card__background"
      alt="vacancy-card-background"
      src="/assets/images/office/feed/vacancy-card/vacancies-card-background.svg"
    />
    @if (feedItem.project; as project) {
    <div class="card__project">
      <app-avatar
        [size]="65"
        class="project__image"
        [url]="project.imageAddress"
        alt="newsItem.name"
      ></app-avatar>

      <p class="text-body-12">
        {{ project.name.length > 30 ? project.name.slice(0, 26) + "..." : project.name }}
      </p>

      @if (industryService.industries | async; as industries) { @if
      (industryService.getIndustry(industries, project.industry); as industry) {
      <app-tag class="card__industry" color="complete">
        {{ industry.name }}
      </app-tag>
      } }
    </div>
    } @if (feedItem; as vacancy) {
    <div class="card__vacancy">
      <div class="lists__section">
        <h3 class="text-body-10 lists__title">
          {{ vacancy.role.length > 30 ? vacancy.role.slice(0, 26) + "..." : vacancy.role }}
        </h3>
        <p class="text-body-10">{{ vacancy.datetimeCreated | dayjs: "format":"DD MM YY" }}</p>
      </div>

      <div class="card__skills skills">
        @if (vacancy.requiredSkills?.length; as skillsLength) { @if (vacancy.requiredSkills; as
        requiredSkills) { @if (requiredSkills) {
        <ul class="skills__list">
          @for (skill of requiredSkills.slice(0, 3); track $index) {
          <app-tag
            [appearance]="skill.category.name.includes('Soft skills') ? 'outline' : 'inline'"
            [color]="skill.category.name.includes('Soft skills') ? 'soft' : 'complete'"
            >{{ skill.name }}</app-tag
          >
          }
        </ul>
        }
        <div class="skills__remaining" [class.skills__remaining--show]="readFullSkills">
          @if (requiredSkills) {
          <ul class="skills__list">
            @for (skill of requiredSkills.slice(8); track $index) {
            <app-tag>{{ skill.name }}</app-tag>
            }
          </ul>
          }
        </div>
        } @if (skillsLength > 8) {
        <div class="read-more text-body-10" (click)="readFullSkills = !readFullSkills">
          {{ readFullSkills ? "cкрыть" : "подробнее" }}
        </div>
        } }
      </div>

      @if (feedItem.description) {
      <div class="card__description">
        <div class="text-body-6 about__text">
          <p
            class="about__text text-body-6"
            #descEl
            [innerHTML]="vacancy.description | parseLinks | parseBreaks"
          ></p>
          @if (descriptionExpandable) {
          <div
            class="read-more text-body-10"
            (click)="onExpandDescription(descEl, 'expanded', readFullDescription)"
          >
            {{ readFullDescription ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>

  @if (feedItem) {
  <div class="card__actions">
    <app-button
      customTypographyClass="text-body-12"
      [routerLink]="'/office/projects/' + feedItem.project?.id"
      appearance="outline"
      size="medium"
      >перейти в проект</app-button
    >
    <app-button
      customTypographyClass="text-body-12"
      [routerLink]="'/office/vacancies/' + feedItem.id"
      appearance="inline"
      size="big"
      >откликнуться на вакансию</app-button
    >
  </div>
  }
</div>
}
