@use "styles/responsive";
@use "styles/typography";

@mixin expandable-list {
  &__remaining {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--show {
      grid-template-rows: 1fr;
      margin-top: 12px;
    }

    ul {
      min-height: 0;
    }

    li {
      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.card {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--medium-grey-for-outline);
  border-radius: 15px;

  &__head {
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;

    @include typography.bold-body-16;
  }

  &__description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  &__action {
    margin-top: 20px;
  }
}

.about {

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }

  @include typography.body-14;
}

.head {
  display: flex;
  align-items: center;

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    max-width: 200px;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;

    @include typography.bold-body-14;

    @include responsive.apply-desktop {
      @include typography.bold-body-16;
    }
  }

  &__date {
    color: var(--dark-grey);
  }
}

.skills {
  &__title {
    margin-bottom: 5px;
    color: var(--dark-grey);

    @include typography.body-14;

    @include responsive.apply-desktop {
      margin-bottom: 10px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include expandable-list;
}

.action {
  @include responsive.apply-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__job {
    display: block;
    padding: 20px 0;
    margin-bottom: 15px;
    text-align: center;
    cursor: pointer;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;

    @include typography.bold-body-14;

    @include responsive.apply-desktop {
      padding: 0;
      margin-bottom: 0;
      border: none;
    }
  }

  &__button {
    width: 150px;
  }
}
