@use "styles/responsive";
@use "styles/typography";

@mixin expandable-list {
  &__remaining {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--show {
      grid-template-rows: 1fr;
      margin-top: 12px;
    }

    ul {
      min-height: 0;
    }

    li {
      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.card {
  position: relative;
  z-index: 100;
  padding: 27px 24px 24px;
  overflow-y: hidden;
  background-color: var(--light-white);
  border: 0.5px solid var(--medium-grey-for-outline);
  border-radius: var(--rounded-xl);

  &__inner {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
    align-items: flex-start;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__industry {
    display: inline-flex;
  }

  &__description {
    overflow-wrap: break-word;
    white-space: pre-wrap;
  }

  &__project {
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    text-align: center;
  }

  &__vacancy {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;

    &:last-child {
      ::ng-deep {
        app-button {
          .button--big {
            padding: 4px 16px;
          }
        }
      }
    }
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;
  }
}

.about {

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.skills {
  &__title {
    margin-bottom: 5px;
    color: var(--dark-grey);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include expandable-list;
}
