<!-- @format -->

@if (feedItem) {
<div class="card">
  <a class="card__head head" [routerLink]="['/office/projects', feedItem.project?.id]">
    <img class="head__avatar" [src]="feedItem.project?.imageAddress" alt="newsItem.name" />
    <div>
      <div class="head__name">{{ feedItem.project?.name }}</div>
      <div class="head__date text-body-14">
        {{ feedItem.datetimeCreated | dayjs: "format":"DD MMMM YYYY, HH:mm" }}
      </div>
    </div>
  </a>
  <h3 class="card__title">
    <span>Тебя ищут в проект</span>
    <a [routerLink]="['/office/projects', feedItem.project?.id]" class="card__project">{{
      feedItem.project?.name
    }}</a>
  </h3>

  <div class="card__skills skills">
    @if (feedItem.requiredSkills?.length; as skillsLength) {
    <div class="skills__title">Необходимые навыки</div>
    @if (feedItem.requiredSkills; as requiredSkills) { @if (requiredSkills) {
    <ul class="skills__list">
      @for (skill of requiredSkills.slice(0, 8); track $index) {
      <app-tag>{{ skill.name }}</app-tag>
      }
    </ul>
    }
    <div class="skills__remaining" [class.skills__remaining--show]="readFullSkills">
      @if (requiredSkills) {
      <ul class="skills__list">
        @for (skill of requiredSkills.slice(8); track $index) {
        <app-tag>{{ skill.name }}</app-tag>
        }
      </ul>
      }
    </div>
    } @if (skillsLength > 8) {
    <div class="read-more" (click)="readFullSkills = !readFullSkills">
      {{ readFullSkills ? "Скрыть" : "Читать полностью" }}
    </div>
    } }
  </div>

  @if (feedItem.description) {
  <div class="action card__action">
    <div class="text-body-14 about__text">
      <p
        class="about__text text-body-14"
        #descEl
        [innerHTML]="feedItem.description | parseLinks | parseBreaks"
      ></p>
      @if (descriptionExpandable) {
      <div class="read-more" (click)="onExpandDescription(descEl, 'expanded', readFullDescription)">
        {{ readFullDescription ? "Скрыть" : "Читать полностью" }}
      </div>
      }
    </div>
  </div>
  }
  <div class="action card__action">
    <span class="action__job"> {{ feedItem.role }} </span>
    <app-button
      class="action__button"
      customTypographyClass="text-body-12"
      [routerLink]="['/office/vacancies/' + feedItem.id]"
      >Откликнуться</app-button
    >
  </div>
</div>
}
