/** @format */

@use "styles/responsive";
@use "styles/typography";

.message {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 100%;
  padding: 10px;

  &--unread {
    background-color: #f7f3ff;
  }

  &--active {
    background-color: var(--accent-light);

    .message__menu-dots {
      background-color: var(--white);
    }
  }

  &__inner {
    display: flex;
    flex-grow: 1;
    align-items: flex-start;
    max-width: 95%;
  }

  &__info {
    flex-grow: 1;
    min-width: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__time {
    color: var(--dark-grey);
  }

  &__avatar {
    margin-right: 15px;
  }

  &__files {
    margin-bottom: 8px;
  }

  &__file {
    max-width: 100%;
  }

  &__content {
    color: var(--black);
    word-break: break-word;
    white-space: pre-wrap;
  }

  &__name {
    margin-right: 15px;
    color: var(--accent);
  }

  &__menu-dots {
    display: flex;
    flex-basis: 5%;
    align-items: center;
    justify-content: center;
    width: 24px;
    max-width: 24px;
    height: 24px;
    margin-left: auto;
    color: var(--dark-grey);
    cursor: pointer;
    border-radius: var(--rounded-md);
    transition: background-color 0.2s;
  }

  &__contextmenu {
    position: absolute;
    z-index: 10;
  }

  &__reply {
    margin-bottom: 10px;
  }
}

.contextmenu {
  padding: 10px;
  background-color: var(--white);
  border-radius: var(--rounded-lg);
  box-shadow: 5px 5px 25px rgb(159 159 159 / 15%);

  &__item {
    padding: 10px;
    color: var(--dark);
    cursor: pointer;
    border-radius: var(--rounded-xl);
    transition: background-color 0.2s;

    &--red {
      color: var(--red);
    }

    &:hover {
      background-color: var(--light-gray);
    }
  }
}

.reply {
  position: relative;
  padding-left: 10px;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    content: "";
    background-color: var(--accent);
    border-radius: var(--rounded-xl);
  }

  &__name {
    color: var(--black);
  }

  &__message {
    color: var(--dark-grey);
  }
}
