.range {
  display: flex;
  align-items: center;

  &__divider {
    flex-shrink: 0;
    width: 10px;
    height: 2px;
    margin: 0 10px;
    background-color: var(--dark-grey);
  }

  &__point {
    flex-grow: 1;
    font-size: 12px;
    color: var(--black);
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--medium-grey-for-outline);
    outline: none;
  }

  // stylelint-disable property-no-vendor-prefix
  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
