/** @format */

@use "src/styles/responsive";
@use "src/styles/typography";

$button-size: 40px;

.message-input {
  padding: 12px;
  border: 1px solid var(--gray);
  border-radius: 8px;

  &__control {
    display: flex;
    align-items: center;
  }

  &__field {
    flex-grow: 1;
    padding-right: 30px;
    color: var(--dark);
    resize: none;
    border: none;
    outline: none;

    &::placeholder {
      color: var(--dark-gray);
    }
  }

  &__attach-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    margin-left: auto;
    color: var(--dark-gray);
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 8px;

    input {
      display: none;
    }
  }

  &__send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $button-size;
    height: $button-size;
    margin-left: 18px;
    color: var(--white);
    cursor: pointer;
    background-color: var(--accent);
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--accent-dark);
    }
  }
}

.action {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  &__icon {
    min-width: 24px;
    margin-right: 18px;
    color: var(--accent);
  }

  &__text {
    width: 100%;
    padding-left: 18px;
    border-left: 2px solid var(--accent);

    @include responsive.apply-desktop {
      width: 80%;
    }
  }

  &__name {
    color: var(--accent);
  }

  &__info {
    width: 500px;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__cross {
    margin-left: auto;
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--red-dark);
    }
  }
}

.files-list {
  display: flex;
  padding: 0 0 12px;
  list-style-type: none;

  &__item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.file {
  min-width: 140px;
  padding: 10px;
  border: 1px solid var(--medium-grey-for-outline);
  border-radius: 20px;

  &--loading {
    .file__name {
      color: var(--dark-gray);
    }

    .file__type {
      filter: grayscale(1);
      opacity: 0.3;
    }
  }

  &__type {
    display: block;
    margin-bottom: 12px;
  }

  &__name {
    color: var(--black);

    @include typography.body-14;
  }

  &__size {
    margin-bottom: 12px;
    color: var(--dark-gray);

    @include typography.body-12;
  }

  &__loading {
    color: var(--accent);
  }

  &__basket {
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--red-dark);
    }
  }
}

.drop-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    opacity: 0.5;
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    background-color: var(--white);
    border: 2px dashed var(--accent);
    border-radius: 5px;
    transform: translate(-50%, -50%);
  }

  &__img {
    margin-bottom: 12px;
  }

  &__title {
    width: 245px;
    margin-bottom: 12px;
    color: var(--black);
    text-align: center;
  }

  &__comments {
    width: 325px;
    color: var(--dark-gray);
    text-align: center;
  }
}
