/** @format */

@use "src/styles/responsive";
@use "src/styles/typography";

$button-size: 40px;

.message-input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--gray);

  &__control {
    display: flex;
    align-items: center;
  }

  &__field {
    color: var(--dark);
    border: none;
    outline: none;
    flex-grow: 1;
    resize: none;
    padding-right: 30px;

    &::placeholder {
      color: var(--dark-gray);
    }
  }

  &__attach-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--gray);
    margin-left: auto;
    border-radius: 8px;
    width: $button-size;
    height: $button-size;
    color: var(--dark-gray);
    cursor: pointer;

    input {
      display: none;
    }
  }

  &__send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    margin-left: 18px;
    width: $button-size;
    height: $button-size;
    background-color: var(--accent);
    transition: background-color 0.2s;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--accent-dark);
    }
  }
}

.action {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  &__icon {
    min-width: 24px;
    color: var(--accent);
    margin-right: 18px;
  }

  &__text {
    padding-left: 18px;
    border-left: 2px solid var(--accent);
    width: 100%;

    @include responsive.apply-desktop {
      width: 80%;
    }
  }

  &__name {
    color: var(--accent);
  }

  &__info {
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
  }
}

.files-list {
  display: flex;
  padding: 0 0 12px 0;
  list-style-type: none;

  &__item {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}

.file {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--medium-grey-from-outline);
  min-width: 140px;

  &--loading {
    .file__name {
      color: var(--dark-gray);
    }

    .file__type {
      opacity: 0.3;
      filter: grayscale(1);
    }
  }

  &__type {
    display: block;
    margin-bottom: 12px;
  }

  &__name {
    color: var(--black);

    @include typography.body-14;
  }

  &__size {
    color: var(--dark-gray);
    margin-bottom: 12px;

    @include typography.body-12;
  }

  &__basket {
    color: var(--red);
    transition: color 0.2s;
    cursor: pointer;

    &:hover {
      color: var(--red-dark);
    }
  }
}
