<!-- @format -->

<div class="list">
  <app-bar class="bar" [backHave]="true"></app-bar>
  <form class="list__search search" [formGroup]="searchForm">
    <div class="search__control">
      <i class="search__icon" appIcon icon="search" appSquare="32px"></i>
      <input
        formControlName="search"
        type="text"
        placeholder="Поиск"
        class="search__input text-body-14"
      />
    </div>
    <app-button
      size="big"
      customTypographyClass="text-body-14"
      class="search__button"
      (click)="onSearchClick()"
      >Найти</app-button
    >
  </form>
  @if (skills()) {
  <div class="list__items">
    @for (s of skills(); track $index) {
    <app-skill-card [skill]="s" (click)="onSkillClick(s.id, s.isFromTrajectory)"></app-skill-card>
    }
  </div>
  }
</div>

<app-modal [open]="nonConfirmerModalOpen()">
  <div class="confirm">
    <h4 class="confirm__title text-heading-4">
      {{ isFromTrajectoryModal() ? "Этот навык из траектории" : "У вас нет активной подписки" }}
    </h4>
    <div class="cancel__confirm">
      <img alt="more image" src="assets\images\trajectories\more.svg" class="confirm__image" />
      <p class="text-body-12 cancel__subtext">
        {{
          isFromTrajectoryModal()
            ? "Чтобы получить доступ к этому навыку выберите нужную траекторию или завершите выбранную ранее траекторию!"
            : "Чтобы получить доступ ко всем возможностям платформы, оформите подписку прямо сейчас!"
        }}
      </p>

      <div class="cancel__buttons-group">
        <app-button
          size="medium"
          customTypographyClass="text-body-12"
          [color]="'grey'"
          (click)="nonConfirmerModalOpen.set(false)"
          >Назад</app-button
        >

        <app-button
          size="medium"
          [routerLink]="isFromTrajectoryModal() ? '/trackCar' : '/subscription'"
          customTypographyClass="text-body-12"
          [color]="'primary'"
          >{{ isFromTrajectoryModal() ? "К траекториям" : "Купить" }}</app-button
        >
      </div>
    </div>
  </div>
</app-modal>
