<!-- @format -->

<div class="list">
  <div class="bar">
    <nav class="bar__nav">
      <app-back></app-back>
      <ul class="bar__tabs">
        <a class="bar__link" routerLink="/skills/my" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">Навыки</li>
        </a>
        <a class="bar__link" routerLink="/skills" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">Все навыки</li>
        </a>
      </ul>
    </nav>
  </div>
  <div class="list__search search">
    <div class="search__control">
      <i class="search__icon" appIcon icon="search" appSquare="32px"></i>
      <input type="text" placeholder="Поиск" class="search__input text-body-14" />
    </div>
    <app-button class="search__button">Найти</app-button>
  </div>
  @if (skills | async; as data) {
  <div class="list__items">
    @for (s of data['results']; track $index) {
    <app-skill-card [skill]="s" (click)="router.navigate(['skills', s.id])"></app-skill-card>
    }
  </div>
  }
</div>
