@use "styles/responsive";

.search {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;

  &__other {
    flex-grow: 1;
  }

  &__icon {
    margin-right: 14px;
    color: var(--black);
  }

  &__hidden {
    height: 18px;
  }

  &__input {
    width: 100%;

    @include responsive.apply-desktop {
      width: 200px;
    }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--black);
      outline: none;

      &::placeholder {
        color: var(--dark-grey);
      }
    }
  }
}
