/** @format */

@use "styles/typography";
@use "styles/responsive";

.field {
  position: relative;

  &__input {
    width: 100%;
    padding: 13px 20px;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &--error {
      border-color: var(--red);
    }

    &:focus {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }

    @include typography.body-14;

    @include responsive.apply-desktop {
      @include typography.body-16;
    }
  }

  &__error-icon {
    position: absolute;
    top: 50%;
    right: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  &__right-icon{
    position: absolute;
    right: 24px;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
