<!-- @format -->

<div class="field" [class.field--error]="error" [style.width]="size === 'small' ? '70px' : '100%'">
  <div class="field__left-icon">
    <ng-content select="left-icon"></ng-content>
  </div>
  @if (type === 'radio') {
  <input
    type="radio"
    [name]="name"
    [value]="appValue"
    [checked]="checked"
    (change)="onRadioChange($event)"
    class="field__input"
  />
  } @else {
  <input
    [value]="value"
    (input)="onInput($event)"
    (keydown.enter)="onEnter($event)"
    (blur)="onBlur()"
    (focus)="onFocus()"
    [placeholder]="placeholder"
    [type]="currentType"
    [mask]="mask"
    [name]="name"
    [dropSpecialCharacters]="true"
    class="field__input"
    [class.field__input--small]="size === 'small'"
    [class.field__input--big]="size === 'big'"
    [class.field__input--error]="error"
    [class.field__input--with-tooltip]="size !== 'small'"
    [class.field__input--border]="hasBorder"
  />
  } @if (error) {
  <i
    class="field__error-icon"
    appIcon
    icon="error"
    appSquare="20"
    [ngStyle]="{
      right: size === 'small' ? '10px' : '26px'
    }"
  ></i>
  } @else if (haveHint && tooltipText) {
  <div class="field__tooltip-wrapper" [class.field__tooltip-wrapper--small]="size === 'small'">
    <app-tooltip
      [text]="tooltipText"
      [isVisible]="isTooltipVisible"
      [position]="tooltipPosition"
      [tooltipWidth]="tooltipWidth"
      customClass="field__tooltip-icon"
      (show)="showTooltip()"
      (hide)="hideTooltip()"
    ></app-tooltip>
  </div>
  }
  <div
    class="field__right-icon"
    [ngStyle]="{
      right: error ? '60px' : haveHint ? '50px' : '24px'
    }"
  >
    <ng-content></ng-content>
  </div>
</div>
