<!-- @format -->

<div class="field" [class.field--error]="error">
  <div class="field__left-icon">
    <ng-content select="left-icon"></ng-content>
  </div>
  <input
    [value]="value"
    (input)="onInput($event)"
    (keydown.enter)="onEnter($event)"
    (blur)="onBlur()"
    [placeholder]="placeholder"
    [type]="type"
    [mask]="mask"
    [dropSpecialCharacters]="true"
    class="field__input"
    [class.field__input--error]="error"
  />
  @if (error) {
    <i class="field__error-icon" appIcon icon="color-error" appSquare="20"></i>
  }
</div>
