.advert {
  padding: 24px;
  background-color: var(--white);
  border-radius: var(--rounded-md);

  &__cover {
    width: 100%;
    max-height: 260px;
    margin-bottom: 12px;
    border-radius: var(--rounded-md);
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }
}
