@use "styles/feed-card";

.card {
  --feed-background: var(--accent);
  --feed-text: var(--white);
  --feed-secondary: var(--white);
  --feed-cta-text: var(--accent-dark);
  --feed-cta-background: var(--white);

  @include feed-card.layout;
}
