:host {
  display: block;
  padding: 19px 20px 15px;
  margin-top: auto;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__actions {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    margin-bottom: -16px;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41px;
    height: 41px;
    color: var(--accent);
    cursor: pointer;
    background-color: var(--light-gray);
    border: 4px solid var(--white);
    border-radius: 50%;
  }

  &__notifications {
    position: absolute;
    right: 100%;
    z-index: 20;
    width: 380px;
    max-height: 600px;
    transform: translate(100%, -100%);
  }

  &__bell {
    position: relative;
    width: 20px;

    > .attention {
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      background-color: var(--red);
      border-radius: 50%;
    }
  }

  app-profile-info {
    padding: 26px 35px 10px 10px;
    background-color: var(--light-gray);
    border-radius: var(--rounded-lg);
  }
}

.notifications {
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--rounded-md);
  box-shadow: 5px 5px 50px rgb(196 196 196 / 15%);

  &__title {
    margin-bottom: 18px;
    color: var(--black);
  }

  &__invite {
    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid var(--gray);
    }
  }
}
