<!-- @format -->
<ng-template #contentTemplate><ng-content></ng-content></ng-template>
<ng-template #modalTemplate>
  <div class="modal" (click)="$event.stopPropagation()">
    <div class="modal__overlay" (click)="$event.stopPropagation(); openChange.emit(false)"></div>
    @if (labelledBy()) {
      <div
        class="modal__body {{ bodyClass() ?? '' }}"
        [class.modal__body--small]="size() === 'small'"
        [class.modal__body--large]="size() === 'large'"
        role="dialog"
        aria-modal="true"
        [attr.aria-labelledby]="labelledBy()"
        [attr.aria-describedby]="describedBy()"
        cdkTrapFocus
        [cdkTrapFocusAutoCapture]="true"
        (keydown.escape)="onEscape($event)"
        [class.modal__body--gradient]="color() === 'gradient'"
      >
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
      </div>
    } @else {
      <div
        class="modal__body {{ bodyClass() ?? '' }}"
        [class.modal__body--small]="size() === 'small'"
        [class.modal__body--large]="size() === 'large'"
        [class.modal__body--gradient]="color() === 'gradient'"
      >
        <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
      </div>
    }
  </div>
</ng-template>
