/** @format */

.vacancy {
  &__requirements {
    padding: 5px 40px;
    color: var(--accent);
    background: transparent;
    border: 1px solid var(--accent);
    border-radius: var(--rounded-xxl);

    &--soft {
      color: var(--white);
      background-color: var(--accent);
      border: none;
    }

    &--more {
      color: var(--accent);
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--text {
      display: flex;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 5px;
      margin-bottom: 10px;
      border-bottom: 1px solid var(--dark-grey);
    }
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  &__status {
    flex-shrink: 0;
    padding: 4px 8px;
    border: 0.5px solid currentcolor;
    border-radius: var(--rounded-xl);

    &--active {
      color: var(--green);
    }

    &--closed {
      color: var(--red);
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;

    app-button {
      flex-grow: 1;
    }
  }
}
