.field {
  &__options {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    width: 100%;
    max-height: 200px;
    padding: 12px;
    overflow-y: auto;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__option {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &--add-object {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      padding: 3px;
      cursor: pointer;
      border: 0.5px solid var(--accent);
      border-radius: var(--rounded-xl);

      i {
        color: var(--accent);
      }
    }

    &:hover {
      p {
        color: var(--accent);
      }
    }

    &--additional {
      display: flex;
      gap: 5px;
      align-items: center;

      i {
        color: var(--accent);
      }

      app-tag {
        width: 80px;
      }
    }

    &-priority {
      width: 15px;
      height: 15px;
      border-radius: var(--rounded-xxl);
    }

    &--highlighted {
      background-color: var(--light-gray);
    }

    &--point {
      color: var(--accent);
    }
  }
}
