<!-- @format -->

@if (program()) {
  <div appCard [interactive]="true" class="card">
    <div class="card__photo">
      <app-avatar [url]="program().imageAddress" [size]="64"></app-avatar>
    </div>

    <div class="card__info">
      <h3 class="card__name" [title]="program().name">{{ program().name }}</h3>

      <p
        class="card__description card__registration"
        [ngClass]="{
          'card__registration--ended': registerDateExpired,
          'card__registration--participating': !registerDateExpired && program().isUserMember,
          'card__registration--actual':
            !registerDateExpired && (!program().isUserMember || !program().isUserManager),
        }"
      >
        <!-- ? "Регистрация до:" + " " + (program.datetimeRegistrationEnds | date: "dd MMMM") -->
        {{
          registerDateExpired
            ? "регистрация завершена"
            : program().isUserMember
              ? "ты уже участвуешь!"
              : "Регистрация до " + (program().datetimeRegistrationEnds | date: "dd MMMM")
        }}
      </p>

      <div class="card__dates">
        <p class="card__description">
          {{ program().datetimeStarted | date: "dd.MM.yyyy" }} -
          {{ program().datetimeFinished | date: "dd.MM.yyyy" }}
        </p>
        <!-- TODO: изменить когда на бэке для программ будет возможность для регионов поле -->
        <p class="card__description card__region">для всей России</p>
      </div>
    </div>
  </div>
}
