<!-- @format -->

<div class="desktop">
  <ng-container *ngTemplateOutlet="filter"></ng-container>
</div>

<div class="mobile">
  <div class="select" (clickOutside)="onClickOutside()">
    <div
      class="select__input"
      [class.select__input--open]="filterOpen()"
      (click)="filterOpen.set(!filterOpen())"
    >
      Фильтр
    </div>
    <i
      appIcon
      icon="arrow-no-body"
      appSquare="15"
      class="select__dropdown-icon"
      (click)="filterOpen.set(!filterOpen())"
    ></i>
    @if (filterOpen()) {
    <div class="select__dropdown" @dropdownAnimation>
      <ng-container *ngTemplateOutlet="filter"></ng-container>
      <a class="text-body-12" (click)="resetFilter()">сбросить</a>
    </div>
    }
  </div>
</div>

<ng-template #filter>
  <div class="filter">
    @for (filterItem of feedFilterOptions; track $index) {
    <div
      class="filter__option"
      [class.filter__option--disable]="filterItem.id === 5"
      [class.filter__option--active]="filterItem.value === includedFilters()"
      (click)="setFilter(filterItem.value)"
    >
      <div class="filter__option--icon">
        <i appIcon [icon]="filterItem.icon" appSquare="18"></i>
      </div>
      <p class="text-body-12">{{ filterItem.name }}</p>
    </div>
    }
  </div>
</ng-template>
