/** @format */

@use "styles/responsive";
@use "styles/typography";

@mixin expandable-list {
  &__remaining {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--show {
      grid-template-rows: 1fr;
    }

    ul {
      min-height: 0;
    }

    li {
      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.project {
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 0;
  }

  &__bar {
    margin-bottom: 12px;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    align-items: start;

    @include responsive.apply-desktop {
      grid-template-columns: 2fr 1fr;
      grid-gap: 16px;
    }
  }

  &__aside {
    display: grid;
    grid-row-start: 3;
    gap: 20px;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__section {
    padding: 24px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__content {
    grid-row-start: 2;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__about {
    padding: 0 24px;
  }

  &__news {
    grid-row-start: 4;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }
}

.info {
  $body-slide: 15px;

  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 230px;
    border-radius: 15px 15px 0 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 24px 24px;
    margin-top: -$body-slide;
    border-radius: $body-slide;

    app-button ::ng-deep .button--inline {
      min-height: 38px;
    }

    @include responsive.apply-desktop {
      flex-direction: row;
      gap: 10px;
      align-items: flex-end;
      padding-top: 10px;
      padding-left: 225px;
      background-color: var(--white);
      border: 1px solid var(--medium-grey-for-outline);
    }
  }

  &__avatar {
    position: absolute;
    bottom: $body-slide;
    left: 50%;
    z-index: 3;
    display: block;
    transform: translateX(-50%) translateY(30px);

    @include responsive.apply-desktop {
      left: 35px;
      transform: translateY(50%);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__title {
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      text-align: unset;

      @include typography.heading-2;
    }
  }

  &__text {
    color: var(--dark-grey);
  }

  &__industry {
    margin-right: 20px;

    @include responsive.apply-desktop {
      margin-right: 40px;
    }
  }

  &__geo {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive.apply-desktop {
      flex-direction: row;
      margin-left: auto;
    }
  }

  &__presentation {
    display: block;

    i {
      margin-left: 10px;
    }
  }

  &__edit {
    display: block;
  }

  &__subscribe {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    // color: white;
    // padding-bottom: 18px;
    // background-color: var(--green);
    // border-radius: 0 0 100px 100px;
    // box-shadow: 0 6px 22px var(--green);
    // transition: all 0.5s ease;

    // i {
    //   display: flex;
    //   align-items: flex-end;
    //   justify-content: center;
    //   height: 100%;
    // }

    // &-active {
    //   height: 51px;
    //   background-color: var(--accent);
    //   box-shadow: 0 6px 18px var(--accent);
    // }
  }

  &__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: var(--accent);
    cursor: pointer;
    border: 1px solid var(--accent);
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      color: var(--accent-dark);
      border-color: var(--accent-dark);
    }
  }
}

.team {
  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  ul > * {
    display: block;

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include expandable-list;
}

.about {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive.apply-desktop {
      display: block;
    }
  }

  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  &__views {
    display: flex;
    align-items: center;
    color: var(--gray);

    @include typography.body-12;

    @include responsive.apply-desktop {
      display: none;
    }

    i {
      margin-right: 5px;
    }
  }

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.achievements {
  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include expandable-list;
}

.vacancies {
  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  li {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  @include expandable-list;
}

.vacancy {
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
  }

  &__title {
    text-decoration: underline;

    &--disabled {
      color: var(--black);
      text-decoration: none;
      pointer-events: none;
    }
  }

  &__action {
    color: var(--accent);
    text-decoration: underline;
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

  &__requirements {
    color: var(--dark-grey);
  }
}

.achievement {
  &__place {
    color: var(--black);
  }

  &__title {
    color: var(--dark-grey);
  }
}

.news {
  &__form {
    display: block;
    margin-top: 20px;
  }

  &__item {
    display: block;
    margin-top: 20px;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }

  @include typography.body-14;
}

.links {
  overflow: hidden;

  &__title {
    margin-bottom: 12px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  ul {
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.support {
  padding-bottom: 110px;

  @include responsive.apply-desktop {
    width: 470px;
  }

  &__cross {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 195px;

    @include responsive.apply-desktop {
      height: unset;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;

    @include typography.bold-body-16;

    @include responsive.apply-desktop {
      @include typography.heading-4;
    }
  }

  &__text {
    margin: 20px 0;
    color: var(--black);

    @include responsive.apply-desktop {
      max-width: 260px;
    }
  }
}
