/** @format */

@use "styles/responsive";
@use "styles/typography";

@mixin expandable-list {
  &__remaining {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--show {
      grid-template-rows: 1fr;
    }

    ul {
      min-height: 0;
    }

    li {
      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.project {
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 0;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__details {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-gap: 20px;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__left {
    width: 157px;
  }

  &__aside {
    display: grid;
    grid-row-start: 3;
    gap: 20px;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__section {
    padding: 24px;
    margin-bottom: 14px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__content {
    grid-row-start: 2;
    min-width: 0;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__news {
    grid-row-start: 4;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__directions {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    align-items: center;
    margin-top: 24px;
  }
}

.info {
  $body-slide: 15px;

  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 230px;
    border-radius: 15px 15px 0 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 24px 24px;
    margin-top: -$body-slide;
    border-radius: $body-slide;

    app-button ::ng-deep .button--inline {
      min-height: 38px;
    }

    @include responsive.apply-desktop {
      flex-direction: row;
      gap: 10px;
      align-items: flex-end;
      padding-top: 10px;
      padding-left: 225px;
      background-color: var(--white);
      border: 1px solid var(--medium-grey-for-outline);
    }
  }

  &__avatar {
    position: absolute;
    bottom: $body-slide;
    left: 50%;
    z-index: 3;
    display: block;
    transform: translateX(-50%) translateY(30px);

    @include responsive.apply-desktop {
      left: 35px;
      transform: translateY(50%);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__title {
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive.apply-desktop {
      flex-direction: row;
      margin-left: auto;
    }
  }

  &__presentation {
    display: block;

    i {
      margin-left: 10px;
    }
  }

  &__edit {
    display: block;
  }

  &__subscribe {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    // color: white;
    // padding-bottom: 18px;
    // background-color: var(--green);
    // border-radius: 0 0 100px 100px;
    // box-shadow: 0 6px 22px var(--green);
    // transition: all 0.5s ease;

    // i {
    //   display: flex;
    //   align-items: flex-end;
    //   justify-content: center;
    //   height: 100%;
    // }

    // &-active {
    //   height: 51px;
    //   background-color: var(--accent);
    //   box-shadow: 0 6px 18px var(--accent);
    // }
  }

  &__exit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    color: var(--accent);
    cursor: pointer;
    border: 1px solid var(--accent);
    border-radius: 8px;
    transition: all 0.2s;

    &:hover {
      color: var(--accent-dark);
      border-color: var(--accent-dark);
    }
  }
}

.about {
  padding: 24px;
  background-color: var(--light-white);
  border-radius: var(--rounded-lg);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);

    &--icon {
      color: var(--accent);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }
  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      line-height: 1.5;
      color: var(--black);
      text-overflow: ellipsis;
      word-break: break-word;
      transition: all 0.7s ease-in-out;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;

      &.expanded {
        display: block;
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;

    &--status {
      padding: 8px;
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    &--title {
      color: var(--black);
    }

    i {
      padding: 6px;
      background-color: var(--light-white);
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    p {
      color: var(--accent);
    }

    span {
      cursor: pointer;
    }
  }

  @include expandable-list;
}

.news {
  &__form {
    display: block;
    margin-top: 20px;
  }

  &__item {
    display: block;
    margin-top: 20px;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}
