<!-- @format -->

@if (project) {
<main class="project">
  <section class="project__main">
    <div class="project__details">
      <div class="project__left">
        <div class="lists project__section">
          <div class="lists__section">
            <h3 class="text-body-12 lists__title">метаданные</h3>
            <i appIcon icon="anchor" class="lists__icon" appSquare="12"></i>
          </div>

          <ul class="lists__list">
            <li class="lists__item">
              <i appIcon icon="label" class="lists__icon" appSquare="10"></i>
              @if (industryService.industries | async; as industries) {
              <p class="text-body-10 card__industry">
                @if (industryService.getIndustry(industries, project.industry); as industry) {
                <span>{{ industry?.name }}</span>
                }
              </p>
              }
            </li>

            <li class="lists__item">
              <i
                appIcon
                icon="geo-point"
                class="lists__icon"
                style="opacity: 0.6"
                appSquare="10"
              ></i>
              <p class="text-body-10">{{ project.region ?? "не указан" | truncate: 10 }}</p>
            </li>

            <li class="lists__item">
              <i appIcon icon="goal" class="lists__icon" appSquare="10"></i>
              <p class="text-body-10">{{ project.trl ?? "0" }}</p>
            </li>

            <li class="lists__item">
              <i appIcon icon="deadline" class="lists__icon" appSquare="10"></i>
              <p class="text-body-10">{{ project.implementationDeadline ?? "не указана" }}</p>
            </li>

            <li class="lists__item">
              <i appIcon icon="person" class="lists__icon" appSquare="10"></i>
              <p
                class="text-body-10"
                [routerLink]="'/office/profile/' + project.leader"
                style="cursor: pointer"
              >
                {{ project.leaderInfo?.lastName | truncate: 10 }}
                {{ project.leaderInfo?.firstName | truncate: 10 }}
              </p>
            </li>
          </ul>
        </div>
      </div>

      <div #contentEl class="project__content">
        <div class="about project__about">
          <div class="about__head">
            <h3 class="text-body-12 about__title">о проекте</h3>
            <i appIcon icon="folder" appSquare="12" class="about__head--icon"></i>
          </div>
          @if (project.description) {
          <div class="text-body-10 about__text">
            <p #descEl [innerHTML]="project.description | parseLinks | parseBreaks"></p>
            @if (descriptionExpandable) {
            <div
              class="read-more text-body-10"
              (click)="onExpandDescription(descEl, 'expanded', readFullDescription)"
            >
              {{ readFullDescription ? "скрыть" : "подробнее" }}
            </div>
            }
          </div>
          }
        </div>

        @if (authService.profile | async; as profile) {
        <div #newsEl class="project__news news">
          @if (project.leader === profile.id) {
          <app-news-form class="news__form" (addNews)="onAddNews($event)"></app-news-form>
          }

          <div class="project__directions">
            @for (directionItem of directions; track $index) {
            <app-project-direction-card
              [direction]="directionItem.direction"
              [icon]="directionItem.icon"
              [about]="directionItem.about"
              [type]="directionItem.type"
              [isOwner]="profile.id === project.leader"
              [projectInfoType]="directionItem.direction === 'цели' ? 'goals' : 'partners'"
            ></app-project-direction-card>
            }
          </div>

          @for (n of news; track n.id) {
          <app-news-card
            class="news__item"
            [resourceLink]="['/office/projects', n.id]"
            [attr.data-id]="n.id"
            [feedItem]="n"
            [isOwner]="profile.id === project.leader"
            (delete)="onDeleteNews($event)"
            (like)="onLike($event)"
            (edited)="onEditNews($event, n.id)"
          ></app-news-card>
          }
        </div>
        }
      </div>

      <div class="project__right">
        <aside class="project__aside">
          @if (project.links.length) {
          <div class="lists project__section">
            <div class="lists__section">
              <h3 class="text-body-12 lists__title">контакты</h3>
              <i appIcon icon="phone" class="lists__icon" appSquare="12"></i>
            </div>

            <ul class="lists__list">
              @for (link of project.links; track $index) {
              <li class="lists__item text-body-10">
                @if (link | userLinks; as l) {
                <a class="lists__item" target="_blank" [href]="link">
                  <i class="lists__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
                  <span>{{ l.tag | truncate: 20 }}</span>
                </a>
                }
              </li>
              }
            </ul>
          </div>
          } @if (project.resources.length) {
          <div class="lists project__section">
            <div class="lists__section">
              <h3 class="text-body-12 lists__title">в поиске</h3>
              <i appIcon icon="in-search" class="lists__icon" appSquare="12"></i>
            </div>

            @if (project.resources; as resources) {
            <ul class="lists__list">
              @for (resourceItem of resources; track $index) { @switch (resourceItem.type) { @case
              ("infrastructure") {
              <li class="lists__item text-body-10">
                <i appIcon icon="in-search" class="lists__icon" appSquare="10"></i>
                <p class="text-body-10">{{ resourceItem.description | truncate: 20 }}</p>
              </li>
              } @case ("staff") {
              <li class="lists__item text-body-10">
                <i appIcon icon="person" class="lists__icon" appSquare="10"></i>
                <p class="text-body-10">{{ resourceItem.description | truncate: 20 }}</p>
              </li>
              } @case ("financial") {
              <li class="lists__item text-body-10">
                <i appIcon icon="contacts" class="lists__icon" appSquare="10"></i>
                <p class="text-body-10">{{ resourceItem.description | truncate: 20 }}</p>
              </li>
              } @case ("information") {
              <li class="lists__item text-body-10">
                <i appIcon icon="feed" class="lists__icon" appSquare="10"></i>
                <p class="text-body-10">{{ resourceItem.description | truncate: 20 }}</p>
              </li>
              } } }
            </ul>
            }
          </div>
          } @if (project.achievements.length) {
          <div class="lists project__section">
            <div class="lists__section">
              <h3 class="text-body-12 lists__title">достижения</h3>
              <i appIcon icon="medal" class="lists__icon" appSquare="12"></i>
            </div>

            @if (project.achievements; as achievements) { @if (achievements) {
            <ul class="lists__list">
              @for (a of achievements.slice(0, 3); track a.id) {
              <li class="lists__item text-body-10" style="gap: 10px">
                <p class="lists__item--status">{{ a.status | truncate: 20 }}</p>
                <p class="lists__item--title">{{ a.title | truncate: 20 }}</p>
              </li>
              }
            </ul>
            }
            <div class="lists__remaining" [class.lists__remaining--show]="readAllAchievements">
              @if (achievements) {
              <ul class="lists__list">
                @for (a of achievements.slice(3); track a.id) {
                <li class="lists__item text-body-10">
                  <p class="lists__item--status">{{ a.status | truncate: 20 }}</p>
                  <p class="lists__item--title">{{ a.title | truncate: 20 }}</p>
                </li>
                }
              </ul>
              }
            </div>
            } @if (project.achievements.length > 3) {
            <div
              class="read-more text-body-10"
              (click)="readAllAchievements = !readAllAchievements"
            >
              {{ readAllAchievements ? "скрыть" : "подробнее" }}
            </div>
            }
          </div>
          }
        </aside>
      </div>
    </div>
  </section>

  <router-outlet></router-outlet>
</main>
}
