<!-- @format -->

<div class="detail">
  <section class="detail__bar">
    <app-bar
    class="bar"
      [backHave]="true"
      [links]="[
        {
          link: '/office/program' + '/' + programId!.toString(),
          linkText: 'Страница программы',
          isRouterLinkActiveOptions: true
        },

        {
          link: '/office/program' + '/' + programId!.toString() + '/' + 'projects',
          linkText: 'Прокты-участники',
          isRouterLinkActiveOptions: false
        },

        {
          link: '/office/program' + '/' + programId!.toString() + '/' + 'members',
          linkText: 'Участники',
          isRouterLinkActiveOptions: false
        }
      ]"
    ></app-bar>
  </section>

  <div class="detail__body">
    <router-outlet></router-outlet>
  </div>
</div>
