<!-- @format -->

<div class="desktop">
  <div class="desktop__header">
    <h3>Фильтр</h3>
    <a class="text-body-12" (click)="resetFilter()">Сбросить фильтр</a>
  </div>
  <ng-container *ngTemplateOutlet="filter"></ng-container>
  <div class="desktop__actions">
    <app-button class="" customTypographyClass="text-body-12" (click)="applyFilter()"
      >Применить</app-button
    >
  </div>
</div>

<div class="mobile">
  <div class="select" (clickOutside)="onClickOutside()">
    <div
      class="select__input"
      [class.select__input--open]="filterOpen()"
      (click)="filterOpen.set(!filterOpen())"
    >
      Фильтр
    </div>
    <i
      appIcon
      icon="arrow-no-body"
      appSquare="15"
      class="select__dropdown-icon"
      (click)="filterOpen.set(!filterOpen())"
    ></i>
    @if (filterOpen()) {
    <div class="select__dropdown" [@dropdownAnimation]>
      <ng-container *ngTemplateOutlet="filter"></ng-container>
      <a class="text-body-12" (click)="resetFilter()">Сбросить фильтр</a>
    </div>
    }
  </div>
  <app-button class="" customTypographyClass="text-body-14" (click)="applyFilter()"
    >Применить</app-button
  >
</div>

<ng-template #filter>
  <div class="filter">
    <span class="text-body-12">Виды новостей</span>
    <ul>
      @for (option of filterOptions; track $index) {
      <li class="text-body-14 filter__checkbox" (click)="setFilter(option.value)">
        <app-checkbox [checked]="includedFilters().indexOf(option.value) !== -1"></app-checkbox>
        {{ option.label }}
      </li>
      }
    </ul>
  </div>
</ng-template>
