<!-- @format -->

<main class="page">
  <div class="bar page__bar">
    <app-back></app-back>
    <nav *ngIf="projectService.projectsCount$ | async as count" class="bar__nav">
      <ul class="bar__tabs">
        <a class="bar__link" routerLink="/office/projects/my" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">
            Мои проекты
            <div class="bar__ball" [class.bar__ball--small]="count.my < 10">{{ count.my }}</div>
          </li>
        </a>
        <a class="bar__link" routerLink="/office/projects/all" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">
            Все проекты
            <div class="bar__ball" [class.bar__ball--small]="count.all < 10">{{ count.all }}</div>
          </li>
        </a>
      </ul>
      <div class="bar__right">
        <button *ngIf="isMy" (click)="addProject()" class="text-body-14 bar__add-project">
          <span class="bar__add-project-text">Добавить проект</span>
          <i appIcon icon="plus" appSquare="32"></i>
        </button>
        <form *ngIf="isAll" [formGroup]="searchForm">
          <app-search formControlName="search"></app-search>
        </form>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</main>
