<!-- @format -->

<main class="page">
  <div class="bar page__bar">
    <nav *ngIf="projectsCount$ | async as count" class="bar__nav">
      <ul class="bar__tabs">
        <a class="bar__link" routerLink="/office/projects/my" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">
            Мои проекты
            <div class="bar__ball" [class.bar__ball--small]="count.my < 10">{{ count.my }}</div>
          </li>
        </a>
        <a class="bar__link" routerLink="/office/projects/all" routerLinkActive="bar__link--active">
          <li class="text-body-14 bar__item">
            Все проекты
            <div class="bar__ball" [class.bar__ball--small]="count.all < 10">{{ count.all }}</div>
          </li>
        </a>
      </ul>
      <div class="bar__right">
        <button *ngIf="isMy | async" (click)="addProject()" class="text-body-14 bar__add-project">
          Добавить проект <i appIcon icon="plus" appSquare="24"></i>
        </button>
        <form [formGroup]="searchForm">
          <app-search *ngIf="isAll | async" formControlName="search"></app-search>
        </form>
        <div class="filter" (clickOutside)="onFilterOutside()">
          <div
            *ngIf="isAll | async"
            class="filter__toggle"
            [class.filter__toggle--active]="filterOpen"
            (click)="filterOpen = !filterOpen"
          >
            <i appIcon icon="filter" appSquare="34"></i>
            <i
              class="filter__arrow"
              appIcon
              icon="arrow-no-body"
              appWidth="12"
              appHeight="6"
              appViewBox="0 0 18 9"
            ></i>
          </div>
          <div *ngIf="filterOpen" class="filter__body">
            <h3 class="text-bold-body-16 filter__title">Фильтр</h3>
            <div class="filter__block">
              <h4 class="text-body-12 filter__name">Направление</h4>
              <div
                class="text-body-14 filter__checkbox"
                *ngFor="let step of steps"
                (click)="filterByStep(step.id)"
              >
                <app-checkbox [checked]="step.id === currentStep"></app-checkbox>
                {{ step.name }}
              </div>
            </div>
            <div class="filter__block">
              <h4 class="text-body-12 filter__name">Направление</h4>
              <div
                class="text-body-14 filter__checkbox"
                *ngFor="let industry of industries"
                (click)="filterByIndustry(industry.id)"
              >
                <app-checkbox [checked]="industry.id === currentIndustry"></app-checkbox>
                {{ industry.name }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <router-outlet></router-outlet>
</main>
