@use "styles/responsive";

.profile {
  &__content {
    grid-row-start: 2;
    min-width: 0;
    word-break: break-word;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__news {
    grid-row-start: 4;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__directions {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    grid-gap: 20px;
    align-items: center;
    margin-top: 14px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    min-height: min(480px, calc(100vh - 240px));
    padding: 24px;
    text-align: center;

    &--text {
      color: var(--grey-for-text);
    }

    i {
      color: var(--grey-for-text);
    }
  }
}

.about {
  padding: 24px;
  background-color: var(--light-white);
  border-radius: var(--rounded-lg);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);

    &--icon {
      color: var(--accent);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__text {
    p {
      color: var(--black);
      word-break: break-word;
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.news {
  &__form {
    display: block;
    margin-top: 20px;
  }

  &__item {
    display: block;
    margin-top: 20px;
  }
}
