<!-- @format -->

<section class="members" #membersRoot>
  <h1 class="text-heading-1 members__title">Участники</h1>
  <form class="members__bar" [formGroup]="searchForm">
    <app-search
      formControlName="search"
      placeholder="Введите имя участника"
      [openable]="containerSm < appWidth"
    ></app-search>
  </form>
  <div class="members__content">
    <ul class="members__list">
      @for (member of members; track member.id) {
      <a [routerLink]="['/office/profile', member.id]">
        <li>
          <app-info-card [info]="member"></app-info-card>
        </li>
      </a>
      }
    </ul>
    <app-members-filters class="members__filter" [filterForm]="filterForm"></app-members-filters>
  </div>
</section>
