@use "styles/responsive";
@use "styles/typography";

.members {
  &__title {
    display: none;

    @include responsive.apply-desktop {
      display: block;
      margin-bottom: 14px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;

    @include responsive.apply-desktop {
      flex-direction: row;
      gap: 24px;
      justify-content: space-between;
    }
  }

  &__list {
    flex-basis: 73%;
  }
}
