<!-- @format -->

<div class="auth register">
  <div class="auth__greeting">
    <h3 class="auth__title auth__title--register">
      <ng-container *ngIf="step === 'credentials'">
        Добро пожаловать на Procollab!&nbsp;👋<br>
        С нами идеи становятся реальностью&nbsp;🚀
      </ng-container>
      <ng-container *ngIf="step === 'info'">
        PROCOLLAB - это не только платформа, но и сообщество самых заряженных школьников и студентов
      </ng-container>
    </h3>
    <p class="auth__info">
      <ng-container *ngIf="step === 'credentials'">
        Для регистрации введите данные
      </ng-container>
      <ng-container *ngIf="step === 'info'">
        Заполните основные данные о себе, чтобы мы знали, как к вам обращаться
      </ng-container>
    </p>
  </div>
  <form class="auth__wrapper" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="step === 'credentials'">
      <fieldset *ngIf="registerForm.get('email') as email" class="auth__field">
        <label for="email" class="field-label">Почта</label>
        <app-input
          [error]="email | controlError"
          id="email"
          type="email"
          formControlName="email"
          placeholder="mail@example.ru"
        ></app-input>
        <div *ngIf="email | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        <div *ngIf="email | controlError: 'email'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_EMAIL }}
        </div>
      </fieldset>
      <fieldset *ngIf="registerForm.get('password') as password" class="auth__field">
        <label for="passowrd" class="field-label">Пароль</label>
        <app-input
          [error]="password | controlError"
          id="passowrd"
          type="password"
          formControlName="password"
          placeholder="Придумайте пароль"
        ></app-input>
        <app-input
          class="register__repeated-password"
          [error]="password | controlError"
          id="repeatedPassword"
          type="password"
          formControlName="repeatedPassword"
          placeholder="Повторите пароль"
        ></app-input>
        <div *ngIf="password | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        <div *ngIf="password | controlError: 'minlength'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_TOO_SHORT }} {{ password.errors?.minlength.requiredLength }}
        </div>
        <div *ngIf="registerForm | controlError: 'unMatch'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_PASSWORD_UNMATCH }}
        </div>
      </fieldset>
    </ng-container>
    <ng-container *ngIf="step === 'info'">
      <div class="auth__row">
        <fieldset *ngIf="registerForm.get('firstName') as name" class="auth__field">
          <label for="name" class="field-label">Имя</label>
          <app-input
            [error]="name | controlError"
            id="name"
            type="text"
            formControlName="firstName"
            placeholder="Иван"
          ></app-input>
          <div *ngIf="name | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
        <fieldset *ngIf="registerForm.get('lastName') as surname" class="auth__field">
          <label for="surname" class="field-label">Фамилия</label>
          <app-input
            [error]="surname | controlError"
            id="surname"
            type="text"
            formControlName="lastName"
            placeholder="Иванов"
          ></app-input>
          <div *ngIf="surname | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <fieldset *ngIf="registerForm.get('birthday') as birthday" class="auth__field">
        <label for="birthday" class="field-label">Дата рождения</label>
        <app-input
          id="birthday"
          [error]="birthday | controlError"
          type="text"
          mask="00.00.0000"
          placeholder="ДД.ММ.ГГГГ"
          formControlName="birthday"
        ></app-input>
        <div *ngIf="birthday | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        <div *ngIf="birthday | controlError: 'tooYoung'" class="text-body-14 error">
          {{ errorMessage.MINIMAL_AGE }} {{ birthday.errors?.tooYoung.requiredAge }} лет
        </div>
        <div *ngIf="birthday | controlError: 'invalidDateFormat'" class="text-body-14 error">
          {{ errorMessage.INVALID_DATE }}
        </div>
      </fieldset>
    </ng-container>
    <div *ngIf="userExistError" class="text-body-14 error">
      {{ errorMessage.AUTH_EMAIL_EXIST }}
    </div>
    <div class="register__agreement" *ngIf="step === 'credentials'">
      <app-checkbox [(checked)]="registerAgreement"></app-checkbox>
      <span (click)="registerAgreement = !registerAgreement">
        Я прочитал 
        <a href="/assets/downloads/auth/shared/Политика_обработки_перс_данных_2022.docx" download>
          соглашение
        </a>
        и даю согласие на&nbsp;обработку персональных&nbsp;данных
      </span>
    </div>
    <app-button
      *ngIf="step === 'info'"
      [loader]="registerIsSubmitting"
      type="submit"
      class="auth__button"
    >
      Создать аккаунт
    </app-button>
    <app-button 
      *ngIf="step === 'credentials'" 
      type="submit" 
      class="auth__button"
      customTypographyClass="auth__button-typography"
    >
      Далее
    </app-button>
    <p class="auth__toggle">Есть аккаунт? <a routerLink="/auth/login">Войдите</a></p>
  </form>
</div>
