/** @format */

@use "src/styles/typography";
@use "src/styles/responsive";

.register {
  &__agreement {
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;

    app-checkbox {
      margin-right: 15px;
    }
  }

  &__greeting {
    max-width: 825px;
    margin-bottom: 20px;

    @include responsive.apply-desktop {
      margin-bottom: 36px;
    }
  }

  &__repeated-password {
    margin-top: 6px;
  }
}
