<!-- @format -->

<form class="auth" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="text-heading-1 auth__title">Регистрация</h1>
    <div class="auth__row">
      <fieldset *ngIf="registerForm.get('name') as name" class="auth__field">
        <label for="name" class="field-label">Имя</label>
        <app-input
          [error]="name | controlError"
          id="name"
          type="text"
          formControlName="name"
          placeholder="Иван"
        ></app-input>
        <div *ngIf="name | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
      </fieldset>
      <fieldset *ngIf="registerForm.get('surname') as surname" class="auth__field">
        <label for="surname" class="field-label">Фамилия</label>
        <app-input
          [error]="surname | controlError"
          id="surname"
          type="text"
          formControlName="surname"
          placeholder="Иванов"
        ></app-input>
        <div *ngIf="surname | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
      </fieldset>
    </div>
    <fieldset *ngIf="registerForm.get('email') as email" class="auth__field">
      <label for="email" class="field-label">Почта</label>
      <app-input
        [error]="email | controlError"
        id="email"
        type="email"
        formControlName="email"
        placeholder="mail@example.ru"
      ></app-input>
      <div *ngIf="email | controlError: 'required'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      <div *ngIf="email | controlError: 'email'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_EMAIL }}
      </div>
    </fieldset>
    <fieldset *ngIf="registerForm.get('password') as password" class="auth__field">
      <label for="passowrd" class="field-label">Пароль</label>
      <app-input
        [error]="password | controlError"
        id="passowrd"
        type="password"
        formControlName="password"
        placeholder="Пароль"
      ></app-input>
      <div *ngIf="password | controlError: 'required'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      <div *ngIf="password | controlError: 'minlength'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_TOO_SHORT }} {{ password.errors?.minlength.requiredLength }}
      </div>
    </fieldset>
  </div>
  <div *ngIf="userExistError" class="text-body-14 error">
    {{ errorMessage.AUTH_EMAIL_EXIST }}
  </div>
  <div class="register__agreement">
    <app-checkbox [(checked)]="registerAgreement"></app-checkbox>
    <span class="text-body-14" (click)="registerAgreement = !registerAgreement">
      Я ознакомился с соглашением и даю
      <a href="/assets/downloads/auth/shared/Политика_обработки_перс_данных_2022.docx" download>
        соглашение
      </a>
      на обработку персональных данных
    </span>
  </div>
  <div class="auth__wrapper">
    <app-button [loader]="registerIsSubmitting" type="submit" class="auth__button">
      <span>Создать аккаунт</span>
      <i
        class="auth__button-icon"
        appIcon
        icon="arrow-no-body"
        appWidth="12"
        appHeight="6"
        appViewBox="0 0 18 9"
      ></i>
    </app-button>
  </div>
</form>
