<!-- @format -->

@if (response) {
<section class="response">
  <a class="response__profile profile" [routerLink]="['/office/profile', response.user.id]">
    <app-avatar [size]="90" [url]="response.user.avatar"></app-avatar>
    <div class="profile__body">
      <p class="text-body-12 profile__status">{{ response.user.userType | userRole | async }}</p>
      <h3 class="text-heading-4 profile__name">
        {{ response.user.firstName }} {{ response.user.lastName }}
      </h3>
      <p class="text-body-12 profile__info">{{ response.user.speciality }}</p>
      @if (response.user.skills) {
      <ul class="profile__skills">
        @if(response.user.skills.length > 5){ @for (skill of response.user.skills.slice(0, 5); track
        skill.id) {
        <li class="profile__skill">
          <app-tag>{{ skill.name }}</app-tag>
        </li>
        }
        <span class="text-body-14">...</span>
        } @else { @for (skill of response.user.skills; track skill.id) {
        <li class="profile__skill">
          <app-tag>{{ skill.name }}</app-tag>
        </li>
        } }
      </ul>
      }
      <a [routerLink]="'/office/profile/' + response.user.id" class="text-body-12"
        >Смотреть профиль</a
      >
    </div>
  </a>
  <div class="response__text text">
    <h4 class="text-body-14 text__title">Мотивационное письмо</h4>
    <p class="text-body-12 text__content">{{ response.whyMe }}</p>
    @if(response.accompanyingFile){
    <app-file-item
      class="text__file"
      [link]="response.accompanyingFile.link"
      [name]="response.accompanyingFile.name"
      [type]="response.accompanyingFile.mimeType"
      [size]="response.accompanyingFile.size"
    ></app-file-item>
    }
    <div class="text__actions actions">
      @if (!(profileId === response.user.id)) {
      <a [routerLink]="['/office/chats', profileId + '_' + response.user.id]">
        <app-button class="actions__button--inactive">Связаться</app-button>
      </a>
      }
      <app-button class="actions__button" (click)="accept.emit(response.id)">Принять</app-button>
      <app-button
        class="actions__button"
        color="red"
        appearance="outline"
        (click)="reject.emit(response.id)"
      >
        Отклонить
      </app-button>
    </div>
  </div>
</section>
}
