/** @format */

.tag {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 5px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--rounded-md);

  &__primary {
    color: var(--dark-grey);
    background-color: var(--light-gray);
  }

  &__accent {
    color: var(--white);
    background-color: var(--accent);
  }

  ::ng-deep {
    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
