/** @format */

.tag {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  border-radius: var(--rounded-md);

  ::ng-deep {
    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
