/** @format */

.tag {
  display: flex;
  align-items: center;
  max-width: 300px;
  padding: 5px 10px;
  overflow: hidden;
  color: var(--dark-gray);
  text-overflow: ellipsis;
  background-color: var(--light-gray);
  border-radius: var(--rounded-md);

  ::ng-deep {
    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
