<!-- @format -->

<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">Заполни данные о своей специальности</h3>
    <!-- <p class="auth__info">
      Для того, чтобы участники понимали с кем общаются и платформа могла рекомендовать тебя на
      самые подходящие вакансии
    </p> -->
  </div>
  <div class="content" [formGroup]="stageForm">
    <section class="content__left">
      <h4 class="text-heading-4">Поиск по библиотеке</h4>
      <app-autocomplete-input
        [suggestions]="inlineSpecializations()"
        fieldToDisplay="name"
        valueField="name"
        fieldToDisplayMode="chip"
        [forceSelect]="true"
        [error]="stageForm.controls['speciality'] | controlError"
        (searchStart)="onSearchSpec($event)"
        placeholder="Название специальности"
        formControlName="speciality"
      ></app-autocomplete-input>
      @if (stageForm.controls['speciality'] | controlError) {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </section>
    <section class="content__right">
      <h4 class="text-heading-4">Библиотека</h4>
      <div class="content__specs-groups">
        <ul>
          @for (spec of nestedSpecializations$ | async; track spec.id) {
          <li>
            <app-specializations-group
              [title]="spec.name"
              [options]="spec.specializations"
              (selectOption)="onSelectSpec($event)"
            ></app-specializations-group>
          </li>
          }
        </ul>
      </div>
    </section>
    <div class="content__actions">
      <app-button type="submit" [loader]="stageSubmitting()" (click)="onSubmit()"
        >Продолжить</app-button
      >
    </div>
  </div>
</div>
