/** @format */

.project {
  position: relative;
  padding: 24px;
  margin-bottom: 100px;
  background-color: var(--white);
  border-radius: var(--rounded-md);

  &__inner > fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  &__image {
    margin-bottom: 20px;
  }

  &__nav {
    margin-bottom: 24px;

    ul {
      display: flex;
    }
  }

  &__nav-item {
    color: var(--gray);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--active {
      color: var(--black);
    }
  }

  &__slides-title {
    display: flex;
    color: var(--black);

    img {
      margin-right: 10px;
    }
  }

  &__slides-text {
    width: 275px;
    margin-top: 12px;
    color: var(--dark-gray);
  }

  &__add-achievement {
    display: block;
    margin-top: 12px;
  }

  &__achievement-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__or {
    margin: 20px 0;
    color: var(--dark-gray);
  }

  &__save {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 10;
    display: block;
    width: 255px;
    margin-left: auto;
  }

  &__invite {
    margin-bottom: 50px;
  }
}

.achievement {
  &__first-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__remove {
    width: 155px;
    margin-left: 10px;
  }
}

.invite {
  &__title {
    margin-bottom: 12px;
  }

  &__role {
    margin-bottom: 12px;
  }

  &__link {
    margin-bottom: 12px;
  }

  &__item {
    margin-bottom: 12px;
  }
}

.vacancy {
  &__item {
    margin-bottom: 12px;
  }

  &__form-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__role {
    margin-bottom: 12px;
  }

  &__form-skill-add {
    display: flex;

    app-input {
      flex-grow: 1;
      margin-right: 6px;
    }

    app-button {
      width: 52px;
    }
  }

  &__submit {
    display: block;
    margin-top: 12px;
  }
}

.skill {
  i {
    color: var(--red);
    cursor: pointer;
  }
}
