/** @format */

@use "src/styles/responsive";
@use "src/styles/typography";

.project {
  position: relative;
  padding: 24px;
  margin-bottom: 100px;
  background-color: var(--white);
  border-radius: var(--rounded-md);

  &__inner > fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  &__image {
    display: block;
    margin-bottom: 20px;

    .error {
      margin-top: 15px;
    }
  }

  &__nav {
    margin-bottom: 24px;

    ul {
      display: block;

      @include responsive.apply-desktop {
        display: flex;
      }
    }
  }

  &__nav-item {
    color: var(--gray);
    cursor: pointer;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      @include typography.heading-3;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }

    &--active {
      color: var(--black);
    }
  }

  &__slides-title {
    max-width: 320px;
    margin-top: 12px;
    color: var(--black);
    text-align: center;
  }

  &__slides-text {
    max-width: 275px;
    margin-top: 12px;
    color: var(--dark-gray);
    text-align: center;
  }

  &__slides-error {
    margin-top: 12px;
    color: var(--red);
  }

  &__slides-open-file {
    color: var(--accent);
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

  &__add-link {
    display: block;
    margin-top: 20px;

    i {
      margin-left: 10px;
    }
  }

  &__add-achievement {
    display: block;
    margin-top: 12px;
  }

  &__achievement-item {
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &__or {
    margin: 20px 0;
    color: var(--dark-gray);
  }

  &__save {
    margin-top: 16px;

    @include responsive.apply-desktop {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 10;
      display: block;
      width: 255px;
      margin-left: auto;
    }
  }

  &__invite {
    margin-bottom: 50px;
  }
}

.achievement {
  &__first-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__remove {
    width: 155px;
    margin-left: 10px;
  }
}

.invite {
  &__title {
    margin-bottom: 12px;
  }

  &__role {
    margin-bottom: 12px;
  }

  &__link {
    margin-bottom: 12px;
  }

  &__item {
    margin-bottom: 12px;
  }
}

.vacancy {
  &__item {
    margin-bottom: 12px;
  }

  &__form-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__role {
    margin-bottom: 12px;
  }

  &__form-skill-add {
    display: flex;

    app-input {
      flex-grow: 1;
      margin-right: 6px;
    }

    app-button {
      width: 52px;
    }
  }

  &__submit {
    display: block;
    margin-top: 12px;
  }
}

.skill {
  i {
    color: var(--red);
    cursor: pointer;
  }
}

.project-bar {
  padding: 9px 0;
  margin-bottom: 12px;
}

.link {
  position: relative;

  &__remove {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    color: var(--white);
    background-color: var(--gray);
    cursor: pointer;
    border-radius: 0 8px 8px 0;
  }
}
