/** @format */

@use "styles/responsive";

.card {
  display: flex;
  flex-direction: column;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 24px 15px;
    background-color: var(--white);
    border-radius: var(--rounded-xl);

    @include responsive.apply-desktop {
      border: 1px solid var(--medium-grey-for-outline);
    }

    &--company {
      border: 1px solid var(--accent);
    }
  }

  &__with-tab {
    margin-top: 24px;
  }

  &__tab {
    width: 65%;
    max-width: 242px;
    height: 34px;
    padding: 0 10px 0 15px;
    margin-top: -24px;
    margin-bottom: -10px;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    background: var(--gradient-mild);
    border-radius: 15px 15px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__basket {
    margin-left: auto;
    color: var(--red);
  }

  &__draft {
    color: var(--red);
  }

  &__name {
    max-width: 200px;
    margin-bottom: 3px;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__media {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
    color: var(--dark-grey);

    &--single {
      justify-content: flex-end;
    }

    &--multiple {
      justify-content: space-between;
    }
  }

  &__left {
    display: flex;
    gap: 15px;
  }

  &__company-flag {
    display: flex;
    gap: 5px;
    color: var(--accent);
  }

  &__circle {
    width: 13px;
    height: 13px;
    background-color: var(--accent);
    border-radius: 50%;
  }

  &__views {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }

  &__subscribed {
    display: flex;
    align-items: center;
    color: var(--accent);
  }

  &__industry {
    color: var(--dark-grey);
  }

  &__description {
    color: var(--dark-grey);
    word-break: break-word;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;

    &:empty {
      margin-top: auto;
    }
  }
}

.collaborators {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: -10px;
    }
  }

  &__other {
    margin-left: 8px;
    color: var(--dark-grey);
  }
}
