/** @format */

@use "styles/responsive";

.card {
  height: 171px;

  &__body {
    position: relative;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-for-outline);
    border-radius: var(--rounded-xl);
    padding: 50px 0px 12px 0px;
  }

  &__photo {
    position: absolute;
    bottom: 72%;
    left: 36%;
  }

  &__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &__head {
    margin-bottom: 15px;
  }

  &__name {
    max-width: 200px;
    margin-bottom: 3px;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__industry {
    color: var(--light-white);
    background-color: var(--green);
    padding: 2px 36px;
    border-radius: var(--rounded-xl);
  }

  &__description {
    color: var(--dark-grey);
    word-break: break-word;
    margin-bottom: 10px;
  }

  &__project {
    padding: 2px 24px;
    border-radius: var(--rounded-xl);
    background-color: var(--accent);

    &--text {
      color: var(--white);
    }
  }
}
