<!-- @format -->

<div class="card" [class.card__with-tab]="project.collaborator">
  @if (project.collaborator; as collaborator) {
    <div class="card__tab text-bold-body-16">
      {{ collaborator?.role ?? (profileId === project.leader ? "Основатель" : "Участник") }}
    </div>
  }
  <div class="card__body">
    <div class="card__head">
      <div>
        <p class="text-heading-4 card__name">{{ project.name }}</p>
        @if (industryService.industries | async; as industries) {
          <p class="text-body-12 card__industry">
            @if (industryService.getIndustry(industries, project.industry); as industry) {
              <span>
                {{ industry ? industry.name : "Error" }}
              </span>
            }
          </p>
        }
      </div>
      <app-avatar class="card__photo" [url]="project.imageAddress" [size]="60"></app-avatar>
    </div>
    <p class="text-body-12 card__description">{{ project.shortDescription }}</p>
    <div class="card__media">
      @if (isSubscribed) {
        <div class="card__subscribed">
          <i appIcon icon="check" appSquare="14"></i>
        </div>
      }
      <div class="card__views">
        <i appIcon icon="eye" appSquare="22"></i> {{ project.viewsCount }}
      </div>
    </div>
    <div class="card__bottom">
      @if (project.draft) {
        <p class="text-body-12 card__draft">Черновик</p>
      }
      @if (canDelete) {
        <i class="card__basket" appIcon icon="basket" appSquare="24" (click)="onBasket($event)"></i>
      }
    </div>
  </div>
</div>
