<!-- @format -->

<div class="card" [class.card__with-tab]="project.collaborator">
  <div class="card__body">
    <div class="card__content">
      <div class="card__head">
        <app-avatar class="card__photo" [url]="project.imageAddress" [size]="70"></app-avatar>
        <div>
          <p class="text-body-12 card__name">{{ project.name }}</p>
          @if (industryService.industries | async; as industries) {
          <p class="text-body-6 card__industry">
            @if (industryService.getIndustry(industries, project.industry); as industry) {
            <span>
              {{ industry ? industry.name : "Error" }}
            </span>
            }
          </p>
          }
        </div>
      </div>
      <p class="text-body-6 card__description">{{ project.shortDescription }}</p>

      <div class="card__project">
        <p class="text-body-6 card__project--text">проект</p>
      </div>
    </div>
  </div>
</div>
