/** @format */

@use "styles/responsive";

.card {
  display: flex;
  flex-direction: column;

  &__body {
    padding: 24px 15px;
    background-color: var(--white);
    border-radius: 15px;

    @include responsive.apply-desktop {
      border: 1px solid var(--medium-grey-for-outline);
    }
  }

  &__with-tab {
    margin-top: 24px;
  }

  &__tab {
    width: 65%;
    max-width: 242px;
    height: 34px;
    padding: 0 10px 0 15px;
    margin-top: -24px;
    margin-bottom: -10px;
    overflow: hidden;
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
    background: var(--gradient-mild);
    border-radius: 15px 15px 0 0;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__basket {
    color: var(--red);
  }

  &__draft {
    color: var(--red);
  }

  &__name {
    max-width: 200px;
    margin-bottom: 3px;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__media {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    margin-top: 16px;
    color: var(--dark-grey);
  }

  &__views {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }

  &__subscribed {
    display: flex;
    align-items: center;
    color: var(--accent);
  }

  &__industry {
    color: var(--dark-grey);
  }

  &__description {
    color: var(--dark-grey);
    word-break: break-word;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;

    &:empty {
      margin-top: 0;
    }
  }
}

.collaborators {
  display: flex;
  align-items: center;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:first-child) {
      margin-left: -10px;
    }
  }

  &__other {
    margin-left: 8px;
    color: var(--dark-grey);
  }
}
