<!-- @format -->

<div
  class="field"
  [class.field--error]="error()"
  [class.field--border]="rightActionOutside() && hasBorder()"
  [class.field--right-action-outside]="rightActionOutside()"
  [style.width]="size() === 'small' ? '70px' : '100%'"
  (click)="focusInput()"
>
  <div class="field__left-icon">
    <ng-content select="left-icon"></ng-content>
  </div>

  @if (type() === "radio") {
    <input
      type="radio"
      [name]="name()"
      [value]="appValue()"
      [checked]="checked()"
      (change)="onRadioChange($event)"
      class="field__input"
    />
  } @else if (type() === "date") {
    @if (dateInputMode() === "text") {
      <input
        #nativeInput
        [value]="value"
        (input)="onInput($event)"
        (keydown.enter)="onEnter($event)"
        (blur)="onBlur()"
        [placeholder]="placeholder()"
        type="text"
        [mask]="mask() || '00.00.0000'"
        [dropSpecialCharacters]="dropSpecialCharacters()"
        class="field__input"
        [class.field__input--error]="error()"
        [class.field__input--small]="size() === 'small'"
        [class.field__input--small--error]="size() === 'small' && error()"
        [class.field__input--big]="size() === 'big'"
        [class.field__input--with-tooltip]="size() !== 'small' && haveHint()"
        [class.field__input--border]="hasBorder()"
      />
      <button
        type="button"
        class="field__calendar-button"
        aria-label="Открыть календарь"
        (click)="openDatepicker($event, picker)"
      >
        <i appIcon icon="calendar" appSquare="16"></i>
      </button>
      <input
        matInput
        [matDatepicker]="picker"
        [value]="dateValue"
        (dateChange)="onDateChange($event)"
        class="field__datepicker-anchor"
        readonly
      />
    } @else {
      <input
        matInput
        [matDatepicker]="picker"
        [value]="dateValue"
        (dateChange)="onDateChange($event)"
        (click)="picker.open()"
        [placeholder]="placeholder()"
        class="field__input"
        [class.field__input--error]="error()"
        [class.field__input--small]="size() === 'small'"
        [class.field__input--small--error]="size() === 'small' && error()"
        [class.field__input--big]="size() === 'big'"
        [class.field__input--with-tooltip]="size() !== 'small' && haveHint()"
        [class.field__input--border]="hasBorder()"
        readonly
      />
    }
    <mat-datepicker #picker></mat-datepicker>
  } @else {
    @if (rightActionOutside()) {
      <div class="field__native-input-area">
        <ng-container [ngTemplateOutlet]="standardInput"></ng-container>
      </div>
    } @else {
      <ng-container [ngTemplateOutlet]="standardInput"></ng-container>
    }
  }
  @if (showErrorIcon) {
    <i
      class="field__error-icon"
      appIcon
      icon="error"
      appSquare="20"
      [ngStyle]="
        rightActionOutside()
          ? {}
          : {
              right: size() === 'small' ? '6px' : '16px',
            }
      "
    ></i>
  } @else if (haveHint() && tooltipText()) {
    <div class="field__tooltip-wrapper" [class.field__tooltip-wrapper--small]="size() === 'small'">
      <app-tooltip
        [text]="tooltipText()!"
        [isVisible]="isTooltipVisible"
        [position]="tooltipPosition()"
        [tooltipWidth]="tooltipWidth()"
        customClass="field__tooltip-icon"
        (show)="showTooltip()"
        (hide)="hideTooltip()"
      ></app-tooltip>
    </div>
  }

  <div
    class="field__right-icon"
    [ngStyle]="
      rightActionOutside()
        ? {}
        : {
            right: error() ? '60px' : haveHint() ? '50px' : '24px',
          }
    "
  >
    <ng-content></ng-content>
  </div>
</div>

<ng-template #standardInput>
  <input
    #nativeInput
    [value]="value"
    (input)="onInput($event)"
    (keydown.enter)="onEnter($event)"
    (blur)="onBlur()"
    [placeholder]="placeholder()"
    [type]="type()"
    [mask]="mask()"
    [name]="name()"
    [attr.autocomplete]="autocomplete() || null"
    [dropSpecialCharacters]="dropSpecialCharacters()"
    class="field__input"
    [class.field__input--error]="error()"
    [class.field__input--overflow]="isLengthOverflow"
    [class.field__input--small]="size() === 'small'"
    [class.field__input--small--error]="size() === 'small' && error()"
    [class.field__input--big]="size() === 'big'"
    [class.field__input--with-tooltip]="size() !== 'small' && haveHint()"
    [class.field__input--border]="hasBorder()"
  />
  @if (maxLength()) {
    <div class="field__counter">
      <p class="text-body-10" [class.field__counter--overflow]="isLengthOverflow">
        <span [ngStyle]="{ color: isLengthOverflow ? 'var(--red)' : '#8d8d8d' }">{{
          value.length
        }}</span>
        / {{ maxLength() }}
      </p>
    </div>
  }
</ng-template>
