<!-- @format -->
<div class="chat-page" *ngIf="project">
  <div class="chat-page__main main">
    <header class="main__header">
      <div class="main__project">
        <app-avatar class="main__avatar" [url]="project.imageAddress" [size]="26"></app-avatar>
        <div class="main__name text-heading-4">{{ project.name }}</div>
      </div>
      <div class="main__meta">
        <ul
          class="main__members-list"
          [style.width]="project.collaborators.length * 10 + 10 + 'px'"
        >
          <li
            class="main__member-avatar"
            *ngFor="let member of project.collaborators; index as index"
            [style.left]="index * -10 + 'px'"
            [style.z-index]="index"
          >
            <app-avatar [url]="member.avatar" [size]="20"></app-avatar>
          </li>
        </ul>
        <div class="main__count">
          {{ project.collaborators.length }}
          {{ pluralize(project.collaborators.length, ["Участник", "Участника", "Участников"]) }}
        </div>
        <div class="main__dot">•</div>
        <div class="main__count-online">{{ membersOnlineCount }} online</div>
      </div>
    </header>
    <div class="main__chat chat">
      <cdk-virtual-scroll-viewport
        class="chat__messages"
        [itemSize]="50"
        minBufferPx="400"
        maxBufferPx="800"
      >
        <app-chat-message
          class="chat__message"
          [chatMessage]="message"
          (edit)="onEditMessage($event)"
          (reply)="onReplyMessage($event)"
          (delete)="onDeleteMessage($event)"
          *cdkVirtualFor="let message of messages"
        ></app-chat-message>
      </cdk-virtual-scroll-viewport>
      <form class="chat__input" [formGroup]="messageForm">
        <span *ngIf="typingPersons.length" class="chat__typing text-body-14">
          <ng-container *ngFor="let person of typingPersons.slice(0, 1); last as last">
            {{ person.firstName }} {{ person.lastName
            }}<ng-container *ngIf="!last">, </ng-container>
          </ng-container>
          <ng-container *ngIf="typingPersons.length > 1">
            и еще {{ typingPersons.length - 1 }}
            {{ pluralize(typingPersons.length - 1, ["человек", "человека", "человек"]) }}
          </ng-container>
          печатает ...
        </span>
        <app-message-input
          [editingMessage]="editingMessage"
          [replyMessage]="replyMessage"
          (resize)="onInputResize()"
          (cancel)="onCancelInput()"
          placeholder="Введите сообщение"
          formControlName="messageControl"
        ></app-message-input>
      </form>
    </div>
  </div>
  <aside class="chat-page__aside">
    <div class="chat-members">
      <header class="chat-members__header">
        <h2 class="chat-members__title text-bold-body-16">Участники</h2>
      </header>
      <ul class="chat-members__list" *ngIf="currentUserId$ | async as currentUserId">
        <li class="chat-members__item" *ngFor="let member of project.collaborators">
          <a class="member" [routerLink]="['/office/profile', member.userId]">
            <app-avatar class="member__avatar" [url]="member.avatar" [size]="30"></app-avatar>
            <span class="member__name text-bold-body-14">
              {{ member.firstName }} {{ member.lastName }}
            </span>
            <span *ngIf="currentUserId === member.userId" class="member__i text-body-14">(Вы)</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="files">
      <h2 class="files__title text-bold-body-16">Файлы</h2>
      <ul class="files__list">
        <li class="files__item">
          <app-file-item name="some name" [size]="100000" type="pdf"></app-file-item>
        </li>
      </ul>
    </div>
  </aside>
</div>
