/** @format */

@use "src/styles/responsive";

$header-height: 58px + 18px * 2;
$input-height: 66px + 18px;

.chat-page {
  height: 100%;
  max-height: 100%;
  background-color: var(--white);

  @include responsive.apply-desktop {
    display: flex;
  }

  &__main {
    flex-grow: 1;
    max-height: 100%;
  }

  &__aside {
    @include responsive.apply-desktop {
      flex-basis: 30%;
      min-width: 300px;
      border-left: 1px solid var(--gray);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  &__header {
    height: $header-height;
    padding: 18px;
    border-bottom: 1px solid var(--gray);
  }

  &__chat {
    flex-grow: 1;
    max-height: calc(100% - #{$header-height});
  }

  &__project {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }

  &__avatar {
    margin-right: 6px;
  }

  &__meta {
    display: flex;
    align-items: center;
  }

  &__members-list {
    display: flex;
    margin-right: 5px;
  }

  &__member-avatar {
    position: relative;
  }

  &__count {
    color: var(--dark-gray);
  }

  &__dot {
    margin: 0 10px;
    color: var(--dark-gray);
  }

  &__count-online {
    color: var(--accent);
  }
}

.chat {
  position: relative;
  display: flex;
  flex-direction: column;

  &__messages {
    flex-grow: 1;
    max-width: 100%;
    overflow-y: auto;
  }

  &__message {
    display: block;
    width: 100%;
    max-width: 800px;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__typing {
    margin-bottom: 4px;
    color: var(--dark-gray);
  }

  &__input {
    padding: 0 18px 18px;
    background-color: var(--white);
  }
}

.chat-members {
  padding: 12px 18px 18px;
  border-bottom: 1px solid var(--gray);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__title {
    color: var(--black);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.member {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 8px;
  }

  &__name {
    color: var(--black);
  }

  &__i {
    margin-left: 4px;
    color: var(--dark-gray);
  }
}

.files {
  padding: 16px 18px 0;

  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
