/** @format */

@use "styles/responsive";
@use "styles/typography";

.card {
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 20px;

  &__wrapper {
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--grey-button);
    border-radius: var(--rounded-lg);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
  }

  &__naming {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;

    &--text {
      color: var(--black);
    }
  }

  &__industry {
    display: inline-flex;
  }

  &__title {
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;
  }

  &__rated {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-top: 14px;

    &--icon {
      ::ng-deep {
        button {
          width: 50px;
          padding: 8px !important;
        }
      }
    }
  }

  &__presentation {
    ::ng-deep {
      app-button {
        button {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }

  &__lower {
    display: flex;
    flex-direction: column;

    &--info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      margin-bottom: 10px;
      border-bottom: 0.5px solid var(--dark-grey);

      p,
      i {
        color: var(--accent);
      }
    }

    ::ng-deep {
      app-button {
        button {
          padding-top: 4px;
          padding-bottom: 4px;
        }
      }
    }
  }
}

.about {
  /* stylelint-disable value-no-vendor-prefix */
  margin-top: 10px;

  &__title {
    color: var(--accent);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 0.5px solid var(--dark-grey);

    i {
      color: var(--accent);
    }
  }

  &__text {
    margin-top: 10px;

    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      word-wrap: break-word;
      transition: all 0.7s ease-in-out;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }
  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.cancel {
  position: relative;
  display: block;
  width: 350px;
  max-height: calc(100vh - 40px);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  &__project {
    display: flex;
    gap: 8px;
    align-items: center;
    margin: 20px 0;
  }

  &__criterias {
    margin-bottom: 20px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    width: 40%;
    color: var(--dark-grey);
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
