<!-- @format -->

@if (project) {
<div class="card">
  <div class="card__wrapper">
    <div class="card__inner">
      <div class="card__info">
        <app-avatar
          class="card__avatar"
          [url]="project.imageAddress"
          [hasBorder]="true"
          [size]="(desktopMode$ | async) ? 50 : 38"
        ></app-avatar>

        <div class="card__naming">
          <a [routerLink]="['/office/projects/' + project.id]">
            <p class="text-body-12 card__naming--text">{{ project.name }}</p>
          </a>

          @if (industryService.industries | async; as industries) { @if
          (industryService.getIndustry(industries, project.industry); as industry) {
          <app-tag class="card__industry" color="complete">
            {{ industry.name }}
          </app-tag>
          } }
        </div>
      </div>

      @if (project.presentationAddress) {
      <a class="card__presentation" [href]="project.presentationAddress" target="_blank">
        <app-button size="medium" appearance="outline" customTypographyClass="text-body-12">
          <span>презентация</span>
          <i appIcon icon="arrow-down" appSquare="8"></i>
        </app-button>
      </a>
      }
    </div>

    <div class="about">
      <div class="about__top">
        <p class="text-body-12 about__title">о проекте</p>
        <i icon="folder" appIcon appSquare="12"></i>
      </div>
      @if (project.description) {
      <div class="text-body-10 about__text">
        <p #descEl [innerHTML]="project.description | parseLinks | parseBreaks"></p>
        @if (descriptionExpandable()) {
        <div
          class="about__read-full"
          (click)="expandDescription(descEl, 'expanded', readFullDescription())"
        >
          {{ readFullDescription() ? "Скрыть" : "Читать полностью" }}
        </div>
        }
      </div>
      }
    </div>
  </div>

  <!-- Блок оценки всегда показывается -->
  <div class="card__lower">
    <div class="card__wrapper" [style.overflow-y]="isProjectCriterias() > 4 ? 'auto' : 'none'">
      <div class="card__lower--info">
        <p class="text-body-12">оценка проекта</p>
        <i appIcon icon="medal" appWidth="8" appHeight="12"></i>
      </div>
      <app-project-rating [criteria]="project.criterias" [formControl]="form"></app-project-rating>
      @if (form | controlError: "required"; as error) {
      <div class="text-body-10 error">
        {{ error }}
      </div>
      }
    </div>

    @if (showRatingForm || showRatedWithEdit || showConfirmedState) {
    <div class="card__rated">
      <app-button
        style="flex-grow: 1"
        customTypographyClass="text-body-12"
        size="big"
        [loader]="submitLoading() || confirmLoading()"
        [color]="showRatedWithEdit ? 'green' : 'primary'"
        [disabled]="showConfirmedState"
        [appearance]="showConfirmedState ? 'outline' : 'inline'"
        [style.opacity]="showConfirmedState ? '0.5' : '1'"
        (click)="showRatingForm ? confirmLoading() : null"
      >
        {{ showRatingForm ? "оценить проект" : "проект оценен" }}
      </app-button>

      @if (showRatedWithEdit) {
      <app-button
        appearance="outline"
        size="small"
        type="icon"
        class="card__rated--icon"
        (click)="redoRating()"
      >
        <i appIcon icon="edit-pen" appSquare="10" class="card__redo-rating-icon"></i>
      </app-button>
      }
    </div>
    }

    <app-modal
      [open]="showConfirmRateModal()"
      (openChange)="showConfirmRateModal.set(!showConfirmRateModal())"
    >
      <div class="cancel">
        <div class="cancel__top">
          <p class="cancel__title text-body-14">подтвердите оценку</p>
          <i appIcon icon="check" appSquare="60"></i>
        </div>

        <app-button
          size="big"
          class="cancel__button"
          customTypographyClass="text-body-12"
          (click)="confirmRateProject()"
        >
          подтверждаю
        </app-button>
      </div>
    </app-modal>
  </div>
</div>
}
