<!-- @format -->

<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">Заполни данные о своих навыках</h3>
    <!-- <p class="auth__info">
      Для того, чтобы участники понимали с кем общаются и платформа могла рекомендовать тебя на
      самые подходящие вакансии
    </p> -->
  </div>
  <div class="content" [formGroup]="stageForm">
    <section class="content__section content__left">
      <div class="content__search">
        <h4 class="text-heading-4 content__section-heading">Поиск по библиотеке</h4>
        <app-autocomplete-input
          [suggestions]="searchedSkills()"
          fieldToDisplay="name"
          [clearInputOnSelect]="true"
          [forceSelect]="true"
          placeholder="Название навыка"
          (searchStart)="onSearchSkill($event)"
          (optionSelected)="onAddSkill($event)"
        ></app-autocomplete-input>
      </div>
      <div class="content__skills">
        <h4 class="text-heading-4">Выбранные навыки</h4>
        <app-skills-basket
          class="content__skills-basket"
          formControlName="skills"
          [error]="stageForm.controls['skills'] | controlError"
        ></app-skills-basket>
      </div>
    </section>
    <section class="content__section content__right">
      <h4 class="text-heading-4 content__section-heading content__right-heading">Библиотека</h4>
      <div class="content__skills-groups">
        <ul class="content__skills-groups-list">
          @for (skillGroup of nestedSkills$ | async; track skillGroup.id) {
          <li class="content__skills-groups-list-item">
            <app-skills-group
              [title]="skillGroup.name"
              [options]="skillGroup.skills"
              [selected]="stageForm.getRawValue().skills"
              (optionToggled)="onOptionToggled($event)"
            ></app-skills-group>
          </li>
          }
        </ul>
      </div>
    </section>
    <div class="content__actions">
      <app-button type="submit" [loader]="stageSubmitting()" (click)="onSubmit()"
        >Продолжить</app-button
      >
    </div>
  </div>
</div>
