<!-- @format -->
<div class="nav-bar">
  <div class="nav-bar__inner">
    <button
      appButton="icon"
      type="button"
      class="nav-bar__toggle"
      aria-label="Открыть меню"
      aria-controls="mobile-navigation"
      [attr.aria-expanded]="mobileMenuOpen"
      (click)="toggleMenu($event)"
    >
      <i
        appIcon
        [icon]="mobileMenuOpen ? 'menu-cross' : 'menu-burger'"
        appSquare="24"
        class="nav-bar__icon"
      ></i>
    </button>
    <span class="nav-bar__title text-body-14">{{ title }}</span>
  </div>
  @if (mobileMenuOpen) {
    <div class="nav-bar__backdrop" (click)="closeMenu()"></div>
    <div
      appDrawer
      id="mobile-navigation"
      class="nav-bar__mobile-menu"
      role="dialog"
      aria-modal="true"
      aria-label="Навигация"
      cdkTrapFocus
      [cdkTrapFocusAutoCapture]="true"
      (keydown.escape)="closeMenu()"
    >
      <div class="nav-bar__top">
        <button
          appButton="icon"
          type="button"
          class="nav-bar__close"
          aria-label="Закрыть меню"
          (click)="closeMenu()"
        >
          <i appIcon icon="menu-cross" appSquare="24"></i>
        </button>
      </div>
      <nav class="nav nav--vertical">
        <ul class="nav__list">
          <a class="nav__link" routerLink="feed" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="feed"
                appSquare="24"
                appViewBox="0 0 24 20"
                class="nav-bar__icon"
              ></i>
              новости
            </li>
          </a>
          <a class="nav__link" routerLink="projects" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="projects"
                appSquare="24"
                appViewBox="0 0 24 20"
                class="nav-bar__icon"
              ></i>
              проекты
            </li>
          </a>
          <a class="nav__link" routerLink="members" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="people-bold"
                appSquare="24"
                appViewBox="0 0 24 18"
                class="nav-bar__icon"
              ></i>
              участники
            </li>
          </a>
          <a class="nav__link" routerLink="program" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="program"
                appSquare="24"
                appViewBox="0 0 24 16"
                class="nav-bar__icon"
              ></i>
              программы
            </li>
          </a>
          <a class="nav__link" routerLink="courses" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="trajectories"
                appSquare="24"
                appViewBox="0 0 28 20"
                class="nav-bar__icon"
              ></i>
              курсы
            </li>
          </a>
          <a class="nav__link" routerLink="vacancies" routerLinkActive="nav__link--active">
            <li class="text-body-14 nav__item">
              <i
                appIcon
                icon="search-sidebar"
                appSquare="24"
                appViewBox="0 0 28 20"
                class="nav-bar__icon"
              ></i>
              вакансии
            </li>
          </a>
        </ul>
      </nav>
      <button appButton="secondary" type="button" class="nav-bar__logout" (click)="logout.emit()">
        Выйти
      </button>
    </div>
  }
</div>
