/** @format */

@use "src/styles/responsive";

.vacancy {
  @include responsive.apply-desktop {
    padding: 24px;
    background: var(--white) no-repeat url("/assets/images/office/vacancy/send/bg.svg") right/contain;
    border-radius: var(--rounded-md);
  }

  &__inner {
    @include responsive.apply-desktop {
      width: 50%;
    }
  }

  &__sender {
    margin-bottom: 20px;
  }
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  background-color: var(--white);
  border-radius: var(--rounded-md);

  @include responsive.apply-desktop {
    flex-direction: row;
    background-color: transparent;
    border-radius: 0;
  }

  &__body {
    margin-top: 18px;

    @include responsive.apply-desktop {
      margin-top: 0;
      margin-left: 18px;
    }
  }

  &__status {
    margin-bottom: 6px;
    color: var(--dark-gray);
  }

  &__name {
    margin-bottom: 2px;
    color: var(--black);
  }

  &__info {
    margin-bottom: 16px;
    color: var(--dark-gray);
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

.form {
  padding: 16px;
  background-color: var(--white);
  border-radius: var(--rounded-md);

  &__submit {
    display: block;
    margin-top: 20px;
  }
}

$succeed-modal-width: 310px;

.succeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $succeed-modal-width;

  &__check {
    width: 97px;
    margin-bottom: 18px;
    color: var(--green);
  }

  &__text {
    margin-bottom: 18px;
    color: var(--black);
  }

  &__link {
    width: $succeed-modal-width;
  }
}

.vacancy-bar {
  padding: 9px 0;
  margin-bottom: 12px;
}
