@use "src/styles/typography";
@use "src/styles/responsive";

:host {
  width: 100%;
}

.rating {
  width: 100%;

  &__columns {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px 8%;
    align-content: center;
    justify-content: space-around;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(2, 1fr min-content);
    }
  }

  &__field {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 2;
    gap: 10px;
  }

  &__input {
    grid-column: 2/3;
  }

  &__comment {
    margin-top: 25px;

    app-textarea {
      ::ng-deep .field__input {
        padding: 10px;

        @include typography.body-14;
      }
    }
  }
}
