<!-- @format -->

<section class="page">
  @if (isAll) {
  <div class="filter-toggle page__filter-toggle" (click)="isFilterOpen = !isFilterOpen">
    <span>Фильтр</span>
    <i appIcon icon="filter" appSquare="34"></i>
  </div>
  }
  <ul class="page__list" #listRoot>
    @for (project of projects; track project.id) {
    <a [routerLink]="['/office/projects', project.id]">
      <li>
        <app-project-card
          [project]="project"
          [type]="isInvites ? 'invite' : 'project'"
          [isSubscribed]="profileProjSubsIds?.includes(project.id)"
          [profileId]="project.id"
          (onAcceptingInvite)="onAcceptInvite($event)"
          (onRejectingInvite)="onRejectInvite($event)"
        ></app-project-card>
      </li>
    </a>
    }
  </ul>
</section>
