/** @format */

.snackbar {
  position: absolute;
  right: 50px;
  bottom: 50px;
  z-index: 20;

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.item {
  min-width: 192px;
  padding: 12px;
  border-radius: 12px;

  &--success {
    color: var(--white);
    background-color: var(--green);
  }
}
