/** @format */

.snackbar {
  position: absolute;
  bottom: 50px;
  right: 50px;

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.item {
  padding: 12px;
  min-width: 192px;
  border-radius: 12px;

  &--success {
    background-color: var(--green);
    color: var(--white);
  }
}
