@use "styles/responsive";

.bar {
  display: block;
  background-color: var(--gray);
  border-radius: var(--rounded-xl);

  &__nav {
    display: flex;
    align-items: center;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2px;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    border-radius: var(--rounded-xl);
    gap: 4px;
    cursor: pointer;
    color: var(--grey-for-text);
    transition: color 0.2s;

    &:hover {
      i {
        color: var(--accent);
      }
    }

  }

  &__link {
    color: var(--black);

    &--active {
      .bar__item {
        border: 0.5px solid var(--dark-grey);
        background-color: var(--light-white);
      }
    }

    &:hover {
      .bar__item {
        background-color: var(--white);
      }
    }
  }
}
