<!-- @format -->

<div *ngIf="user$ | async as user" class="profile">
  <section class="bar profile__bar" >
    <nav class="bar__nav">
      <app-back class="bar__back"></app-back>
      <ul class="bar__tabs" *ngIf="loggedUserId$ | async as loggedUserId">
        <a
          class="bar__link"
          [routerLink]="['/office/profile', user.id]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">
            {{
              user.id === loggedUserId 
              ? 'Моя страница'
              : 'Страница пользователя'
            }}
          </li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/profile', user.id, 'projects']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Проекты</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="profile__body">
    <div class="info profile__info">
      <div class="info__cover">
        <img
          class="info__cover"
          src="/assets/images/office/profile/detail/cover.png"
          alt="cover"
        />
      </div>
      <div class="info__body">
        <app-avatar
          class="info__avatar"
          [url]="user.avatar"
          [size]="(desktopMode$ | async) ? 165 : 140"
          [hasBorder]="true"
          [onlineBadgeSize]="30"
          [onlineBadgeBorder]="6"
          [onlineBadgeOffset]="(desktopMode$ | async) ? 5 : 0"
          *ngIf="chatService.userOnlineStatusCache | async as cache"
          [isOnline]="cache[user.id] !== undefined ? cache[user.id] : user.isOnline"
        ></app-avatar>
        <section class="info__top">
          <div class="info__text">
            <h2 class="info__name">{{ user.firstName }} {{ user.lastName }}</h2>
            <div class="text-body-12 info__keys">
              <div>
                <span *ngIf="user.birthday">
                  {{ user.birthday | yearsFromBirthday }}
                </span>
                <ng-container *ngIf="user.birthday && user.speciality">&nbsp;•&nbsp;</ng-container>
                <span *ngIf="user.speciality">
                  {{ user.speciality }}
                </span>
              </div>
              <span *ngIf="user.city" class="info__geo">
                <i appIcon icon="geo-point" appSquare="10"></i>
                {{ user.city }}
                <ng-container *ngIf="user.region">, {{ user.region }}</ng-container>
              </span>
            </div>
          </div>
          <div class="info__right">
            <ng-container *ngIf="authService.profile | async as profile">
              <a
                *ngIf="profile.id !== user.id"
                class="info__send-message"
                [routerLink]="['/office/chats', profile.id + '_' + user.id]"
              >
                <app-button customTypographyClass="text-body-12">
                  Написать
                </app-button>
              </a>
              <!-- <a *ngIf="profile.id === user.id" class="info__download-cv">
                <app-button disabled customTypographyClass="text-body-12">
                  Скачать CV
                </app-button>
              </a> -->
              <a *ngIf="profile.id === user.id" class="profile__edit" routerLink="/office/profile/edit">
                <app-button customTypographyClass="text-body-12" color="grey">
                  Редактировать профиль
                </app-button>
              </a>
            </ng-container>
          </div>
        </section>
        <section class="info__achievements">
          <p>
            <span class="body-text-16">В будущем тут будут отображаться </span>
            <a class="body-text-14">достижения</a>
          </p>
        </section>
      </div>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
