<!-- @format -->

@if (user$ | async; as user) {
<div class="profile">
  <section class="bar profile__bar">
    <nav class="bar__nav">
      <app-back class="bar__back"></app-back>
      @if (loggedUserId$ | async; as loggedUserId) {
      <ul class="bar__tabs">
        <a
          class="bar__link"
          [routerLink]="['/office/profile', user.id]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">
            {{ user.id === loggedUserId ? "Моя страница" : "Страница пользователя" }}
          </li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/profile', user.id, 'projects']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Проекты</li>
        </a>
      </ul>
      }
    </nav>
  </section>
  <section class="profile__body">
    <div class="info profile__info">
      <div class="info__cover">
        <!-- <img
          class="info__cover"
          src="/assets/images/office/profile/detail/cover-new.svg"
          alt="cover"
        /> -->
      </div>
      <div class="info__body">
        @if (chatService.userOnlineStatusCache | async; as cache) {
        <app-avatar
          class="info__avatar"
          [url]="user.avatar"
          [size]="(desktopMode$ | async) ? 165 : 140"
          [hasBorder]="true"
          [onlineBadgeSize]="30"
          [onlineBadgeBorder]="6"
          [onlineBadgeOffset]="(desktopMode$ | async) ? 5 : 0"
          [isOnline]="cache[user.id] !== undefined ? cache[user.id] : user.isOnline"
        ></app-avatar>
        }
        <section class="info__top">
          <div class="info__text">
            <h2 class="info__name">{{ user.firstName }} {{ user.lastName }}</h2>
            <div class="text-body-12 info__keys">
              <div>
                @if (user.birthday) {
                <span>
                  {{ user.birthday | yearsFromBirthday }}
                </span>
                } @if (user.birthday && user.speciality) {
                <ng-container>&nbsp;•&nbsp;</ng-container>
                } @if (user.speciality) {
                <span>
                  {{ user.speciality }}
                </span>
                }
              </div>
              @if (user.city) {
              <span class="info__geo">
                <i appIcon icon="geo-point" appSquare="10"></i>
                {{ user.city }}
                @if (user.region) { ,
                src/app/office/shared/message-input/message-input.component.html{{ user.region }}
                }
              </span>
              }
            </div>
          </div>
          <div class="info__right">
            @if (authService.profile | async; as profile) { @if (profile.id !== user.id) {
            <a
              class="info__send-message"
              [routerLink]="['/office/chats', profile.id + '_' + user.id]"
            >
              <app-button customTypographyClass="text-body-12"> Написать </app-button>
            </a>
            } @else {
            <a class="profile__edit" routerLink="/office/profile/edit">
              <app-button customTypographyClass="text-body-12" color="grey">
                Редактировать профиль
              </app-button>
            </a>
            } }
          </div>
        </section>
        <section class="info__achievements">
          <p>
            <span class="body-text-16">В будущем тут будут отображаться </span>
            <a class="body-text-14">достижения</a>
          </p>
        </section>
      </div>
    </div>
    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
}
