<!-- @format -->

<main *ngIf="user | async as user" class="profile">
  <section class="profile__section profile__main">
    <img
      class="profile__cover"
      height="170px"
      src="/assets/images/office/profile/detail/cover.png"
      alt="cover"
    />
    <div class="profile__info">
      <app-avatar
        class="profile__avatar"
        [url]="user.avatar"
        [size]="140"
        [hasBorder]="true"
      ></app-avatar>
      <div class="profile__main-info">
        <p class="text-body-12 profile__status">{{ user.userType | userRole | async }}</p>
        <h2 class="text-heading-3 profile__name">{{ user.firstName }} {{ user.lastName }}</h2>
        <p class="text-body-12 profile__keys">
          <span *ngIf="user.birthday">
            {{ user.birthday | dayjs: "format":"DD MMMM YYYY" }}
          </span>
          <ng-container *ngIf="user.birthday && user.city"> • </ng-container>
          <span *ngIf="user.city">{{ user.city }}, {{ user.region }}</span>
        </p>
        <ul *ngIf="user.keySkills" class="profile__skills">
          <li *ngFor="let skill of user.keySkills" class="profile__skill">
            <app-tag>{{ skill }}</app-tag>
          </li>
        </ul>
      </div>
      <ng-container *ngIf="authService.profile | async as profile">
        <a *ngIf="profile.id !== user.id" class="profile__write" [href]="'mailto:' + user.email">
          <app-button>
            Написать
            <i
              class="profile__chat-icon"
              appIcon
              icon="message-inline"
              appWidth="13"
              appHeight="12"
              appViewBox="0 0 13 12"
            ></i>
          </app-button>
        </a>
        <a *ngIf="profile.id === user.id" class="profile__edit" routerLink="/office/profile/edit">
          <i appIcon icon="settings" appSquare="40"></i>
        </a>
      </ng-container>
    </div>
  </section>
  <ng-container *ngIf="authService.profile | async as profile">
    <a class="profile__write-mobile" *ngIf="profile.id !== user.id" [href]="'mailto:' + user.email">
      <app-button>
        Написать
        <i
          class="profile__chat-icon"
          appIcon
          icon="message-inline"
          appWidth="13"
          appHeight="12"
          appViewBox="0 0 13 12"
        ></i>
      </app-button>
    </a>
  </ng-container>
  <section class="profile__section profile__achievements">
    <h3 class="text-bold-body-16 profile__title">Достижения</h3>
    <ul *ngIf="user.achievements.length" class="profile__ach-list">
      <li *ngFor="let achievement of user.achievements" class="profile__achievement achievement">
        <p class="achievement__status text-bold-body-14">{{ achievement.status }}</p>
        <p class="achievement__title text-body-12">{{ achievement.title }}</p>
      </li>
    </ul>
    <h3 class="text-bold-body-16 profile__title">
      Место {{ user.userType === 1 ? "учебы" : "работы" }}
    </h3>
    <p class="text-bold-body-14">{{ user.organization }}</p>
  </section>
  <section class="profile__section profile__description">
    <h3 class="text-bold-body-16 profile__title">Обо мне</h3>
    <p class="text-body-14">
      {{ user.aboutMe }}
    </p>
  </section>
</main>
