<!-- @format -->

<div class="filters">
  <div class="filters__titles">
    <p class="text-body-14 filters__title">фильтры</p>
    <a class="text-body-10 filters__clear" (click)="clearFilters()">сбросить</a>
  </div>

  <div class="filters__controls">
    <form [formGroup]="filterForm">
      <div class="filters__block">
        <app-autocomplete-input
          class="filter__autocomplete"
          [suggestions]="skillsOptions()"
          [slimVersion]="false"
          [searchIcon]="'search'"
          fieldToDisplay="name"
          valueField="name"
          formControlName="keySkill"
          placeholder="навыки"
          (searchStart)="onSearchSkill($event)"
          (inputCleared)="onClearSkillField()"
        ></app-autocomplete-input>
      </div>

      <div class="filters__block" style="margin-top: 10px">
        <app-autocomplete-input
          class="filter__autocomplete"
          [suggestions]="specsOptions()"
          [slimVersion]="false"
          [searchIcon]="'search'"
          fieldToDisplay="name"
          valueField="name"
          formControlName="speciality"
          placeholder="специальность"
          (searchStart)="onSearchSpec($event)"
          (inputCleared)="onClearSpecField()"
        ></app-autocomplete-input>
      </div>

      <!-- <div class="filters__block">
        <h4 class="text-body-12 filter__name">Возраст</h4>
        <div class="filters__age-wrapper">
          <div class="filters__age filter__item">
            <app-range-input formControlName="age"></app-range-input>
          </div>
        </div>
      </div>

      <div class="filters__block">
        <label (click)="onToggleStudentMosPolitech()">
          <app-checkbox [checked]="filterForm.get('isMosPolytechStudent')?.value"> </app-checkbox>
          <span class="text-body-12 filter__name">Студент Московского Политеха</span>
        </label>
      </div> -->
    </form>
  </div>
</div>
