:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 32px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.2s ease;

    i {
      transition: transform 0.2s ease;
      transform: rotate(180deg);
    }

    &--open {
      i {
        transform: rotate(90deg);
      }
    }

   &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: width 0.2s ease;

      .heading--open &,
      &--has-open {
        width: 50%;
      }

      &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 14px;

    &--open {
      width: 40%;
    }

    &__option {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      transition: opacity 0.2s ease;

      &--disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
      }

      &-label {
        cursor: pointer;
      }
    }
  }

  .checkbox {
    &__field {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 1px solid var(--gray);
      border-radius: var(--rounded-sm);
      transition: all 0.2s ease;

      &--checked {
        background-color: var(--accent);
        border-color: var(--accent);
      }

      &--disabled {
        cursor: not-allowed;
        opacity: 0.5;

        &.checkbox__field--checked {
          background-color: var(--gray);
          border-color: var(--gray);
        }
      }
    }

    i {
      color: var(--white);
      transform: rotate(0deg) !important;
    }
  }
}
