@use "styles/typography";
@use "styles/responsive";

.progress-bar {
  position: relative;

  &__text {
    position: absolute;
    top: 49%;
    left: 49%;
    transform: translate(-49%, -49%);
    color: var(--dark-grey);

    &--icon {
      top: 45%;
      left: 55%;
      color: var(--accent-light);
    }

    &--closed {
      top: 43%;
      left: 50%;
      color: var(--red);
    }
  }

  &__date {
    position: absolute;
    left: 5%;
    bottom: -15%;
  }
}

.track,
.filled {
  fill: none;
  stroke-width: 7;
}

.track {
  stroke: var(--accent-light);
  opacity: 0.2;

  &--closed {
    stroke: var(--red);
    opacity: 1;
  }
}

.filled {
  stroke: var(--accent);
  transition: all 0.2s;

  &--complete {
    stroke: var(--green);
  }
}
