@use "styles/typography";
@use "styles/responsive";

.progress-bar {
  position: relative;
  width: 65px;
  height: 65px;

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include typography.heading-3;

    @include responsive.apply-desktop {
      @include typography.heading-4;
    }
  }
}

.track,
.filled {
  fill: none;
  stroke-width: 17;
}

.track {
  stroke: var(--accent-light);
}

.filled {
  stroke: var(--accent);
  transition: all 0.2s;
}
