/** @format */

@use "styles/typography";
@use "styles/responsive";

.field {
  position: relative;

  &__input {
    min-height: 162px;
    padding: 12px 18px;
    color: var(--black);
    resize: none;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-xl);
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &--small {
      min-width: 245px;
    }

    &--big {
      width: 100%;
    }

    &--with-tooltip {
      padding-right: 130px;
    }

    &--error {
      border-color: var(--red);
    }

    &:focus {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }
  }

  &__error-icon {
    position: absolute;
    top: 15%;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  &__tooltip-wrapper {
    position: absolute;
    top: 20%;
    right: 20px;
    z-index: 10;
    transform: translateY(-50%);
  }
}
