<!-- @format -->

<div class="field" [class.field--error]="error">
  <div class="field__left-icon">
    <ng-content select="left-icon"></ng-content>
  </div>
  <textarea
    autosize
    (input)="onInput($event)"
    (keydown.enter)="preventEnter($event)"
    (blur)="onBlur()"
    [disabled]="disabled"
    [placeholder]="placeholder"
    class="text-body-12 field__input"
    [class.field__input--small]="size === 'small'"
    [class.field__input--big]="size === 'big'"
    [class.field__input--error]="error"
    >{{ value }}</textarea
  >
  @if (error) {
  <i class="field__error-icon" appIcon icon="error" appSquare="20"></i>
  } @else if (haveHint && tooltipText) {
  <div class="field__tooltip-wrapper">
    <app-tooltip
      [text]="tooltipText"
      [isVisible]="isTooltipVisible"
      [position]="tooltipPosition"
      [iconSize]="'24'"
      [tooltipWidth]="tooltipWidth"
      customClass="field__tooltip-icon"
      (show)="showTooltip()"
      (hide)="hideTooltip()"
    ></app-tooltip>
  </div>
  }
</div>
