/** @format */

@use "styles/typography";
@use "styles/responsive";

.field {
  position: relative;

  &__input {
    min-height: 162px;
    padding: 12px 18px;
    color: var(--black);
    resize: none;
    background-color: var(--white);
    border: 0.5px solid var(--gray);
    border-radius: var(--rounded-xl);
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &--small {
      min-width: 245px;
    }

    &--big {
      width: 100%;
    }

    &--with-tooltip {
      padding-right: 130px;
    }

    &--error,
    &--overflow {
      border: 0.5px solid var(--red);

      &:focus {
        border-color: var(--red) !important;
        box-shadow: 0 0 6px rgb(255 40 40 / 30.8%) !important;
      }
    }

    &:focus {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }
  }

  &__error-icon {
    position: absolute;
    top: 25px;
    right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red) !important;
    transform: translateY(-50%);
    background-color: var(--light-white);

    i {
      color: var(--red) !important;
    }
  }

  &__tooltip-wrapper {
    position: absolute;
    top: 25px;
    right: 15px;
    z-index: 10;
    transform: translateY(-50%);
  }

  &__counter {
    position: absolute;
    right: 18px;
    bottom: 4px;

    p {
      color: var(--dark-grey);
    }

    &--overflow {
      color: var(--red) !important;
    }
  }
}
