/** @format */

@use "styles/responsive";

.card {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 25px;

  &__photo {
    position: relative;
    border-radius: 50%;
    border: 0.5px solid var(--dark-grey);
    padding: 12px;
    z-index: 10;
    background: var(--white);
  }

  &__info {
    border: 0.5px solid var(--dark-grey);
    border-radius: var(--rounded-lg);
    padding: 22px 22px 22px 50px;
    position: absolute;
    left: 17%;
    width: 100%;
    z-index: 1;
  }

  &__name {
    color: var(--black);
  }

  &__dates {
    display: flex;
    gap: 5px;
  }

  &__description {
    color: var(--dark-grey);
  }

  &__registration {
    margin-top: 2px;
    margin-bottom: 6px;
    padding: 2px 2px 2px 30px;
    color: var(--white);
    border-radius: var(--rounded-lg);

    &--actual {
      background-color: var(--accent);
    }

    &--ended {
      background-color: var(--red);
    }

    &--participating {
      background-color: var(--green);
    }
  }
}
