@use "styles/typography";

.field {
  position: relative;
  width: 100%;

  &__input-wrapper {
    z-index: 3;
    width: 100%;
    overflow: hidden;
  }

  &__input {
    width: 100%;
    padding: 8px 10px;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &--error {
      border-color: var(--red);
    }

    &:focus {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }

    &--no-icon {
      padding-right: 45px;
    }

    @include typography.body-12;
  }

  &__input-slim {
    width: 100%;
    padding: 6px 30px 6px 10px;
    font-size: 12px;
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--grey-button);
    outline: none;

    &:focus {
      border-color: var(--accent);

      +&_arrow {
        color: var(--accent);

        i {
          transform: rotate(0);
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 4;
    background-color: transparent;
    box-shadow: 5px 5px 25px 0 var(--gray);
    transform-origin: center top;

    &--options,
    &--no-results {
      scrollbar-width: thin;
      max-height: 300px;
      padding: 10px;
      overflow-y: auto;
      background-color: var(--white);
    }
  }

  &__option {
    padding: 7px;
    color: var(--dark-grey);
    cursor: pointer;
    border-radius: var(--rounded-lg);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--light-gray);
    }

    @include typography.body-14;

    &-slim {
      padding: 3px;

      @include typography.body-12;
    }
  }

  &__chip {
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    padding: 5px 10px;
    color: var(--white);
    background-color: var(--accent);
    border-radius: var(--rounded-md);
    transform: translateY(-50%);

    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    i {
      flex-shrink: 0;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  &__icons {
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 2;
    display: flex;
    align-items: center;
    transform: translateY(-50%);
  }

  &__loading-icon {
    margin-right: 5px;
  }
}
