<!-- @format -->

<div class="skill-card">
  <div class="skill-card__top">
    <div class="skill-card__info">
      <h3 class="skill-card__title text-heading-4">публичные выступления</h3>
      <div class="skill-card__partner text-body-12">агенство социальныйх инвестиций</div>
    </div>
    <app-avatar
      [size]="60"
      url="https://i.pinimg.com/474x/de/a5/09/dea5093c08215a4ccfae75cda21ed94c.jpg"
    >
    </app-avatar>
  </div>
  <p class="skill-card__text text-body-12">
    Сервис для поиска напарника и эффективной учебы вместе. Помогает найти напарника для обучения
    основываясь на интересах и цели обучения.
  </p>
  <div class="skill-card__level text-body-12">5 уровней</div>
</div>
