@use "styles/responsive";

.skill-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  @include responsive.apply-desktop {
    margin-bottom: 0;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__partner {
    color: var(--black);
  }

  &__text {
    display: box;
    height: 75px;
    overflow: hidden;
    color: var(--dark-grey);
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__level {
    color: var(--accent);
    display: none;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price,
  &__lost,
  &__complete {
    padding: 5px;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 15px;
  }

  &__lost {
    padding: 5px 40px;
    color: var(--red);
    border: 1px solid var(--red);
  }

  &__complete {
    padding: 5px 40px;
    color: var(--green);
    border: 1px solid var(--green);
  }
}
