.skill-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__partner {
    color: var(--black);
  }

  &__text {
    display: box;
    height: 75px;
    overflow: hidden;
    color: var(--dark-grey);
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }

  &__level {
    color: var(--accent);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    padding: 5px;
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 15px;
  }
}
