<!-- @format -->

<div class="skill-card">
  <div class="skill-card__top">
    <div class="skill-card__info">
      <h3 class="skill-card__title text-heading-4">{{ skill.name }}</h3>
      <div class="skill-card__partner text-body-12">{{ skill.whoCreated }}</div>
    </div>
    <app-avatar [size]="60" [url]="skill.fileLink"> </app-avatar>
  </div>
  <p class="skill-card__text text-body-12">
    {{ skill.description }}
  </p>
  <div class="skill-card__bottom">
    <div class="skill-card__level text-body-12">
      {{ skill.quantityOfLevels }}
      {{ skill.quantityOfLevels | pluralize: ["уровень", "уровня", "уровней"] }}
    </div>

    @if (!skill.freeAccess) {
    <div class="skill-card__price text-body-12">Доступно в подписке PRO</div>
    }
  </div>
</div>
