@use "styles/typography";
@use "styles/responsive";

.mobile {
  display: grid;
  grid-template-columns: 0.6fr 0.4fr;
  gap: 5px;
  margin-bottom: 20px;

  @include responsive.apply-desktop {
    display: none;
  }

  app-button {
    &::ng-deep .button--inline {
      min-height: 38px;
      padding: 0;
    }
  }
}

.select {
  position: relative;

  &__input {
    position: relative;
    z-index: 4;
    display: flex;
    align-items: center;
    width: 100%;
    height: 38px;
    padding: 13px 80px 13px 20px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &:hover,
    &--open {
      cursor: pointer;
      border-color: var(--accent);
    }

    @include typography.body-14;
  }

  &__dropdown {
    position: absolute;
    top: 80%;
    right: 0;
    left: 0;
    z-index: 3;
    padding: 20px 10px 10px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    box-shadow: 5px 5px 25px 0 var(--gray-for-shadow);
    transform-origin: center top;
  }

  &__dropdown-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    z-index: 4;
    color: var(--dark-grey);
    pointer-events: none;
    transform: translateY(-50%) rotate(180deg);
  }
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;

  &__option {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--light-white);
    border-radius: var(--rounded-xl);
    border: 0.5px solid var(--medium-grey-for-outline);
    padding: 40px 24px 12px 24px;
    height: 66px;
    position: relative;

    &--disable {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &--active {
      i {
        color: var(--light-white) !important;
      }

      .filter__option--icon {
        background-color: var(--accent);
      }
    }

    &--icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translate(-50%, 50%);
      background-color: var(--light-white);
      border: 0.5px solid var(--medium-grey-for-outline);

      i {
        color: var(--accent);
      }
    }

    p {
      text-align: center;
      color: var(--grey-for-text);
    }
  }



  span {
    display: block;
    margin-bottom: 6px;
    color: var(--gray);
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: var(--black);
    cursor: pointer;

    app-checkbox {
      margin-right: 15px;
    }
  }
}

a:hover {
  cursor: pointer;
}
