/** @format */

.file {
  display: flex;
  align-items: center;

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--black);

    span {
      cursor: pointer;
    }
  }

  &__meta {
    color: var(--dark-grey);
  }

  &__download {
    width: 20px;
    height: 20px;
    border-radius: var(--rounded-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 0.5px solid var(--medium-grey-for-outline);
    margin-right: 6px;
  }

  i {
    cursor: pointer;
    color: var(--accent);
  }
}
