/** @format */

.file {
  display: flex;
  gap: 10px;
  align-items: center;

  &__name {
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    white-space: nowrap;

    span {
      cursor: pointer;
    }
  }

  &__meta {
    color: var(--dark-grey);
  }

  &__icon {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-xl);

    &--delete {
      color: var(--red);
      cursor: pointer;
    }

    &--download {
      color: var(--accent);
      cursor: pointer;
    }
  }
}
