/** @format */

.field {
  &__input {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 20px;
    color: var(--gray-100);
    background-color: transparent;
    border: 1px solid var(--gray);
    border-radius: var(--rounded-md);
    outline: none;

    &--placeholder {
      color: var(--dark-gray);
    }
  }

  &__options {
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    padding-top: 25px;
    background-color: #000;
  }

  &__option {
    padding: 5px 25px;
    color: var(--gray-100);
    background-color: #000;
  }

  &__arrow {
    color: var(--gray-100);
    transition: transform 0.2s;

    &--filpped {
      transform: rotate(180deg);
    }
  }
}
