<!-- @format -->

<div class="field" (clickOutside)="onClickOutside()">
  <div
    class="text-body-16 field__input"
    [class.field__input--placeholder]="!selectedId"
    [class.field__input--open]="isOpen"
    (click)="isOpen = !isOpen"
  >
    {{ selectedId ? getLabel(selectedId) || basicLabel : basicLabel }}
    <i
      class="field__arrow"
      [class.field__arrow--filpped]="isOpen"
      appIcon
      icon="arrow-no-body"
      appWidth="18"
      appHeight="9"
    ></i>
  </div>
  <ul *ngIf="isOpen" class="field__options">
    <li
      *ngFor="let option of options"
      class="text-body-16 field__option"
      (click)="onUpdate($event, option.id)"
    >
      {{ option.label }}
    </li>
  </ul>
</div>
