<!-- @format -->

<div class="field" (clickOutside)="onClickOutside()">
  <div
    class="text-body-16 field__input"
    [class.field__input--placeholder]="!selectedId && selectedId !== 0"
    [class.field__input--open]="isOpen"
    (click)="isOpen = !isOpen"
  >
    {{ selectedId || selectedId === 0 ? getLabel(selectedId) || placeholder : placeholder }}
    <i
      class="field__arrow"
      [class.field__arrow--filpped]="isOpen"
      appIcon
      icon="arrow-no-body"
      appWidth="18"
      appHeight="9"
    ></i>
  </div>
  @if (isOpen) {
  <ul class="field__options">
    @for (option of options; track option.id) {
    <li class="text-body-16 field__option" (click)="onUpdate($event, option.id)">
      {{ option.label }}
    </li>
    }
  </ul>
  }
</div>
