/** @format */

.field {
  position: relative;
  width: 100%;

  &__input {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 16px 20px;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-md);
    outline: none;

    &--placeholder {
      color: var(--dark-gray);
    }

    &--open {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }
  }

  &__options {
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 0;
    z-index: 2;
    padding: 10px;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-md);
    transform: translateY(100%);
  }

  &__option {
    padding: 18px;
    color: var(--dark-gray);
    cursor: pointer;
    border-radius: var(--rounded-md);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--light-gray);
    }
  }

  &__arrow {
    color: var(--dark-gray);
    transition: all 0.2s;

    &--filpped {
      color: var(--accent);
      transform: rotate(180deg);
    }
  }
}
