.work-section{
  display: grid;
  grid-template-columns: 4fr 3fr 3fr;
  grid-gap: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__section {
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }
}
