<!-- @format -->

<div class="card">
  <h3 class="card__title title">
    <span>Добро пожаловать на платформу!</span>
    <a class="card__link" [routerLink]="['/office/projects/', feedItem.id]">{{ feedItem.name }}</a>
  </h3>
  <app-avatar
    class="card__avatar"
    [size]="105"
    [url]="feedItem.imageAddress"
    [hasBorder]="true"
  ></app-avatar>
  <!-- <p class="card__text">
    Команда {{ feedItem.name }} искренне поддерживает Вас в творческом начинании! Мы готовы оказать
    всю необходимую помощь для успешного воплощения вашего проекта
  </p>
  <p class="card__description text-body-14">{{ feedItem.shortDescription }}</p> -->
  <app-button
    class="card__button"
    customTypographyClass="text-body-12"
    (click)="router.navigateByUrl('/office/projects/' + feedItem.id)"
    >Посмотреть проект</app-button
  >
</div>
