@use "styles/typography";
@use "styles/responsive";

.card {
  padding: 37px 24px 24px;
  color: var(--light-white);
  background-color: var(--accent);
  border-radius: var(--rounded-xl);

  &__avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__project {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &:first-child {
      margin-bottom: 4px;
    }

    &--main,
    &--additional {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__industry {
    display: inline-flex;
  }

  &__actions {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
  }

  &__score {
    display: flex;
    gap: 3px;
    align-items: center;
  }

  &__description {
    margin-top: 7px;
    color: var(--white);
  }
}
