@use "styles/typography";
@use "styles/responsive";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--medium-grey-for-outline);
  border-radius: 15px;

  &__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    text-align: center;

    @include typography.bold-body-14;

    @include responsive.apply-desktop {
      @include typography.heading-3;
    }
  }

  &__description {
    margin-bottom: 10px;
    color: var(--grey-for-text);
  }

  &__avatar {
    margin: 5px 0;
  }

  &__text {
    margin-bottom: 20px;
    color: var(--black);

    @include typography.body-12;

    @include responsive.apply-desktop {
      max-width: 580px;
      margin-bottom: 5px;

      @include typography.body-14;
    }
  }
}
