/** @format */

.file {
  display: flex;
  align-items: center;

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border: 1px solid var(--gray);
    border-radius: 8px;
  }

  &__info {
    width: 65%;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__meta {
    color: var(--dark-grey);
  }

  &__download {
    margin-left: auto;
    cursor: pointer;
  }
}
