<!-- @format -->

@if (profileForm.get("userType"); as currentType) {
<main class="profile">
  <div class="profile__top">
    <p class="profile__title">Редактировать профиль</p>
    <a class="profile__back" (click)="onBack()">
      <app-button size="big" [color]="'grey'" customTypographyClass="text-body-12"
        >Назад</app-button
      >
    </a>
  </div>

  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile__form">
    <div class="profile__navigation">
      <ul class="profile__nav">
        @for (item of navItems; track $index) {
        <li class="profile__item" (click)="navigateStep(item.step)">
          <img
            class="profile__image"
            [class.profile__image--active]="editingStep === item.step"
            alt="profile-icon"
            [src]="item.src"
          />
          <p
            class="profile__subtitle"
            [class.profile__subtitle--active]="editingStep === item.step"
          >
            {{ item.label }}
          </p>
        </li>
        }
      </ul>
    </div>

    <div
      class="profile__column"
      [class.profile__column-achievements]="editingStep === 'achievements'"
    >
      @if(editingStep === 'main'){
      <div class="education__first-row">
        <div class="education__left">
          @if (profileForm.get("avatar"); as avatar) {
          <fieldset class="profile__avatar">
            <app-avatar-control
              id="avatar"
              formControlName="avatar"
              type="profile"
              [size]="180"
              [error]="avatar | controlError"
            ></app-avatar-control>
            @if (avatar | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.EMPTY_AVATAR }}
            </div>
            }
          </fieldset>
          }
          <!-- <div class="profile__row">
          <div class="">
            <label class="field-label">Контактная информация</label>
            <ul formArrayName="links">
              @for (control of links.controls; let i = $index; track i) {
              <li class="profile__achievement edit-link">
                <app-input
                  [formControlName]="i"
                  placeholder="https://t.me/username"
                  [error]="control | controlError"
                ></app-input>
                <div class="edit-link__remove" (click)="removeLink(i)">
                  <i appIcon icon="cross" appSquare="20"></i>
                </div>
              </li>
              }
            </ul>
            <app-button class="profile__add-achievement" (click)="addLink()">
              <span>Добавить еще одну ссылку</span>
              <i appIcon icon="plus" appSquare="14"></i>
            </app-button>
          </div>
        </div> -->
          <!-- @if ([1, 3, 4].includes(currentType.value) && usefulToProject) {
        <fieldset class="space">
          <label for="usefulToProject" class="field-label">Чем могу быть полезен в проекте</label>
          <app-input
            [error]="usefulToProject | controlError"
            id="usefulToProject"
            type="text"
            [formControl]="usefulToProject"
            placeholder="У меня много денег, я мамкин инвестор"
          ></app-input>
          @if (usefulToProject | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } -->

          <div class="profile__row">
            @if (profileForm.get("firstName"); as firstName) {
            <fieldset class="space">
              <label for="firstName" class="field-label">Имя</label>
              <app-input
                [error]="firstName | controlError"
                id="firstName"
                type="text"
                formControlName="firstName"
                placeholder="Иван"
              ></app-input>
              @if (firstName | controlError: "required") {
              <div class="text-body-14 error">
                {{ errorMessage.VALIDATION_REQUIRED }}
              </div>
              }
            </fieldset>
            } @if (profileForm.get("lastName"); as lastName) {
            <fieldset>
              <label for="lastName" class="field-label">Фамилия</label>
              <app-input
                [error]="lastName | controlError"
                id="lastName"
                type="text"
                formControlName="lastName"
                placeholder="Иванов"
              ></app-input>
              @if (lastName | controlError: "required") {
              <div class="text-body-14 error">
                {{ errorMessage.VALIDATION_REQUIRED }}
              </div>
              }
            </fieldset>
            }
          </div>

          <div class="profile__row">
            @if (profileForm.get("birthday"); as birthday) {
            <fieldset class="space">
              <label for="birthday" class="field-label">Дата рождения</label>
              <app-input
                id="birthday"
                [error]="birthday | controlError"
                type="text"
                mask="00.00.0000"
                formControlName="birthday"
              ></app-input>
              @if (birthday | controlError: "required") {
              <div class="text-body-14 error">
                {{ errorMessage.VALIDATION_REQUIRED }}
              </div>
              }
            </fieldset>
            } @if (profileForm.get("phoneNumber"); as phoneNumber) {
            <fieldset>
              <label for="phoneNumber" class="field-label">Телефон</label>
              <app-input
                id="phoneNumber"
                [error]="phoneNumber | controlError"
                type="tel"
                placeholder="Ваш номер телефона"
                formControlName="phoneNumber"
              ></app-input>
              @if (phoneNumber | controlError: "required") {
              <div class="text-body-14 error">
                {{ errorMessage.VALIDATION_REQUIRED }}
              </div>
              }
            </fieldset>
            }
          </div>

          <p class="text-body-12 error__phone-number">
            Формат телефона должен соответствовать одному из таких форматов: +7 XXX XXX-XX-XX |
            +375XXXXXXXXX | +995 (XXX) XX-XX-XX
          </p>

          @if (profileForm.get("speciality"); as speciality) {
          <fieldset>
            <label for="speciality" class="field-label">Специальность</label>
            <div class="speciality-field">
              <app-autocomplete-input
                class="speciality-field__input"
                searchIcon=""
                [suggestions]="inlineSpecs()"
                fieldToDisplay="name"
                valueField="name"
                fieldToDisplayMode="chip"
                [forceSelect]="true"
                [error]="speciality | controlError"
                (searchStart)="onSearchSpec($event)"
                placeholder="Java Developer"
                formControlName="speciality"
              ></app-autocomplete-input>
              <app-button type="button" (click)="toggleSpecsGroupsModal()">
                <i appIcon icon="folder" appWidth="18" appHeight="18"></i>
              </app-button>
            </div>
            @if (speciality | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>
      </div>

      <div class="profile__row education__block" style="margin-top: 12px !important">
        @if (profileForm.get("city"); as city) {
        <fieldset>
          <label for="city" class="field-label">Город</label>
          <app-input
            id="city"
            [error]="city | controlError"
            type="text"
            placeholder="Москва"
            formControlName="city"
          ></app-input>
          @if (city | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("userType"); as userType) { @if (userType.value !== 1) {
        <fieldset>
          <label for="userType" class="field-label">Тип аккаунта</label>
          @if (roles | async; as options) {
          <app-select
            id="userType"
            formControlName="userType"
            placeholder="Эксперт"
            [options]="options"
          ></app-select>
          } @if (userType | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } } @if (profileForm.get("aboutMe"); as aboutMe) {
        <fieldset>
          <label for="aboutMe" class="field-label">Обо мне</label>
          <app-textarea
            id="aboutMe"
            [error]="aboutMe | controlError"
            type="text"
            placeholder="Я java developer, очень люблю котиков"
            formControlName="aboutMe"
          ></app-textarea>
          @if (aboutMe | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>

        }
      </div>
      } @if (editingStep === 'education') {
      <div class="education__first-row">
        <div class="education__years">
          @if (profileForm.get("entryYear"); as entryYear) {
          <fieldset class="years__left">
            <label for="entryYear" class="field-label">Дата начала</label>
            <app-select
              [selectedId]="selectedEntryYearEducationId()"
              formControlName="entryYear"
              placeholder="2023 год"
              [options]="yearListEducation"
            >
              <i appIcon icon="arrow-no-body" appSquare="32"></i>
            </app-select>

            @if (entryYear | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (profileForm.get("completionYear"); as completionYear) {
          <fieldset class="years__right">
            <label for="completionYear" class="field-label">Дата окончания</label>
            <app-select
              [selectedId]="selectedComplitionYearEducationId()"
              formControlName="completionYear"
              placeholder="2023 год"
              [options]="yearListEducation"
            >
              <i appIcon icon="arrow-no-body" appSquare="32"></i>
            </app-select>
            @if (completionYear | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>

        @if (profileForm.get("organizationName"); as organizationName) {
        <fieldset>
          <label for="organizationName" class="field-label">Название учереждения</label>
          <app-input
            [error]="organizationName | controlError"
            placeholder="Вуз / Колледж / Школа"
            formControlName="organizationName"
          ></app-input>
          @if (organizationName | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("description"); as description) {
        <fieldset>
          <label for="description" class="field-label">Направление</label>
          <app-input
            [error]="description | controlError"
            placeholder="Бизнес информатика"
            formControlName="description"
          ></app-input>
          @if (description | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("educationLevel"); as educationLevel) {
        <fieldset>
          <label for="educationLevel" class="field-label">Уровень образования</label>
          <app-select
            [selectedId]="selectedEducationLevelId()"
            formControlName="educationLevel"
            placeholder="Высшее образование-магистратура"
            [options]="educationLevelList"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>
          @if (educationLevel | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("educationStatus"); as educationStatus) {
        <fieldset>
          <label for="educationStatus" class="field-label">Статус</label>
          <app-select
            [selectedId]="selectedEducationStatusId()"
            formControlName="educationStatus"
            placeholder="Студент"
            [options]="educationStatusList"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>
          @if (educationStatus | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("isMospolytechStudent"); as isMospolytechStudent) {
        <fieldset style="display: flex; gap: 10px">
          <app-switch
            [checked]="profileForm.get('isMospolytechStudent')?.value"
            (checkedChange)="profileForm.get('isMospolytechStudent')?.setValue($event)"
          ></app-switch>
          <label (click)="isStudentMosPolytech()" class="field-label" style="cursor: pointer">
            Студент Московского Политеха
          </label>
          @if (isMospolytechStudent | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("isMospolytechStudent")?.value) { @if (profileForm.get("studyGroup");
        as studyGroup) {
        <fieldset>
          <label for="studyGroup" class="field-label"
            >Учебная группа -
            <span style="color: var(--accent)">Для студентов Московского Политеха</span></label
          >
          <app-input
            [error]="studyGroup | controlError"
            placeholder="Б 5121.9367.01"
            formControlName="studyGroup"
          ></app-input>
          @if (studyGroup | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } }
      </div>

      <div class="profile__row education__block">
        <app-button
          size="big"
          [disabled]="!isEducationDirty"
          [ngStyle]="{
            opacity: !isEducationDirty ? '0.6' : '1',
            cursor: !isEducationDirty ? 'not-allowed' : 'pointer'
          }"
          class="profile__add-education"
          (click)="addEducation()"
        >
          <span>Добавить образование</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>

        @if(educationItems().length || education.length){ @for (educationItem of education.value;
        track $index) {
        <div class="education__remove">
          <div class="education__info">
            <p class="text-body-16 education__text">
              {{ educationItem.organizationName }}

              @if(educationItem.entryYear && educationItem.completionYear) {
              {{ educationItem.entryYear }} год - {{ educationItem.completionYear }} год } @else if
              (educationItem.entryYear && !educationItem.completionYear) {
              {{ educationItem.entryYear }} год } @else if (!educationItem.entryYear &&
              educationItem.completionYear){ {{ educationItem.completionYear }} год }

              {{ educationItem.description }} {{ educationItem.educationStatus }}
              {{ educationItem.educationLevel }}
            </p>
            <i
              class="edit"
              appIcon
              icon="edit-pen"
              appSquare="20"
              (click)="editEducation($index)"
            ></i>
          </div>
          <app-button class="basket" color="red" (click)="removeEducation($index)">
            <i appIcon icon="basket" appSquare="24"></i>
          </app-button>
        </div>
        } }
      </div>
      } @if (editingStep === 'experience') {
      <div class="education__first-row">
        <div class="education__years">
          @if (profileForm.get("entryYearWork"); as entryYearWork) {
          <fieldset class="years__left">
            <label for="entryYearWork" class="field-label">Дата начала</label>
            <app-select
              [selectedId]="selectedEntryYearWorkId()"
              formControlName="entryYearWork"
              placeholder="2023 год"
              [options]="yearListEducation"
            >
              <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__entry"></i>
            </app-select>

            @if (entryYearWork | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (profileForm.get("completionYearWork"); as completionYearWork) {
          <fieldset class="years__right">
            <label for="completionYearWork" class="field-label">Дата окончания</label>
            <app-select
              [selectedId]="selectedComplitionYearWorkId()"
              formControlName="completionYearWork"
              placeholder="2023 год"
              [options]="yearListEducation"
            >
              <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
            </app-select>

            @if (completionYearWork | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>

        @if (profileForm.get("organization"); as organization) {
        <fieldset>
          <label for="organization" class="field-label">Организация</label>
          <app-input
            id="organization"
            [error]="organization | controlError"
            type="text"
            placeholder="Проколлаб"
            formControlName="organization"
          ></app-input>
          @if (organization | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("jobPosition"); as jobPosition) {
        <fieldset>
          <label for="jobPosition" class="field-label">Должность</label>
          <app-input
            id="jobPosition"
            [error]="jobPosition | controlError"
            type="text"
            placeholder="Дизайнер"
            formControlName="jobPosition"
          ></app-input>
          @if (jobPosition | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("descriptionWork"); as descriptionWork) {
        <fieldset>
          <label for="descriptionWork" class="field-label">Профиль обучения</label>
          <app-input
            id="descriptionWork"
            [error]="descriptionWork | controlError"
            type="text"
            placeholder="Образовательная платформа"
            formControlName="descriptionWork"
          ></app-input>
          @if (descriptionWork | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      <div class="profile__row education__block">
        <app-button
          size="big"
          [disabled]="!isWorkDirty"
          [ngStyle]="{
            opacity: !isWorkDirty ? '0.6' : '1',
            cursor: !isWorkDirty ? 'not-allowed' : 'pointer'
          }"
          class="profile__add-education"
          (click)="addWork()"
        >
          <span>Добавить место работы</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>

        @if(workItems().length || workExperience.length){ @for (workItem of workExperience.value;
        track $index) {
        <div class="education__remove">
          <div class="education__info">
            <p class="text-body-16 education__text">
              {{ workItem.organizationName }}
              @if(workItem.entryYear && workItem.completionYear) {
              {{ workItem.entryYear }} год - {{ workItem.completionYear }} год } @else if
              (workItem.entryYear && !workItem.completionYear) { {{ workItem.entryYear }} год }
              @else if (!workItem.entryYear && workItem.completionYear){
              {{ workItem.completionYear }} год }
              {{ workItem.description }}
              {{ workItem.jobPosition }}
            </p>
            <i class="edit" appIcon icon="edit-pen" appSquare="20" (click)="editWork($index)"></i>
          </div>
          <app-button class="basket" color="red" (click)="removeWork($index)">
            <i appIcon icon="basket" appSquare="24"></i>
          </app-button>
        </div>
        } }
      </div>
      } @if(editingStep === 'achievements'){
      <div class="profile__education">
        <div class="education__first-row">
          <ng-container formArrayName="achievements">
            <ul>
              @for (control of achievements.controls; track control.value.id; let i = $index) {
              <li class="profile__achievement">
                <form [formGroupName]="i" class="achievement">
                  <div class="achievement__first-row">
                    @if (achievements.at(i)?.get("title"); as title) {
                    <fieldset>
                      <label class="field-label">Достижения</label>
                      <app-input
                        [error]="title | controlError"
                        placeholder="Название конкурса"
                        formControlName="title"
                      ></app-input>
                      @if (title | controlError: "required") {
                      <div class="text-body-14 error">
                        {{ errorMessage.VALIDATION_REQUIRED }}
                      </div>
                      }
                    </fieldset>
                    }
                    <app-button
                      class="achievement__remove"
                      color="red"
                      (click)="removeAchievement(i)"
                    >
                      <span>Удалить</span>
                      <i appIcon icon="basket" appSquare="24"></i>
                    </app-button>
                  </div>
                  @if (achievements.at(i).get("status"); as status) {
                  <fieldset>
                    <app-input
                      [error]="status | controlError"
                      placeholder="Занятое место"
                      formControlName="status"
                    ></app-input>
                    @if (status | controlError: "required") {
                    <div class="text-body-14 error">
                      {{ errorMessage.VALIDATION_REQUIRED }}
                    </div>
                    }
                  </fieldset>
                  }
                </form>
              </li>
              }
            </ul>
          </ng-container>
        </div>
      </div>
      <app-button size="medium" class="profile__add-achievement" (click)="addAchievement()">
        <span>Добавить достижение</span>
        <i appIcon icon="plus" appSquare="14"></i>
      </app-button>
      } @if (editingStep === 'skills') {
      <div class="education__first-row">
        <div class="profile__left">
          <div class="profile__row">
            <fieldset style="width: 100%">
              <label for="skills" class="field-label">Навыки</label>
              <div class="skills-field">
                <app-autocomplete-input
                  class="skills-field__input"
                  placeholder="Python"
                  searchIcon=""
                  [suggestions]="inlineSkills()"
                  fieldToDisplay="name"
                  [forceSelect]="true"
                  [clearInputOnSelect]="true"
                  (searchStart)="onSearchSkill($event)"
                  (optionSelected)="onAddSkill($event)"
                ></app-autocomplete-input>
                <app-button type="button" (click)="toggleSkillsGroupsModal()">
                  <i appIcon icon="folder" appWidth="18" appHeight="18"></i>
                </app-button>
              </div>
            </fieldset>
          </div>

          <div class="profile__row">
            @if (profileForm.get("skills"); as skills) {
            <fieldset class="skills-basket" style="width: 100%">
              <app-skills-basket
                formControlName="skills"
                [error]="skills | controlError"
              ></app-skills-basket>
            </fieldset>
            }
          </div>
        </div>
      </div>

      <div class="profile__right">
        <div class="profile__language--wrapper">
          <div class="profile__language">
            <div class="education__years">
              @if (profileForm.get("language"); as language) {
              <fieldset class="years__right">
                <label for="languageName" class="field-label">Язык</label>
                <app-select
                  [selectedId]="selectedLanguageId()"
                  formControlName="language"
                  placeholder="Английский"
                  [options]="languageList"
                >
                  <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
                </app-select>

                @if (language | controlError: "required") {
                <div class="text-body-14 error">
                  {{ errorMessage.VALIDATION_REQUIRED }}
                </div>
                }
              </fieldset>
              } @if (profileForm.get("languageLevel"); as languageLevel) {
              <fieldset class="years__right">
                <label for="languagLevel" class="field-label">Уровень</label>
                <app-select
                  [selectedId]="selectedLanguageLevelId()"
                  formControlName="languageLevel"
                  placeholder="B1"
                  [options]="languageLevelList"
                >
                  <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
                </app-select>

                @if (languageLevel | controlError: "required") {
                <div class="text-body-14 error">
                  {{ errorMessage.VALIDATION_REQUIRED }}
                </div>
                }
              </fieldset>
              }
            </div>
            <span class="text-body-12 profile__language--attention"
              >Количество добавляемых языков не более 4-х</span
            >
          </div>

          <app-button
            size="big"
            [disabled]="
              !isLanguageDirty || languageItems().length === 4 || userLanguages.length === 4
            "
            [ngStyle]="{
              opacity: !isLanguageDirty ? '0.6' : '1',
              cursor: !isLanguageDirty ? 'not-allowed' : 'pointer',
            }"
            class="profile__add-education"
            (click)="addLanguage()"
          >
            <span>Добавить язык</span>
            <i appIcon icon="plus" appSquare="14"></i>
          </app-button>
        </div>

        <div class="profile__row education__block">
          @if(languageItems().length || userLanguages.length){ @for (languageItem of
          userLanguages.value; track $index) {
          <div class="education__remove">
            <div class="education__info">
              <p class="text-body-16 education__text">
                {{ languageItem.language }} {{ languageItem.languageLevel }}
              </p>
              <i
                class="edit"
                appIcon
                icon="edit-pen"
                appSquare="20"
                (click)="editLanguage($index)"
              ></i>
            </div>
            <app-button class="basket" color="red" (click)="removeLanguage($index)">
              <i appIcon icon="basket" appSquare="24"></i>
            </app-button>
          </div>
          } }
        </div>
      </div>
      }

      <!-- <div class="profile__row">
        @if (profileForm.get("additionalRole"); as additionalRole) {
        <fieldset>
          <label for="additionalRole" class="field-label">Дополнительная роль</label>
          <app-input
            id="additionalRole"
            [error]="additionalRole | controlError"
            type="text"
            placeholder="Введите вашу доп. роль"
            formControlName="additionalRole"
          ></app-input>
          @if (additionalRole | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div> -->

      <!-- @if ([2, 3, 4].includes(currentType.value) && preferredIndustries) {
      <div class="profile__row">
        <div>
          <label class="field-label">Область экспертности</label>
          <ul class="tag-list">
            @for (industry of preferredIndustries.controls; let i = $index; track i) {
            <li class="tag-list__item">
              <app-tag>
                <span>{{ industry.value }}</span>
                <i
                  class="tag-list__remove-icon"
                  appIcon
                  icon="basket"
                  appSquare="24"
                  (click)="removePreferredIndustry(i)"
                ></i>
              </app-tag>
            </li>
            }
          </ul>
          <div class="tag-list-form">
            <app-input
              (enter)="addPreferredIndustry()"
              [(appValue)]="newPreferredIndustryTitle"
              class="tag-list-form__input"
              placeholder="Введите области вашей экспертности"
            ></app-input>
            <app-button
              type="button"
              class="tag-list-form__button"
              (click)="addPreferredIndustry()"
            >
              <i appIcon icon="check" appWidth="12" appHeight="10"></i>
            </app-button>
          </div>
        </div>
      </div>
      } -->
    </div>
    <div appEditorSubmitButton containerSelector=".profile" class="profile__save">
      <app-button
        size="big"
        [disabled]="
          editEducationClick ||
          editWorkClick ||
          editLanguageClick ||
          isEducationDirty ||
          isWorkDirty ||
          isLanguageDirty
        "
        [loader]="profileFormSubmitting"
        [ngStyle]="{
          opacity:
            editEducationClick ||
            editWorkClick ||
            editLanguageClick ||
            isEducationDirty ||
            isWorkDirty ||
            isLanguageDirty
              ? '0.6'
              : '1',
          cursor:
            editEducationClick ||
            editWorkClick ||
            editLanguageClick ||
            isEducationDirty ||
            isWorkDirty ||
            isLanguageDirty
              ? 'not-allowed'
              : 'pointer'
        }"
        customTypographyClass="text-body-12"
        (click)="saveProfile()"
      >
        Сохранить</app-button
      >
    </div>
  </form>
</main>
}

<app-modal
  [open]="isModalErrorSkillsChoose()"
  (openChange)="isModalErrorSkillsChoose.set(!isModalErrorSkillsChoose())"
>
  <div class="cancel">
    <div class="cancel__top">
      <i
        (click)="isModalErrorSkillsChoose.set(false)"
        appIcon
        icon="cross"
        class="cancel__cross"
      ></i>
      <p class="cancel__title text-bold-body-16">Произошла ошибка при редактировании!</p>
    </div>
    @if (isModalErrorSkillChooseText()) {
    <p class="text-body-14 cancel__text">{{ isModalErrorSkillChooseText() }}.</p>
    } @else {
    <p class="text-body-14 cancel__text">
      Для публикации профиля, нужно заполнить все <strong>обязательные поля</strong> (они будут
      <strong>подсвечены&nbsp;<span>красным</span></strong
      >).
    </p>
    }
  </div>
</app-modal>

<app-modal [open]="specsGroupsModalOpen()" class="modal">
  <div class="modal__wrapper">
    <h4 class="text-heading-4">Библиотека специальностей</h4>
    <div class="modal__content">
      <div class="modal__specs-groups">
        <ul>
          @for (specsGroup of nestedSpecs$ | async; track specsGroup.id) {
          <li>
            <app-specializations-group
              [title]="specsGroup.name"
              [options]="specsGroup.specializations"
              (selectOption)="onSelectSpec($event)"
            ></app-specializations-group>
          </li>
          }
        </ul>
      </div>
    </div>
    <app-button (click)="toggleSpecsGroupsModal()">Сохранить</app-button>
  </div>
</app-modal>

<app-modal [open]="skillsGroupsModalOpen()" class="modal">
  <div class="modal__wrapper">
    <h4 class="text-heading-4">Библиотека навыков</h4>
    <div class="modal__content">
      <div class="modal__skills-groups">
        <ul>
          @for (skillsGroup of nestedSkills$ | async; track skillsGroup.id) {
          <li>
            <app-skills-group
              [title]="skillsGroup.name"
              [options]="skillsGroup.skills"
              [selected]="this.profileForm.getRawValue().skills"
              (optionToggled)="onToggleSkill($event)"
            ></app-skills-group>
          </li>
          }
        </ul>
      </div>
    </div>
    <app-button (click)="toggleSkillsGroupsModal()">Сохранить</app-button>
  </div>
</app-modal>
