/** @format */

@use "styles/responsive";
@use "styles/typography";

.profile {
  position: relative;
  overflow-y: hidden;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
    margin-bottom: 18px;
  }

  &__title {
    display: none;

    @include responsive.apply-desktop {
      display: block;
    }

    @include typography.heading-1;
  }

  &__back {
    width: 20%;
  }

  &__form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: var(--rounded-md);

    @include responsive.apply-desktop {
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      min-height: 800px;
      padding: 24px;
    }
  }

  &__navigation {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 22px;
    border-bottom: 1px solid var(--grey-button);
  }

  &__nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  &__subtitle {
    color: var(--grey-for-text);

    @include typography.heading-4;

    &--active {
      color: var(--black);
    }
  }

  &__image {
    opacity: 0.5;

    &--active {
      opacity: 1;
    }
  }

  &__column {
    &:first-child {
      order: 1;
      margin-top: 16px;
    }

    @include responsive.apply-desktop {
      display: flex;
      gap: 90px;
      justify-content: space-between;
      width: 100%;

      &:first-child {
        order: unset;
        margin-right: 50px;
      }
    }
  }

  &__row {
    width: 100%;

    @include responsive.apply-desktop {
      display: flex;
    }

    &:not(:last-child) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    // >* {
    //   flex-basis: 50%;

    //   &:first-child:last-child {
    //     flex-basis: 100%;
    //   }
    // }

    .space {
      margin-bottom: 16px;

      @include responsive.apply-desktop {
        margin-right: 10px;
      }
    }
  }

  &__left,
  &__right {
    flex-basis: 50%;
  }

  .error__phone-number {
    margin-bottom: 10px;
  }

  // &__achievement {
  //   display: block;
  //   margin-bottom: 12px;
  // }

  &__language {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__add-achievement {
    display: block;
    margin-top: 12px;
    margin-bottom: 100px;
  }

  &__save {
    order: 3;
    margin-top: 16px;

    @include responsive.apply-desktop {
      z-index: 10;
      order: unset;
      width: 255px;
      margin-top: auto;
      margin-left: auto;
    }

    app-button {
      align-self: flex-end;
      width: 20%;
    }
  }

  &__avatar {
    margin-bottom: 24px;

    .error {
      margin-top: 15px;
    }
  }
}

.achievement-form {
  &__input {
    display: block;
    margin-bottom: 12px;
  }
}

.achievement {
  &__first-row {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: -12px;

    > :first-child {
      flex-grow: 1;
      margin-bottom: 25px;
    }
  }

  &__remove {
    width: 155px;
    margin-left: 10px;
  }
}

.education {
  &__first-row {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__block {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 20px;
  }

  &__years {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;

    .years__left,
    .years__right {
      width: 50%;
    }
  }

  &__info {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 12px;
    overflow: hidden;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__text {
    color: var(--dark-grey);
  }

  &__remove {
    display: flex;
    gap: 13px;
    align-items: center;
  }

  .edit {
    width: 10%;
    color: var(--dark-grey);

    i,
    .icon {
      max-width: 24px;
    }
  }

  .basket {
    color: var(--red);
  }
}

.edit {
  cursor: pointer;

  i,
  .icon {
    max-width: 24px;
  }
}

.speciality-field,
.skills-field {
  display: flex;

  &__input {
    flex-grow: 1;
    margin-right: 6px;
  }

  &__button {
    flex-shrink: 0;
    width: 52px;
  }
}

.skills-basket {
  max-height: 180px;
}

.modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 672px;

    app-button {
      width: 100%;
      max-width: 366px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 536px;
    height: 480px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 8px;
    box-shadow: 5px 5px 25px 0 var(--gray-for-shadow);
  }

  &__specs-groups,
  &__skills-groups {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 14px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 40px 0 80px;
  overflow-y: auto;

  @include responsive.apply-desktop {
    width: 50%;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    margin-bottom: 12px;
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}
