<!-- @format -->

@if (profileForm.get("userType"); as currentType) {
<main class="profile">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile__form">
    <div class="profile__column">
      <div class="profile__row">
        @if (profileForm.get("firstName"); as firstName) {
        <fieldset class="space">
          <label for="firstName" class="field-label">Имя</label>
          <app-input
            [error]="firstName | controlError"
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="Иван"
          ></app-input>
          @if (firstName | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (profileForm.get("lastName"); as lastName) {
        <fieldset>
          <label for="lastName" class="field-label">Фамилия</label>
          <app-input
            [error]="lastName | controlError"
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="Иванов"
          ></app-input>
          @if (lastName | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>
      <div class="profile__row">
        @if (profileForm.get("userType"); as userType) { @if (userType.value !== 1) {
        <fieldset class="space">
          <label for="userType" class="field-label">Тип аккаунта</label>
          @if (roles | async; as options) {
          <app-select
            id="userType"
            formControlName="userType"
            placeholder="Ученик"
            [options]="options"
          ></app-select>
          } @if (userType | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } } @if (profileForm.get("birthday"); as birthday) {
        <fieldset>
          <label for="birthday" class="field-label">Дата рождения</label>
          <app-input
            id="birthday"
            [error]="birthday | controlError"
            type="text"
            mask="00.00.0000"
            formControlName="birthday"
          ></app-input>
          @if (birthday | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      <div class="profile__row">
        @if (profileForm.get("additionalRole"); as additionalRole) {
        <fieldset>
          <label for="additionalRole" class="field-label">Дополнительная роль</label>
          <app-input
            id="additionalRole"
            [error]="additionalRole | controlError"
            type="text"
            placeholder="Введите вашу доп. роль"
            formControlName="additionalRole"
          ></app-input>
          @if (additionalRole | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      <div class="profile__row">
        @if (profileForm.get("city"); as city) {
        <fieldset>
          <label for="city" class="field-label">Город</label>
          <app-input
            id="city"
            [error]="city | controlError"
            type="text"
            placeholder="Откуда вы"
            formControlName="city"
          ></app-input>
          @if (city | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      <div class="profile__education">
        <div class="education__first-row">
          @if (profileForm.get("organizationName"); as organizationName) {
          <fieldset>
            <label for="organizationName" class="field-label">Образование</label>
            <app-input
              [error]="organizationName | controlError"
              placeholder="ВУЗ / колледж / школа"
              formControlName="organizationName"
            ></app-input>
            @if (organizationName | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (profileForm.get("entryYear"); as entryYear) {
          <fieldset>
            <label for="entryYear" class="field-label">Дата окончания</label>
            <app-input
              [error]="entryYear | controlError"
              placeholder="2023 год"
              formControlName="entryYear"
            ></app-input>
            @if (entryYear | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (profileForm.get("description"); as description) {
          <fieldset>
            <label for="description" class="field-label">Краткое описание</label>
            <app-input
              [error]="description | controlError"
              placeholder="Востоковедение и Африканистика"
              formControlName="description"
            ></app-input>
            @if (description | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>
        <app-button class="profile__add-education" (click)="addEducation()">
          <span>Добавить новое образование</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>
      </div>

      <div class="profile__row education__block">
        @if(educationItems().length || education.length){ @for (educationItem of education.value;
        track $index) {
        <div class="education__info">
          <p class="text-body-16 education__text">
            {{ educationItem.organizationName }} {{ educationItem.entryYear }}
            {{ educationItem.description }}
          </p>
          <i
            class="basket"
            appIcon
            icon="basket"
            appSquare="20"
            (click)="removeEducation($index)"
          ></i>
        </div>
        } }
      </div>

      <div class="profile__row">
        @if (profileForm.get("organization"); as organization) {
        <fieldset>
          <label for="organization" class="field-label">{{
            currentType.value === 1 ? "Место учебы" : "Место работы"
          }}</label>
          <app-input
            id="organization"
            [error]="organization | controlError"
            type="text"
            [placeholder]="
              currentType.value === 1 ? 'вуз / колледж / школа / организация' : 'Название компании'
            "
            formControlName="organization"
          ></app-input>
          @if (organization | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>
      <div class="profile__row">
        @if (profileForm.get("speciality"); as speciality) {
        <fieldset>
          <label for="speciality" class="field-label">Специальность</label>
          <div class="speciality-field">
            <app-autocomplete-input
              class="speciality-field__input"
              searchIcon=""
              [suggestions]="inlineSpecs()"
              fieldToDisplay="name"
              valueField="name"
              fieldToDisplayMode="chip"
              [forceSelect]="true"
              [error]="speciality | controlError"
              (searchStart)="onSearchSpec($event)"
              placeholder="Например: Java Developer"
              formControlName="speciality"
            ></app-autocomplete-input>
            <app-button
              type="button"
              class="speciality-field__button"
              (click)="toggleSpecsGroupsModal()"
            >
              <i appIcon icon="folder" appWidth="24" appHeight="24"></i>
            </app-button>
          </div>
          @if (speciality | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>
      <div class="profile__row">
        <fieldset>
          <label for="skills" class="field-label">Навыки</label>
          <div class="skills-field">
            <app-autocomplete-input
              class="skills-field__input"
              placeholder="Например: Python"
              searchIcon=""
              [suggestions]="inlineSkills()"
              fieldToDisplay="name"
              [forceSelect]="true"
              [clearInputOnSelect]="true"
              (searchStart)="onSearchSkill($event)"
              (optionSelected)="onAddSkill($event)"
            ></app-autocomplete-input>
            <app-button
              type="button"
              class="skills-field__button"
              (click)="toggleSkillsGroupsModal()"
            >
              <i appIcon icon="folder" appWidth="24" appHeight="24"></i>
            </app-button>
          </div>
        </fieldset>
      </div>

      <div class="profile__row">
        @if (profileForm.get("skills"); as skills) {
        <fieldset class="skills-basket">
          <app-skills-basket
            formControlName="skills"
            [error]="skills | controlError"
          ></app-skills-basket>
        </fieldset>
        }
      </div>
      @if ([2, 3, 4].includes(currentType.value) && preferredIndustries) {
      <div class="profile__row">
        <div>
          <label class="field-label">Область экспертности</label>
          <ul class="tag-list">
            @for (industry of preferredIndustries.controls; let i = $index; track i) {
            <li class="tag-list__item">
              <app-tag>
                <span>{{ industry.value }}</span>
                <i
                  class="tag-list__remove-icon"
                  appIcon
                  icon="basket"
                  appSquare="24"
                  (click)="removePreferredIndustry(i)"
                ></i>
              </app-tag>
            </li>
            }
          </ul>
          <div class="tag-list-form">
            <app-input
              (enter)="addPreferredIndustry()"
              [(appValue)]="newPreferredIndustryTitle"
              class="tag-list-form__input"
              placeholder="Введите области вашей экспертности"
            ></app-input>
            <app-button
              type="button"
              class="tag-list-form__button"
              (click)="addPreferredIndustry()"
            >
              <i appIcon icon="check" appWidth="12" appHeight="10"></i>
            </app-button>
          </div>
        </div>
      </div>
      }
      <div class="">
        <label class="field-label">Достижения</label>
        <ng-container formArrayName="achievements">
          <ul>
            @for (control of achievements.controls; let i = $index; track i) {
            <li class="profile__achievement">
              <form [formGroupName]="i" class="achievement">
                <div class="achievement__first-row">
                  @if (achievements.at(i)?.get("title"); as title) {
                  <fieldset>
                    <app-input
                      [error]="title | controlError"
                      placeholder="Название конкурса"
                      formControlName="title"
                    ></app-input>
                    @if (title | controlError: "required") {
                    <div class="text-body-14 error">
                      {{ errorMessage.VALIDATION_REQUIRED }}
                    </div>
                    }
                  </fieldset>
                  }
                  <app-button
                    class="achievement__remove"
                    color="red"
                    (click)="removeAchievement(i)"
                  >
                    <span>Удалить</span>
                    <i appIcon icon="basket" appSquare="24"></i>
                  </app-button>
                </div>
                @if (achievements.at(i).get("status"); as status) {
                <fieldset>
                  <app-input
                    [error]="status | controlError"
                    placeholder="Занятое место"
                    formControlName="status"
                  ></app-input>
                  @if (status | controlError: "required") {
                  <div class="text-body-14 error">
                    {{ errorMessage.VALIDATION_REQUIRED }}
                  </div>
                  }
                </fieldset>
                }
              </form>
            </li>
            }
          </ul>
        </ng-container>
        <app-button class="profile__add-achievement" (click)="addAchievement()">
          <span>Добавить новое достижение</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>
      </div>
    </div>
    <div class="profile__column">
      @if (profileForm.get("avatar"); as avatar) {
      <fieldset class="profile__avatar">
        <label for="avatar" class="field-label">Фотография профиля</label>
        <app-avatar-control
          id="avatar"
          formControlName="avatar"
          [error]="avatar | controlError"
        ></app-avatar-control>
        @if (avatar | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.EMPTY_AVATAR }}
        </div>
        }
      </fieldset>
      }
      <div class="profile__row">
        <div class="">
          <label class="field-label">Контактная информация</label>
          <ul formArrayName="links">
            @for (control of links.controls; let i = $index; track i) {
            <li class="profile__achievement edit-link">
              <app-input
                [formControlName]="i"
                placeholder="https://t.me/username"
                [error]="control | controlError"
              ></app-input>
              <div class="edit-link__remove" (click)="removeLink(i)">
                <i appIcon icon="cross" appSquare="20"></i>
              </div>
            </li>
            }
          </ul>
          <app-button class="profile__add-achievement" (click)="addLink()">
            <span>Добавить еще одну ссылку</span>
            <i appIcon icon="plus" appSquare="14"></i>
          </app-button>
        </div>
      </div>
      <div class="profile__row">
        @if (profileForm.get("aboutMe"); as aboutMe) {
        <fieldset>
          <label for="aboutMe" class="field-label">Обо мне</label>
          <app-textarea
            id="aboutMe"
            [error]="aboutMe | controlError"
            type="text"
            placeholder="Я java developer, очень люблю котиков"
            formControlName="aboutMe"
          ></app-textarea>
          @if (aboutMe | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>
      @if ([1, 3, 4].includes(currentType.value) && usefulToProject) {
      <fieldset>
        <label for="usefulToProject" class="field-label">Чем могу быть полезен в проекте</label>
        <app-input
          [error]="usefulToProject | controlError"
          id="usefulToProject"
          type="text"
          [formControl]="usefulToProject"
        ></app-input>
        @if (usefulToProject | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>
    <div appEditorSubmitButton containerSelector=".profile" class="profile__save">
      <app-button [loader]="profileFormSubmitting" (click)="saveProfile()"> Сохранить</app-button>
    </div>
  </form>
</main>
}

<app-modal [open]="specsGroupsModalOpen()" class="modal">
  <div class="modal__wrapper">
    <h4 class="text-heading-4">Библиотека специальностей</h4>
    <div class="modal__content">
      <div class="modal__specs-groups">
        <ul>
          @for (specsGroup of nestedSpecs$ | async; track specsGroup.id) {
          <li>
            <app-specializations-group
              [title]="specsGroup.name"
              [options]="specsGroup.specializations"
              (selectOption)="onSelectSpec($event)"
            ></app-specializations-group>
          </li>
          }
        </ul>
      </div>
    </div>
    <app-button (click)="toggleSpecsGroupsModal()">Сохранить</app-button>
  </div>
</app-modal>

<app-modal [open]="skillsGroupsModalOpen()" class="modal">
  <div class="modal__wrapper">
    <h4 class="text-heading-4">Библиотека навыков</h4>
    <div class="modal__content">
      <div class="modal__skills-groups">
        <ul>
          @for (skillsGroup of nestedSkills$ | async; track skillsGroup.id) {
          <li>
            <app-skills-group
              [title]="skillsGroup.name"
              [options]="skillsGroup.skills"
              [selected]="this.profileForm.getRawValue().skills"
              (optionToggled)="onToggleSkill($event)"
            ></app-skills-group>
          </li>
          }
        </ul>
      </div>
    </div>
    <app-button (click)="toggleSkillsGroupsModal()">Сохранить</app-button>
  </div>
</app-modal>
