/** @format */

@use "styles/responsive";

.profile {
  position: relative;
  margin-bottom: 100px;

  &__form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: var(--black);
    background-color: var(--white);
    border-radius: var(--rounded-md);

    @include responsive.apply-desktop {
      flex-direction: row;
      align-items: flex-start;
      padding: 24px;
    }
  }

  &__column {
    &:first-child {
      order: 1;
      margin-top: 16px;
    }

    @include responsive.apply-desktop {
      flex-basis: 50%;
      flex-grow: 0;

      &:first-child {
        order: unset;
        margin-right: 50px;
      }
    }
  }

  &__row {
    width: 100%;

    @include responsive.apply-desktop {
      display: flex;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    >* {
      flex-basis: 50%;

      &:first-child:last-child {
        flex-basis: 100%;
      }
    }

    .space {
      margin-bottom: 16px;

      @include responsive.apply-desktop {
        margin-right: 10px;
      }
    }
  }

  .error__phone-number {
    margin-top: 10px;
    color: var(--red);
  }

  &__achievement {
    display: block;
    margin-bottom: 12px;
  }

  &__education {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  &__language {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__add-achievement {
    display: block;
  }

  &__save {
    order: 3;
    margin-top: 16px;

    @include responsive.apply-desktop {
      position: absolute;
      top: 24px;
      right: 24px;
      z-index: 10;
      display: block;
      order: unset;
      width: 255px;
      margin-left: auto;
    }
  }

  &__avatar {
    margin-bottom: 24px;

    .error {
      margin-top: 15px;
    }
  }
}

.achievement-form {
  &__input {
    display: block;
    margin-bottom: 12px;
  }
}

.achievement {
  &__first-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__remove {
    width: 155px;
    margin-left: 10px;
  }
}

.education {
  &__first-row {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__years {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;

    .years__left,
    .years__right {
      width: 50%;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
    overflow: hidden;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__text {
    color: var(--dark-grey);
  }

  .basket {
    color: var(--dark-grey);
  }
}

.speciality-field,
.skills-field {
  display: flex;

  &__input {
    flex-grow: 1;
    margin-right: 6px;
  }

  &__button {
    flex-shrink: 0;
    width: 52px;
  }
}

.skills-basket {
  max-height: 180px;
}

.modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 672px;

    app-button {
      width: 100%;
      max-width: 366px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 536px;
    height: 480px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 8px;
    box-shadow: 5px 5px 25px 0 var(--gray-for-shadow);
  }

  &__specs-groups,
  &__skills-groups {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 14px;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}
