@use "styles/responsive";

.page {
  &__bar {
    display: grid;
    grid-template-columns: 8fr 2fr;
    grid-gap: 20px;
    justify-content: space-between;
  }

  &__list {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr;
    row-gap: 50px;
    column-gap: 20px;
    align-items: flex-start;
    margin-top: 50px;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(4, 2fr);
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    app-search {
      width: 100%;
    }
  }

  &__outlet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__create {
    display: inline-flex;
    flex-direction: column;
  }

  &__left {
    width: 157px;
  }
}
