<!-- @format -->

<div class="page">
  <app-back class="bar page__bar" path="/office/chats" namespace="чаты"></app-back>

  <div class="page__main">
    @if (chat()) {
    <header class="page__header">
      <a class="page__opponent" [routerLink]="['/office/profile', chat()!.opponent.id]">
        <app-avatar class="page__avatar" [url]="chat()!.imageAddress" [size]="40"></app-avatar>
        <div class="page__name text-heading-4">{{ chat()!.name }}</div>
      </a>
    </header>
    }
    <div class="page__chat">
      <app-chat-window
        [messages]="messages()"
        (submit)="onSubmitMessage($event)"
        (edit)="onEditMessage($event)"
        (delete)="onDeleteMessage($event)"
        (type)="onType()"
        (read)="onReadMessage($event)"
        (fetch)="onFetchMessages()"
      ></app-chat-window>
    </div>
  </div>
</div>
