/** @format */

@use "styles/responsive";

.members {
  padding-bottom: 100px;

  &__bar {
    padding: 20px;
    margin-bottom: 12px;
    background-color: var(--white);
    border-radius: var(--rounded-xl);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    align-items: start;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
