<!-- @format -->

<nav class="project__navigation">
  <ul class="project__nav">
    @for (item of navItems; track $index) {
    <li
      class="project__item"
      [class.project__item--active]="currentStep() === item.step"
      (click)="onStepClick(item.step)"
    >
      <i
        appIcon
        [icon]="item.step"
        class="project__icon"
        appSquare="14"
        [class.project__icon--active]="currentStep() === item.step"
        alt="project-icon"
      ></i>
      <p class="project__subtitle" [class.project__subtitle--active]="currentStep() === item.step">
        {{ item.label }}
      </p>
    </li>
    }
  </ul>
</nav>
