<!-- @format -->

<div class="detail">
  <section class="bar detail__bar">
    <nav class="bar__nav">
      <ul class="bar__tabs">
        <a
          class="bar__link"
          [routerLink]="['/office/projects', projectId | async]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Страница проекта</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/projects', projectId | async, 'responses']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Отклики на вакансию</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/projects', projectId | async, 'chat']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Чат проекта</li>
        </a>
      </ul>
    </nav>
  </section>
  <router-outlet></router-outlet>
</div>
