<!-- @format -->

<div class="detail" *ngIf="project">
  <section class="bar detail__bar" >
    <nav class="bar__nav">
      <app-back class="bar__back"></app-back>
      <ul class="bar__tabs" *ngIf="isInProject$ | async">
        <a
          class="bar__link"
          [routerLink]="['/office/projects', project.id]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Страница проекта</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/projects', project.id, 'responses']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Отклики на вакансию</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/projects', project.id, 'chat']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Чат проекта</li>
        </a>
      </ul>
    </nav>
  </section>
  <div class="detail__body">
    <router-outlet></router-outlet>
  </div>
</div>
