<!-- @format -->

<form class="auth set-password" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="auth__title">Новый пароль</h1>
    <p class="text-body-16 set-password__text">Введите новый пароль</p>
    @if (passwordForm.get('password'); as password) {
    <fieldset class="auth__field">
      <app-input
        class="set-password__password"
        [error]="password | controlError"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Пароль"
      ></app-input>
      @if (password | controlError: 'required') {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      } @if (password | controlError: 'minlength') {
      <div class="text-body-14 error">
        @if (password.errors) {
        {{ errorMessage.VALIDATION_TOO_SHORT }} {{ password.errors["minlength"]["requiredLength"] }}
        }
      </div>
      }
    </fieldset>
    } @if (passwordForm.get('passwordRepeated'); as passwordRepeated) {
    <fieldset class="auth__field">
      <app-input
        class="set-password__password"
        [error]="passwordRepeated | controlError"
        id="password_repeated"
        type="password"
        formControlName="passwordRepeated"
        placeholder="Пароль"
      ></app-input>
      @if (passwordRepeated | controlError: 'required') {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      } @if (passwordForm | controlError: 'unMatch') {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_PASSWORD_UNMATCH }}
      </div>
      }
    </fieldset>
    } @if (errorRequest) {
    <div class="text-body-14 error">
      {{ errorMessage.AUTH_WRONG_AUTH }}
    </div>
    }
    <app-button [loader]="isSubmitting" class="auth__button" type="submit"> Готово </app-button>
  </div>
</form>
