<!-- @format -->

<form class="auth set-password" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="auth__title">Новый пароль</h1>
    <p class="text-body-16 set-password__text">Введите новый пароль</p>
    @if (passwordForm.get("password"); as password) {
    <fieldset class="auth__field">
      <app-input
        class="set-password__password"
        [error]="password | controlError"
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        placeholder="Пароль"
      >
        @if(showPassword) {
        <i
          appIcon
          icon="eye"
          appSquare="24"
          appWidth="24"
          appHeight="24"
          appViewBox="0 0 24 24"
          class="icon"
          (click)="toggleShowPassword()"
        ></i>
        } @else {
        <i
          appIcon
          icon="eye-off"
          appSquare="24"
          appWidth="24"
          appHeight="24"
          appViewBox="0 0 24 24"
          class="icon"
          (click)="toggleShowPassword()"
        ></i>
        }
      </app-input>
      @if (credsSubmitInitiated) {
      <ng-container>
        @if (password | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        } @if (password | controlError: "passwordTooShort") {
        <div class="text-body-14 error">
          @if (password.errors) { Пароль должен содержать минимум
          {{ password.errors["passwordTooShort"]["requiredLength"] }} символов }
        </div>
        } @if (password | controlError: "passwordNoUppercase") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум одну заглавную букву (A-Z)
        </div>
        } @if (password | controlError: "passwordNoLowercase") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум одну строчную букву (a-z)
        </div>
        } @if (password | controlError: "passwordNoNumber") {
        <div class="text-body-14 error">Пароль должен содержать минимум одну цифру (0-9)</div>
        } @if (password | controlError: "passwordNoSpecialChar") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум один специальный символ
        </div>
        } @if (password | controlError: "passwordHasSpaces") {
        <div class="text-body-14 error">Пароль не должен содержать пробелы</div>
        } @if (password | controlError: "passwordHasSequence") {
        <div class="text-body-14 error">
          Пароль не должен содержать последовательности символов (123456, abcdef и т.д.)
        </div>
        } @if (password | controlError: "passwordHasRepeating") {
        <div class="text-body-14 error">
          Пароль не должен содержать более 2 одинаковых символов подряд
        </div>
        } @if (password | controlError: "unMatch") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_PASSWORD_UNMATCH }}
        </div>
        }
      </ng-container>
      }
    </fieldset>
    } @if (passwordForm.get("passwordRepeated"); as passwordRepeated) {
    <fieldset class="auth__field">
      <app-input
        class="set-password__password"
        [error]="passwordRepeated | controlError"
        id="password_repeated"
        type="password"
        formControlName="passwordRepeated"
        placeholder="Пароль"
      ></app-input>
      @if (credsSubmitInitiated) {
      <ng-container>
        @if (passwordRepeated | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        } @if (passwordRepeated | controlError: "passwordTooShort") {
        <div class="text-body-14 error">
          @if (passwordRepeated.errors) { Пароль должен содержать минимум
          {{ passwordRepeated.errors["passwordTooShort"]["requiredLength"] }} символов }
        </div>
        } @if (passwordRepeated | controlError: "passwordNoUppercase") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум одну заглавную букву (A-Z)
        </div>
        } @if (passwordRepeated | controlError: "passwordNoLowercase") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум одну строчную букву (a-z)
        </div>
        } @if (passwordRepeated | controlError: "passwordNoNumber") {
        <div class="text-body-14 error">Пароль должен содержать минимум одну цифру (0-9)</div>
        } @if (passwordRepeated | controlError: "passwordNoSpecialChar") {
        <div class="text-body-14 error">
          Пароль должен содержать минимум один специальный символ
        </div>
        } @if (passwordRepeated | controlError: "passwordHasSpaces") {
        <div class="text-body-14 error">Пароль не должен содержать пробелы</div>
        } @if (passwordRepeated | controlError: "passwordHasSequence") {
        <div class="text-body-14 error">
          Пароль не должен содержать последовательности символов (123456, abcdef и т.д.)
        </div>
        } @if (passwordRepeated | controlError: "passwordHasRepeating") {
        <div class="text-body-14 error">
          Пароль не должен содержать более 2 одинаковых символов подряд
        </div>
        } @if (passwordRepeated | controlError: "unMatch") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_PASSWORD_UNMATCH }}
        </div>
        }
      </ng-container>
      }
    </fieldset>
    } @if (errorRequest) {
    <div class="text-body-14 error">
      {{ errorMessage.AUTH_WRONG_AUTH }}
    </div>
    }
    <app-button size="medium" [loader]="isSubmitting" class="auth__button" type="submit">
      Готово
    </app-button>
  </div>
</form>
