@use "styles/responsive";
@use "styles/typography";

.page {
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: 20px;
  padding-bottom: 100px;

  &__outlet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__filter {
    display: none;

    &--open {
      display: block;
    }

    @include responsive.apply-desktop {
      display: block;
      margin-left: 16px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 50px;
    column-gap: 20px;
    align-items: flex-start;
    margin-top: 50px;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(4, 2fr);
    }

    &--rating {
      grid-template-columns: 1fr;
      row-gap: 20px;
      margin-top: 0;
    }
  }

  &__create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
  }

  &__left {
    width: 100%;
  }
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  @include responsive.apply-desktop {
    position: static;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__bar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 25px;
    touch-action: none;

    @include responsive.apply-desktop {
      display: none;
    }

    &::after {
      display: block;
      width: 85px;
      height: 5px;
      margin: auto;
      content: "";
      background-color: var(--gray);
      border-radius: var(--rounded-lg);
      transition: transform 0.2s;
    }
  }

  &__body {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    min-height: 72vh;
    overflow-y: auto;
    background-color: var(--white);
    border-radius: var(--rounded-lg);
    transform: translateY(0%);

    @include responsive.apply-desktop {
      position: static;
      max-height: unset;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.filter-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--medium-medium-grey-for-outline);
  border-radius: var(--rounded-xl);

  @include responsive.apply-desktop {
    display: none;
  }
}
