<!-- @format -->

<!-- Модалка с отменой подписки -->

<div class="subscription">
  <app-modal [open]="open()" (openChange)="onOpenChange($event)">
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>
      <p class="cancel__title">Вы действительно хотите отменить подписку?</p>

      <app-button (click)="onCancelSubscription()" [color]="'grey'">Отменить</app-button>
      <img alt="wave" src="assets/images/subscription/wave.svg" class="cancel__wave" />
    </div>
  </app-modal>

  <!-- Модалка с автопродлением подписки  -->

  <app-modal [open]="checked()" (openChange)="onOpenChange($event)">
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>
      <p class="cancel__title">Вы действительно хотите влючить автопродление подписки?</p>

      <app-button (click)="onConfirmAutoPlay(true)" [color]="'primary'">Включить</app-button>
      <img alt="wave" src="assets/images/subscription/wave.svg" class="cancel__wave" />
    </div>
  </app-modal>

  <div class="subscription__types">
    <div class="subscription__title">Виды подписок</div>

    <div class="subscription__switch">
      <div class="subscription__text">Включить автопродление подписки</div>
      <app-switch
        (click)="this.onCheckedChange(!checked())"
        (checkedChange)="onCheckedChange($event)"
        [checked]="subscriptionData().isAutopayAllowed"
      ></app-switch>
    </div>
  </div>

  <div class="plans">
    <div class="plans__tariffs">
      @for (subscription of subscriptions(); track subscription.id) {
      <div class="tariff" [ngClass]="{ 'tariff--primary': subscription.id === 3 }">
        <div>
          <div class="tariff__title">{{ subscription.name }}</div>
          <div class="tariff__price">₽ {{ subscription.price }}</div>
        </div>

        <ul class="tariff__points">
          @for (feature of subscription.featuresList; track $index) {
          <li class="tariff__point">
            <i appIcon icon="circle-check" class="tariff__icon"></i>
            <span> {{ feature }} </span>
          </li>
          }
        </ul>

        <div
          class="tariff__expiration-date"
          [ngStyle]="{ color: subscription.id === 3 ? 'var(--white)' : 'var(--black)' }"
        >
          Действует до {{ subscriptionData().subscriptionDateOver }}
        </div>
      </div>
      }
    </div>
  </div>

  <app-button class="text-body-12" (click)="this.onOpenChange(true)" [color]="'grey'"
    >Отменить подписку</app-button
  >
</div>
