<!-- @format -->

<div class="subscription">
  <app-subscription-modal
    [open]="open()"
    [checked]="checked()"
    (openChange)="onOpenChange($event)"
    (checkedChange)="onCheckedChange($event)"
  ></app-subscription-modal>

  <div class="subscription__types">
    <div class="subscription__types__title">Виды подписок</div>

    <div class="subscription__types__switch">
      <div class="subscription__types__switch__text">Включить автопродление подписки</div>
      <app-switch (checkedChange)="onCheckedChange($event)" [checked]="checked()"></app-switch>
    </div>
  </div>

  <div class="plans">
    <div class="plans__tariffs">
      @for (subscription of subscriptions; track $index) {
      <div class="tariff" [ngClass]="{ 'tariff--primary': $index === 1 }">
        <div>
          <div class="tariff__title">Золотой</div>
          <div class="tariff__price">₽ 4457</div>
        </div>

        <ul class="tariff__points">
          @for (feature of features; track $index) {
          <li class="tariff__point">
            <i appIcon icon="circle-check" class="tariff__icon"></i>
            <span> Официальный сертификат </span>
          </li>
          }
        </ul>

        <div class="tariff__expiration-date">Действует до 28.05.2024</div>
      </div>
      }
    </div>
  </div>

  <app-button class="text-body-12" (click)="this.onOpenChange(true)" [color]="'grey'"
    >Отменить подписку</app-button
  >
</div>
