@use "styles/responsive";
@use "styles/typography";

.subscription {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 28px;

  &__types {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: 15px;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__title {
    @include typography.heading-3;

    @include responsive.apply-desktop {
      margin-bottom: 3px;

      @include typography.heading-3;
    }
  }

  &__switch {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    @include responsive.apply-desktop {
      margin-top: 0;
    }
  }

  &__text {
    @include typography.body-12;

    color: var(--grey-for-text);
  }
}

.plans {
  &__title {
    margin-bottom: 5px;
    text-align: center;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 3px;

      @include typography.heading-3;
    }
  }

  &__tariffs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    @include responsive.apply-desktop {
      margin-top: 16px;
    }
  }
}

.tariff {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding: 24px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  @include responsive.apply-desktop {
    flex-direction: row;
    gap: 142px;
  }

  &--primary {
    background-color: var(--accent);

    .tariff__title {
      color: var(--gold-dark);
    }

    .tariff__price,
    .tariff__point,
    .tariff__icon {
      color: var(--white);
    }
  }

  &__title {
    @include typography.heading-1;
  }

  &__price {
    margin-bottom: 24px;
    color: var(--grey-for-text);

    @include typography.heading-2;
  }

  &__points {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;

    @include responsive.apply-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }
  }

  &__point {
    display: flex;
    gap: 12px;
    align-items: center;
    color: var(--grey-for-text);

    @include typography.body-12;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: var(--accent);
  }

  &__expiration-date {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    @include typography.body-12;
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 40px 0 80px;
  overflow-y: auto;

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    margin-bottom: 20px;
    color: var(--black);
    text-align: center;
    inline-size: 280px;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 23px;
      inline-size: 500px;
      text-align: center;

      @include typography.heading-3;
    }
  }

  &__wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
