/** @format */

@use "src/styles/responsive";
@use "src/styles/typography";

.auth {
  &__logo {
    position: fixed;
    top: 85px;
    left: 15px;
    display: none;

    @include responsive.apply-desktop {
      top: 50px;
      left: 100px;
      display: block;
    }
  }

  &__greeting {
    max-width: 825px;
    margin-bottom: 20px;

    @include responsive.apply-desktop {
      margin-bottom: 36px;
    }
  }

  &__wrapper {
    @include responsive.apply-desktop {
      max-width: 415px;
    }
  }

  &__title {
    margin-bottom: 12px;
    color: var(--black);

    @include typography.heading-4;

    @include responsive.apply-desktop {
      @include typography.heading-1;
    }
  }

  &__field {
    margin-bottom: 12px;

    app-input,
    app-select {
      display: block;
    }
  }

  &__row {
    display: flex;

    fieldset {
      width: 50%;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__agreement-text {
    color: var(--gray-100);
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

  &__button-icon {
    transform: rotate(90deg);
  }

  &__toggle {
    margin-top: 20px;
    text-align: center;

    @include responsive.apply-desktop {
      text-align: left;
    }
  }
}
