/** @format */

.auth {
  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  &__field {
    margin-bottom: 12px;

    app-input,
    app-select {
      display: block;
    }
  }

  &__error {
    display: block;
    margin-top: 6px;
    color: var(--red);
  }

  &__row {
    display: flex;

    fieldset {
      width: 50%;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  &__agreement {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }

  &__agreement-text {
    color: var(--gray-100);
  }

  &__button {
    display: block;
    width: 100%;
    margin-top: 20px;

    app-button {
      display: block;
    }
  }
}
