<!-- @format -->

<div class="kanban">
  <div class="kanban__wrapper">
    @if (projectBoardInfo(); as projectBoardInfo) {
    <app-kanban-board-sidebar [projectBoardInfo]="projectBoardInfo"></app-kanban-board-sidebar>
    } @for (boardColumn of boardColumns(); track $index) {
    <div class="kanban__column">
      <div class="kanban__column--header">
        <p class="text-body-12">{{ boardColumn.tasks.length }}</p>
        <div class="kanban__column--locked">
          @if (boardColumn.locked) {
          <i appIcon icon="lock" appSquare="8"></i>
          }
          <p class="text-body-12">{{ boardColumn.name }}</p>
        </div>
        <i appIcon icon="dots" appSquare="8"></i>
      </div>

      <div class="kanban__tasks">
        @for (task of boardColumn.tasks; track task.id) {
        <div
          class="kanban__task"
          [style.background-color]="task.backgroundColor ?? 'var(--light-white)'"
        >
          <div class="kanban__task--left">
            <span class="text-body-10">{{ task.title }}</span>
            <p class="text-body-6">{{ task.description ?? "" }}</p>
            <div class="kanban__task--mid">
              <div class="kanban__task--people">
                <div class="kanban__task--responsible">
                  <i appIcon icon="person" appSquare="6"></i>
                  <app-avatar [size]="12" [url]=""></app-avatar>
                </div>

                <div class="kanban__task--performers">
                  <i appIcon icon="people-bold" appSquare="6"></i>
                  <app-avatar [size]="12" [url]=""></app-avatar>
                </div>
              </div>

              <div class="kanban__task--icons">
                <i appIcon icon="attach" appSquare="8" style="color: var(--grey-for-text)"></i>
                <i appIcon icon="phone" appSquare="6"></i>
              </div>
            </div>

            <div class="kanban__task--bottom">
              <div class="kanban__task--deadline">
                <i appIcon icon="calendar" appSquare="6"></i>
                <p class="text-body-6" [style.margin-top]="task.description ? '1px' : '2px'">
                  04.04.2026
                </p>
              </div>

              <app-tag>#аналитика</app-tag>
              <app-tag color="soft">выход на рынок для чего</app-tag>
            </div>
          </div>

          <div class="kanban__task--right">
            <div
              class="kanban__task--priority"
              [style.background-color]="task?.priority?.background ?? 'var(--red)'"
            ></div>
            <i appIcon icon="arrow-wide" appSquare="8"></i>
          </div>
        </div>
        }
      </div>

      <i class="kanban__column--add-task" appIcon icon="plus" appSquare="10"></i>
    </div>
    }
  </div>
</div>
