.kanban {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr;
    grid-gap: 20px;
  }

  &__column {
    i, p {
      color: var(--accent);
      cursor: pointer;
    }

    &--locked {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 12px;
      border-radius: var(--rounded-xl);
      border: 0.5px solid var(--accent);
    }

    &--add-task {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      margin-top: 20px;
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
  }

  &__task {
    display: flex;
    gap: 10px;
    padding: 12px;
    width: 100%;
    max-width: 245px;
    border-radius: var(--rounded-lg);
    border: 0.5px solid var(--medium-grey-for-outline);

    &--left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: flex-start;
    }

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }

    &--mid {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    &--priority {
      width: 6px;
      height: 6px;
      border-radius: var(--rounded-xxl);
    }

    &--deadline, &--bottom {
      display: flex;
      align-items: center;
      gap: 2px;

      p {
        color: var(--accent) !important;
      }

      ::ng-deep {
        app-tag {
          .tag {
            padding: 2px 10px;
          }
        }
      }
    }

    &--people {
      display: flex;
      align-items: center;
      gap: 3px;
      align-items: flex-start;
    }

    &--responsible, &--performers, &--deadline {
      display: flex;
      align-items: center;
      gap: 2px;

      i {
        min-width: 6px;
      }
    }

    &--icons {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    span {
      color: var(--black);
    }

    p {
      color: var(--grey-for-text);
    }
  }
}
