<!-- @format -->

<main *ngIf="profileForm.get('userType') as currentType" class="profile">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile__form">
    <div class="profile__column">
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('firstName') as firstName">
          <label for="firstName" class="field-label">Имя</label>
          <app-input
            [error]="firstName | controlError"
            id="firstName"
            type="text"
            formControlName="firstName"
            placeholder="Иван"
          ></app-input>
          <div *ngIf="firstName | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
        <fieldset *ngIf="profileForm.get('lastName') as lastName">
          <label for="lastName" class="field-label">Фамилия</label>
          <app-input
            [error]="lastName | controlError"
            id="lastName"
            type="text"
            formControlName="lastName"
            placeholder="Иванов"
          ></app-input>
          <div *ngIf="lastName | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <ng-container *ngIf="profileForm.get('userType') as userType">
          <fieldset *ngIf="userType.value !== 1">
            <label for="userType" class="field-label">Тип аккаунта</label>
            <app-select
              *ngIf="roles | async as options"
              id="userType"
              formControlName="userType"
              placeholder="Ученик"
              [options]="options"
            ></app-select>
            <div *ngIf="userType | controlError: 'required'" class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
          </fieldset>
        </ng-container>
        <fieldset *ngIf="profileForm.get('birthday') as birthday">
          <label for="birthday" class="field-label">Дата рождения</label>
          <app-input
            id="birthday"
            [error]="birthday | controlError"
            type="text"
            mask="00.00.0000"
            formControlName="birthday"
          ></app-input>
          <div *ngIf="birthday | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('city') as city">
          <label for="city" class="field-label">Город</label>
          <app-input
            id="city"
            [error]="city | controlError"
            type="text"
            placeholder="Откуда вы"
            formControlName="city"
          ></app-input>
          <div *ngIf="city | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('organization') as organization">
          <label for="organization" class="field-label">{{
            currentType.value === 1 ? "Место учебы" : "Место работы"
          }}</label>
          <app-input
            id="organization"
            [error]="organization | controlError"
            type="text"
            [placeholder]="
              currentType.value === 1 ? 'вуз / колледж / школа / организация' : 'Название компании'
            "
            formControlName="organization"
          ></app-input>
          <div *ngIf="organization | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('speciality') as speciality">
          <label for="speciality" class="field-label">Специальность</label>
          <app-input
            id="speciality"
            [error]="speciality | controlError"
            type="text"
            placeholder="Например: Java Developer"
            formControlName="speciality"
          ></app-input>
          <div *ngIf="speciality | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div
        *ngIf="[2, 3, 4].includes(currentType.value) && preferredIndustries"
        class="profile__row"
      >
        <div>
          <label class="field-label">Область экспертности</label>
          <ul class="tag-list">
            <li
              *ngFor="let industry of preferredIndustries.controls; index as i"
              class="tag-list__item"
            >
              <app-tag>
                <span>{{ industry.value }}</span>
                <i
                  class="tag-list__remove-icon"
                  appIcon
                  icon="basket"
                  appSquare="24"
                  (click)="removePreferredIndustry(i)"
                ></i>
              </app-tag>
            </li>
          </ul>
          <div class="tag-list-form">
            <app-input
              (enter)="addPreferredIndustry()"
              [(appValue)]="newPreferredIndustryTitle"
              class="tag-list-form__input"
              placeholder="Введите области вашей экспертности"
            ></app-input>
            <app-button
              type="button"
              class="tag-list-form__button"
              (click)="addPreferredIndustry()"
            >
              <i appIcon icon="check" appWidth="12" appHeight="10"></i>
            </app-button>
          </div>
        </div>
      </div>
      <div class="profile__row">
        <div>
          <label class="field-label">Ключевые навыки</label>
          <ul class="tag-list">
            <li *ngFor="let skill of keySkills.controls; index as i" class="tag-list__item">
              <app-tag>
                <span>{{ skill.value }}</span>
                <i
                  class="tag-list__remove-icon"
                  appIcon
                  icon="basket"
                  appSquare="24"
                  (click)="removeKeySkill(i)"
                ></i>
              </app-tag>
            </li>
          </ul>
          <div class="tag-list-form">
            <app-input
              (enter)="addKeySkill()"
              [(appValue)]="newKeySkillTitle"
              class="tag-list-form__input"
              placeholder="Введите свой навык, например: Python"
            ></app-input>
            <app-button type="button" class="tag-list-form__button" (click)="addKeySkill()">
              <i appIcon icon="check" appWidth="12" appHeight="10"></i>
            </app-button>
          </div>
        </div>
      </div>
      <div class="">
        <label class="field-label">Достижения</label>
        <ng-container formArrayName="achievements">
          <ul>
            <li
              *ngFor="let control of achievements.controls; index as i"
              class="profile__achievement"
            >
              <form [formGroupName]="i" class="achievement">
                <div class="achievement__first-row">
                  <fieldset *ngIf="achievements.at(i)?.get('title') as title">
                    <app-input
                      [error]="title | controlError"
                      placeholder="Название конкурса"
                      formControlName="title"
                    ></app-input>
                    <div *ngIf="title | controlError: 'required'" class="text-body-14 error">
                      {{ errorMessage.VALIDATION_REQUIRED }}
                    </div>
                  </fieldset>
                  <app-button
                    class="achievement__remove"
                    color="red"
                    (click)="removeAchievement(i)"
                  >
                    <span>Удалить</span>
                    <i appIcon icon="basket" appSquare="24"></i>
                  </app-button>
                </div>
                <fieldset *ngIf="achievements.at(i).get('status') as status">
                  <app-input
                    [error]="status | controlError"
                    placeholder="Занятое место"
                    formControlName="status"
                  ></app-input>
                  <div *ngIf="status | controlError: 'required'" class="text-body-14 error">
                    {{ errorMessage.VALIDATION_REQUIRED }}
                  </div>
                </fieldset>
              </form>
            </li>
          </ul>
        </ng-container>
        <app-button class="profile__add-achievement" (click)="addAchievement()">
          <span>Добавить новое достижение</span>
          <i appIcon icon="plus" appSquare="24"></i>
        </app-button>
      </div>
    </div>
    <div class="profile__column">
      <fieldset class="profile__avatar">
        <label for="avatar" class="field-label">Фотография профиля</label>
        <app-avatar-control id="avatar" formControlName="avatar"></app-avatar-control>
      </fieldset>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('aboutMe') as aboutMe">
          <label for="aboutMe" class="field-label">Обо мне</label>
          <app-textarea
            id="aboutMe"
            [error]="aboutMe | controlError"
            type="text"
            placeholder="Я java developer, очень люблю котиков"
            formControlName="aboutMe"
          ></app-textarea>
          <div *ngIf="aboutMe | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <fieldset *ngIf="[1, 3, 4].includes(currentType.value) && usefulToProject">
        <label for="usefulToProject" class="field-label">Чем могу быть полезен в проекте</label>
        <app-input
          [error]="usefulToProject | controlError"
          id="usefulToProject"
          type="text"
          [formControl]="usefulToProject"
        ></app-input>
        <div *ngIf="usefulToProject | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
      </fieldset>
      <app-button [loader]="profileFormSubmitting" class="profile__save" (click)="saveProfile()">
        Сохранить
      </app-button>
    </div>
  </form>
</main>
