<!-- @format -->

<main class="profile">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="profile__form">
    <div class="profile__column">
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('name') as name">
          <label for="name" class="field-label">Имя</label>
          <app-input
            [error]="name | controlError"
            id="name"
            type="text"
            formControlName="name"
            placeholder="Егор"
          ></app-input>
          <div *ngIf="name | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
        <fieldset *ngIf="profileForm.get('surname') as surname">
          <label for="surname" class="field-label">Фамилия</label>
          <app-input
            [error]="surname | controlError"
            id="surname"
            type="text"
            formControlName="surname"
            placeholder="Токарев"
          ></app-input>
          <div *ngIf="surname | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('status') as status">
          <label for="status" class="field-label">Тип аккаунта</label>
          <app-select
            id="status"
            formControlName="status"
            placeholder="Ученик"
            [options]="statusOptions"
          ></app-select>
          <div *ngIf="status | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
        <fieldset *ngIf="profileForm.get('birthday') as birthday">
          <label for="birthday" class="field-label">Дата рождения</label>
          <app-input
            id="birthday"
            [error]="birthday | controlError"
            type="text"
            mask="00.00.0000"
            formControlName="birthday"
          ></app-input>
          <div *ngIf="birthday | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('city') as city">
          <label for="city" class="field-label">Город</label>
          <app-input
            id="city"
            [error]="city | controlError"
            type="text"
            placeholder="Откуда вы"
            formControlName="city"
          ></app-input>
          <div *ngIf="city | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('organisation') as organisation">
          <label for="city" class="field-label">Место учебы</label>
          <app-input
            id="organisation"
            [error]="organisation | controlError"
            type="text"
            placeholder="ВУЗ / колледж / школа"
            formControlName="organisation"
          ></app-input>
          <div *ngIf="organisation | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <fieldset *ngIf="profileForm.get('speciality') as speciality">
          <label for="speciality" class="field-label">Специальность</label>
          <app-input
            id="speciality"
            [error]="speciality | controlError"
            type="text"
            placeholder="Например: Java Developer"
            formControlName="speciality"
          ></app-input>
          <div *ngIf="speciality | controlError: 'required'" class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
        </fieldset>
      </div>
      <div class="profile__row">
        <div>
          <label class="field-label">Ключевые навыки</label>
          <ul class="key-skills-list">
            <li *ngFor="let skill of keySkills.controls; index as i" class="key-skills-list__item">
              <app-tag>
                <span>{{ skill.value }}</span>
                <i
                  class="key-skills-list__remove-icon"
                  appIcon
                  icon="basket"
                  appSquare="24"
                  (click)="removeKeySkill(i)"
                ></i>
              </app-tag>
            </li>
          </ul>
          <div class="key-skill-form">
            <app-input
              (enter)="addKeySkill()"
              [(appValue)]="newKeySkillTitle"
              class="key-skill-form__input"
              placeholder="Введите свой навык, например: Python"
            ></app-input>
            <app-button type="button" class="key-skill-form__button" (click)="addKeySkill()">
              <i appIcon icon="check" appWidth="12" appHeight="10"></i>
            </app-button>
          </div>
        </div>
      </div>
      <div class="">
        <label class="field-label">Достижения</label>
        <ng-container formArrayName="achievements">
          <ul>
            <li
              *ngFor="let control of achievements.controls; index as i"
              class="profile__achievement"
            >
              <form [formGroupName]="i" class="achievement">
                <div class="achievement__first-row">
                  <fieldset *ngIf="achievements.at(i)?.get('title') as title">
                    <app-input
                      [error]="title | controlError"
                      placeholder="Название конкурса"
                      formControlName="title"
                    ></app-input>
                    <div *ngIf="title | controlError: 'required'" class="text-body-14 error">
                      {{ errorMessage.VALIDATION_REQUIRED }}
                    </div>
                  </fieldset>
                  <app-button
                    class="achievement__remove"
                    color="red"
                    (click)="removeAchievement(i)"
                  >
                    <span>Удалить</span>
                    <i appIcon icon="basket" appSquare="24"></i>
                  </app-button>
                </div>
                <fieldset *ngIf="achievements.at(i).get('place') as place">
                  <app-input
                    [error]="place | controlError"
                    placeholder="Занятое место"
                    formControlName="place"
                  ></app-input>
                  <div *ngIf="place | controlError: 'required'" class="text-body-14 error">
                    {{ errorMessage.VALIDATION_REQUIRED }}
                  </div>
                </fieldset>
              </form>
            </li>
          </ul>
        </ng-container>
        <app-button class="profile__add-achievement" (click)="addAchievement()">
          <span>Добавить новое достижение</span>
          <i appIcon icon="plus" appSquare="24"></i>
        </app-button>
      </div>
    </div>
    <div class="profile__column">
      <fieldset class="profile__avatar">
        <label for="photoAddress" class="field-label">Фотография профиля</label>
        <app-avatar-control id="photoAddress" formControlName="photoAddress"></app-avatar-control>
      </fieldset>
      <fieldset *ngIf="profileForm.get('aboutMe') as aboutMe">
        <label for="aboutMe" class="field-label">Обо мне</label>
        <app-textarea
          id="aboutMe"
          [error]="aboutMe | controlError"
          type="text"
          placeholder="Я java developer, очень люблю котиков и Хайдегера"
          formControlName="aboutMe"
        ></app-textarea>
        <div *ngIf="aboutMe | controlError: 'required'" class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
      </fieldset>
      <app-button [loader]="profileFormSubmitting" class="profile__save" (click)="saveProfile()">
        Сохранить
      </app-button>
    </div>
  </form>
</main>
