/** @format */

.profile {
  margin-bottom: 100px;

  &__form {
    display: flex;
    align-items: flex-start;
    padding: 24px;
    color: var(--black);
    background-color: var(--white);
    border-radius: var(--rounded-md);
  }

  &__column {
    flex-basis: 50%;

    &:first-child {
      margin-right: 50px;
    }
  }

  &__row {
    display: flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    > * {
      flex-basis: 50%;

      &:first-child:last-child {
        flex-basis: 100%;
      }
    }

    fieldset:first-child {
      margin-right: 10px;
    }
  }

  &__achievement {
    display: block;
    margin-bottom: 12px;
  }

  &__add-achievement {
    display: block;
  }

  &__save {
    display: block;
    margin-top: 20px;
  }
}

.achievement-form {
  &__input {
    display: block;
    margin-bottom: 12px;
  }
}


.key-skills-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    display: block;
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__remove-icon {
    color: var(--red);
    cursor: pointer;
  }
}

.key-skill-form {
  display: flex;

  &__input {
    flex-grow: 1;
    margin-right: 6px;
  }

  &__button {
    width: 52px;
  }
}

.achievement {
  &__first-row {
    display: flex;
    align-items: flex-start;
    margin-bottom: 12px;

    > :first-child {
      flex-grow: 1;
    }
  }

  &__remove {
    width: 155px;
    margin-left: 10px;
  }
}
