<!-- @format -->

<header class="header">
  <div class="header__inner">
    <img src="/assets/images/shared/logo.svg" alt="procollab" />
    <div class="header__right">
      <div class="header__bell">
        <div *ngIf="hasNotifications | async"></div>
        <i appIcon icon="bell" appWidth="20" appHeight="23" appViewBox="0 0 20 22"></i>
      </div>
      <div class="header__separator"></div>
      <a
        *ngIf="authService.profile | async as user"
        class="header__user"
        [routerLink]="['/office/profile', user.id]"
      >
        <app-avatar class="header__user-avatar"></app-avatar>
        <div>
          <div class="text-bold-body-14 header__user-name">
            {{ user.name }}
          </div>
          <div class="text-body-14 header__user-email">{{ user.email }}</div>
        </div>
      </a>
    </div>
  </div>
</header>
