@use "styles/responsive";
@use "styles/typography";

.exclude {
  display: flex;
  flex-direction: row;
  gap: 20px;

  &__answer {
    color: var(--grey-for-text);
  }

  &__text {
    margin: 23px 0px;

    &--hasVideo {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;

      iframe {
        border-radius: var(--rounded-lg);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 14px;

    &--success {
      ::ng-deep {
        app-checkbox {
          .field--checked {
            background-color: var(--green) !important;
            border-color: var(--green) !important;
          }
        }
      }
    }

    &--error {
      ::ng-deep {
        app-checkbox {
          .field--checked {
            background-color: var(--red) !important;
            border-color: var(--red) !important;
          }
        }
      }
    }

    label {
      cursor: pointer;
    }
  }

  &__body, &__content {
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
    flex-grow: 1;
    min-height: 358px;
  }

  &__content {
    min-width: 333px;
  }

  :host ::ng-deep &__hint p {
    margin-top: 20px;

    @include typography.body-14;
  }
}
