<!-- @format -->

@if (data | async; as routeData) {
  <div class="skill">
    <section class="skill__info skill__block info" [ngStyle]="{ height: blockHeight() + 'px' }">
      <h2 class="info__title skill__title">{{ routeData[1].skillName }}</h2>
      <img class="info__img" [src]="routeData[1].file" alt="" />
      <p class="info__text">{{ routeData[1].description }}</p>
      <div class="info__level">{{ routeData[1].level }} уровень</div>
    </section>
    <section
      class="skill__progress skill__block progress"
      [ngStyle]="{ height: blockHeight() + 'px' }"
    >
      <h2 class="progress__title skill__title">Ваш прогресс</h2>
      <app-circle-progress-bar
        class="progress__bar"
        [progress]="routeData[0].progress"
      ></app-circle-progress-bar>
      <div class="progress__list">
        @for (t of routeData[0].tasks; track $index) {
          <app-task-card [task]="t" (click)="router.navigate(['/task', t.id])"></app-task-card>
        }
      </div>
    </section>
  </div>
}
