<!-- @format -->

@if (data(); as routeData) {
<div class="skill">
  <section class="skill__info skill__block info" [ngStyle]="{ height: blockHeight() + 'px' }">
    <h2 class="info__title skill__title">{{ routeData[1].name }}</h2>
    <img class="info__img" [src]="routeData[1].fileLink" alt="" />
    <p class="info__text">{{ routeData[1].description }}</p>
    <div class="info__level">{{ routeData[1].quantityOfLevels }} уровень</div>
  </section>
  <section
    class="skill__progress skill__block progress"
    [ngStyle]="{ height: blockHeight() + 'px' }"
  >
    <h2 class="progress__title skill__title">Ваш прогресс</h2>
    <app-circle-progress-bar
      class="progress__bar"
      [progress]="routeData[0].progress"
    ></app-circle-progress-bar>
    @if (doneWeeks().length) {
    <div class="week-stat skill__week text-body-bold-18">
      Неделя {{ doneWeeks()[doneWeeks().length - 1].week }}
      <span
        class="week-stat__passed"
        [class.week-stat__passed]="doneWeeks()[doneWeeks().length - 1].doneOnTime"
      >
        {{
          doneWeeks()[doneWeeks().length - 1].doneOnTime
            ? "пройдена вовремя"
            : "Пройдена не вовремя"
        }}
      </span>
    </div>
    }
    <div class="progress__list">
      @for (t of tasksData()?.tasks; track $index) {
      <app-task-card
        [task]="t"
        [status]="routeData[0].statsOfWeeks[$index]"
        (click)="router.navigate(['/task', t.id])"
      ></app-task-card>
      }
    </div>
  </section>
</div>
}
