@use "styles/responsive";

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__feed {
    column-count: 2;
    column-gap: 20px;
  }

  &__item {
    break-inside: avoid;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
}
