<!-- @format -->

<div class="page">
  <app-feed-filter class="page__filter"></app-feed-filter>
  <div #feedRoot class="page__feed">
    @for (item of feedItems(); track item.content.id) { @if (item.typeModel === "vacancy") {
    <app-open-vacancy
      class="page__item"
      [attr.data-id]="item.content.id"
      [feedItem]="item.content"
    ></app-open-vacancy>
    } @else if (item.typeModel === "project") {
    <app-new-project
      class="page__item"
      [attr.data-id]="item.content.id"
      [feedItem]="item.content"
    ></app-new-project>
    } @else if (item.typeModel === "news") { @if (item.content.contentObject &&
    item.content.contentObject.hasOwnProperty("email")) {
    <app-news-card
      class="page__item"
      [attr.data-id]="item.content.id"
      [feedItem]="item.content"
      [contentId]="item.content.contentObject.id"
      [resourceLink]="['/office/profile', item.content.contentObject.id]"
      (like)="onLike($event)"
    ></app-news-card>
    } @else if ( item.content.contentObject && !item.content.contentObject.hasOwnProperty("email") )
    {
    <app-news-card
      class="page__item"
      [attr.data-id]="item.content.id"
      [feedItem]="item.content"
      [contentId]="item.content.contentObject.id"
      [resourceLink]="['/office/projects', item.content.contentObject.id]"
      (like)="onLike($event)"
    ></app-news-card>
    } } }
  </div>
</div>
