<!-- @format -->

<app-modal [(open)]="modalService.confirmState">
  @if (settings$ | async; as settings) {
  <div class="confirm">
    <i class="confirm__icon" appIcon icon="basket" appSquare="60"></i>
    <p class="confirm__main-text text-body-14">{{ settings.mainText }}</p>
    <p class="confirm__sub-text text-body-12">{{ settings.subText }}</p>
    <app-button class="confirm__cancel" appearance="outline" size="big" (click)="onResult(false)">
      отменить
    </app-button>
    <app-button class="confirm__approve" color="red" size="big" (click)="onResult(true)"
      >удалить</app-button
    >
  </div>
  }
</app-modal>
