<!-- @format -->
<div>
  @switch (type) { @case ('wave') {
  <div
    class="dot-wave"
    [style]="
      '--speed:' + speed + ';' + '--size:' + size + ';' + '--color:' + 'var(--' + color + ');'
    "
  >
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
    <div class="dot-wave__dot"></div>
  </div>
  } @case ('circle') {
  <div class="lds-ring" [style]="'--size:' + size + ';' + '--color:' + 'var(--' + color + ');'">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  }}
</div>
