/** @format */

@use "sass:color";

:root {
  // UI
  --accent: #6043bf;
  --accent-hover: #3a2876;
  --secondary: #00c893;

  // GRAY
  --gray-100: #fff;

  // BLUE
  --blue-dark: #272d62;

  // BG
  --bg-main: #16171a;
}
