@use "sass:color";

:root {
  // UI
  --accent: #6043BF;
  --accent-hover: #3A2876;
  --secondary: #00C893;

  // GRAY
  --gray-100: #fff;


  // BLUE
  --blue-dark: #272D62;

  // BG
  --bg-main: #16171A;
}
