/** @format */

@import "typography";

/** @format */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-y: hidden;
}

ul,
li,
ol {
  list-style-type: none;
}

fieldset {
  border: none;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-hover);
  }
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

label.field-label {
  display: block;
  margin-bottom: 6px;
  color: var(--black);

  @include body-14;
}


.error {
  display: block;
  margin-top: 6px;
  color: var(--red);
}
