/** @format */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li,
ol {
  list-style-type: none;
}

fieldset {
  border: none;
  outline: none;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-hover);
  }
}
