<!-- @format -->

<!-- {
  link: '/office/program/my',
  linkText: 'Мои программы',
  isRouterLinkActiveOptions: true,
 
}, -->

<main class="page">
  <div class="page__bar">
    <app-bar
      [backHave]="true"
      [links]="[
            {
              link: '/office/program/all',
              linkText: 'Все программы',
              isRouterLinkActiveOptions: false,
             
            },
          ]"
    >
      <div class="bar__right">
        <!-- @if (isAll) { -->
        <form [formGroup]="searchForm">
          <app-search formControlName="search"></app-search>
        </form>
        <!-- } -->
      </div>
    </app-bar>
  </div>

  <router-outlet></router-outlet>
</main>
