.contact-link {
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }

  &__link {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-xxl);
  }
}
