/** @format */

.confirm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 310px;

  &__icon {
    margin-bottom: 18px;
    color: var(--red);
  }

  &__main-text {
    margin-bottom: 18px;
    color: var(--black);
    text-align: center;
  }

  &__sub-text {
    max-height: 84px;
    margin-bottom: 18px;
    overflow-y: hidden;
    color: var(--dark-grey);
    text-align: center;
  }

  &__cancel {
    width: 100%;
    margin-bottom: 18px;
  }

  &__approve {
    width: 100%;
  }
}
