/** @format */

.control {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 120px;
  padding: 18px 30px;
  cursor: pointer;
  border: 1px solid var(--dark-grey);
  border-radius: var(--rounded-md);

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  &__success {
    display: flex;
    flex: 1;
    gap: 10px;
    align-items: center;
    align-self: stretch;
    justify-content: center;
  }

  &--error {
    border: 2px solid var(--red);
  }

  &:hover {
    border: 1px solid var(--gray);
  }
}

.file {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: var(--rounded-lg);

  &__title {
    // width: 80%;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__basket {
    align-self: flex-end;
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--red-dark);
    }
  }
}
