<!-- @format -->

<div class="sidebar">
  <a class="sidebar__logo" routerLink="/office">
    <img src="/assets/images/shared/logo.svg" alt="procollab" />
  </a>
  <nav class="sidebar-nav sidebar__nav">
    <div class="sidebar-nav__list" (mouseenter)="showBar = true" (mouseleave)="showBar = false">
      <div
        class="sidebar-nav__bar"
        [style.opacity]="showBar ? 1 : 0"
        [style.top]="barPosition * 55 + 'px'"
      ></div>
      <a
        class="sidebar-nav__item text-body-14"
        routerLink="projects"
        (mouseenter)="barPosition = 0"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="projects" appSquare="24"></i>
        Проекты
      </a>
      <a
        class="sidebar-nav__item text-body-14"
        routerLink="program/list"
        (mouseenter)="barPosition = 1"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="projects" appSquare="24"></i>
        Программы
      </a>
      <a
        class="sidebar-nav__item text-body-14"
        routerLink="members"
        (mouseenter)="barPosition = 2"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="people" appSquare="24"></i>
        Участники
      </a>
      <a
        class="sidebar-nav__item text-body-14"
        routerLink="mentors"
        (mouseenter)="barPosition = 3"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="people" appSquare="24"></i>
        Эксперты
      </a>
    </div>
  </nav>
  <div (clickOutside)="onClickOutside()" class="sidebar__bell">
    <div class="attention" *ngIf="(showBall | async) || hasInvites"></div>
    <i
      appIcon
      icon="bell"
      appWidth="20"
      appHeight="23"
      appViewBox="0 0 20 22"
      (click)="showNotifications = true"
    ></i>
    <div *ngIf="showNotifications" class="sidebar__notifications notifications">
      <h3 class="text-bold-body-16 notifications__title">Уведомления</h3>
      <ul class="notifications__invites">
        <li *ngFor="let invite of invites" class="notifications__invite">
          <app-invite-manage-card
            [invite]="invite"
            (accept)="onAcceptInvite($event)"
            (reject)="onRejectInvite($event)"
          ></app-invite-manage-card>
        </li>
      </ul>
    </div>
  </div>
  <app-profile-info
    class="sidebar__profile"
    *ngIf="authService.profile | async as user"
    [user]="user"
  ></app-profile-info>
</div>
