.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: var(--white);
  border-radius: 0 15px 15px 0;

  &__logo {
    display: block;
    padding-left: 45px;
    margin-bottom: 100px;
  }

  &__nav {
    width: 100%;
  }

  &__bell {
    position: relative;
    width: 20px;
    margin: auto 0 40px 40px;
    cursor: pointer;

    > .attention {
      position: absolute;
      top: 0;
      right: 0;
      width: 7px;
      height: 7px;
      background-color: var(--red);
      border-radius: 50%;
    }
  }

  &__notifications {
    position: absolute;
    right: 100%;
    z-index: 20;
    width: 380px;
    max-height: 600px;
    transform: translate(100%, -100%);
  }

  &__profile {
    display: block;
    margin-left: 15px;
  }
}

.sidebar-nav {
  &__link {
    display: block;
    color: var(--dark-grey);
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 45px;
  }

  &__bar {
    position: absolute;
    right: 0;
    width: 3px;
    height: 35px;
    background-color: var(--accent);
    border-radius: 3px 0 0 3px;
    transition: all 0.2s;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    padding-bottom: 20px;
    color: var(--grey-for-text);
    cursor: pointer;

    i {
      margin-right: 12px;
    }

    &:not(.sidebar-nav__item--active):hover {
      color: var(--black);
    }

    &--active {
      color: var(--accent);
    }
  }
}

.notifications {
  padding: 20px;
  background-color: var(--white);
  border-radius: var(--rounded-md);
  box-shadow: 5px 5px 50px rgb(196 196 196 / 15%);

  &__title {
    margin-bottom: 18px;
    color: var(--black);
  }

  &__invite {
    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid var(--gray);
    }
  }
}
