<!-- @format -->

<div class="sidebar">
  <a class="sidebar__logo" routerLink="/office">
    <img src="/assets/images/shared/logo.svg" alt="procollab" />
  </a>
  <nav class="sidebar-nav sidebar__nav">
    <div class="sidebar-nav__list">
      <a
        class="sidebar-nav__item"
        routerLink="projects"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="projects" appSquare="24"></i>
        Проекты
      </a>
      <a
        class="sidebar-nav__item"
        routerLink="members"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="people" appSquare="24"></i>
        Участники
      </a>
      <a
        class="sidebar-nav__item"
        routerLink="mentors"
        routerLinkActive="sidebar-nav__item&#45;&#45;active"
      >
        <i appIcon icon="people" appSquare="24"></i>
        Менторы
      </a>
    </div>
  </nav>
</div>
