<!-- @format -->

<main class="auth verification">
  <img
    class="auth__logo"
    src="/assets/images/shared/logo.svg"
    alt="procollab"
    loading="lazy"
    decoding="async"
  />
  <div class="verification__inner">
    <div class="verification__body">
      <div class="auth__greeting">
        <h3 class="auth__title">Мы отправили ссылку подтверждения</h3>
        <p class="auth__info">
          Для продолжения регистрации и заполнения резюме подтверди свою почту, для этого мы
          отправили тебе письмо со ссылкой подтверждения
        </p>
      </div>
      @if (counter() > 0) {
      <div class="verification__text">Письмо отправлено, отправить еще раз через {{ counter }}</div>
      } @else {
      <div class="verification__action">
        <p class="text-body-14 verification__text">Не получил письмо? Проверь папку спам или</p>
        <button class="verification__send-again text-body-14" (click)="onResend()">
          отправь снова <i appIcon icon="reload" appSquare="17"></i>
        </button>
      </div>
      }
    </div>
    <img
      class="verification__img"
      src="/assets/images/auth/email.svg"
      alt="email"
      loading="lazy"
      decoding="async"
    />
  </div>
</main>
