/** @format */

@use "styles/responsive";
@use "styles/typography";

.verification {
  &__send-again {
    display: flex;
    align-items: center;
    color: var(--accent);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include responsive.apply-desktop {
      flex-direction: row;
    }
  }

  &__img {
    position: fixed;
    top: 8%;
    right: 0%;
    bottom: 0%;
    left: -33%;
    min-width: 500px;

    @include responsive.apply-desktop {
      bottom: 0%;
      left: 30%;
      min-width: 852px;
    }
  }

  &__action {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    max-width: 185px;
    color: var(--dark-grey);
  }
}
