<!-- @format -->

<div
  class="message"
  (contextmenu)="onOpenContextmenu($event)"
  (clickOutside)="onCloseContextmenu()"
  clickOutsideEvents="contextmenu"
>
  <div class="message__inner">
    <app-avatar class="message__avatar" [url]="chatMessage.sender.avatar"></app-avatar>
    <div class="message__info">
      <div class="message__top">
        <div class="message__name text-bold-body-16">
          {{ chatMessage.sender.firstName }} {{ chatMessage.sender.lastName }}
        </div>
        <div class="message__time text-body-14">
          {{ chatMessage.time | dayjs: "format":"hh:mm" }}
        </div>
      </div>
      <!-- <ul class="message__files">
        <li class="message__file" *ngFor="let file of chatMessage.files">
          <app-file-item
            [name]="file.fileName"
            [type]="file.fileType"
            [size]="file.fileSize"
          ></app-file-item>
        </li>
      </ul>-->
      <div class="message__content text-body-14">{{ chatMessage.content }}</div>
    </div>
  </div>
  <div
    class="message__menu-dots"
    (click)="onOpenContextmenu($event)"
    (clickOutside)="onCloseContextmenu()"
  >
    <i appIcon icon="dots" appWidth="4" appHeight="16" appViewBox="0 0 4 16"></i>
  </div>
</div>
<ng-template #contextMenu>
  <ul class="message__contextmenu contextmenu">
    <li class="contextmenu__item text-body-14" (click)="onCopyContent($event)">Скопировать</li>
    <li class="contextmenu__item text-body-14" (click)="onReply($event)">Ответить</li>
    <li class="contextmenu__item text-body-14" (click)="onEdit($event)">Редактировать</li>
    <li class="contextmenu__item contextmenu__item--red text-body-14" (click)="onDelete($event)">
      Удалить
    </li>
  </ul>
</ng-template>
