/** @format */

.message {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 5px 10px 20px;

  &--active {
    background-color: var(--accent-light);

    .message__menu-dots {
      background-color: var(--white);
    }
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    max-width: 90%;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }

  &__time {
    color: var(--dark-gray);
  }

  &__avatar {
    margin-right: 15px;
  }

  &__content {
    color: var(--dark-gray);
  }

  &__name {
    color: var(--black);
    margin-right: 15px;
  }

  &__menu-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: var(--dark-gray);
    border-radius: var(--rounded-md);
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--light-gray-1);
    }
  }

  &__contextmenu {
    position: absolute;
    z-index: 10;
  }
}

.contextmenu {
  padding: 6px;
  box-shadow: 5px 5px 25px rgba(159, 159, 159, 0.15);
  background-color: var(--white);
  border-radius: var(--rounded-lg);

  &__item {
    padding: 6px 18px;
    cursor: pointer;
    color: var(--dark);

    &--red {
      color: var(--red);
    }
  }
}
