<!-- @format -->

<div class="nav">
  <div class="nav__inner">
    <h1 class="text-heading-1 nav__title">{{ navService.navTitle }}</h1>
    <div>
      <i
        class="nav__toggle"
        appIcon
        [icon]="mobileMenuOpen ? 'menu-cross' : 'menu-burger'"
        appSquare="40"
        (click)="mobileMenuOpen = !mobileMenuOpen"
      ></i>
      <div
        class="attention"
        *ngIf="(notificationService.hasNotifications | async) || hasInvites"
      ></div>
    </div>
  </div>
  <div *ngIf="mobileMenuOpen" class="nav__mobile-menu">
    <a class="nav__mobile-logo" href="https://procollab.ru/" target="_blank">
      <img src="/assets/images/shared/logo.svg" alt="procollab" width="125px" />
    </a>
    <nav class="nav nav--vertical">
      <ul class="nav__list">
        <a class="nav__link" routerLink="projects" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="projects" appSquare="24"></i>
            Проекты
          </li>
        </a>
        <a class="nav__link" routerLink="members" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="people" appSquare="24"></i>
            Участники
          </li>
        </a>
        <a class="nav__link" routerLink="mentors" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="people" appSquare="24"></i>
            Менторы
          </li>
        </a>
      </ul>
    </nav>
    <a
      class="user nav__user"
      *ngIf="authService.profile | async as user"
      [routerLink]="['/office/profile', user.id]"
    >
      <app-avatar class="user__avatar" [url]="user.avatar"></app-avatar>
      <div>
        <div class="text-bold-body-14 user__name">{{ user.firstName }} {{ user.lastName }}</div>
        <div class="text-body-14 user__email">{{ user.email }}</div>
      </div>
    </a>
  </div>
</div>
