<!-- @format -->

<div class="nav">
  <div class="nav__inner">
    <h1 class="text-heading-1 nav__title">{{ navService.navTitle }}</h1>
    <nav>
      <ul class="nav__list">
        <a class="nav__link" routerLink="projects" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="projects" appSquare="24"></i>
            Проекты
          </li>
        </a>
        <a class="nav__link" routerLink="people" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="people" appSquare="24"></i>
            Участники
          </li>
        </a>
        <a class="nav__link" routerLink="chat" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="message" appSquare="24"></i>
            Чат
          </li>
        </a>
        <a class="nav__link" routerLink="news" routerLinkActive="nav__link--active">
          <li class="text-body-14 nav__item">
            <i appIcon icon="file" appSquare="24"></i>
            Новости
          </li>
        </a>
      </ul>
    </nav>
  </div>
</div>
