/** @format */

@use "src/styles/responsive";
@use "src/styles/typography";

.nav {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: responsive.$container-md;
    padding: 20px 15px;
    margin: 0 auto;

    @include responsive.apply-desktop {
      padding: 20px 0;
    }
  }

  &__toggle {
    position: relative;
    z-index: 10;
    display: block;
    cursor: pointer;

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__title {
    color: var(--black);
    @include typography.heading-3;

    @include responsive.apply-desktop {
      @include typography.heading-1;
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 85px 15px 0;
    background-color: var(--white);
  }

  &__mobile-logo {
    display: block;
    margin-bottom: 105px;
  }
}
