/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  &__inner {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--additional {
      display: flex;
      gap: 20px;
      align-items: center;

      fieldset {
        flex-basis: 50%;
      }
    }
  }

  &__problem,
  &__description {
    margin-bottom: 12px;
  }

  &__form {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: var(--rounded-md);
  }

  &__image {
    display: block;
    margin-bottom: 20px;

    .error {
      margin-top: 15px;
    }
  }

  &__file {
    min-width: 0;
  }

  &__slides-title {
    max-width: 320px;
    margin-top: 12px;
    color: var(--black);
    text-align: center;
  }

  &__slides-text {
    max-width: 275px;
    margin-top: 12px;
    color: var(--black);
    text-align: center;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &__slides-error {
    margin-top: 12px;
    color: var(--red);
  }

  &__slides-open-file {
    color: var(--accent);
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

  &__links {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;

    &--wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;
      margin-bottom: 15px;
    }

    li {
      display: flex;
      align-items: center;

      form {
        display: flex;
        align-items: center;
        width: 100%;

        fieldset {
          width: 100%;
          margin: 0;
        }
      }
    }

    &--remove {
      margin-top: 15px;
    }
  }

  &__invite {
    margin-top: 40px;
  }
}

.error {
  i {
    color: var(--red) !important;
  }
  color: var(--red) !important;
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  max-width: 100%;
  max-height: calc(100vh - 40px);
  padding: 40px 0 80px;
  overflow-y: auto;

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
  }

  &__button {
    margin-top: 20px;
  }
}

.invite {
  &__item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 12px;

    &--info {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }

  &__team {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: space-between;

    &--scrollable {
      max-height: 180px;
      overflow-y: auto;
    }
  }
}
