<!-- @format -->

<div class="project__inner" [formGroup]="projectForm">
  <div class="project__info">
    <div class="project__grid" style="grid-template-columns: 0.1fr 1fr 1fr 0.15fr">
      @if (imageAddress; as imageAddress) {
      <div class="project__image">
        <label class="field-label text-body-12" style="text-align: center" for="name"
          >Логотип</label
        >
        <app-avatar-control
          id="imageAddress"
          [size]="68"
          formControlName="imageAddress"
          type="project"
          [error]="(imageAddress | controlError) && projSubmitInitiated"
        ></app-avatar-control>
        @if ((imageAddress | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.EMPTY_AVATAR }}
        </div>
        }
      </div>
      } @if (presentationAddress; as presentationAddress) {
      <fieldset class="project__file">
        <label class="field-label text-body-12" style="text-align: center" for="name"
          >Презентация</label
        >
        <app-upload-file
          formControlName="presentationAddress"
          accept=".pdf,.pptx"
          [error]="presentationAddress | controlError"
        >
          <ng-container emptyPlaceholder>
            <i appIcon icon="file" appSquare="16"></i>
            <p class="text-body-12 project__slides-text">
              Презентации формата .PDF<br />
              или .PPTX весом до 50МБ
            </p>
            @if (presentationAddress | controlError: "required") {
            <p class="project__slides-error text-body-10">Загрузите файл</p>
            }
          </ng-container>
        </app-upload-file>
      </fieldset>
      } @if (coverImageAddress; as coverImageAddress) {
      <fieldset class="project__file">
        <label class="field-label text-body-12" for="name" style="text-align: center"
          >Обложка</label
        >
        <app-upload-file
          formControlName="coverImageAddress"
          accept=".jpg,.png,.jpeg"
          [error]="coverImageAddress | controlError"
        >
          <ng-container emptyPlaceholder>
            <i appIcon icon="file" appSquare="16"></i>
            <p class="text-body-12 project__slides-text">
              Презентации формата .jpg, .jpeg, .png
              <br />Размер изображения 1280 x 230
            </p>
            @if (coverImageAddress | controlError: "required") {
            <p class="project__slides-error text-body-10">Загрузите файл</p>
            }
          </ng-container>
        </app-upload-file>
      </fieldset>
      } @if (trl; as trl) {
      <fieldset>
        <app-select
          id="trl"
          formControlName="trl"
          placeholder="TRL"
          [options]="trlList"
        ></app-select>
        @if (trl | controlError: "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>

    <div class="project__grid" style="grid-template-columns: 1fr 1fr 1fr 0.2fr">
      @if (name; as name) {
      <fieldset>
        <label class="field-label text-body-12" for="name">Название</label>
        <app-input
          size="big"
          id="name"
          formControlName="name"
          [error]="(name | controlError) && projSubmitInitiated"
          placeholder="Название"
        ></app-input>
        @if ((name | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (region; as region) {
      <fieldset>
        <label class="field-label text-body-12" for="region">Регион</label>
        <app-input
          size="big"
          id="region"
          formControlName="region"
          [error]="(region | controlError) && projSubmitInitiated"
          placeholder="Введите регион"
        ></app-input>
        @if ((region | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (industry; as industry) {
      <fieldset>
        <label class="field-label text-body-12" for="industry">Сфера</label>
        @if (industries$ | async; as industries) {
        <app-select
          size="big"
          id="industry"
          formControlName="industryId"
          placeholder="Выберите сферу к которой относится ваш проект"
          [options]="industries"
        ></app-select>
        } @if (industry | controlError: "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (implementationDeadline; as implementationDeadline) {
      <fieldset>
        <label
          class="field-label text-body-12"
          for="implementationDeadline"
          style="text-align: center"
          >Дата</label
        >
        <app-input
          size="small"
          id="implementationDeadline"
          type="date"
          formControlName="implementationDeadline"
          [error]="(implementationDeadline | controlError) && projSubmitInitiated"
          placeholder="25.01.25"
        ></app-input>
        @if ((implementationDeadline | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>
  </div>

  @if (problem; as problem) {
  <fieldset class="project__problem">
    <label class="field-label text-body-12" for="problem">Проблема, которую решает проект</label>
    <app-input
      size="big"
      id="problem"
      formControlName="problem"
      [error]="(problem | controlError) && projSubmitInitiated"
      placeholder="Улучшить качество жизни студентов"
    ></app-input>
    @if ((problem | controlError: "required") && projSubmitInitiated) {
    <div class="text-body-10 error">
      {{ errorMessage.VALIDATION_REQUIRED }}
    </div>
    }
  </fieldset>
  } @if (description; as description) {
  <fieldset class="project__description">
    <label for="description" class="field-label text-body-12">Информация</label>
    <app-textarea
      size="big"
      id="description"
      [error]="(description | controlError) && projSubmitInitiated"
      formControlName="description"
      placeholder="Проект начал свое существование с 2020 года"
    ></app-textarea>
    @if ((description | controlError: "required") && projSubmitInitiated) {
    <div class="text-body-10 error">
      {{ errorMessage.VALIDATION_REQUIRED }}
    </div>
    }
  </fieldset>
  }

  <div class="project__info--additional">
    @if (actuality; as actuality) {
    <fieldset>
      <label class="field-label text-body-12" for="actuality">Актуальность</label>
      <app-textarea
        size="big"
        id="actuality"
        formControlName="actuality"
        [error]="actuality | controlError"
        placeholder="Указом президента от 03.07.2023 "
      ></app-textarea>
      @if ((actuality | controlError: "required")) {
      <div class="text-body-10 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    } @if (targetAudience; as targetAudience) {
    <fieldset>
      <label class="field-label text-body-12" for="actuality">Целевая аудтория</label>
      <app-textarea
        size="big"
        id="targetAudience"
        formControlName="targetAudience"
        placeholder="30% потери времени студентов во время работы"
      ></app-textarea>
      @if ((targetAudience | controlError: "required")) {
      <div class="text-body-10 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    }
  </div>

  <div class="project__options">
    <!-- @if (!isProjectBoundToProgram) { @if (authService.profile | async; as profile) { @if (profile.id
    == leaderId) { @if (programTagsOptions.length) {
    <fieldset class="project__tags" style="margin-top: -10px">
      <label for="program_tag" class="field-label">Выбор тега</label>
      <app-select
        id="program_tag"
        [options]="programTagsOptions"
        placeholder="Выберите программу, в которой участвуете"
        formControlName="partnerProgramId"
      ></app-select>
    </fieldset>

    <app-button size="big" (click)="onAssignToProgram()" customTypographyClass="text-body-12">
      Привязать проект к программе
    </app-button>
    } } } } -->

    <app-button size="big" appearance="outline" customTypographyClass="text-body-12">
      <span>Добавить краткосрочную цель проекта</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>

    <app-button size="big" appearance="outline" customTypographyClass="text-body-12">
      <span>Добавить ссылку на контакты и сообщества</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>
  </div>
</div>
