<!-- @format -->

<div class="project__inner" [formGroup]="projectForm">
  <div class="project__info">
    <div class="project__grid" style="grid-template-columns: 0.1fr 1fr 1fr 0.15fr">
      @if (imageAddress; as imageAddress) {
      <div class="project__image">
        <label class="field-label text-body-12" style="text-align: center" for="name"
          >логотип</label
        >
        <app-avatar-control
          id="imageAddress"
          [haveHint]="true"
          [tooltipText]="
            'Загрузите логотип проекта, отражающий вашу индивидуальность. Разместите его в центре круга.'
          "
          [tooltipPosition]="'right'"
          [tooltipWidth]="300"
          [size]="68"
          formControlName="imageAddress"
          type="project"
          [error]="(imageAddress | controlError) && projSubmitInitiated"
        ></app-avatar-control>
        @if ((imageAddress | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.EMPTY_AVATAR }}
        </div>
        }
      </div>
      } @if (presentationAddress; as presentationAddress) {
      <fieldset class="project__file">
        <label class="field-label text-body-12" style="text-align: center" for="name"
          >презентация</label
        >
        <app-upload-file
          formControlName="presentationAddress"
          accept=".pdf,.pptx"
          [error]="presentationAddress | controlError"
        >
          <ng-container emptyPlaceholder>
            <i appIcon icon="file" appSquare="16"></i>
            <p class="text-body-12 project__slides-text">
              Презентации формата .PDF<br />
              или .PPTX весом до 50МБ
            </p>
            @if (presentationAddress | controlError: "required") {
            <p class="project__slides-error text-body-10">Загрузите файл</p>
            }
          </ng-container>
        </app-upload-file>
      </fieldset>
      } @if (coverImageAddress; as coverImageAddress) {
      <fieldset class="project__file">
        <label class="field-label text-body-12" for="name" style="text-align: center"
          >обложка</label
        >
        <app-upload-file
          formControlName="coverImageAddress"
          accept=".jpg,.png,.jpeg"
          [error]="coverImageAddress | controlError"
        >
          <ng-container emptyPlaceholder>
            <i appIcon icon="file" appSquare="16"></i>
            <p class="text-body-12 project__slides-text">
              Презентации формата .jpg, .jpeg, .png
              <br />Размер изображения 1280 x 230
            </p>
            @if (coverImageAddress | controlError: "required") {
            <p class="project__slides-error text-body-10">Загрузите файл</p>
            }
          </ng-container>
        </app-upload-file>
      </fieldset>
      } @if (trl; as trl) {
      <fieldset>
        <app-select
          size="small"
          id="trl"
          formControlName="trl"
          placeholder="TRL"
          [options]="trlList"
        ></app-select>
        @if (trl | controlError: "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>

    <div class="project__grid" style="grid-template-columns: 1fr 1fr 1fr 0.2fr">
      @if (name; as name) {
      <fieldset>
        <label class="field-label text-body-12" for="name">название</label>
        <app-input
          size="big"
          id="name"
          formControlName="name"
          [error]="(name | controlError) || projSubmitInitiated"
          placeholder="название"
        ></app-input>
        @if ((name | controlError: "required") || projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (region; as region) {
      <fieldset>
        <label class="field-label text-body-12" for="region">регион</label>
        <app-input
          size="big"
          id="region"
          formControlName="region"
          [error]="(region | controlError) || projSubmitInitiated"
          placeholder="введите регион"
        ></app-input>
        @if ((region | controlError: "required") || projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (industry; as industry) {
      <fieldset>
        <label class="field-label text-body-12" for="industry">сфера</label>
        @if (industries$ | async; as industries) {
        <app-select
          size="big"
          id="industry"
          formControlName="industryId"
          placeholder="выберите сферу к которой относится ваш проект"
          [options]="industries"
        ></app-select>
        } @if (industry | controlError: "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (implementationDeadline; as implementationDeadline) {
      <fieldset>
        <label
          class="field-label text-body-12"
          for="implementationDeadline"
          style="text-align: center"
          >дата</label
        >
        <app-input
          size="small"
          id="implementationDeadline"
          [haveHint]="true"
          [tooltipText]="
            'Расскажи, до какого времени будет реализовываться проект. Если проект бессрочный, поставь на 5 лет вперед :)'
          "
          [tooltipPosition]="'left'"
          [tooltipWidth]="300"
          type="date"
          formControlName="implementationDeadline"
          [error]="(implementationDeadline | controlError) && projSubmitInitiated"
          placeholder="25.01.25"
        ></app-input>
        @if ((implementationDeadline | controlError: "required") && projSubmitInitiated) {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>
  </div>

  @if (problem; as problem) {
  <fieldset class="project__problem">
    <label class="field-label text-body-12" for="problem">проблема, которую решает проект</label>
    <app-input
      size="big"
      id="problem"
      formControlName="problem"
      [error]="(problem | controlError) || projSubmitInitiated"
      placeholder="улучшить качество жизни студентов"
    ></app-input>
    @if ((problem | controlError: "required") || projSubmitInitiated) {
    <div class="text-body-10 error">
      {{ errorMessage.VALIDATION_REQUIRED }}
    </div>
    }
  </fieldset>
  } @if (description; as description) {
  <fieldset class="project__description">
    <label for="description" class="field-label text-body-12">информация</label>
    <app-textarea
      size="big"
      id="description"
      [haveHint]="true"
      [tooltipText]="
        'Расскажи основную информацию о своем проекте. Про что твой проект, история твоего проекта, как он появился'
      "
      [tooltipPosition]="'left'"
      [tooltipWidth]="350"
      [error]="(description | controlError) || projSubmitInitiated"
      formControlName="description"
      placeholder="проект начал свое существование с 2020 года"
    ></app-textarea>
    @if ((description | controlError: "required") || projSubmitInitiated) {
    <div class="text-body-10 error">
      {{ errorMessage.VALIDATION_REQUIRED }}
    </div>
    }
  </fieldset>
  }

  <div class="project__info--additional">
    @if (actuality; as actuality) {
    <fieldset>
      <label class="field-label text-body-12" for="actuality">актуальность</label>
      <app-textarea
        size="big"
        id="actuality"
        [haveHint]="true"
        [tooltipText]="
          'Расскажи, почему твой проект актуален именно сейчас. Укажи на правительственные инициативы, мировые и национальные тренды, которые подтверждают его важность.'
        "
        [tooltipPosition]="'right'"
        [tooltipWidth]="350"
        formControlName="actuality"
        [error]="actuality | controlError"
        placeholder="указом президента от 03.07.2023 "
      ></app-textarea>
      @if ((actuality | controlError: "required")) {
      <div class="text-body-10 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    } @if (targetAudience; as targetAudience) {
    <fieldset>
      <label class="field-label text-body-12" for="actuality">целевая аудтория</label>
      <app-textarea
        size="big"
        id="targetAudience"
        [haveHint]="true"
        [tooltipText]="
          'Расскажи, кто твой целевой клиент и какую проблему он решает с помощью твоего проекта. Помни, что вся Россия не может быть целевой аудиторией. Чем конкретнее и меньше аудитория, тем лучше!'
        "
        [tooltipPosition]="'left'"
        [tooltipWidth]="350"
        [error]="(targetAudience | controlError) || projSubmitInitiated"
        formControlName="targetAudience"
        placeholder="30% потери времени студентов во время работы"
      ></app-textarea>
      @if ((targetAudience | controlError: "required") || projSubmitInitiated) {
      <div class="text-body-10 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    }
  </div>

  <div
    class="project__options"
    [formGroup]="goalForm"
    [style.gap]="hasGoals || hasLinks ? '0px' : '35px'"
    [style.margin-top]="
      hasGoals && hasLinks ? '20px' : hasGoals ? '20px' : hasLinks ? '20px' : '0px'
    "
  >
    @if (hasGoals) {
    <ul formArrayName="goals" class="project__links--wrapper">
      @for (control of goals.controls; track i; let i = $index) {
      <li class="project__links">
        <div [formGroupName]="i" class="project__links">
          @if (goals.at(i)?.get("title"); as goalName) {
          <fieldset style="flex-grow: 1">
            <label class="text-body-12 field-label">краткосрочные цели проекта</label>
            <app-input
              size="big"
              [error]="goalName | controlError"
              placeholder="заработать много денег"
              formControlName="title"
            ></app-input>
            @if (goalName | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (goals.at(i)?.get("completionDate"); as goalDate) {
          <fieldset>
            <label class="text-body-12 field-label" style="text-align: center; margin-right: 12px"
              >дата</label
            >
            <app-input
              size="small"
              type="date"
              [mask]="'d0.M0.yy'"
              [error]="goalDate | controlError"
              placeholder="21.05.25"
              formControlName="completionDate"
            ></app-input>
            @if (goalDate | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (goals.at(i)?.get("responsible"); as goalLeader) {
          <fieldset>
            <label
              class="text-body-12 field-label"
              style="text-align: center; margin-right: 12px; margin-left: 0px"
              >лидер</label
            >

            @if (getSelectedLeaderForGoal(i); as selectedLeader) {
            <div class="selected-leader">
              <a [routerLink]="'/office/profile/' + selectedLeader.userId">
                <app-avatar [url]="selectedLeader.avatar" [size]="40"></app-avatar>
              </a>
            </div>
            } @else {
            <app-button
              type="icon"
              (click)="toggleGoalLeaderModal(i)"
              size="small"
              appearance="outline"
            >
              <i appIcon icon="add-person" appSquare="14"></i>
            </app-button>
            } @if (goalLeader | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>
        <app-button
          class="project__links--remove"
          color="red"
          (click)="removeGoal(i, goals.value[i].id)"
          type="icon"
        >
          <i appIcon icon="basket" appSquare="14"></i>
        </app-button>
      </li>
      }
    </ul>
    }

    <app-modal [open]="goalLeaderShowModal" (openChange)="toggleGoalLeaderModal()">
      <div class="cancel">
        <div class="cancel__top">
          <i
            (click)="toggleGoalLeaderModal()"
            appIcon
            appSquare="24"
            icon="cross"
            class="cancel__cross"
          ></i>
          <p class="cancel__title text-body-14">выберите ответственного</p>

          <div class="project__invite">
            <ul class="invite__team" [class.invite__team--scrollable]="collaborators.length > 8">
              @for (collaborator of collaborators; track collaborator.userId) {
              <li class="invite__item">
                <div class="invite__item--info">
                  <app-avatar [url]="collaborator.avatar" [size]="40"></app-avatar>
                  <p class="text-body-12">
                    {{ collaborator.firstName }} {{ collaborator.lastName }}
                  </p>
                </div>
                <app-input
                  type="radio"
                  name="goalLeaderSelection"
                  [appValue]="collaborator.userId.toLocaleString()"
                  [checked]="selectedLeaderId === collaborator.userId.toString()"
                  (change)="onLeaderRadioChange($event)"
                ></app-input>
              </li>
              }
            </ul>
          </div>
        </div>

        <app-button
          size="medium"
          appearance="outline"
          class="cancel__button"
          customTypographyClass="text-body-12"
          (click)="addLeader()"
          [disabled]="!selectedLeaderId"
        >
          подтвердить выбор
        </app-button>
      </div>
    </app-modal>

    <app-button
      (click)="addGoal()"
      size="big"
      appearance="outline"
      customTypographyClass="text-body-12"
      [style.margin-bottom]="hasGoals && hasLinks ? '12px' : hasGoals ? '35px' : '35px'"
    >
      <span>добавить краткосрочную цель проекта</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>
  </div>

  <div [formGroup]="projectForm">
    @if (hasLinks) {
    <ul formArrayName="links" class="project__links--wrapper">
      @for (control of links.controls; track i; let i = $index) {
      <li class="project__links">
        <fieldset style="flex-grow: 1">
          <label class="text-body-12 field-label">ссылка на контакты и сообщества</label>
          <app-input
            size="big"
            [error]="links.at(i) | controlError"
            placeholder="@eeeasycarrer"
            [formControlName]="i"
          ></app-input>
          @if (links.at(i) | controlError: "required") {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        <app-button class="project__links--remove" color="red" (click)="removeLink(i)" type="icon">
          <i appIcon icon="basket" appSquare="14"></i>
        </app-button>
      </li>
      }
    </ul>
    }

    <app-button
      (click)="addLink()"
      size="big"
      appearance="outline"
      customTypographyClass="text-body-12"
    >
      <span>добавить ссылку на контакты и сообщества</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>
  </div>
</div>
