/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  &__inner {
    width: 100%;
  }

  &__grid {
    display: grid;
    grid-gap: 20px;
    align-items: center;
    margin-bottom: 20px;
  }

  &__options {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
    margin-top: 35px;
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--additional {
      display: flex;
      gap: 20px;
      align-items: center;

      fieldset {
        flex-basis: 50%;
      }
    }
  }

  &__problem,
  &__description {
    margin-bottom: 12px;
  }

  &__form {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--grey-button);
    border-radius: var(--rounded-md);
  }

  &__image {
    display: block;
    margin-bottom: 20px;

    .error {
      margin-top: 15px;
    }
  }

  &__file {
    min-width: 0;
  }

  &__slides-title {
    max-width: 320px;
    margin-top: 12px;
    color: var(--black);
    text-align: center;
  }

  &__slides-text {
    max-width: 275px;
    margin-top: 12px;
    color: var(--black);
    text-align: center;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }
  }

  &__slides-error {
    margin-top: 12px;
    color: var(--red);
  }

  &__slides-open-file {
    color: var(--accent);
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

 &__links {
    display: flex;
    width: 100%;
    gap: 20px;

    &--wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 20px;
    }

    li {
      display: flex;
      align-items: center;

      form {
        display: flex;
        width: 100%;
        align-items: center;

        fieldset {
          width: 100%;
          margin: 0;
        }
      }
    }

    &--remove {
      margin-top: 18px;
    }
  }
}

.error {
  color: var(--red) !important;
}
