<!-- @format -->

<form class="card" [formGroup]="newsForm">
  <div class="card__head">
    <div class="card__title">
      <img class="card__avatar" [src]="newsItem.projectImageAddress" [alt]="newsItem.projectName" />
      <div>
        <div class="card__name">{{ newsItem.projectName }}</div>
        <div class="card__date text-body-14">
          {{ newsItem.datetimeCreated | dayjs: "format":"DD MMMM, hh:mm" }}
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="newsForm.get('text') as text">
    <app-textarea formControlName="text" [error]="text | controlError"></app-textarea>
  </ng-container>
  <div class="card__footer footer">
    <div class="footer__buttons">
      <app-button class="footer__cancel" color="grey">Отмена</app-button>
      <app-button class="footer__save" (click)="onSubmit()">Сохранить</app-button>
    </div>
  </div>
</form>
