@use "styles/responsive";
@use "styles/typography";

.course {
  position: relative;
  width: 100%;
  max-width: 333px;
  overflow: hidden;
  cursor: pointer;
  background-color: var(--light-white);
  border: 0.5px solid var(--medium-grey-for-outline);
  border-radius: var(--rounded-lg);

  &__cover {
    border-radius: var(--rounded-lg);

    app-button {
      ::ng-deep {
        .button {
          position: absolute;
          top: 15px;
          right: 24px;
          width: 166px;
          padding: 0;
        }
      }
    }

    app-avatar {
      ::ng-deep {
        .avatar {
          img {
            position: absolute;
            top: 35px;
            left: 24px;
            box-shadow: 0 0 8px rgba($color: #333, $alpha: 30%);
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: 333px;
    max-height: 137px;
    border-radius: var(--rounded-lg);
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 12px 24px;

    &--date {
      color: var(--grey-for-text) !important;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    gap: 5px;

    position: absolute;
    right: 14px;
    bottom: 16px;

    &--started, &-icon {
      color: var(--green) !important;
    }
  }

  &__rocket {
    position: absolute;
    top: -46%;
    right: -13%;
    z-index: 0;
    width: 175px;
    transform: rotate(-53deg);
  }

  p,
  i {
    color: var(--black);
  }
}
