<!-- @format -->

<div class="range">
  <ng-container>
    <label class="text-obody-1">От</label>
    <input
      class="range__start range__point"
      type="number"
      inputmode="numeric"
      pattern="[0-9]*"
      [value]="value[0]"
      min="0"
      max="150"
      (blur)="onBlur()"
      (input)="onInputLeft($event)"
    />
  </ng-container>

  <!-- <div class="range__divider"></div> -->
  <ng-container>
    <label class="text-obody-1">До</label>
    <input
      class="range__end range__point"
      type="number"
      inputmode="numeric"
      pattern="[0-9]*"
      [value]="value[1]"
      min="0"
      max="150"
      (blur)="onBlur()"
      (input)="onInputRight($event)"
    />
  </ng-container>
</div>
