.range {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  color: var(--black);

  label {
    color: var(--gray);
    margin-right: 5px;
  }

  &__divider {
    flex-shrink: 0;
    width: 10px;
    height: 2px;
    margin: 0 10px;
    background-color: var(--dark-grey);
  }

  &__start,
  &__end {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    padding: 8px 10px;
    width: 100px;
  }

  &__point {
    font-size: 12px;
    outline: none;
    transition: all 0.2s;

    &:focus {
      border-color: var(--accent);
    }
  }

  // stylelint-disable property-no-vendor-prefix
  input {
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    &[type="number"] {
      -moz-appearance: textfield;
    }
  }
}
