@use "styles/responsive";
@use "styles/typography";

.page {
  &__vacancies {
    display: grid;
    grid-template-columns: 333px 333px;
    grid-gap: 20px;

    &--no-items {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 70px;
      text-align: center;

      i,
      p {
        color: var(--grey-for-text);
      }
    }
  }

  &__item {
    width: 100%;
    cursor: pointer;
  }

  &__title {
    margin-top: 40px;
    color: var(--black);
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 175px;
  max-height: calc(100vh - 40px);
  overflow-y: auto;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
    margin-bottom: 8px;
  }

  &__title {
    color: var(--grey-for-text);
    text-align: center;
  }

  &__icon {
    color: var(--accent);
  }

  &__text {
    margin-bottom: 8px;
    color: var(--black);
  }
}
