<!-- @format -->

<div class="page" #vacancyRoot>
  @if (type() === "all") {
    <div class="page__vacancies">
      @for (vacancy of vacancyList(); track vacancy.id) {
        <app-project-vacancy-card
          type="vacancies"
          [vacancy]="vacancy"
          class="page__item"
        ></app-project-vacancy-card>
      }
    </div>
    @if (hasNoResults()) {
      <app-state
        title="Вакансии не найдены"
        description="Попробуйте изменить запрос или сбросить фильтры."
      >
        <app-button appearance="outline" size="big" [routerLink]="AppRoutes.office.vacancies()"
          >Сбросить фильтры</app-button
        >
      </app-state>
    }
  }
  @if (type() === "my") {
    @for (response of responsesList(); track response.id) {
      <app-response-card [response]="response"></app-response-card>
    } @empty {
      <app-state
        title="У вас пока нет откликов"
        description="Найдите подходящую вакансию и расскажите проекту о себе."
      >
        <app-button size="big" [routerLink]="AppRoutes.office.vacancies()"
          >Перейти к вакансиям</app-button
        >
      </app-state>
    }
  }
</div>
