<!-- @format -->

<div class="page">
  <div class="auth__greeting">
    <div class="tooltip">
      <h3 class="text-heading-3">Кем хочешь работать?</h3>
      <app-tooltip
        [text]="
          'Дизайнер, веб-разработчик, инженер? Определяйся и пиши тем, кем хотел бы стать или уже стал P.S. Дальше можно будет изменить выбор'
        "
        [isVisible]="isHintAuthVisible"
        [position]="'right'"
        [tooltipWidth]="300"
        customClass="tooltip__hint"
        (show)="showTooltip('auth')"
        (hide)="hideTooltip('auth')"
      ></app-tooltip>
    </div>
    <!-- <p class="auth__info">
      Для того, чтобы участники понимали с кем общаются и платформа могла рекомендовать тебя на
      самые подходящие вакансии
    </p> -->
  </div>
  <div class="content" [formGroup]="stageForm">
    <section class="content__section content__left">
      <h4 class="text-heading-4 content__section-heading">Поиск по библиотеке</h4>
      <app-autocomplete-input
        [suggestions]="inlineSpecializations()"
        fieldToDisplay="name"
        valueField="name"
        fieldToDisplayMode="chip"
        [forceSelect]="true"
        [error]="stageForm.controls['speciality'] | controlError"
        (searchStart)="onSearchSpec($event)"
        placeholder="Название специальности"
        formControlName="speciality"
      ></app-autocomplete-input>
      @if (stageForm.controls["speciality"] | controlError) {
      <div class="text-body-10 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </section>
    <section class="content__section content__right">
      <div class="auth__greeting content__right-heading">
        <div class="tooltip">
          <h4 class="text-heading-4">Библиотека</h4>
          <app-tooltip
            [text]="
              'Это наша база со всеми специальностями. Если не найдешь свою пиши в @procollab_support и мы обязательно добавим твою профессию и ты получишь +респект'
            "
            [isVisible]="isHintLibVisible"
            [position]="'right'"
            [tooltipWidth]="300"
            customClass="tooltip__hint"
            (show)="showTooltip('lib')"
            (hide)="hideTooltip('lib')"
          ></app-tooltip>
        </div>
      </div>
      <div class="content__specs-groups">
        <ul class="content__specs-groups-list">
          @for (spec of nestedSpecializations$ | async; track spec.id) {
          <li class="content__specs-groups-list-item">
            <app-specializations-group
              [title]="spec.name"
              [options]="spec.specializations"
              (selectOption)="onSelectSpec($event)"
            ></app-specializations-group>
          </li>
          }
        </ul>
      </div>
    </section>
    <div class="content__actions">
      <app-button
        size="big"
        (click)="onSkipRegistration()"
        customTypographyClass="text-body-12"
        color="grey"
        [loader]="skipSubmitting()"
        >Закончить регистрацию позже</app-button
      >
      <app-button
        size="big"
        type="submit"
        customTypographyClass="text-body-12"
        [loader]="stageSubmitting()"
        (click)="onSubmit()"
        >Продолжить</app-button
      >
    </div>
  </div>
</div>
