<!-- @format -->

<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">Кем хочешь работать?</h3>
    <i
      appIcon
      icon="hint"
      appSquare="24"
      class="content__hint"
      (mouseenter)="showTooltip('auth')"
      (mouseleave)="hideTooltip('auth')"
    ></i>
    <span
      class="content__tooltip text-body-12"
      [class.content__tooltip--visible]="isHintAuthVisible"
      >{{ tooltipAuthText }}</span
    >
    <!-- <p class="auth__info">
      Для того, чтобы участники понимали с кем общаются и платформа могла рекомендовать тебя на
      самые подходящие вакансии
    </p> -->
  </div>
  <div class="content" [formGroup]="stageForm">
    <section class="content__section content__left">
      <h4 class="text-heading-4 content__section-heading">Поиск по библиотеке</h4>
      <app-autocomplete-input
        [suggestions]="inlineSpecializations()"
        fieldToDisplay="name"
        valueField="name"
        fieldToDisplayMode="chip"
        [forceSelect]="true"
        [error]="stageForm.controls['speciality'] | controlError"
        (searchStart)="onSearchSpec($event)"
        placeholder="Название специальности"
        formControlName="speciality"
      ></app-autocomplete-input>
      @if (stageForm.controls["speciality"] | controlError) {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </section>
    <section class="content__section content__right">
      <div class="auth__greeting content__right-heading">
        <h4 class="text-heading-4">Библиотека</h4>
        <i
          appIcon
          icon="hint"
          appSquare="24"
          class="content__hint"
          (mouseenter)="showTooltip('lib')"
          (mouseleave)="hideTooltip('lib')"
        ></i>
        <span
          class="content__tooltip text-body-12"
          style="width: 280px; left: 30%; top: 80%"
          [class.content__tooltip--visible]="isHintLibVisible"
          [innerHTML]="tooltipLibText"
        ></span>
      </div>
      <div class="content__specs-groups">
        <ul class="content__specs-groups-list">
          @for (spec of nestedSpecializations$ | async; track spec.id) {
          <li class="content__specs-groups-list-item">
            <app-specializations-group
              [title]="spec.name"
              [options]="spec.specializations"
              (selectOption)="onSelectSpec($event)"
            ></app-specializations-group>
          </li>
          }
        </ul>
      </div>
    </section>
    <div class="content__actions">
      <app-button (click)="onSkipRegistration()" color="grey" [loader]="skipSubmitting()"
        >Закончить регистрацию позже</app-button
      >
      <app-button size="big" type="submit" [loader]="stageSubmitting()" (click)="onSubmit()"
        >Продолжить</app-button
      >
    </div>
  </div>
</div>
