/** @format */

@use "styles/responsive";
@use "styles/typography";

$section-padding: 24px;
$detail-bar-height: 63px;
$detail-bar-mb: 12px;

.profile {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;

  &__bar {
    height: $detail-bar-height;
    margin-bottom: $detail-bar-mb;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    max-height: calc(100% - #{$detail-bar-height} - #{$detail-bar-mb});
    padding-bottom: 12px;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    @include responsive.apply-desktop {
      flex-direction: row;
    }
  }
}

.info {
  $body-slide: 15px;

  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 230px;
    background: url("/assets/images/office/profile/detail/cover-new.png");
    background-position: top;
    background-size: cover;
    border-radius: 15px 15px 0 0;

    @include responsive.apply-desktop {
      height: 200px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    gap: 20px;
    padding: 40px 24px 24px;
    margin-top: -$body-slide;
    border-radius: $body-slide;

    app-button ::ng-deep .button--inline {
      min-height: 38px;
    }

    @include responsive.apply-desktop {
      padding: 21px 19px 21px 227px;
      background-color: var(--white);
      border: 1px solid var(--medium-grey-for-outline);
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include responsive.apply-desktop {
      flex-flow: row wrap;
      gap: 10px;
      align-items: flex-end;
    }
  }

  &__achievements {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    padding: 0 20px;
    margin-top: 15px;
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;

    p {
      text-align: center;
    }

    span {
      color: var(--dark-grey);
    }

    a {
      text-decoration: underline;
      text-underline-offset: 2px;
      cursor: pointer;
    }
  }

  &__avatar {
    position: absolute;
    top: -39%;
    bottom: $body-slide;
    left: 50%;
    z-index: 3;
    display: block;
    transform: translateX(-50%);

    @include responsive.apply-desktop {
      top: 50%;
      bottom: auto;
      left: 21px;
      transform: translate(0, -50%);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__name {
    margin-bottom: 10px;
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 0;
      text-align: unset;

      @include typography.heading-2;
    }
  }

  &__text {
    @include responsive.apply-desktop {
      flex-basis: 320px;
      flex-grow: 9999;
    }
  }

  &__keys {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    color: var(--dark-grey);

    @include responsive.apply-desktop {
      justify-content: flex-start;
    }

    span {
      text-wrap: nowrap;
    }
  }

  &__industry {
    margin-right: 20px;

    @include responsive.apply-desktop {
      margin-right: 40px;
    }
  }

  &__geo {
    i {
      display: inline-block;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;
    justify-content: flex-end;

    @include responsive.apply-desktop {
      flex-direction: row;

      &>a {
        flex-grow: 1;
        flex-shrink: 0;
      }
    }
  }

  &__send-message,
  &__download-cv {
    @include responsive.apply-desktop {
      min-width: 150px;
    }
  }

  &__edit {
    display: block;
  }
}

.outlet {
  grid-column: 1/3;
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 60px;
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-height: calc(100vh - 40px);
  padding: 40px 0 80px;
  overflow-y: auto;

  @include responsive.apply-desktop {
    width: 50%;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;
  }
}
