<!-- @format -->

@if (user$ | async; as user) {
<div class="profile">
  <section class="profile__bar">
    @if (loggedUserId$ | async; as loggedUserId) {
    <app-bar
      class="bar"
      [backHave]="true"
      [links]="[
            {
              link: '/office/profile' + '/' + user.id.toString(),
              linkText: user.id === loggedUserId ? 'Моя страница' : 'Станица пользователя',
              isRouterLinkActiveOptions: true,
            },

            {
              link: '/office/profile' + '/' + user.id.toString() + '/' + 'projects',
              linkText: 'Проекты',
              isRouterLinkActiveOptions: false,
            },
          ]"
    ></app-bar>
    } @else {
    <app-bar [backHave]="true" [links]="[]"></app-bar>
    }
  </section>

  <section class="profile__body">
    <div class="info profile__info">
      <div class="info__cover">
        <!-- <img
          class="info__cover"
          src="/assets/images/office/profile/detail/cover-new.svg"
          alt="cover"
        /> -->
      </div>

      <div class="info__body">
        @if (chatService.userOnlineStatusCache | async; as cache) {
        <app-avatar
          class="info__avatar"
          [url]="user.avatar"
          [progress]="user.progress"
          [size]="(desktopMode$ | async) ? 165 : 140"
          [hasBorder]="true"
          [onlineBadgeSize]="30"
          [onlineBadgeBorder]="6"
          [onlineBadgeOffset]="(desktopMode$ | async) ? 5 : 0"
          [isOnline]="cache[user.id] !== undefined ? cache[user.id] : user.isOnline"
        ></app-avatar>
        }
        <section class="info__top">
          <div class="info__text">
            <div class="info__top-more">
              <h2 class="info__name">{{ user.firstName }} {{ user.lastName }}</h2>
              <!-- <p class="info__mentor text-body-12">Наставник skills</p> -->
            </div>
            <div class="text-body-12 info__keys">
              <div>
                @if (user.birthday) {
                <span>
                  {{ user.birthday | yearsFromBirthday }}
                </span>
                } @if (user.birthday && user.speciality) {
                <ng-container>&nbsp;•&nbsp;</ng-container>
                } @if (user.speciality) {
                <span>
                  {{ user.speciality }}
                </span>
                }
              </div>
              @if (user.city) {
              <span class="info__geo">
                <i appIcon icon="geo-point" appSquare="10"></i>
                {{ user.city }}
                @if (user.region) { ,
                {{ user.region }}
                }
              </span>
              }
            </div>
          </div>
          <div class="info__right">
            @if (authService.profile | async; as profile) { @if (profile.id !== user.id) {
            <a
              class="info__send-message"
              [routerLink]="['/office/chats', profile.id + '_' + user.id]"
            >
              <app-button customTypographyClass="text-body-12"> Написать </app-button>
            </a>
            } @else {
            <div class="profile__btns">
              <a class="profile__cv">
                @if(isSubscriptionActive()){
                <app-button
                  (click)="sendCVEmail()"
                  customTypographyClass="text-body-12"
                  color="primary"
                >
                  Скачать CV
                </app-button>
                }
              </a>

              <a
                class="profile__edit"
                routerLink="/office/profile/edit"
                [queryParams]="{ editingStep: 'main' }"
              >
                <app-button customTypographyClass="text-body-12" color="grey">
                  {{
                    user.progress! === 100 ? "Редактировать профиль" : "Закончить заполнение резюме"
                  }}
                  @if (user.progress !== 100) {
                  <i
                    appIcon
                    icon="color-error"
                    appSquare="16"
                    style="color: var(--accent); margin-left: 5px"
                  ></i>
                  }
                </app-button>
              </a>
            </div>
            } }
          </div>
        </section>
        <section class="info__achievements">
          <p>
            <span class="text-body-16">В будущем тут будут отображаться </span>
            <a class="text-body-14">достижения</a>
          </p>
        </section>
      </div>
    </div>

    <app-modal [open]="isDelayModalOpen" (openChange)="isDelayModalOpen = !isDelayModalOpen">
      <div class="cancel">
        <div class="cancel__top">
          <i (click)="isDelayModalOpen = false" appIcon icon="cross" class="cancel__cross"></i>
          <p class="cancel__title text-bold-body-16">Повторите загрузку позже</p>
        </div>
        <p class="text-body-14 cancel__text">
          Скачивание будет доступно через {{ errorMessageModal() }} секунд.
        </p>
      </div>
    </app-modal>

    <app-modal [open]="isSended" (openChange)="isSended = !isSended">
      <div class="cancel">
        <div class="cancel__top">
          <i (click)="isSended = false" appIcon icon="cross" class="cancel__cross"></i>
          <p class="cancel__title text-bold-body-16">Твое CV уже ждет тебя на почте :)</p>
        </div>
        <p class="text-body-14 cancel__text">
          Кстати, оно часто залетает в папку «Спам» — обязательно проверь и там тоже.<br />
          Технические сложности? Мы всегда на связи в Telegram — {{ "@procollab_support" }}
        </p>
      </div>
    </app-modal>

    <app-modal [open]="isProfileFill" (openChange)="isProfileFill = !isProfileFill">
      <div class="cancel">
        <img
          alt="profile unfill image"
          class="cancel__image"
          src="/assets/images/profile/profile-unfill.png"
        />
        <div class="cancel__top">
          <i (click)="isProfileFill = false" appIcon icon="cross" class="cancel__cross"></i>
          <p class="cancel__title text-heading-4">
            Заполни все поля, чтобы использовать Procollab на максимум
          </p>
        </div>
        <p class="text-body-14 cancel__text">Заполни все поля, чтобы иметь сильное резюме</p>

        <a routerLink="/office/profile/edit" [queryParams]="{ editingStep: 'main' }">
          <app-button customTypographyClass="text-body-12">Продолжить заполнение</app-button>
        </a>
      </div>
    </app-modal>

    <div class="outlet">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>
}
