/** @format */

@use "styles/responsive";
@use "styles/typography";

$detail-bar-height: 63px;
$detail-bar-mb: 12px;

.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;

  &__body {
    flex-grow: 1;
    max-height: calc(100% - #{$detail-bar-height} - #{$detail-bar-mb});
    padding-bottom: 12px;
  }
}

.info {
  $body-slide: 15px;

  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 136px;
    border-radius: 15px 15px 0 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    padding: 14px 0 40px;
    margin-bottom: 26px;
  }

  &__avatar {
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 50%;

    @include responsive.apply-desktop {
      width: 110px;
      transform: translate(-50%, 50%);
    }
  }

  &__row {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 10px;
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;
  }

  &__text {
    color: var(--dark-grey);
  }

  &__actions {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    gap: 20px;
    align-items: center;
  }

  &__edit {
    display: block;
  }
}
