<!-- @format -->

<div class="office">
  @if (authService.profile | async; as user) {
  <div class="office__wrapper">
    <div class="office__top">
      <app-nav [invites]="invites()"></app-nav>
    </div>
    <img
      alt="background-image"
      src="/assets/images/office/shared/backgorund-image-rocket-main.svg"
      class="office__background-image"
    />
    <div class="office__body">
      <div class="office__inner">
        <div class="office__inner--wrapper">
          <ui-sidebar
            class="office__sidebar"
            logoSrc="/assets/images/shared/logo.svg"
            [navItems]="navItems"
            style="align-self: flex-start"
          >
            <div class="office__sidebar--text">
              <p class="text-body-6">Платформа создана компанией ООО «Молодежный форсайт»</p>
              <p class="text-body-6">Политика обработки персональных данных</p>
              <p class="text-body-6">2022</p>
            </div>

            <div class="office__programs">
              @if (programs().length) { @for (program of programs(); track program.id) {
              <app-program-sidebar-card
                [routerLink]="'/office/program/' + program.id"
                [program]="program"
              ></app-program-sidebar-card>
              } }
            </div>
          </ui-sidebar>

          <div class="office__inner--content">
            @if (user !== undefined && invites !== undefined) {
            <app-profile-control-panel
              [invites]="invites()"
              [hasNotifications]="false"
              [hasUnreads]="!!(chatService.unread$ | async)"
              [user]="user"
              (acceptInvite)="onAcceptInvite($event)"
              (rejectInvite)="onRejectInvite($event)"
              (logout)="onLogout()"
            ></app-profile-control-panel>
            }
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
  }
  <app-modal [open]="waitVerificationModal && !waitVerificationAccepted">
    <div class="message-modal">
      <img
        src="/assets/images/office/shared/wait.png"
        alt="wait"
        width="215px"
        loading="lazy"
        decoding="async"
      />
      <h3 class="message-modal__title text-body-14">Ваш аккаунт проходит подтверждение</h3>
      <p class="message-modal__text text-body-12">
        Мы проверяем ваши данные и скоро сообщим о подтверждении аккаунта, а пока можете уже
        пользоваться платформой
      </p>
      <app-button class="message-modal__button" (click)="onAcceptWaitVerification()">
        Хорошо
      </app-button>
    </div>
  </app-modal>

  <app-modal
    [open]="showRegisteredProgramModal()"
    (openChange)="showRegisteredProgramModal.set(!showRegisteredProgramModal())"
  >
    <div class="cancel" style="width: 605px; padding: 0px 24px">
      <div class="cancel__top">
        <p class="cancel__title text-body-14">Привет!</p>
      </div>

      <div class="cancel__text-block">
        <p class="text-body-12">
          Рады знакомству 🙌 <br />
          Вы находитесь на платформе procollab – здесь проходит программа, на которую вы ранее
          регистрировались через форму заявки
        </p>

        <p class="text-body-12">
          Ваша программа и её закрытая группа (к которой у вас автоматически есть доступ) находится
          в одноименной вкладке «программы»
        </p>

        <p class="text-body-12">
          На платформе есть еще много интересного: цифровой профиль, проекты, новостная лента, чаты
          и другое – рекомендуем изучить
        </p>

        <p class="text-body-12">
          Поздравляем с регистрацией! Желаем удачи в прохождении программы :)
        </p>
      </div>

      <app-button
        customTypographyClass="text-body-12"
        size="medium"
        (click)="showRegisteredProgramModal.set(false)"
        >спасибо, понятно</app-button
      >
    </div>
  </app-modal>

  <app-modal [open]="inviteErrorModal">
    <div class="message-modal">
      <h3 class="message-modal__title text-body-14">Приглашение на текущий проект было удалено</h3>
      <p class="message-modal__text text-body-12">
        Проверьте наличие вас в списке участников проекта или обратитесь к создателю проекта, чтобы
        вас заново пригласили!
      </p>
      <app-button class="message-modal__button" (click)="inviteErrorModal = false">
        Хорошо
      </app-button>
    </div>
  </app-modal>
  <app-delete-confirm></app-delete-confirm>
  <app-snackbar></app-snackbar>
</div>
