<!-- @format -->

@if (response) {
<section class="response">
  <div class="response__section"></div>

  <div class="response__section">
    <div class="lists__section">
      <p class="text-body-12 lists__title">сопроводительное письмо</p>
      <i appIcon icon="folder" class="lists__icon" appSquare="12"></i>
    </div>

    <p class="text-body-10">{{ response.whyMe }}</p>

    @if(response.accompanyingFile){
    <app-file-item
      class="text__file"
      [link]="response.accompanyingFile.link"
      [name]="response.accompanyingFile.name"
      [type]="response.accompanyingFile.mimeType"
      [size]="response.accompanyingFile.size"
    ></app-file-item>
    } @if (!(profileId === response.user.id)) {
    <div class="text__actions actions">
      <a [routerLink]="['/office/chats', profileId + '_' + response.user.id]">
        <app-button
          customTypographyClass="text-body-12"
          size="medium"
          class="actions__button--inactive"
          >связаться</app-button
        >
      </a>
      <app-button
        customTypographyClass="text-body-12"
        size="medium"
        class="actions__button"
        (click)="onAccept(response.id)"
        >принять</app-button
      >
      <app-button
        customTypographyClass="text-body-12"
        size="medium"
        class="actions__button"
        color="red"
        appearance="outline"
        (click)="onReject(response.id)"
      >
        отклонить
      </app-button>
    </div>
    }
  </div>
</section>
}
