<!-- @format -->

<main class="auth verification">
  <img class="auth__logo" src="/assets/images/shared/logo.svg" alt="procollab" width="125px" />
  <div class="verification__inner">
    <div class="verification__body">
      <div class="auth__greeting">
        <h3 class="auth__title">Мы отправили ссылку подтверждения</h3>
        <p class="auth__info">
          Для продолжения регистрации проверь свою почту, чтобы перейти по ссылке подтверждения
        </p>
      </div>
      @if (counter > 0) {
      <div class="verification__text">Письмо отправлено, отправить еще раз через {{ counter }}</div>
      } @else {
      <div class="verification__action">
        <p class="text-body-14 verification__text">Не получил письмо? Проверь папку спам или</p>
        <button class="verification__send-again text-body-14" (click)="onResend()">
          отправь снова <i appIcon icon="reload" appSquare="17"></i>
        </button>
      </div>
      }
    </div>
    <img class="verification__img" src="/assets/images/auth/email.png" alt="email" />
  </div>
</main>
