<!-- @format -->

<div
  class="rating-card"
  [ngClass]="{ 'rating-card--first': place === 1, 'rating-card--second': place === 2 }"
>
  <div class="rating-card__avatar">
    @if (place === 1) {
      <img src="assets/images/rating/top-rating.png" alt="" />
    }
    <app-avatar [url]="rating.file ?? undefined" [size]="100"></app-avatar>
  </div>
  <h2 class="rating-card__title">{{ rating.userName }}</h2>
  <p class="rating-card__score">{{ rating.scoreCount }} очков</p>
  <div class="rating-card__place text-heading-4">{{ place }}</div>
</div>
