/** @format */

$border-width: 2px;

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: $border-width solid var(--gray);
  background-clip: border-box;
  border-radius: var(--rounded-sm);

  &--checked {
    border-color: transparent;
  }

  &__bg {
    position: absolute;
    inset: -$border-width;
    border-radius: var(--rounded-sm);
    background-image: var(--gradient);
  }

  &__check {
    display: block;
    width: 100%;
    height: 100%;
    color: var(--blue-dark);
  }
}
