<!-- @format -->

<div class="task task--next">
  <div class="task__left">
    <img src="assets/images/shared/prize.png" alt="prize" class="task__prize" />
    <div class="task__body">
      <h4 class="task__title text-body-bold-18">{{ task.name }}</h4>
      <div class="task__level text-body-14">{{ task.level }} уровень</div>
    </div>
  </div>
  <div class="task__right">
    <app-button class="task__button">
      <i appIcon icon="arrow-no-body" appSquare="20"></i>
    </app-button>
  </div>
</div>
