<!-- @format -->

<div class="detail">
  <section class="detail__bar">
    <app-back [path]="backPath"></app-back>
  </section>

  <div class="detail__body">
    @if (info) {
    <div class="info detail__section detail__info">
      <div class="info__cover" [class.info__cover--program]="listType === 'program'">
        <img
          class="info__cover"
          [class.info__cover--program]="listType === 'program'"
          [src]="
            info.coverImageAddress
              ? info.coverImageAddress
              : '/assets/images/office/profile/detail/cover.png'
          "
          alt="cover"
        />
        <div class="info__avatar" [class.info__avatar--program]="listType === 'program'">
          @if (chatService.userOnlineStatusCache | async; as cache) {
          <app-avatar
            [url]="listType === 'profile' ? info.avatar : info.imageAddress"
            [hasBorder]="true"
            [borderColor]="listType === 'project' ? 'white' : 'dark-grey'"
            [progress]="info.progress"
            [onlineBadgeSize]="15"
            [onlineBadgeBorder]="0"
            [onlineBadgeOffset]="8"
            [size]="listType === 'project' || listType === 'profile' ? 110 : 123"
            [isOnline]="cache[info.id] !== undefined ? cache[info.id] : info.isOnline"
          ></app-avatar>
          @if (listType === 'project' || listType === 'profile') {
          <h1 class="info__title text-body-12">
            {{ listType === "project" ? info.name : info.firstName + " " + info.lastName }}
          </h1>
          } }
        </div>
      </div>

      <div class="info__body">
        <div class="info__actions">
          <ng-container
            *ngTemplateOutlet="listType === 'program' ? programTpl : projectTpl"
          ></ng-container>
        </div>

        <ng-template #programTpl>
          @if (!isUserMember && !isUserManager && !registerDateExpired) { @if
          (info.name.includes("Кейс-чемпионат MIR")) {
          <a href="https://case-champ.ru/corporate#rec1176757836">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
              зарегистрироваться
            </app-button>
          </a>
          } @else {
          <a [routerLink]="['/office/program', info.id, 'register']">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
              зарегистрироваться
            </app-button>
          </a>
          } } @else if (isUserMember) {
          <app-button
            size="medium"
            (click)="toggleSubmitProjectModal()"
            customTypographyClass="text-body-12 bar__add-project"
          >
            <span>подать проект</span>
            <i appIcon icon="plus" appSquare="10"></i>
          </app-button>
          } @else if (isUserManager) {
          <a [routerLink]="'/office/program/' + info.id + '/projects-rating'">
            <app-button
              [appearance]="isProjectsRatingPage ? 'inline' : 'outline'"
              size="medium"
              customTypographyClass="text-body-12"
            >
              оценка проектов
            </app-button>
          </a>
          }

          <a
            class="info__presentation"
            [href]="info.presentationAddress"
            download=""
            target="_blank"
          >
            <app-button
              [disabled]="isUserManager"
              [style.opacity]="isUserManager ? '0.3' : '1'"
              appearance="outline"
              size="medium"
              customTypographyClass="text-body-12"
            >
              <span>{{
                info.name.includes("Технолидеры Будущего")
                  ? "Каталог лучших стартапов 2022/23"
                  : isUserManager
                  ? "аналитика"
                  : "положение"
              }}</span>
              @if (isUserManager) {
              <app-tooltip
                [text]="'Скоро здесь будет аналитика по включенности участников и проектов'"
                [isVisible]="isTooltipVisible"
                [position]="'right'"
                [tooltipWidth]="180"
                customClass="content__hint"
                (show)="showTooltip()"
                (hide)="hideTooltip()"
              ></app-tooltip>
              } @else {
              <i appIcon class="info__presentation-icon" icon="arrow-down" appSquare="6"></i>
              }
            </app-button>
          </a>

          <div class="info__divider"></div>

          @if (!isUserManager) {
          <a class="info__more">
            <app-button
              appearance="outline"
              [disabled]="true"
              size="medium"
              customTypographyClass="text-body-12"
            >
              узнать подробнее
            </app-button>
          </a>
          } @else {
          <a [routerLink]="'/office/program/' + info.id + '/projects'">
            <app-button
              [appearance]="isProjectsPage ? 'inline' : 'outline'"
              size="medium"
              customTypographyClass="text-body-12"
            >
              проекты-участники
            </app-button>
          </a>
          } @if (!isUserManager) {
          <a class="info__contacts">
            <app-button
              appearance="outline"
              [disabled]="true"
              size="medium"
              customTypographyClass="text-body-12"
            >
              информация с ссылок
            </app-button>
          </a>
          } @else {
          <a [routerLink]="'/office/program/' + info.id + '/members'">
            <app-button
              [appearance]="isMembersPage ? 'inline' : 'outline'"
              size="medium"
              customTypographyClass="text-body-12"
            >
              участники
            </app-button>
          </a>
          }

          <app-modal [open]="showSubmitProjectModal()" (openChange)="toggleSubmitProjectModal()">
            <div class="cancel">
              <div class="cancel__top">
                <p class="cancel__title text-body-14">выберите проект для подачи</p>
                <p class="cancel__text text-body-10">
                  после выбора проекта будет создан дубликат данного проекта для заполнения под
                  конкретный конкурс
                </p>

                <div class="project">
                  <ul
                    class="project__list"
                    [class.project__list--scrollable]="memberProjects.length > 3"
                  >
                    @for (project of memberProjects; track project.id) {
                    <li class="project__item">
                      <div class="project__item--info">
                        <app-avatar [url]="project.imageAddress" [size]="40"></app-avatar>
                        <p class="text-body-12">
                          {{ project.name }}
                        </p>
                      </div>
                      <app-input
                        type="radio"
                        [appValue]="project.id.toLocaleString()"
                        [checked]="selectedProjectId === project.id"
                        (change)="onProjectRadioChange($event)"
                      ></app-input>
                    </li>
                    }
                  </ul>
                </div>
              </div>

              <app-button
                size="medium"
                class="cancel__button"
                customTypographyClass="text-body-12"
                [disabled]="!selectedProjectId"
                (click)="addProjectModal()"
              >
                выбрать проект
              </app-button>
            </div>
          </app-modal>

          <app-modal
            [open]="isAssignProjectToProgramModalOpen()"
            (openChange)="isAssignProjectToProgramModalOpen.set(!isAssignProjectToProgramModalOpen)"
          >
            <div class="cancel" style="padding: 24px">
              <div class="cancel__top">
                <p class="cancel__title text-body-14">поздравляем!</p>
              </div>

              <p class="text-body-10 cancel__text">
                мы создали дубликат проекта, который вы привязали к выбранной программе
                <span
                  ><strong>{{ assignProjectToProgramModalMessage()?.partnerProgram }}</strong></span
                >
                , теперь его можно отредактировать!
              </p>

              <app-button
                size="medium"
                class="cancel__button"
                customTypographyClass="text-body-12"
                (click)="closeAssignProjectToProgramModal()"
              >
                вперед
              </app-button>
            </div>
          </app-modal>
        </ng-template>

        <ng-template #projectTpl>
          @if (info.presentationAddress) {
          <a class="info__presentation" [href]="info.presentationAddress" target="_blank">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
              <span>презентация</span>
              <i appIcon icon="arrow-down" appSquare="6"></i>
            </app-button>
          </a>
          } @else {
          <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
            рабочая зона
          </app-button>
          } @if (profile) { @if (profile.userType !== 1 && !(isInProject)) {
          <app-button
            appearance="outline"
            size="medium"
            customTypographyClass="text-body-12"
            (click)="openSupport = true"
          >
            написать
          </app-button>
          } @else {
          <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
            чат проекта
          </app-button>
          } }

          <a
            class="info__edit"
            [routerLink]="
              isEditDisable ? ['/office/projects', info.id] : ['/office/projects', info.id, 'edit']
            "
            [queryParams]="isEditDisable ? {} : { editingStep: 'main' }"
          >
            @if (profile) { @if (profile.id === info.leader) {
            <app-button
              appearance="outline"
              customTypographyClass="text-body-12"
              (click)="onUnableEditingProject()"
              [ngStyle]="{ opacity: isEditDisable ? '0.5' : '1' }"
              [color]="isEditDisable ? 'grey' : 'primary'"
            >
              редактировать
            </app-button>
            } }
          </a>

          <app-button
            [routerLink]="'/office/projects/' + info.id + '/team'"
            [appearance]="isTeamPage ? 'inline' : 'outline'"
            size="medium"
            customTypographyClass="text-body-12"
          >
            команда
          </app-button>

          <app-button
            [routerLink]="'/office/projects/' + info.id + '/vacancies'"
            [appearance]="isVacanciesPage ? 'inline' : 'outline'"
            size="medium"
            customTypographyClass="text-body-12"
          >
            вакансии
          </app-button>

          @if (isInProject) {
          <app-button
            appearance="outline"
            color="red"
            size="medium"
            customTypographyClass="text-body-12"
            (click)="this.isLeaveProjectModalOpen = true"
          >
            выйти из проекта
          </app-button>

          <app-modal [(open)]="isLeaveProjectModalOpen">
            <div class="unsubscribe-modal">
              <h3>Выход из проекта</h3>
              <img alt="leave image" src="/assets/images/projects/detail/leaveProject.svg" />
              <p class="text-body-14" style="width: 55%; text-align: center; margin-bottom: 18px">
                Ты уверен, что хочешь выйти из проекта? Это действие нельзя будет отменить.
              </p>
              <div class="unsubscribe-modal__buttons" style="justify-content: center">
                <app-button
                  color="grey"
                  customTypographyClass="unsubscribe-modal-btn__typography"
                  (click)="onLeave()"
                >
                  Да
                </app-button>
                <app-button
                  customTypographyClass="unsubscribe-modal-btn__typography"
                  (click)="onCloseLeaveProjectModal()"
                >
                  Нет, хочу остаться
                </app-button>
              </div>
            </div>
          </app-modal>
          }
        </ng-template>

        <ng-template #profileTpl>
          @if (profile) { @if (profile.id !== info.id) {
          <a
            class="info__send-message"
            [routerLink]="['/office/chats', profile.id + '_' + info.id]"
          >
            <app-button size="medium" customTypographyClass="text-body-12"> Написать </app-button>
          </a>
          } @else {
          <div class="profile__btns">
            <a class="profile__cv">
              @if(isSubscriptionActive()){
              <app-button
                (click)="sendCVEmail()"
                customTypographyClass="text-body-12"
                color="primary"
              >
                Скачать CV
              </app-button>
              }
            </a>

            <a
              class="profile__edit"
              routerLink="/office/profile/edit"
              [queryParams]="{ editingStep: 'main' }"
            >
              <app-button size="medium" customTypographyClass="text-body-12">
                {{
                  info.progress! === 100 ? "Редактировать профиль" : "Закончить заполнение резюме"
                }}
                @if (info.progress !== 100) {
                <i
                  appIcon
                  icon="accent-error"
                  appSquare="16"
                  (mouseenter)="showTooltip()"
                  (mouseleave)="hideTooltip()"
                  style="color: var(--accent); margin-left: 5px"
                ></i>
                <span
                  class="profile__tooltip text-body-12"
                  [class.profile__tooltip--visible]="isTooltipVisible"
                  >{{ tooltipText }}</span
                >
                }
              </app-button>
            </a>
          </div>
          } } @if (profile) { @if (profile.id === info.id) {
          <app-modal [open]="isProfileFill" (openChange)="isProfileFill = !isProfileFill">
            <div class="cancel">
              <img
                alt="profile unfill image"
                class="cancel__image"
                src="/assets/images/profile/profile-unfill.png"
              />
              <div class="cancel__top">
                <i (click)="isProfileFill = false" appIcon icon="cross" class="cancel__cross"></i>
                <p class="cancel__title text-body-12">
                  Заполни все поля, чтобы использовать Procollab на максимум
                </p>
              </div>
              <p class="text-body-12 cancel__text">Заполни все поля, чтобы иметь сильное резюме</p>

              <a routerLink="/office/profile/edit" [queryParams]="{ editingStep: 'main' }">
                <app-button size="big" customTypographyClass="text-body-12"
                  >Продолжить заполнение</app-button
                >
              </a>
            </div>
          </app-modal>
          } }

          <app-modal [open]="isDelayModalOpen" (openChange)="isDelayModalOpen = !isDelayModalOpen">
            <div class="cancel">
              <div class="cancel__top">
                <i
                  (click)="isDelayModalOpen = false"
                  appIcon
                  icon="cross"
                  class="cancel__cross"
                ></i>
                <p class="cancel__title text-bold-body-16">Повторите загрузку позже</p>
              </div>
              <p class="text-body-14 cancel__text">
                Скачивание будет доступно через {{ errorMessageModal() }} секунд.
              </p>
            </div>
          </app-modal>

          <app-modal [open]="isSended" (openChange)="isSended = !isSended">
            <div class="cancel">
              <div class="cancel__top">
                <i (click)="isSended = false" appIcon icon="cross" class="cancel__cross"></i>
                <p class="cancel__title text-bold-body-16">Твое CV уже ждет тебя на почте :)</p>
              </div>
              <p class="text-body-14 cancel__text">
                Кстати, оно часто залетает в папку «Спам» — обязательно проверь и там тоже.<br />
                Технические сложности? Мы всегда на связи в Telegram — {{ "@procollab_support" }}
              </p>
            </div>
          </app-modal>
        </ng-template>

        <router-outlet></router-outlet>
      </div>
    </div>
    }
  </div>
</div>
