/** @format */

@use "styles/responsive";
@use "styles/typography";

$detail-bar-height: 63px;
$detail-bar-mb: 12px;

.detail {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;

  &__bar {
    margin-bottom: 20px;
  }

  &__body {
    flex-grow: 1;
    max-height: calc(100% - #{$detail-bar-height} - #{$detail-bar-mb});
    padding-bottom: 12px;
  }
}

.info {
  $body-slide: 15px;

  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 136px;
    border-radius: 15px 15px 0 0;

    &--program {
      height: 155px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      &--program {
        object-fit: contain;
        object-position: top;
      }
    }
  }

  &__body {
    position: relative;
    z-index: 2;
  }

  &__avatar {
    position: absolute;
    bottom: -10px;
    left: 50%;
    display: block;
    cursor: pointer;
    background-color: var(--white);
    border-radius: 50%;
    z-index: 100;

    &--program {
      bottom: 15px;
    }

    @include responsive.apply-desktop {
      transform: translate(-50%, 50%);
    }
  }

  &__row {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__title {
    margin-top: 10px;
    overflow: hidden;
    color: var(--black);
    text-align: center;
    text-overflow: ellipsis;

    &--project {
      transform: translateX(-31%);
    }
  }

  &__text {
    color: var(--dark-grey);
  }

  &__actions {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 24px 0 30px;
  }

  &__presentation {
    display: block;

    i {
      margin-left: 15px;
      color: var(--accent);
    }

    app-tooltip {
      position: absolute;
      right: -7%;
      bottom: 32%;
      z-index: 1000;
    }
  }

  &__edit {
    display: block;
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }
}

.project {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-height: none;

    &--scrollable {
      max-height: 180px;
      overflow-y: auto;
    }
  }

  &__item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 12px;
    margin-left: 40px;

    &--info {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

.approve {
  min-width: 420px;
  padding: 24px;
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 24px 54px;

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    display: flex;
    text-align: center;
  }

  &__text {
    width: 40%;
    margin-bottom: 10px;
    color: var(--dark-grey);
    text-align: center;
  }

  &__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }

  &__cross {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
  }
}

.support {
  padding-bottom: 110px;

  @include responsive.apply-desktop {
    width: 470px;
  }

  &__cross {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    cursor: pointer;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 195px;

    @include responsive.apply-desktop {
      height: unset;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;

    @include typography.bold-body-16;

    @include responsive.apply-desktop {
      @include typography.heading-4;
    }
  }

  &__text {
    margin: 20px 0;
    color: var(--black);

    @include responsive.apply-desktop {
      max-width: 260px;
    }
  }
}

.approves {
  &__text {
    color: var(--black);
    white-space: nowrap;
  }
}
