<!-- @format -->

<div class="programs">
  @if (programs) {
  <div class="programs__list">
    @for (p of searchedPrograms; track p.id) {
    <a [routerLink]="['/office/program', p.id]">
      <app-program-card [program]="p"></app-program-card>
    </a>
    }
  </div>
  }

  <div class="programs__filter">
    <p class="text-body-14">фильтры</p>

    <label (click)="onTogglePparticipating()" class="programs__filter--block">
      <app-checkbox [checked]="isPparticipating()"></app-checkbox>
      <span class="text-body-12 programs__filter--text">участвую</span>
    </label>

    <app-select size="big" placeholder="все" [options]="programOptionsFilter"></app-select>
  </div>
</div>
