<!-- @format -->

@if (lessonInfo()) {
<div class="task">
  <div class="task__wrapper" [class.task__wrapper--mobile]="appWidth < 1000">
    @if (appWidth >= 1000) {
    <div class="task__tasks">
      <p class="task__name text-bold-body-14">модуль {{ lessonInfo()?.moduleOrder }}</p>
      <p class="task__lesson text-body-12">урок {{ lessonOrder() }}</p>
    </div>
    }

    <div class="task__progress">
      @for (task of tasks(); track task.id) {
      <div
        class="progress__task"
        (click)="onSelectTask(task)"
        [ngClass]="{
          'progress__task--done': isDone(task),
          'progress__task--current': isCurrent(task.id),
          'progress__task--clickable': isClickable(task)
        }"
      >
        <p class="text-body-12">{{ task.order }}</p>
      </div>
      }
    </div>
  </div>

  @if (loading()) {
  <div class="loading">
    <app-loader size="125px" color="accent"></app-loader>
  </div>
  } @else {
  <div class="task__main" [class.task__complete]="isComplete()">
    <router-outlet></router-outlet>

    @if (!isComplete() && currentTask(); as task) {
    <div class="task__content">
      <!-- informationalType === "text" или "video_text" и answerType === null → info-task -->
      @if (task.answerType === null && (task.informationalType === 'text' || task.informationalType
      === 'video_text' || task.informationalType === 'text_image')) {
      <app-info-task [data]="task"></app-info-task>
      }

      <!-- answerType === "text" или "text_and_files" → write-task -->
      @if (task.answerType === 'text' || task.answerType === 'text_and_files') {
      <app-write-task
        [data]="task"
        [type]="task.answerType === 'text_and_files' ? 'text-file' : 'text'"
        [disabled]="isViewingCompleted()"
        (update)="onAnswerChange($event)"
      ></app-write-task>
      }

      <!-- answerType === "multiple_choice" → exclude-task -->
      @if (task.answerType === 'multiple_choice') {
      <app-exclude-task
        [data]="task"
        [success]="success()"
        [error]="hasError()"
        [disabled]="isViewingCompleted()"
        (update)="onAnswerChange($event)"
      ></app-exclude-task>
      }

      <!-- answerType === "single_choice" → radio-select-task -->
      @if (task.answerType === 'single_choice') {
      <app-radio-select-task
        [data]="task"
        [success]="success()"
        [error]="hasError()"
        [disabled]="isViewingCompleted()"
        (update)="onAnswerChange([$event.answerId])"
      ></app-radio-select-task>
      }

      <!-- answerType === "files" → file-task -->
      @if (task.answerType === 'files') {
      <app-file-task
        [data]="task"
        [success]="success()"
        [error]="hasError()"
        [disabled]="isViewingCompleted()"
        (update)="onAnswerChange($event)"
      ></app-file-task>
      }

      <div class="task__actions">
        <div></div>

        <app-button
          [loader]="loader()"
          [disabled]="isSubmitDisabled() || isViewingCompleted()"
          [style.opacity]="isSubmitDisabled() || isViewingCompleted() ? 0.5 : 1"
          size="big"
          customTypographyClass="text-body-12"
          class="action__button"
          (click)="onSubmitAnswer()"
        >
          {{
            isLastTask()
              ? "завершить урок"
              : currentTask()?.answerType === null
              ? "отправить задание"
              : "отправить ответ"
          }}
        </app-button>
      </div>
    </div>
    }
  </div>
  }
</div>
}
