@use "styles/responsive";

.page {
  &__info {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    form {
      flex-grow: 1;
    }
  }

  &__outlet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
    flex-grow: 1;
  }

  &__create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__left {
    width: 100%;
  }
}
