@use "styles/responsive";

.page {
  &__info {
    display: flex;
    gap: 20px;
    justify-content: space-between;

    form {
      flex-grow: 1;
    }
  }

  &__outlet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 10px;
  }

  &__create {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  &__analytics {
    padding: 12px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }
}

.analytics {
  text-align: center;

  &__soon {
    position: relative;
    margin-bottom: 4px;
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__closed {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding: 24px 37px;

    &--text {
      color: var(--dark-grey);
    }

    i {
      color: var(--dark-grey);
    }
  }

  app-button {
    position: absolute;
    top: 82%;
    left: 36%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
    justify-content: center;
    margin-top: 8px;

    p {
      color: var(--accent);
      text-align: center;
    }
  }
}
