@use "styles/responsive";

.page {
  padding-bottom: 100px;

  &__bar {
    margin-bottom: 12px;
  }
}

:host ::ng-deep {
  .bar__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  .bar__bottom {
    width: 100%;
    padding: 20px 0;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  .bar__add-project {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      display: block;
      margin-left: 6px;
    }
  }

  .bar__add-project-text {
    display: inline;
  }
}
