<!-- @format -->

<main class="page">
  <div class="page__bar">
    <app-back namespace="проекты" path="/office/projects/main"></app-back>

    <div class="page__info">
      <div class="page__outlet">
        <form [formGroup]="searchForm">
          <app-search formControlName="search"></app-search>
        </form>

        <app-bar-new
          [links]="[
            {
              link: '/office/projects/my',
              linkText: 'Мои проекты',
              iconName: 'main',
              isRouterLinkActiveOptions: false,
            },

            {
              link: '/office/projects/subscriptions',
              linkText: 'Мои подписки',
              iconName: 'favourites',
              isRouterLinkActiveOptions: false,
            },

            {
              link: '/office/projects/invites',
              linkText: 'Мои приглашения',
              iconName: 'send',
              isRouterLinkActiveOptions: false,
            },

            {
              link: '/office/projects/all',
              linkText: 'Все проекты',
              iconName: 'folders',
              isRouterLinkActiveOptions: false,
            },
          ]"
        >
        </app-bar-new>

        <router-outlet></router-outlet>
      </div>

      <div class="page__create">
        <app-button
          size="medium"
          (click)="addProject()"
          customTypographyClass="text-body-12 bar__add-project"
        >
          <span class="bar__add-project-text text-body-12">создать проект</span>
          <i appIcon icon="plus" appSquare="10"></i>
        </app-button>

        <div class="page__left">
          <div class="page__analytics">
            <div class="analytics">
              <div class="analytics__soon">
                <div class="analytics__closed">
                  <i appIcon icon="lock" appSquare="10"></i>
                  <span class="text-body-6 analytics__closed--text">пока закрыто</span>
                </div>
                <app-button customTypographyClass="text-body-6" color="green" size="extra-small"
                  >скоро</app-button
                >
              </div>

              <div class="analytics__info">
                <p class="text-body-12">статистика</p>
                <p class="text-body-6">количество проектов, команды, эффективность</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
