:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  min-height: 32px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    cursor: pointer;
    transition: opacity 0.2s ease;

    i {
      transition: transform 0.2s ease;
      transform: rotate(180deg);
    }

    &--open {
      z-index: 1000;
      i {
        transform: rotate(90deg);
      }
    }

    &--disabled {
      pointer-events: none;
      cursor: not-allowed;
      opacity: 0.5;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      transition: width 0.2s ease;

      .heading--open &,
      &--has-open {
        width: 50%;
      }

      &--disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    &--open {
      width: 40%;
      z-index: 1000;
    }

    &__option {
      padding: 5px 0;
      padding-left: 10px;
      cursor: pointer;
      transition: opacity 0.2s ease;

      &:hover {
        background-color: var(--light-gray);
      }

      &--disabled {
        pointer-events: none;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }
}
