<!-- @format -->

<div class="relations">
  <div class="relations__grid">
    <div class="relations__item relations__a">PechaKucha Nights</div>
    <div class="relations__item relations__b">
      Выступающий представляет доклад-презентацию из 20 слайдов, каждый слайд демонстрируется 20
      секунд, после чего автоматически сменяется на следующий. Таким образом, продолжительность
      доклада ограничена 6 минутами 40 секундами или 6 минутами.
    </div>
    <div class="relations__item relations__a">TedTalks</div>
    <div class="relations__item relations__b">
      Фокус формата состоит в распространении уникальных идей, избранные лекции доступны на
      веб-сайте конференции. Темы выступлений разнообразны: наука, бизнес, глобальные проблемы,
      технологии и развлечения. В список выступающих попали такие известные личности, как
      Нобелевские лауреаты Джеймс Уотсон, Мюррей Гелл-Манн, а также основатель Википедии Джимми
      Уэйлс Фокус формата состоит в распространении уникальных идей, избранные лекции доступны на
      веб-сайте конференции. Темы выступлений разнообразны: наука, бизнес, глобальные проблемы,
      технологии и развлечения. В список выступающих попали такие известные личности, как
      Нобелевские лауреаты Джеймс Уотсон, Мюррей Гелл-Манн, а также основатель Википедии Джимми
      Уэйлс
    </div>
    <div class="relations__item relations__a">Elevator-pitch</div>
    <div class="relations__item relations__b">
      Выступающий представляет доклад-презентацию из 20 слайдов, каждый слайд демонстрируется 20
      секунд, после чего автоматически сменяется на следующий. Таким образом, продолжительность
      доклада ограничена 6 минутами 40 секундами или 6 минутами.
    </div>
  </div>
</div>
