@use "styles/typography";
@use "styles/responsive";

.relations {
  padding: 26px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  &__title {
    margin-bottom: 20px;
    color: var(--black);

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 26px;

      @include typography.heading-3;
    }
  }

  &__description {
    margin-bottom: 20px;
    white-space: pre-line;

    @include typography.body-14;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: space-between;

    @include responsive.apply-desktop {
      flex-direction: row;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    min-width: 220px;

    &--grid {
      display: grid;

      @include responsive.apply-desktop {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  &__item {
    max-height: 500px;
    padding: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid var(--grey-button);
    border-radius: 10px;

    @include typography.body-14;

    @include responsive.apply-desktop {
      @include typography.body-12;
    }

    &--active {
      border-color: var(--accent);
    }

    &--success {
      color: var(--green);
      background-color: var(--light-green);
      border-color: var(--green);
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  :host ::ng-deep &__hint p {
    margin-top: 20px;

    @include typography.body-14;
  }
}
