.responses {
  &__bar {
    margin-bottom: 12px;
  }

  &__no-responses {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 68px;
    text-align: center;

    & span {
      color: var(--dark-grey);
    }
  }
}
