.responses {
  &__bar {
    margin-bottom: 12px;
  }
  &__no-responses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 68px;
    text-align: center;
    & span {
      color: var(--dark-grey)
    }
  }
}
