<!-- @format -->

<div class="filters">
  <button
    class="filters__toggle text-body-14"
    [class.filters__toggle--open]="filtersOpen"
    (click)="filtersOpen = !filtersOpen"
  >
    Фильтры
    <i appIcon icon="arrow-no-body" appWidth="12" appHeight="6" appViewBox="0 0 18 9"> </i>
  </button>
  <div class="filters__controls" [class.filters__controls--open]="filtersOpen">
    <form [formGroup]="filterForm">
      <input formControlName="speciality" class="input" placeholder="Специальность" type="text" />
      <input formControlName="keySkill" type="text" class="input" placeholder="Навыки" />
      <app-range-input formControlName="age"></app-range-input>
    </form>
  </div>
</div>
