<!-- @format -->

@if (user) {
<section class="profile">
  <div class="profile__details">
    <div class="profile__left">
      <div class="lists profile__section">
        <div class="lists__section">
          <h3 class="text-body-12 lists__title">метаданные</h3>
          <i appIcon icon="anchor" class="lists__icon" appSquare="12"></i>
        </div>

        <ul class="lists__list">
          <li class="lists__item">
            <i appIcon icon="person" class="lists__icon" appSquare="10"></i>
            <p class="text-body-10">{{ (user.birthday | yearsFromBirthday) ?? "не указан" }}</p>
          </li>

          @if (user.city) {
          <li class="lists__item">
            <i appIcon icon="geo-point" class="lists__icon" style="opacity: 0.6" appSquare="10"></i>
            <p class="text-body-10">{{ (user.city | truncate: 12) ?? "не указан" }}</p>
          </li>
          } @if (user.speciality) {
          <li class="lists__item">
            <i appIcon icon="goal" class="lists__icon" appSquare="10"></i>
            <p class="text-body-10">
              {{ (user.speciality | truncate: 13) ?? "не указана" }}
            </p>
          </li>
          }
        </ul>
      </div>

      @if (user.userLanguages.length > 0) {
      <div class="lists profile__section">
        <div class="lists__section">
          <h3 class="text-body-12 lists__title">языки</h3>
          <i appIcon icon="world-wide" class="lists__icon" appSquare="12"></i>
        </div>

        <ul class="lists__list">
          @for (language of user.userLanguages; track $index) {
          <li class="lists__item">
            <div class="lists__index text-body-10">{{ language.languageLevel }}</div>
            <p class="text-body-10">{{ language.language }}</p>
          </li>
          }
        </ul>
      </div>
      } @if (user.programs.length; as programsLength) {
      <div class="lists">
        <ul class="lists__list--line">
          @for (p of user.programs.slice(0, 3); track p.id) {
          <li class="lists__item" [routerLink]="['/office/program', p.id]">
            <ng-container *ngTemplateOutlet="programTemp; context: { $implicit: p }"></ng-container>
          </li>
          }
        </ul>
        <div class="lists__remaining" [class.lists__remaining--show]="readAllPrograms">
          @if (user.programs) {
          <ul>
            @for (program of user.programs.slice(3); track program.id) {
            <li>
              <ng-container
                *ngTemplateOutlet="programTemp; context: { $implicit: program }"
              ></ng-container>
            </li>
            }
          </ul>
          }
        </div>
        <ng-template #programTemp let-program>
          <div>
            <div class="lists__info">
              <a [routerLink]="['/office/program', program.id]" class="text-body-10 lists__title">
                <img alt="program logo" [src]="program.logo" width="40" height="40" />
              </a>
            </div>
          </div>
        </ng-template>
        @if (programsLength > 3) {
        <div class="read-more text-body-10" (click)="readAllPrograms = !readAllPrograms">
          {{ readAllPrograms ? "скрыть" : "подробнее" }}
        </div>
        }
      </div>
      }
    </div>

    @if (loggedUserId) {
    <div class="profile__content">
      @if (user.aboutMe; as about) {
      <div class="about profile__about">
        <div class="about__head">
          <h3 class="text-body-12 about__title">обо мне</h3>
          <i appIcon icon="folder" appSquare="12" class="about__head--icon"></i>
        </div>

        <div class="text-body-10 about__text">
          <p #descEl [innerHTML]="about | parseLinks | parseBreaks"></p>
          @if (descriptionExpandable) {
          <div
            class="read-more text-body-10"
            (click)="onExpandDescription(descEl, 'expanded', readFullDescription)"
          >
            {{ readFullDescription ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
      </div>
      } @if (user.skills.length || user.achievements.length) {
      <div class="profile__directions">
        @for (directionItem of directions; track $index) {
        <app-project-direction-card
          [direction]="directionItem.direction"
          [icon]="directionItem.icon"
          [about]="directionItem.about"
          [type]="directionItem.type"
          [profileInfoType]="directionItem.direction === 'навыки' ? 'skills' : 'achievements'"
        ></app-project-direction-card>
        }
      </div>
      } @if (isProfileEmpty) { @if (loggedUserId === user.id) {
      <div class="profile__empty">
        <i appIcon icon="empty-chat" appSquare="44"></i>
        <p class="profile__empty--text text-body-12">
          заполните профиль и начните пользоваться PROCOLLAB
        </p>
        <app-button
          size="medium"
          customTypographyClass="text-body-12"
          routerLink="/office/profile/edit"
          [queryParams]="{ editingStep: 'main' }"
          >заполнить</app-button
        >
      </div>
      } } @else {
      <div class="profile__news news">
        @if (loggedUserId === user.id) {
        <app-news-form class="news__form" (addNews)="onAddNews($event)"></app-news-form>
        }
        <ul>
          @for (n of news(); track n.id) {
          <li>
            <app-news-card
              class="news__item"
              [resourceLink]="['/office/profile', n.id]"
              [attr.data-id]="n.id"
              [feedItem]="n"
              [isOwner]="loggedUserId === user.id"
              (delete)="onDeleteNews($event)"
              (like)="onLike($event)"
              (edited)="onEditNews($event, n.id)"
            ></app-news-card>
          </li>
          }
        </ul>
      </div>
      }
    </div>
    }

    <div class="profile__right">
      <div class="profile__aside">
        @if (user.links.length; as linksLength) {
        <div class="profile__section lists">
          <div class="lists__section">
            <h3 class="text-body-12 lists__title">контакты</h3>
            <i class="lists__icon" icon="phone" appIcon appSquare="12"></i>
          </div>
          <ul class="lists__list">
            @for (link of user.links.slice(0, 3); track $index) {
            <li class="lists__item text-body-10">
              <ng-container
                *ngTemplateOutlet="linkTemp; context: { $implicit: link }"
              ></ng-container>
            </li>
            }
          </ul>
          <div class="lists__remaining" [class.links__remaining--show]="readAllLinks">
            <ul class="lists__list">
              @for (link of user.links.slice(3); track $index) {
              <li class="lists__item text-body-12" style="color: var(--black)">
                <ng-container *ngTemplateOutlet="linkTemp; context: { $implicit: link }">
                </ng-container>
              </li>
              }
            </ul>
          </div>
          <ng-template #linkTemp let-link>
            @if (link | userLinks; as l) {
            <a class="lists__item" style="color: var(--black)" target="_blank" [href]="link">
              <i class="lists__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
              <span>{{ l.tag | truncate: 30 }}</span>
            </a>
            }
          </ng-template>
          @if (linksLength > 3) {
          <div class="read-more text-body-10" (click)="readAllLinks = !readAllLinks">
            {{ readAllLinks ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
        } @if (user.education.length; as educationLength) {
        <div class="lists profile__section">
          <div class="lists__section">
            <h3 class="text-body-12 lists__title">образование</h3>
            <i class="lists__icon" icon="in-search" appIcon appSquare="12"></i>
          </div>
          <ul class="lists__list">
            @for (p of user.education.slice(0, 3); track $index) {
            <li class="lists__item">
              <ng-container
                *ngTemplateOutlet="educationTemp; context: { $implicit: p }"
              ></ng-container>
            </li>
            }
          </ul>
          <div class="lists__remaining" [class.lists__remaining--show]="readAllEducation">
            @if (user.education) {
            <ul>
              @for (educationItem of user.education.slice(3); track $index) {
              <li>
                <ng-container
                  *ngTemplateOutlet="educationTemp; context: { $implicit: educationItem }"
                ></ng-container>
              </li>
              }
            </ul>
            }
          </div>
          <ng-template #educationTemp let-education>
            <div class="lists__date">
              <p class="text-body-10">
                {{ education.entryYear }}
              </p>

              <p class="text-body-10">—</p>

              <p class="text-body-10">{{ education.completionYear }}</p>
            </div>

            <div class="lists__info">
              <p class="text-body-10 lists__info--text" style="margin: 0">
                {{ education.organizationName | truncate: 30 }}
              </p>

              <span class="text-body-6 lists__info--subtext"
                >{{ education.description | truncate: 30 }} <br />
                {{ education.educationLevel }} • {{ education.educationStatus }}</span
              >
            </div>
          </ng-template>
          @if (educationLength > 3) {
          <div class="read-more text-body-10" (click)="readAllEducation = !readAllEducation">
            {{ readAllEducation ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
        } @if (user.workExperience.length; as workExperienceLength) {
        <div class="lists profile__section">
          <div class="lists__section">
            <h3 class="text-body-12 lists__title">работа</h3>
            <i class="lists__icon" icon="suitcase" appIcon appSquare="12"></i>
          </div>
          <ul class="lists__list">
            @for (p of user.workExperience.slice(0, 3); track $index) {
            <li class="lists__item">
              <ng-container
                *ngTemplateOutlet="workExperienceTemp; context: { $implicit: p }"
              ></ng-container>
            </li>
            }
          </ul>
          <div class="lists__remaining" [class.lists__remaining--show]="readAllWorkExperience">
            @if (user.workExperience) {
            <ul>
              @for (workExperienceItem of user.workExperience.slice(3); track $index) {
              <li>
                <ng-container
                  *ngTemplateOutlet="workExperienceTemp; context: { $implicit: workExperienceItem }"
                ></ng-container>
              </li>
              }
            </ul>
            }
          </div>
          <ng-template #workExperienceTemp let-workExperience>
            <div class="lists__date">
              <p class="text-body-10">{{ workExperience.entryYear }}</p>

              <p class="text-body-10">—</p>

              <p class="text-body-10">{{ workExperience.completionYear }}</p>
            </div>

            <div class="lists__info">
              <p class="text-body-10 lists__info--text" style="margin: 0">
                {{ workExperience.organizationName | truncate: 30 }}
              </p>

              <span class="text-body-6 lists__info--subtext">{{ workExperience.jobPosition }}</span>

              <span (click)="openWorkInfoModal()" class="text-body-6 lists__info--more"
                >подробнее</span
              >
            </div>

            <app-modal [open]="isShowModal" (openChange)="isShowModal = !isShowModal">
              <div class="cancel">
                <div class="cancel__top">
                  <p class="cancel__title text-body-12">{{ workExperience.organizationName }}</p>
                  <i class="cancel__icon" appIcon icon="suitcase" appSquare="11"></i>
                </div>

                <p class="text-body-10 cancel__text">{{ workExperience.description }}</p>

                <p class="text-body-6 lists__info--subtext">
                  {{ workExperience.jobPosition }} • {{ workExperience.entryYear }} -
                  {{ workExperience.completionYear }}
                </p>
              </div>
            </app-modal>
          </ng-template>
          @if (workExperienceLength > 3) {
          <div
            class="read-more text-body-10"
            (click)="readAllWorkExperience = !readAllWorkExperience"
          >
            {{ readAllWorkExperience ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
        } @if (user.projects.length; as projectsLength) {
        <div class="lists profile__section">
          <div class="lists__section">
            <h3 class="text-body-12 lists__title">проекты</h3>
            <i class="lists__icon" icon="projects" appIcon appSquare="12"></i>
          </div>
          <ul class="lists__list">
            @for (p of user.projects.slice(0, 3); track p.id) {
            <li class="lists__item" [routerLink]="['/office/projects', p.id]">
              <ng-container
                *ngTemplateOutlet="projectTemp; context: { $implicit: p }"
              ></ng-container>
            </li>
            }
          </ul>
          <div class="lists__remaining" [class.lists__remaining--show]="readAllProjects">
            @if (user.projects) {
            <ul>
              @for (project of user.projects.slice(3); track project.id) {
              <li>
                <ng-container
                  *ngTemplateOutlet="projectTemp; context: { $implicit: project }"
                ></ng-container>
              </li>
              }
            </ul>
            }
          </div>
          <ng-template #projectTemp let-project>
            <div class="lists__item" [routerLink]="['/office/projects', project.id]">
              <img
                class="lists__logo"
                alt="project logo"
                [src]="project.imageAddress"
                width="30"
                height="30"
              />
              <div class="lists__info">
                <p class="text-body-10 lists__item" style="color: var(--black)">
                  {{ project.name | truncate: 30 }}
                </p>
                <span class="text-body-6 lists__item">{{ project.collaborator?.role }}</span>
              </div>
            </div>
          </ng-template>
          @if (projectsLength > 3) {
          <div class="read-more text-body-10" (click)="readAllProjects = !readAllProjects">
            {{ readAllProjects ? "скрыть" : "подробнее" }}
          </div>
          }
        </div>
        }
      </div>
    </div>
  </div>
</section>
}
