:host {
  width: 100%;
}

.kanban {
  &__task {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 245px;
    padding: 12px;
    cursor: pointer;
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
    transition: opacity 0.2s ease-in;

    &:hover {
      opacity: 0.7;
    }

    &-left {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      gap: 5px;
      align-items: flex-start;
    }

    &-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &-mid {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-priority {
      width: 6px;
      height: 6px;
      border-radius: var(--rounded-xxl);
    }

    &-deadline,
    &-bottom {
      display: flex;
      gap: 2px;
      align-items: center;

      p {
        color: var(--accent) !important;
      }

      ::ng-deep {
        app-tag {
          .tag {
            padding: 2px 10px;
          }
        }
      }
    }

    &-people {
      display: flex;
      gap: 3px;
      align-items: center;
      align-items: flex-start;
    }

    &-responsible,
    &-deadline {
      display: flex;
      gap: 2px;
      align-items: center;

      app-avatar {
        margin-left: -2px;
      }

      i {
        min-width: 6px;
      }
    }

    &-icons {
      display: flex;
      gap: 5px;
      align-items: center;
    }

    span {
      color: var(--black);
    }

    p {
      color: var(--grey-for-text);
    }

    i {
      color: var(--accent);
      cursor: pointer;
    }
  }
}
