/** @format */

.snackbar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  padding-top: 50px;
  padding-right: 50px;
  overflow-x: hidden;

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.item {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;

  &--success {
    color: var(--white);
    background-color: var(--green);
  }

  &--error {
    color: var(--white);
    background-color: var(--red);
  }
}
