/** @format */

@use "sass:color";

:root {
  // ACCENT
  --gradient: linear-gradient(90deg, #242424 0%, #8A63E6 50%);
  --gradient-mild: linear-gradient(90deg, #501d53 0.3%, #3b1f72 22%, #8A63E6 100%);
  --accent: #8A63E6;
  --accent-dark: #{color.adjust(#8A63E6, $blackness: 20%)};
  --accent-mild: #{color.adjust(#6c27ff, $alpha: -0.4)};
  --accent-light: #9A80E6;

  // GOLD
  --gold: #f6ff8b;
  --gold-dark: #f7cf4d;

  // GRAY
  --white: #FAFAFA;
  --black: #333333;
  --dark-grey: #E7E7E7;
  --gray: #d3d3d3;
  --light-gray: #f9f9f9;
  --grey-button: #e5e5e5e5;
  --medium-grey-for-outline: #eee;
  --grey-for-text: #a59fb9;

  // FUNCTIONAL
  --green: #88C9A1;
  --red: #D48A9E;
  --red-dark: #{color.adjust(#D48A9E, $blackness: 10%)};
}
