<!-- @format -->

@if (vacancy()!.project; as project) {
<div class="vacancy__right">
  <div class="vacancy__right--project">
    <app-avatar
      style="cursor: pointer"
      [size]="68"
      [url]="project.imageAddress"
      class="vacancy__right--project-image"
      [routerLink]="'/office/projects/' + project.id"
    ></app-avatar>
    <p class="text-body-12 vacancy__right--title">{{ project.name | truncate: 20 }}</p>

    <app-button size="big" customTypographyClass="text-body-12" (click)="onSendResponseClick()"
      >откликнуться</app-button
    >
  </div>

  <div class="lists vacancy__content">
    <div class="lists__section">
      <h3 class="text-body-12 lists__title">метаданные</h3>
      <i appIcon icon="anchor" class="lists__icon" appSquare="12"></i>
    </div>

    <ul class="lists__list">
      <li class="lists__item">
        <i appIcon icon="geo-point" style="opacity: 0.6" class="lists__icon" appSquare="10"></i>
        <p class="text-body-10">
          {{ project.region ? (project.region | capitalize | truncate: 20) : "не указан" }}
        </p>
      </li>

      <li class="lists__item">
        <i appIcon icon="deadline" class="lists__icon" appSquare="10"></i>
        <p class="text-body-10">
          {{
            vacancy()!.workFormat ? (vacancy()!.workFormat | capitalize) : "формат работы не указан"
          }}
        </p>
      </li>

      <li class="lists__item">
        <i appIcon icon="person" class="lists__icon" appSquare="10"></i>
        <p class="text-body-10">
          {{
            vacancy()!.requiredExperience
              ? (vacancy()!.requiredExperience.toLowerCase().includes("без опыта")
                  ? ""
                  : "опыт" + " ") + (vacancy()!.requiredExperience | capitalize)
              : "опыт не указан"
          }}
        </p>
      </li>

      <li class="lists__item">
        <i appIcon icon="goal" class="lists__icon" appSquare="10"></i>
        <p class="text-body-10">
          {{
            vacancy()!.workSchedule ? (vacancy()!.workSchedule | capitalize) : "график не указан"
          }}
        </p>
      </li>

      <li class="lists__item">
        <i appIcon icon="contacts" class="lists__icon" appSquare="10"></i>
        <p class="text-body-10">
          {{
            vacancy()!.salary
              ? (vacancy()!.salary | salaryTransform | capitalize) + " " + "рублей"
              : "по договоренности"
          }}
        </p>
      </li>
    </ul>
  </div>

  @if (project.links.length) {
  <div class="lists vacancy__content">
    <div class="lists__section">
      <h3 class="text-body-12 lists__title">контакты</h3>
      <i appIcon icon="phone" class="lists__icon" appSquare="12"></i>
    </div>

    <ul class="lists__list">
      @for (link of project.links; track $index) {
      <li class="lists__item text-body-10">
        @if (link | userLinks; as l) {
        <a class="lists__item" target="_blank" [href]="link">
          <i class="lists__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
          <span>{{ l.tag | truncate: 30 }}</span>
        </a>
        }
      </li>
      }
    </ul>
  </div>
  }
</div>
}
