<!-- @format -->

@if (vacancy()!.project; as project) {
  <div class="vacancy__right">
    <div class="vacancy__right--project">
      <app-avatar
        style="cursor: pointer"
        [size]="68"
        [url]="project.imageAddress"
        class="vacancy__right--project-image"
        [routerLink]="AppRoutes.projects.detail(project.id)"
      ></app-avatar>
      <p class="text-body-12 vacancy__right--title">{{ project.name | truncate: 20 }}</p>

      @if (vacancy()!.canManageResponses) {
        <app-button
          size="big"
          customTypographyClass="text-body-12"
          (click)="onManageResponsesClick()"
          >посмотреть отклики</app-button
        >
      } @else if (vacancy()!.hasResponded) {
        <app-button
          size="big"
          customTypographyClass="text-body-12"
          [color]="responseStatusColor(vacancy()!.responseStatus)"
          [disabled]="true"
          >{{ responseStatusLabel(vacancy()!.responseStatus) }}</app-button
        >
      } @else if (vacancy()!.canRespond) {
        <app-button size="big" customTypographyClass="text-body-12" (click)="onSendResponseClick()"
          >откликнуться</app-button
        >
      }
    </div>

    <div class="lists vacancy__content">
      <div class="lists__section">
        <h3 class="text-body-12 lists__title">метаданные</h3>
        <i appIcon icon="anchor" class="lists__icon" appSquare="12"></i>
      </div>

      <ul class="lists__list">
        <li class="lists__item">
          <i appIcon icon="geo-point" style="opacity: 0.6" class="lists__icon" appSquare="10"></i>
          <div class="lists__item-content">
            <span class="text-body-10 lists__label">Город</span>
            <p class="text-body-10 lists__value">
              @if (vacancy()!.city; as city) {
                {{ city | capitalize }}
              } @else {
                Не указан
              }
            </p>
          </div>
        </li>

        <li class="lists__item">
          <i appIcon icon="deadline" class="lists__icon" appSquare="10"></i>
          <div class="lists__item-content">
            <span class="text-body-10 lists__label">Формат работы</span>
            <p class="text-body-10 lists__value">
              {{ vacancy()!.workFormat ? (vacancy()!.workFormat | capitalize) : "Не указан" }}
            </p>
          </div>
        </li>

        <li class="lists__item">
          <i appIcon icon="person" class="lists__icon" appSquare="10"></i>
          <div class="lists__item-content">
            <span class="text-body-10 lists__label">Опыт</span>
            <p class="text-body-10 lists__value">
              {{
                vacancy()!.requiredExperience
                  ? (vacancy()!.requiredExperience | capitalize)
                  : "Не указан"
              }}
            </p>
          </div>
        </li>

        <li class="lists__item">
          <i appIcon icon="goal" class="lists__icon" appSquare="10"></i>
          <div class="lists__item-content">
            <span class="text-body-10 lists__label">График</span>
            <p class="text-body-10 lists__value">
              {{ vacancy()!.workSchedule ? (vacancy()!.workSchedule | capitalize) : "Не указан" }}
            </p>
          </div>
        </li>

        <li class="lists__item">
          <i appIcon icon="contacts" class="lists__icon" appSquare="10"></i>
          <div class="lists__item-content">
            <span class="text-body-10 lists__label">Зарплата</span>
            <p class="text-body-10 lists__value">
              {{
                vacancy()!.salary
                  ? (vacancy()!.salary | salaryTransform | capitalize) + " " + "рублей"
                  : "По договоренности"
              }}
            </p>
          </div>
        </li>
      </ul>
    </div>

    @if (project.links.length) {
      <div class="lists vacancy__content">
        <div class="lists__section">
          <h3 class="text-body-12 lists__title">контакты</h3>
          <i appIcon icon="phone" class="lists__icon" appSquare="12"></i>
        </div>

        <ul class="lists__list">
          @for (link of project.links; track $index) {
            <li class="lists__item text-body-10">
              @if (link | userLinks; as l) {
                <a class="lists__item" target="_blank" [href]="link">
                  <i class="lists__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
                  <span class="lists__contact">{{ l.tag }}</span>
                </a>
              }
            </li>
          }
        </ul>
      </div>
    }
  </div>
}
