/** @format */

.field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 0.5px solid var(--gray);
  border-radius: var(--rounded-sm);

  &--checked {
    background-color: var(--accent);
    border-color: var(--accent);
  }

  &__check {
    color: var(--white);
  }
}
