.create-tag {
  &__form {
    display: flex;
    gap: 5px;
    align-items: center;
  }

  &__pick-color {
    position: relative;
    width: 9px;
    height: 9px;
    cursor: pointer;
    border-radius: var(--rounded-sm);
  }

  &__input {
    padding: 3px 2px 2px 10px;
    outline: none;
    transition: all 0.2s;

    &::placeholder {
      color: var(--dark-grey);
    }

    &:focus {
      border-color: var(--accent);
    }
  }

  &__colors {
    position: absolute;
    right: -12%;
    bottom: -25%;
    padding: 7px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-md);

    &-wrapper {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(4, 1fr);
      gap: 3px;
    }
  }
}

.field {
  &__option {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &--add-object {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      cursor: pointer;
      border: 0.5px solid var(--accent);
      border-radius: var(--rounded-xl);

      i {
        color: var(--accent);
      }
    }
  }
}
