@use "styles/responsive";
@use "styles/typography";

.page {
  &__list--wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    @include responsive.apply-desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__filter {
    display: none;

    &--open {
      display: block;
    }

    @include responsive.apply-desktop {
      display: block;
      margin-left: 16px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px 40px;
      width: 70%;
    }
  }

  &__search {
    width: 100%;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }
}

.filter {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  @include responsive.apply-desktop {
    position: static;
    min-width: 280px;
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__bar {
    position: fixed;
    display: flex;
    width: 100%;
    height: 25px;
    touch-action: none;

    @include responsive.apply-desktop {
      display: none;
    }

    &::after {
      display: block;
      width: 85px;
      height: 5px;
      margin: auto;
      content: "";
      background-color: var(--gray);
      border-radius: var(--rounded-lg);
      transition: transform 0.2s;
    }
  }

  &__body {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    max-height: 72vh;
    overflow-y: auto;
    background-color: var(--white);
    border-radius: var(--rounded-lg);
    transform: translateY(0%);

    @include responsive.apply-desktop {
      position: static;
      max-height: unset;
      transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.filter-toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid var(--medium-medium-grey-for-outline);
  border-radius: 15px;

  @include responsive.apply-desktop {
    display: none;
  }
}
