<!-- @format -->

@if (invite) {
<div class="invite">
  <div class="invite__info">
    <h3 class="text-bold-body-14 invite__role">
      {{ invite.user.firstName }} {{ invite.user.lastName }}
    </h3>

    <p class="text-body-12 invite__requirements">
      {{ invite.role }}
    </p>

    <p class="text-body-10 invite__requirements">Роль - {{ invite.specialization }}</p>

    @if(invite.isAccepted === null) {
    <p class="text-body-12 invite__status">Приглашение отправлено</p>
    }
  </div>

  <div class="invite__icons">
    <i
      class="invite__edit invite__icon"
      appIcon
      icon="edit-pen"
      appSquare="24"
      (click)="isEditInviteModal.set(true)"
    ></i>

    <i
      class="invite__cross invite__icon"
      appIcon
      icon="cross"
      appSquare="24"
      (click)="isRemoveInviteModal.set(true)"
    ></i>
  </div>
</div>
}

<app-modal [open]="isRemoveInviteModal()" (openChange)="isRemoveInviteModal.set(false)">
  <div class="invite__warning-modal" style="align-items: center">
    <p class="text-body-12">Вы, действительно, хотите удалить участника из команды?</p>
    <div class="invite__buttons">
      <app-button
        customTypographyClass="text-body-12"
        (click)="isRemoveInviteModal.set(false)"
        appearance="outline"
        >Отмена</app-button
      >
      <app-button customTypographyClass="text-body-12" (click)="onRemove($event)"
        >Удалить</app-button
      >
    </div>
  </div>
</app-modal>

<app-modal [open]="isEditInviteModal()" (openChange)="isEditInviteModal.set(false)">
  <div class="invite__warning-modal">
    <h3 class="text-bold-body-16">Редактирование участника</h3>
    <p class="text-body-12" style="text-align: start; margin-top: 20px">Роль в команде</p>
    <form [formGroup]="inviteForm" class="invite__form">
      @if (inviteForm.get("role"); as role) {
      <fieldset class="invite__role">
        <app-input
          id="invite_role"
          formControlName="role"
          [error]="role | controlError"
          placeholder="Напишите роль участника в команде"
        ></app-input>
        @if ((role | controlError: "required")) {
        <div class="text-body-12 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (inviteForm.get("specialization"); as specialization) {
      <fieldset>
        <app-select
          id="specialization"
          formControlName="specialization"
          placeholder="Специальность"
          [options]="rolesMembersList"
        ></app-select>
        @if ((specialization | controlError: "required")) {
        <div class="text-body-12 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
      <app-button customTypographyClass="text-body-12" (click)="onEdit($event)"
        >Сохранить</app-button
      >
    </form>
  </div>
</app-modal>
