<!-- @format -->

<form class="form" [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <div class="form__row">
    <textarea
      formControlName="text"
      class="form__textarea text-body-14"
      autosize
      placeholder="Чем поделитесь сегодня?"
      rows="1"
    ></textarea>
    <button class="form__submit">
      <i appIcon icon="send" appSquare="20"></i>
    </button>
  </div>
  <div class="form__images">
    <app-img-card
      *ngFor="let i of imagesList"
      [loading]="i.loading"
      [src]="i.src"
      [error]="i.error"
      (cancel)="onDeletePhoto(i.id)"
      (retry)="onRetryUpload(i.id)"
    ></app-img-card>
  </div>
  <div class="form__files">
    <app-file-upload-item
      *ngFor="let f of filesList"
      [name]="f.tempFile.name"
      [type]="f.tempFile.type"
      [size]="f.tempFile.size"
      [loading]="f.loading"
      [error]="f.error"
      (delete)="onDeleteFile(f.id)"
    ></app-file-upload-item>
  </div>
  <div class="footer">
    <label class="footer__attach">
      <i appIcon icon="attach" appSquare="22"></i>
      <input type="file" accept="*/*" multiple (change)="onUploadFile($event)" />
    </label>
  </div>
</form>
