@mixin expandable-list {
  &__remaining {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: all 0.5s ease-in-out;

    &--show {
      grid-template-rows: 1fr;
    }

    ul {
      min-height: 0;
    }

    li {
      &:first-child {
        margin-top: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}

.project {
  &__left {
    width: 157px;
  }

  &__section {
    padding: 24px;
    margin-bottom: 14px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__item {
    display: flex;
    gap: 6px;
    align-items: center;

    &--status {
      padding: 8px;
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    &--title {
      color: var(--black);
    }

    i {
      padding: 6px;
      background-color: var(--light-white);
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xl);
    }

    p {
      color: var(--accent);
    }

    span {
      cursor: pointer;
    }
  }

  @include expandable-list;
}
