/** @format */

@use "styles/typography";
@use "styles/responsive";

.field {
  position: relative;
  width: 100%;

  &__input {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    cursor: pointer;
    background-color: var(--white);
    border: 0.5px solid var(--gray);
    border-radius: var(--rounded-xxl);
    outline: none;

    &--small {
      max-width: 70px;
      padding: 12px;
      text-align: center;
    }

    &--big {
      width: 100%;
      padding: 12px;
    }

    &--placeholder {
      color: var(--dark-grey);
    }

    &--open {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }

    &--error {
      border-color: var(--red) !important;
    }

    &--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    @include typography.body-12;
  }

  &__arrow {
    color: var(--dark-grey);
    transition: all 0.2s;
    transform: rotate(180deg);

    &--filpped {
      color: var(--accent);
      transform: rotate(0deg);
    }
  }
}
