/** @format */

@use "styles/typography";
@use "styles/responsive";

.field {
  position: relative;
  width: 100%;

  &__input {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--black);
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-xxl);
    outline: none;

    &--small {
      max-width: 70px;
      padding: 12px;
      text-align: center;
    }

    &--big {
      width: 100%;
      padding: 12px;
    }

    &--placeholder {
      color: var(--dark-grey);
    }

    &--open {
      border-color: var(--accent);
      box-shadow: 0 0 6px rgb(109 40 255 / 30%);
    }

    @include typography.body-12;
  }

  &__options {
    position: absolute;
    right: 0;
    bottom: -6px;
    left: 5%;
    z-index: 11;
    width: 90%;
    max-height: 200px;
    overflow-y: auto;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: var(--rounded-lg);
    transform: translateY(100%);
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 18px;
    color: var(--dark-grey);
    cursor: pointer;
    border-radius: var(--rounded-lg);
    transition: background-color 0.2s;

    &--highlighted {
      background-color: var(--light-gray);
    }

    &:hover {
      color: var(--accent);
    }

    &--point {
      color: var(--accent);
    }
  }

  &__arrow {
    color: var(--dark-grey);
    transition: all 0.2s;
    transform: rotate(180deg);

    &--filpped {
      color: var(--accent);
      transform: rotate(0deg);
    }
  }
}
