<!-- @format -->

<form class="auth set-password" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="auth__title">Новый пароль</h1>
    <p class="text-body-16 set-password__text">Введите новый пароль</p>
    <fieldset *ngIf="loginForm.get('password') as password" class="auth__field">
      <app-input
        class="set-password__password"
        [error]="password | controlError"
        id="password"
        type="password"
        formControlName="password"
        placeholder="Пароль"
      ></app-input>
      <div *ngIf="password | controlError: 'required'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
    </fieldset>
    <fieldset *ngIf="loginForm.get('password') as password" class="auth__field">
      <app-input
        class="set-password__password"
        [error]="password | controlError"
        id="password_repeated"
        type="password"
        formControlName="password"
        placeholder="Пароль"
      ></app-input>
      <div *ngIf="password | controlError: 'required'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
    </fieldset>
    <div *ngIf="errorRequest" class="text-body-14 error">
      {{ errorMessage.AUTH_WRONG_AUTH }}
    </div>
    <app-button [loader]="isSubmitting" class="auth__button" type="submit"> Готово </app-button>
  </div>
</form>
