<!-- @format -->

<form class="auth" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
  <div class="auth__wrapper">
    <h1 class="auth__title">Забыли пароль?</h1>
    <p class="reset__text text-body-14">Чтобы сбросить пароль, введите свой электронный адрес.</p>
    <fieldset *ngIf="resetForm.get('email') as email" class="auth__field">
      <app-input
        [error]="email | controlError"
        id="email"
        type="email"
        formControlName="email"
        placeholder="Введите почту"
      ></app-input>
      <div *ngIf="email | controlError: 'email'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_EMAIL }}
      </div>
      <div *ngIf="email | controlError: 'required'" class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      <div *ngIf="errorServer" class="text-body-14 error">
        Аккаунт с таким email не зарегистрирован
      </div>
    </fieldset>
    <app-button 
      [loader]="isSubmitting" 
      type="submit"
      class="auth__button" 
      customTypographyClass="auth__button-typography"
    > 
      Отправить 
    </app-button>
  </div>
</form>
