<!-- @format -->

<div class="rating-card">
  <div class="rating-card__left">
    <img
      alt="skill-image"
      style="object-fit: cover"
      [ngSrc]="personalRatingCardData.fileLink"
      width="50"
      height="50"
      class="rating-card__image"
      loading="lazy"
    />
    <div>
      <h3 class="rating-card__name">
        {{ personalRatingCardData.skillName }}
      </h3>
      <p class="rating-card__level">
        {{ personalRatingCardData.skillLevel }}
        {{ personalRatingCardData.skillLevel | pluralize: ["уровень", "уровня", "уровней"] }}
      </p>
    </div>
  </div>
  <app-circle-progress-bar
    style="width: 65px; height: 65px"
    [progress]="personalRatingCardData.skillProgress"
  ></app-circle-progress-bar>
</div>
