<!-- @format -->

<div class="rating-card">
  <div class="rating-card__left">
    <h3 class="rating-card__name">
      {{ personalRatingCardData.skillName }}
    </h3>
    <p class="rating-card__level">
      {{ personalRatingCardData.skillLevel }}
      {{ personalRatingCardData.skillLevel | pluralize: ["уровень", "уровня", "уровней"] }}
    </p>
  </div>
  <app-circle-progress-bar
    style="width: 65px; height: 65px"
    [progress]="personalRatingCardData.skillProgress"
  ></app-circle-progress-bar>
  <!-- <div class="rating-card__right">{{ personalRatingCardData.skillProgress }} %</div> -->
</div>
