/** @format */

.links {
  overflow: hidden;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    cursor: pointer;
  }

  &__link {
    display: flex;
    gap: 6px;
    align-items: center;
    color: var(--accent);
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }

    i {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: var(--rounded-xxl);
    }

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
