@use "styles/typography";
@use "styles/responsive";

.month {
  width: 100%;
  height: 100px;
  padding: 50px 18px;
  overflow: hidden;
  white-space: nowrap;
  background-color: var(--white);
  border-radius: 15px;
  position: relative;

  &__item {
    opacity: 0.3;

    &--done {
      opacity: 1;
    }
  }

    &__next {
      text-decoration: underline;
      color: var(--grey-for-text);
      position: absolute;
      right: 1.5%;
      top: 40%;

      @include typography.bold-body-14;
    }
}

.item {
  position: relative;
  z-index: 100;
  display: inline-block;
  width: 100%;
  max-width: 180px;
  height: 60px;
  margin: 0;
  margin-right: 0.8%;
  line-height: 45px;
  text-align: center;
  transition: all 0.8s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    transition: all 0.8s;
  }

  &::before {
    position: absolute;
    top: -50%;
    left: 20%;
    z-index: -100;
    width: 100%;
    height: 50%;
    content: "";
    background: var(--accent);
    opacity: 1;
    transition: all 0.8s;
    transform: skew(60deg);
  }

  &::after {
    position: absolute;
    top: 0%;
    left: 20%;
    z-index: -100;
    width: 100%;
    height: 50%;
    content: "";
    background: var(--accent);
    opacity: 1;
    transition: all 0.8s;
    transform: skew(60deg);
    transform: skew(-60deg);
  }

  &__name {
    position: absolute;
    top: -18%;
    left: 52%;
    display: flex;
    gap: 5px;
    color: var(--white);

    @include typography.bold-body-14;
  }
}
