.chat {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  cdk-virtual-scroll-viewport {
    ::ng-deep .cdk-virtual-scroll-content-wrapper {
      max-width: 100%;
    }
  }

  &__messages {
    flex-grow: 1;
    max-width: 100%;
    overflow-y: auto;
    background-color: var(--white);
  }

  &__message {
    display: block;
    width: 100%;

    &:last-child {
      margin-bottom: 10px;
    }
  }

  &__typing {
    margin-bottom: 4px;
    color: var(--dark-grey);
  }
}
