<!-- @format -->

<main class="responses">
  <section class="bar responses__bar">
    <nav class="bar__nav">
      <ul class="bar__tabs">
        <a
          class="bar__link"
          [routerLink]="['/office/projects', projectId | async]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Страница проекта</li>
        </a>
        <a
          class="bar__link"
          [routerLink]="['/office/projects', projectId | async, 'responses']"
          routerLinkActive="bar__link--active"
        >
          <li class="text-body-14 bar__item">Отклики на вакансию</li>
        </a>
      </ul>
    </nav>
  </section>
  <section class="responses__main">
    <ul>
      <li *ngFor="let response of responses">
        <app-response-card
          [response]="response"
          (accept)="acceptResponse($event)"
          (reject)="rejectResponse($event)"
        ></app-response-card>
      </li>
    </ul>
  </section>
</main>
