<!-- @format -->

<div class="root" style="text-align: center">
  @if (loading) {
  <app-loader size="25px" color="accent"></app-loader>
  } @else if (!value) {
  <div class="control" [class.control--error]="error">
    <input [id]="controlId" hidden type="file" [accept]="accept" (change)="onUpdate($event)" />
    <label [for]="controlId">
      <div class="control__empty">
        <ng-content select="[emptyPlaceholder]"></ng-content>
      </div>
    </label>
  </div>
  } @else {
  <div class="control">
    <div class="control__success">
      <i appIcon icon="file-success" appSquare="16"></i>
      <p class="text-body-12 file__title">Файл успешно загружен</p>
    </div>
    <i class="file__basket" appIcon icon="basket" appSquare="16" (click)="onRemove()"></i>
  </div>
  }
</div>
