<!-- @format -->

@if (open || checked) {
<div class="modal">
  <div (click)="onCloseModal(open)" class="modal__overlay"></div>
  <div class="modal__body cancel">
    <i (click)="onCloseModal(open)" appIcon icon="cross" class="cancel__cross"></i>
    <p class="cancel__title">
      {{
        checked
          ? "Вы действительно хотите влючить автопродление подписки?"
          : "Вы действительно хотите отменить подписку?"
      }}
    </p>
    <app-button (click)="onCloseModal(open)" [color]="checked ? 'primary' : 'grey'">{{
      checked ? "Включить" : "Отменить"
    }}</app-button>
    <img alt="wave" src="assets/images/subscription/wave.svg" class="cancel__wave" />
  </div>
</div>
}
