<!-- @format -->

<div class="project__inner">
  <div [formGroup]="additionalForm" class="project__team">
    <div class="project__additional-wrapper">
      @if (partnerProgramFields.length) { @for (field of partnerProgramFields; track field.id) {
      <label class="text-bold-body-14 field-label">дополнительные сведения</label>
      <fieldset>
        @switch (field.fieldType) { @case ("text") { @if (additionalForm.get(field.name); as
        control) {
        <label
          style="cursor: pointer"
          class="field-label"
          (click)="toggleAdditionalFormValues(field.fieldType, field.name)"
          [for]="field.name"
          >{{ field.label }}</label
        >
        <app-input
          size="big"
          [id]="field.name"
          formControlName="{{ field.name }}"
          [error]="control | controlError: 'required'"
          [placeholder]="field.helpText"
        ></app-input>
        } } @case ("textarea") {
        <label
          style="cursor: pointer"
          class="field-label"
          (click)="toggleAdditionalFormValues(field.fieldType, field.name)"
          [for]="field.name"
          >{{ field.label }}</label
        >
        @if (additionalForm.get(field.name); as control) {
        <app-textarea
          size="big"
          [id]="field.name"
          formControlName="{{ field.name }}"
          [error]="control | controlError"
          [placeholder]="field.helpText"
        ></app-textarea>
        } } @case ("checkbox") {
        <div
          class="project__team--additional"
          [ngStyle]="{
            display: field.fieldType === 'checkbox' ? 'flex' : 'block'
          }"
        >
          <app-checkbox
            [checked]="this.additionalForm.get(field.name)?.value"
            (checkedChange)="this.additionalForm.get(field.name)?.setValue($event)"
          ></app-checkbox>
          <label
            style="cursor: pointer"
            class="field-label"
            (click)="toggleAdditionalFormValues(field.fieldType, field.name)"
            [for]="field.name"
            >{{ field.label }}</label
          >
        </div>
        } @case ("radio") { @if (additionalForm.get(field.name); as control) {
        <app-switch
          [checked]="additionalForm.get(field.name)?.value"
          (checkedChange)="additionalForm.get(field.name)?.setValue($event)"
        ></app-switch>
        }
        <label
          style="cursor: pointer"
          class="field-label"
          (click)="toggleAdditionalFormValues(field.fieldType, field.name)"
          [for]="field.name"
          >{{ field.label }}</label
        >
        } @case ("select") {
        <label
          style="cursor: pointer"
          class="field-label"
          (click)="toggleAdditionalFormValues(field.fieldType, field.name)"
          [for]="field.name"
          >{{ field.label }}</label
        >
        <app-select
          size="big"
          [id]="field.name"
          formControlName="{{ field.name }}"
          [placeholder]="field.helpText || field.label"
          [options]="field.options | toSelectOptions"
        ></app-select>
        } } @if (additionalForm.get(field.name); as control) { @if (control | controlError:
        "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        } }
      </fieldset>
      } } @else {
      <div class="project__additional--no-items">
        <p class="text-body-12">пока ты не участвуешь ни в одной программе</p>
        <a routerLink="/office/program/all">
          <app-button size="medium" appearance="outline" customTypographyClass="text-body-12">
            <span>программы</span>
            <app-tooltip
              [text]="'Перейди по ссылке и ознакомься с тем, где можно сейчас поучаствовать'"
              [isVisible]="isTooltipVisible"
              [position]="'right'"
              [tooltipWidth]="300"
              customClass="content__hint"
              (show)="showTooltip()"
              (hide)="hideTooltip()"
            ></app-tooltip>
          </app-button>
        </a>

        <i appIcon icon="sad-smile" appSquare="20" class="project__no-items"></i>
      </div>
      }
    </div>
  </div>
</div>
