.field {
  &__input {
    padding: 15px 25px;
    color: var(--gray-100);
    background-color: transparent;
    border: 1px solid var(--gray-100);
    border-radius: var(--rounded-lg);
    outline: none;
  }
}
