<!-- @format -->

<div class="field" [class.field--error]="error">
  <div class="field__left-icon">
    <ng-content select="left-icon"></ng-content>
  </div>
  <input
    [value]="value"
    (input)="onInput($event)"
    (blur)="onBlur()"
    [placeholder]="placeholder"
    [type]="type"
    [mask]="mask"
    [showMaskTyped]="true"
    class="text-body field__input"
    [class.field__input--error]="error"
  />
  <div class="field__gradient"></div>
  <div *ngIf="error" class="field__error-icon">
    <app-icon icon="color-error" appSquare="20"></app-icon>
  </div>
</div>
