@use "styles/responsive";

.search {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border-bottom: 0.5px solid var(--dark-grey);

  &__other {
    flex-grow: 1;
  }

  &__icon {
    margin-right: 4px;
    margin-bottom: 2px;
    color: var(--dark-grey);

    &--open {
      margin-top: 4px;
      margin-bottom: 0;
    }
  }

  &__text {
    color: var(--dark-grey);
  }

  &__input {
    width: 100%;

    @include responsive.apply-desktop {
      width: 200px;
    }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;

      &::placeholder {
        color: var(--dark-grey);
      }
    }
  }
}
