@use "styles/typography";
@use "styles/responsive";

.card {
  padding: 24px 12px;
  background-color: var(--light-white);
  border: 0.5px solid var(--medium-grey-for-outline);
  border-radius: var(--rounded-lg);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__menu {
    position: relative;
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--dark-grey);
    cursor: pointer;
  }

  &__options {
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 2;
    padding: 20px 0;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-xl);
  }

  &__option {
    padding: 5px 20px;
    cursor: pointer;
    width: 120px;
    transition: background-color 0.2s;
    color: var(--grey-for-text);

    &:hover {
      color: var(--accent);
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__title {
    display: flex;
    align-items: center;
  }

  &__top {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__name {
    color: var(--black);
  }

  &__date {
    color: var(--dark-grey);
  }

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    color: var(--grey-for-text);
    white-space: break-spaces;

    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }
  }
  /* stylelint-enable value-no-vendor-prefix */

  &__edit-files {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:not(:empty) {
      margin-top: 30px;
    }
  }

  &__gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__files {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__img {
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__img-like {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    color: var(--accent);
    background-color: var(--white);
    border-radius: var(--rounded-xl);
    transition: transform 0.1s ease-in-out;
    transform: translate(-50%, -50%) scale(0);

    &--show {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &__footer {
    margin-top: 10px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    color: var(--dark-grey);
  }

  &__like {
    cursor: pointer;

    &--active {
      color: var(--accent);
    }
  }
}

.share {
  color: var(--dark-grey);

  &__icon {
    cursor: pointer;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.editor-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid var(--medium-grey-for-outline);

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__attach {
    color: var(--dark-grey);
    cursor: pointer;

    input {
      display: none;
    }
  }
}
