<!-- @format -->
<div>
  <app-bar class="vacancy-bar" [backHave]="true" [links]="[]"></app-bar>
  @if (authService.profile | async; as profile) {
  <main class="vacancy">
    <app-modal [(open)]="resultModal">
      <div class="succeed">
        <i class="succeed__check" appIcon icon="inline-check" appSquare="97"></i>
        <p class="text-bold-body-16 succeed__text">Ваш отклик на вакансию отправлен</p>
        <a
          class="succeed__link"
          [routerLink]="['/office/profile', profile.id]"
          [skipLocationChange]="true"
        >
          <app-button size="big" customTypographyClass="text-body-14"
            >Вернуться в профиль</app-button
          >
        </a>
      </div>
    </app-modal>
    <h2 class="text-heading-2">Отправить отклик</h2>
    <div class="vacancy__inner">
      <div class="vacancy__left">
        <div class="vacancy__sender profile">
          <app-avatar class="profile__avatar" [size]="140" [url]="profile.avatar"></app-avatar>
          <div class="profile__body">
            <p class="text-body-12 profile__status">{{ profile.userType | userRole | async }}</p>
            <h2 class="text-heading-3 profile__name">
              {{ profile.firstName }} {{ profile.lastName }}
            </h2>
            <p class="text-body-14 profile__info">{{ profile.speciality }} • {{ profile.city }}</p>
            @if (profile.skills) {
            <ul class="profile__skills">
              @if(profile.skills.length > 5){ @for (skill of profile.skills.slice(0, 5); track
              skill.id) {
              <li class="profile__skill">
                <app-tag>{{ skill.name }}</app-tag>
              </li>
              }
              <span class="text-body-14">...</span>
              } @else { @for (skill of profile.skills; track skill.id) {
              <li class="profile__skill">
                <app-tag>{{ skill.name }}</app-tag>
              </li>
              } }
            </ul>
            }
          </div>
        </div>
        <form class="vacancy__form form" [formGroup]="sendForm" (ngSubmit)="onSubmit()">
          @if (sendForm.get("whyMe"); as whyMe) {
          <fieldset>
            <label for="whyMe" class="field-label">Мотивационное письмо</label>
            <app-textarea
              id="whyMe"
              formControlName="whyMe"
              [error]="whyMe | controlError"
              placeholder="Расскажи почему вы хотите попробовать себя имменно в этом проекте. Что вами движет?"
            ></app-textarea>
            @if (whyMe | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            } @if (whyMe | controlError: "maxlength") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_TOO_LONG }}
              @if (whyMe.errors) {
              {{ whyMe.errors["maxlength"]["requiredLength"] }}
              }
            </div>
            } @if (whyMe | controlError: "minlength") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_TOO_SHORT }}
              @if (whyMe.errors) {
              {{ whyMe.errors["minlength"]["requiredLength"] }}
              }
            </div>
            }
          </fieldset>
          } @if (sendForm.get("accompanyingFile"); as accompanyingFile) {
          <fieldset class="vacancy__buttons">
            <div class="vacancy__button">
              <label for="cv" class="field-label">Сюда можете прикрепить своё резюме</label>
              <app-button size="big" class="text-body-12"
                >Прикрепить резюме от PROCOLLAB</app-button
              >
            </div>
            <div
              [class.vacancy__slides-error--active]="accompanyingFile | controlError: 'required'"
            >
              <app-upload-file
                [error]="accompanyingFile | controlError"
                id="cv"
                formControlName="accompanyingFile"
                accept=".pdf, .docx"
              >
                <ng-container emptyPlaceholder>
                  <div style="display: flex; align-items: center; gap: 10px; margin-right: 30px">
                    <i appIcon icon="upload" appSquare="22"></i>
                    <h4 class="text-bold-body-16 vacancy__slides-title">Прикрепить резюме</h4>
                  </div>
                  <p class="text-body-14 vacancy__slides-text">Резюме формата .pdf, .docx</p>
                  @if (accompanyingFile | controlError: "required") {
                  <p class="vacancy__slides-error text-body-14">Загрузите файл</p>
                  }
                </ng-container>
              </app-upload-file>
            </div>
          </fieldset>
          }
        </form>
      </div>

      <div class="vacancy__right">
        <div class="note">
          <h4 class="text-heading-4">Памятка перед отправкой отклика</h4>

          <ol class="note__list">
            @for (note of noteList; track $index) {
            <li class="note__item text-body-14">{{ note.text }}</li>
            }
          </ol>
        </div>

        <app-button
          size="medium"
          (click)="onSubmit()"
          [loader]="sendFormIsSubmitting"
          type="submit"
          class="form__submit"
        >
          <span>Отправить отклик</span>
          <i class="form__submit-icon" appIcon icon="arrow-no-body" appSquare="18"></i>
        </app-button>
      </div>
    </div>
  </main>
  }
</div>
