/** @format */

.vacancy {
  &__requirements {
    color: var(--accent);
    padding: 5px 40px;
    background: transparent;
    border: 1px solid var(--accent);
    border-radius: var(--rounded-xxl);

    &--soft {
      color: var(--white);
      background-color: var(--accent);
      border: none;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    &--text {
      border-bottom: 1px solid var(--dark-grey);
      padding-bottom: 5px;
      margin-bottom: 10px;
    }
  }

  &__skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__icons {
    display: flex;
    gap: 20px;
    margin-top: 10px;

    app-button {
      flex-grow: 1;
    }
  }

  &__edit {
    margin-top: 8px;
  }

  i {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }
}
