/** @format */

.vacancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-gray);
  border-radius: var(--rounded-md);

  &__role {
    color: var(--black);
  }

  &__requirements {
    color: var(--dark-grey);
  }

  &__icons {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: 15px;
  }

  &__basket {
    color: var(--red);
    cursor: pointer;
  }

  &__edit {
    color: var(--dark-grey);
    cursor: pointer;
  }

  i {
    width: 24px;
    height: 24px;
  }
}
