/** @format */

@use "styles/responsive";
@use "styles/typography";

.login {
  display: flex;
  min-width: 95vw;
  min-height: 100vh;

  &__left {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-left: 10px;
  }

  &__left-content {
    display: flex;
    flex: 1;
    align-items: center;
  }

  &__left-footer {
    padding-bottom: 24px;
  }

  &__right {
    display: none;

    @include responsive.apply-desktop {
      display: block;
      width: 50%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__additional {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 7px;
    margin-left: 18px;
  }

  &_external {
    width: 80%;
    color: var(--grey-for-text);

    @include responsive.apply-desktop {
      width: 100%;
    }
  }

  &__password {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }

  &__forget {
    @include typography.body-12;
  }

  .auth {
    padding: 0;

    &__wrapper {
      max-width: 333px;
    }
  }

  &__logo {
    display: block;
    width: 95px;
    margin-bottom: 20px;

    @include responsive.apply-desktop {
      width: 157px;
      height: 30px;
    }
  }
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;

  &__wrapper {
    position: absolute;
    bottom: 22px;
    left: 38px;
    width: 260px;
    padding: 18px 10px 10px 16px;
    background-color: var(--white);
    border: 0.5px solid var(--grey-for-text);
    border-radius: var(--rounded-lg) var(--rounded-lg) var(--rounded-lg) 0;
  }

  &__text {
    color: var(--grey-for-text);

    a {
      color: var(--accent);
    }
  }
}

.icon {
  color: var(--dark-grey);
  cursor: pointer;
}
