<!-- @format -->

<div class="progress-bar">
  @if (mode === 'progress') {
  <p class="progress-bar__text text-body-12">{{ progress }}%</p>
  } @else { @if (appereance === 'open') {
  <i appIcon icon="triangle" appSquare="10" class="progress-bar__text progress-bar__text--icon"></i>
  } @else {
  <i appIcon icon="lock" appSquare="10" class="progress-bar__text progress-bar__text--closed"></i>
  } }
  <div class="">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
      <circle
        class="track"
        [class.track--closed]="appereance === 'closed'"
        cx="80"
        cy="80"
        [attr.r]="radius"
      />
      <circle
        class="filled"
        [class.filled--complete]="progress === 100"
        cx="80"
        cy="80"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>
  </div>

  @if (haveDate) {
  <p class="text-body-6 progress-bar__date">c 16.03.26</p>
  }
</div>
