/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  position: relative;

  &__inner {
    width: 100%;
    margin-bottom: 25px;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__no-items {
    position: absolute;
    bottom: 0%;
    left: 50%;
  }

  &__left {
    flex-basis: 50%;
  }

  &__right {
    flex-basis: 50%;
  }

  &__achievements {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.achievement {
  display: flex;
  gap: 20px;
  align-items: center;

  &__remove {
    margin-top: 15px;
  }
}

.invite {
  &__item {
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    width: 557px;
    width: 100%;
    margin-top: 10px;
  }
}

.vacancy {
  &__submit {
    display: block;

    &--text {
      margin-top: 2px;
      margin-right: 10px;
    }
  }
}

.error {
  i {
    color: var(--red) !important;
  }
  color: var(--red) !important;
}
