<!-- @format -->

<div [formGroup]="projectForm" class="project__inner">
  <div class="project__left">
    <ul formArrayName="achievements">
      @for (control of achievements.controls; track control.value.id; let i = $index) {
      <li class="profile__achievement">
        <form [formGroupName]="i" class="achievement">
          @if (achievements.at(i)?.get("achievementsName"); as achievementsName) {
          <fieldset style="flex-grow: 1">
            <label class="text-body-12 field-label">Описание достижения</label>
            <app-input
              [error]="achievementsName | controlError"
              placeholder="Название конкурса"
              formControlName="achievementsName"
            ></app-input>
            @if (achievementsName | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (achievements.at(i).get("achievementsDate"); as achievementsDate) {
          <fieldset>
            <label class="text-body-12 field-label">Дата</label>
            <app-input
              [error]="achievementsDate | controlError"
              placeholder="20.10.25"
              formControlName="achievementsDate"
            ></app-input>
            @if (achievementsDate | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
          <app-button class="achievement__remove" color="red" (click)="removeAchievement(i)">
            <i appIcon icon="basket" appSquare="20"></i>
          </app-button>
        </form>
      </li>
      }
    </ul>
  </div>

  <div class="project__right" [style.margin-top]="achievements.length ? '15px' : '0px'">
    <app-button
      size="big"
      customTypographyClass="text-body-12"
      appearance="outline"
      class="vacancy__submit"
      (click)="addAchievement()"
    >
      <span class="vacancy__submit--text">Добавить достижение</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>

    @if (!achievements.length) {
    <i appIcon icon="sad-smile" appSquare="20" class="project__no-items"></i>
    }
  </div>
</div>
