@use "styles/responsive";
@use "styles/typography";

.filters {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  min-width: 280px;
  width: 100%;
  gap: 0px;
  padding: 26px;
  background-color: var(--white);
  border-radius: 8px;
  
  @include responsive.apply-desktop {
    padding: 26px 16px;
    gap: 24px;
  }

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__clear {
    cursor: pointer;
  }

  &__title {
    color: var(--black);

    @include typography.heading-3;

    @include responsive.apply-desktop {
      @include typography.bold-body-16;
    }
  }

  &__block {
    margin-bottom: 0;
    
    @include responsive.apply-desktop {
      margin-bottom: 10px;
    }

    .filter__name {
      color: var(--gray);
      margin-bottom: 5px;
      cursor: pointer;
    }

    label {
      display: flex;
      gap: 5px;

      span {
        margin-bottom: 0;
        margin-top: 2px;
      }
    }
  }

  &__controls {
    display: grid;
    grid-template-rows: 1fr;
    overflow: unset;

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      min-height: 0;
      transition: visibility 0.5s;

      @include responsive.apply-desktop {
        gap: 5px;
      }
    }
  }

  &__age {
    display: flex;
    gap: 10px;
    align-items: center;

    // width: 168px;
    font-size: 12px;
    color: var(--black);

    span {
      color: var(--dark-grey);

      @include typography.body-16;
    }
  }

  &__autocomplete {
    flex-grow: 1;

    @include responsive.apply-desktop {
      flex-grow: unset;
    }
  }
}
