@use "styles/responsive";

.filters {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;

  &__toggle {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 7px 10px;
    color: var(--black);
    cursor: pointer;
    background-color: var(--grey-button);
    border: 1px solid transparent;
    border-radius: var(--rounded-lg);

    i {
      margin-left: 10px;
      transition: transform 0.5s;
    }

    &--open {
      background-color: var(--white);
      border: 1px solid var(--medium-grey-for-outline);

      i {
        color: var(--accent);
        transform: rotate(180deg);
      }
    }
  }

  &__controls {
    display: grid;
    grid-template-rows: 0fr;
    overflow: hidden;
    transition: grid-template-rows 0.5s;

    form {
      display: flex;
      flex-direction: column;
      gap: 40px;
      min-height: 0;
      transition: visibility 0.5s;

      @include responsive.apply-desktop {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &--open {
      grid-template-rows: 1fr;
      overflow: unset;
      animation: 0.5s delay-overflow;
    }

    @keyframes delay-overflow {
      from { overflow: hidden; }
    }
  }

  &__age {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 168px;
    font-size: 12px;
  }

  &__autocomplete {
    flex-grow: 1;

    @include responsive.apply-desktop {
      flex-grow: unset;
    }
  }
}
