<!-- @format -->

<div class="filters">
  <div class="filters__titles">
    <h3 class="filters__title">Фильтр</h3>
    <a class="text-body-12 filters__clear" (click)="clearFilters()">Сбросить фильтры</a>
  </div>

  <div class="filters__controls">
    <form [formGroup]="filterForm">
      <div class="filters__block" style="margin-top: 10px">
        <h4 class="text-body-12 filter__name">Специальность</h4>
        <app-autocomplete-input
          class="filter__autocomplete"
          [suggestions]="specsOptions()"
          [slimVersion]="false"
          [searchIcon]="'search'"
          fieldToDisplay="name"
          valueField="name"
          formControlName="speciality"
          placeholder="Поиск"
          (searchStart)="onSearchSpec($event)"
          (inputCleared)="onClearSpecField()"
        ></app-autocomplete-input>
      </div>

      <div class="filters__block">
        <h4 class="text-body-12 filter__name">Навык</h4>
        <app-autocomplete-input
          class="filter__autocomplete"
          [suggestions]="skillsOptions()"
          [slimVersion]="false"
          [searchIcon]="'search'"
          fieldToDisplay="name"
          valueField="name"
          formControlName="keySkill"
          placeholder="Поиск"
          (searchStart)="onSearchSkill($event)"
          (inputCleared)="onClearSkillField()"
        ></app-autocomplete-input>
      </div>

      <div class="filters__block">
        <h4 class="text-body-12 filter__name">Возраст</h4>
        <div class="filters__age-wrapper">
          <div class="filters__age filter__item">
            <app-range-input formControlName="age"></app-range-input>
          </div>
        </div>
      </div>

      <div class="filters__block">
        <label (click)="onToggleStudentMosPolitech()">
          <app-checkbox [checked]="filterForm.get('isMosPolytechStudent')?.value"> </app-checkbox>
          <span class="text-body-12 filter__name">Студент Московского Политеха</span>
        </label>
      </div>
    </form>
  </div>
</div>
