@use "src/styles/typography";
@use "src/styles/responsive";

.card {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--medium-grey-for-outline);
  border-radius: 15px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__menu {
    position: relative;
  }

  &__dots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--dark-gray);
    cursor: pointer;
  }

  &__options {
    position: absolute;
    padding: 20px 0;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__option {
    padding: 5px 20px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--light-gray);
    }
  }

  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
  }

  &__title {
    display: flex;
  }

  &__name {
    color: var(--black);

    @include typography.bold-body-14;

    @include responsive.apply-desktop {
      @include typography.bold-body-16;
    }
  }

  &__date {
    color: var(--dark-gray);
  }

  &__text {
    white-space: break-spaces;

    @include typography.body-12;

    @include responsive.apply-desktop {
      @include typography.body-16;
    }
  }

  &__footer {
    margin-top: 10px;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__item {
    display: flex;
    align-items: center;
    color: var(--dark-gray);

    &:not(:last-child) {
      margin-right: 5px;
    }

    i {
      margin-right: 3px;
    }
  }

  &__like {
    cursor: pointer;

    &--active {
      color: var(--accent);
    }
  }
}

.share {
  color: var(--dark-gray);

  &__icon {
    cursor: pointer;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.editor-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid var(--medium-grey-for-outline);

  &__actions {
    display: flex;

    app-button {
      display: block;
      margin-right: 10px;
    }
  }

  &__attach {
    color: var(--dark-gray);
    cursor: pointer;

    input {
      display: none;
    }
  }
}
