<!-- @format -->
<div class="card">
  <div class="card__head">
    <div class="card__title">
      <img class="card__avatar" [src]="newsItem.projectImageAddress" [alt]="newsItem.projectName" />
      <div>
        <div class="card__name">{{ newsItem.projectName }}</div>
        <div class="card__date text-body-14">
          {{ newsItem.datetimeCreated | dayjs: "format":"DD MMMM, hh:mm" }}
        </div>
      </div>
    </div>
    <div class="card__menu" (clickOutside)="onCloseMenu()">
      <div class="card__dots" (click)="menuOpen = true">
        <i appIcon icon="dots" appWidth="4" appHeight="16" appViewBox="0 0 4 16"></i>
      </div>
      <ul *ngIf="menuOpen" class="card__options">
        <li class="card__option text-body-14">Редактировать</li>
        <li class="card__option text-body-14" (click)="delete.emit(newsItem.id)">Удалить</li>
      </ul>
    </div>
  </div>
  <div class="card__text text-body-14" *ngIf="newsItem.text">
    {{ readMore ? newsItem.text : newsItem.text.split(" ").slice(0, 40).join(" ") }}
  </div>
  <div
    *ngIf="newsItem.text && newsItem.text.split(' ').length > 40"
    class="read-more"
    (click)="readMore = !readMore"
  >
    {{ readMore ? "Скрыть" : "Читать полностью" }}
  </div>
  <div class="card__footer footer">
    <div class="footer__left">
      <div
        class="footer__item footer__like text-body-12"
        [class.footer__like--active]="newsItem.isUserLiked"
        (click)="like.emit(newsItem.id)"
      >
        <i appIcon icon="like" appSquare="22"></i>
        {{ newsItem.likesCount }}
      </div>
      <div class="footer__item text-body-12">
        <i appIcon icon="views" appSquare="22"></i>
        {{ newsItem.viewsCount }}
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__share share" (click)="onCopyLink()">
        <i class="share__icon" appIcon icon="share" appSquare="22"></i>
      </div>
    </div>
  </div>
</div>
