<!-- @format -->

<div class="detail">
  <div class="detail__body">
    @if(course()) {
    <div class="info detail__section detail__info">
      <img class="info__cover" [src]="course()!.headerCoverUrl" alt="cover" />

      <div class="info__avatar">
        <app-avatar
          [url]="course()!.avatarUrl"
          [size]="106"
          (click)="redirectDetailInfo(course()!.id)"
        ></app-avatar>
        @if (!isTaskDetail()) {
        <h1 class="info__title text-body-12">{{ course()!.title }}</h1>
        }
      </div>
    </div>

    <div class="info__body">
      <div class="info__actions">
        <app-button
          (click)="redirectDetailInfo(isTaskDetail() ? course()!.id : undefined)"
          [disabled]="false"
          size="big"
          customTypographyClass="text-body-12"
          appearance="outline"
          >{{ isTaskDetail() ? "назад к модулю?" : "назад" }}</app-button
        >

        <app-button
          [disabled]="true"
          [class.info__actions--disabled]="isDisabled()"
          size="big"
          customTypographyClass="text-body-12"
          appearance="outline"
          >вернуться в программу</app-button
        >
      </div>
    </div>

    <router-outlet></router-outlet>
    }
  </div>
</div>
