<!-- @format -->

<div class="office">
  <div class="office__top">
    <app-header
      class="office__header"
      *ngIf="invites$ | async as invites"
      [invites]="invites"
    ></app-header>
    <app-nav *ngIf="invites$ | async as invites" [invites]="invites"></app-nav>
  </div>
  <div class="office__body">
    <div class="office__inner">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-modal [(open)]="completeProfileModal">
    <div class="message-modal">
      <img src="/assets/images/office/shared/fulfill-profile.svg" alt="fulfill profile" />
      <h3 class="message-modal__title text-bold-body-16">Дозаполните данные профиля</h3>
      <p class="message-modal__text text-body-14">
        для того, чтобы мы могли рекомендовать команды под ваши навыки
      </p>
      <app-button class="message-modal__button" (click)="onGotoProfile()">
        К редактированию профиля
      </app-button>
    </div>
  </app-modal>
  <app-modal [open]="waitVerificationModal">
    <div class="message-modal">
      <img src="/assets/images/office/shared/wait.png" alt="wait" width="215px" />
      <h3 class="message-modal__title text-bold-body-16">Ваш аккаунт проходит подтверждение</h3>
      <p class="message-modal__text text-body-14">
        Мы проверяем ваши данные и скоро сообщим о подтверждении аккаунта
      </p>
    </div>
  </app-modal>
  <app-delete-confirm></app-delete-confirm>
  <app-snackbar></app-snackbar>
</div>
