<!-- @format -->

<div class="office">
  <ng-container *ngIf="invites$ | async as invites">
    <app-sidebar class="office__sidebar" [invites]="invites"></app-sidebar>
    <div class="office__wrapper">
      <div class="office__top">
        <app-nav [invites]="invites"></app-nav>
      </div>
      <div class="office__body">
        <div class="office__inner">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </ng-container>
  <app-modal [open]="waitVerificationModal && !waitVerificationAccepted">
    <div class="message-modal">
      <img src="/assets/images/office/shared/wait.png" alt="wait" width="215px" />
      <h3 class="message-modal__title text-bold-body-16">Ваш аккаунт проходит подтверждение</h3>
      <p class="message-modal__text text-body-14">
        Мы проверяем ваши данные и скоро сообщим о подтверждении аккаунта, 
        а пока можете уже пользоваться платформой
      </p>
      <app-button class="message-modal__button" (click)="onAcceptWaitVerification()">
        Хорошо
      </app-button>
    </div>
  </app-modal>
  <app-delete-confirm></app-delete-confirm>
  <app-snackbar></app-snackbar>
</div>
