/** @format */

@use "src/styles/responsive";

.office {
  &__body {
    padding: 20px 0 0;
    overflow-y: auto;
    background-color: var(--light-gray-1);
  }

  &__header {
    display: none;

    @include responsive.apply-desktop {
      display: block;
    }
  }

  &__inner {
    margin: 0 15px;

    @include responsive.apply-desktop {
      max-width: responsive.$container-md;
      margin: 0 auto;
    }
  }
}
