<!-- @format -->

<div class="rating-card">
  <div class="rating-card__left">
    <app-avatar [url]="rating.file ?? undefined" [size]="60"></app-avatar>
    <div class="rating-card__main-info">
      <div class="rating-card__name">{{ rating.userName }}</div>
      <p class="rating-card__info text-body-12">
        {{ rating.specialization }} • {{ rating.age }}
        {{ rating.age | pluralize: ["год", "года", "лет"] }}
      </p>
      <div class="rating-card__score-mobile text-body-12">{{ rating.scoreCount }} очков</div>
    </div>
  </div>
  <div class="rating-card__right">
    <div class="rating-card__score text-body-18">{{ rating.scoreCount }} очков</div>
    <div class="rating-card__place">{{ ratingId }}</div>
  </div>
</div>
