<!-- @format -->

<div
  class="radio"
  [class.radio--hasVideo]="sourceType === 'embed'"
  [class.radio--hasImage]="sourceType === 'img'"
>
  <div class="radio__body" [class.radio__body--hasImage]="sourceType === 'img'">
    @if (sourceType !== 'img') {
    <p class="radio__title text-body-bold-12">
      {{ data.text }}
    </p>
    }

    <p class="radio__text text-body-12" [innerHTML]="data.description | truncateHtml: 700"></p>

    @if (data.videoUrl) {
    <iframe
      [src]="mediaUrl"
      width="397px"
      height="223px"
      frameborder="0"
      allowfullscreen
      allowtransparency="true"
    ></iframe>
    } @if (data.files.length) {
    <img class="radio__img" [src]="data.files[0]" />
    <p class="text-body-bold-12 radio__img-text">{{ data.text | truncate: 60 }}</p>
    } @if (hint.length) {
    <div class="radio__hint" [innerHTML]="hint"></div>
    }
  </div>

  <div class="radio__content">
    @if (sourceType !== 'img') {
    <p class="radio__answer text-body-12">ответ</p>
    }
    <ul class="radio__list">
      <p class="radio__title text-body-12">{{ data.text | truncate: 110 }}</p>
      @for (op of data.answers; track op.id) {
      <li
        class="radio__item"
        [class.radio__item--success]="success && result().answerId === op.id"
        [class.radio__item--error]="error"
        (click)="onSelect(op.id)"
      >
        <input type="radio" [id]="op.id" name="radio-group" />
        <label class="text-body-12" [for]="op.id">
          {{ op.text }}
        </label>
      </li>
      }
    </ul>
  </div>
</div>
