<!-- @format -->

<div class="radio">
  @if (sanitizedFileUrl) {
  <div class="radio__description">
    <iframe
      [src]="sanitizedFileUrl"
      width="100%"
      height="285px"
      frameborder="0"
      allowfullscreen
      allowtransparency="true"
    ></iframe>
  </div>
  }
  <div class="radio__body">
    <h2 class="radio__title text-body-14">
      {{ data.text }}
    </h2>
    <p class="radio__text text-body-14">{{ data.description }}</p>
    <div class="radio__list">
      @for (op of data.answers; track op.id) {
      <div
        class="radio__option text-body-14"
        [class.radio__option--active]="result().answerId === op.id"
        [class.radio__option--success]="success && result().answerId === op.id"
        (click)="onSelect(op.id)"
      >
        {{ op.text }}
      </div>
      }
    </div>
  </div>
</div>
