<!-- @format -->

<div class="info">
  <img
    class="info__avatar-desktop"
    src="https://img.freepik.com/premium-photo/ideal-traits-that-make-man-physically-attractive-bearded-guy-casual-style-close-up-charming-smile-male-beauty-standards-handsome-man-stylish-hairstyle-handsome-caucasian-man-gray-background_474717-39417.jpg?size=626&ext=jpg&ga=GA1.1.1887574231.1711843200&semt=ais"
    alt="profile"
  />
  <div class="info__left">
    <h1 class="info__title">Лилуш Лишушивич</h1>
    <div class="info__keys text-body-14">
      <div>19 лет • Fullstack developer</div>
      <div class="info__geo">
        <i appIcon icon="geo-point"></i>
        <span>Саратов, Россия</span>
      </div>
    </div>
  </div>
  <div class="box info__achievements">
    <span>Тут могли бы быть ваши <a routerLink="" class="link">достижения</a></span>
  </div>
  <div class="box info__score">476 очков</div>
  <a href="https://app.procollab.ru/office" class="info__return">
    <app-button>Вернуться</app-button>
  </a>
</div>
