<!-- @format -->

<div class="info">
  <img
    class="info__avatar-desktop"
    src="https://i.pinimg.com/736x/4c/2f/7d/4c2f7df67f98620e295595890edddd12.jpg"
    alt="profile"
  />
  <div class="info__left">
    <h1 class="info__title">{{ userData.firstName }} {{ userData.lastName }}</h1>
    <div class="info__keys text-body-14">
      <div>
        {{ userData.age }} {{ userData.age | pluralize: ["год", "года", "лет"] }} •
        {{ userData.specialization }}
      </div>
      <div class="info__geo">
        <i appIcon icon="geo-point"></i>
        <span>{{ userData.geoPosition }}</span>
      </div>
    </div>
  </div>

  <div class="info__achievements">
    @for (achievement of achievementsList(4); track $index) {
    <img
      class="info__achievements-image"
      alt="achievement"
      width="77"
      height="90"
      ngSrc="../../../../assets/images/rating/top-rating.png"
    />
    } @empty {
    <div class="box text-body-16">
      <span>Тут могли бы быть ваши <a routerLink="" class="link">достижения</a></span>
    </div>
    }
  </div>

  <div class="box info__score text-body-18">476 очков</div>
  <a href="https://app.procollab.ru/office" class="info__return">
    <app-button>Вернуться</app-button>
  </a>
</div>
