<!-- @format -->

<div class="rate-project">
  <app-bar
    class="bar rate-project__bar"
    [backHave]="true"
    [links]="[
      {
        link: '/office/program' + '/' + programId!.toString() + '/' + 'all',
        linkText: 'Все проекты',
        isRouterLinkActiveOptions: false
      },

      {
        link: '/office/program' + '/' + programId!.toString() + '/' + 'rated',
        linkText: 'Оцененные проекты',
        isRouterLinkActiveOptions: false
      }
    ]"
  ></app-bar>
  <div class="rate-project__body">
    <router-outlet></router-outlet>
  </div>
</div>
