<!-- @format -->

<div class="page" #projectsRoot>
  <div class="page__outlet">
    <div class="page__search">
      <form [formGroup]="searchForm">
        <app-search formControlName="search"></app-search>
      </form>
    </div>

    <div class="filter-toggle page__filter-toggle" (click)="isFilterOpen = !isFilterOpen">
      <span>фильтр</span>
      <i appIcon icon="filter" appSquare="34"></i>
    </div>

    <ul class="page__list" #rateProjectRoot>
      @for (p of projects; track p.id) {
      <app-rating-card [project]="p"></app-rating-card>
      }
    </ul>
  </div>

  <div class="page__create">
    <div class="page__left">
      <form class="filter__form" [formGroup]="filterForm">
        <p class="text-body-12">фильтр</p>
        <div class="filter__controls">
          <label class="filter__tags" (click)="setValue($event)">
            <app-checkbox [checked]="this.filterForm.get('filterTag')?.value"></app-checkbox>
            <p class="text-body-12">проекты без оценки</p>
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
