<!-- @format -->

<div [formGroup]="projectForm" class="project__inner">
  <!-- @if(link; as link){
  <fieldset class="project__left">
    <label class="field-label">Ссылка на контакты</label>
    <app-input
      class="edit-link__input"
      formControlName="link"
      placeholder="https://example.com"
    ></app-input>
    @if (link | controlError: "pattern") {
    <div class="text-body-10 error">
      {{ errorMessage.VALIDATION_PATTERN }}
    </div>
    }
  </fieldset>
  } -->

  <div class="project__left">
    <!-- <ul class="invite__list">
      @if(linksItems().length || links.length){ @for (linkItem of links.value; track $index) {
      <li class="invite__item">
        <app-link-card
          [type]="'link'"
          (remove)="removeLink($index)"
          (edit)="editLink($index)"
          [data]="linkItem"
        ></app-link-card>
      </li>
      } }
    </ul> -->

    <app-button
      size="big"
      appearance="outline"
      customTypographyClass="text-body-12"
      (click)="addLink()"
      class="vacancy__submit"
    >
      <span>Добавить партнера</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>
  </div>

  <div class="project__right">
    <!-- <ul class="invite__list">
      @if(linksItems().length || links.length){ @for (linkItem of links.value; track $index) {
      <li class="invite__item">
        <app-link-card
          [type]="'link'"
          (remove)="removeLink($index)"
          (edit)="editLink($index)"
          [data]="linkItem"
        ></app-link-card>
      </li>
      } }
    </ul> -->

    <app-button
      size="big"
      appearance="outline"
      customTypographyClass="text-body-12"
      (click)="addLink()"
      class="vacancy__submit"
    >
      <span>Добавить ресурс</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>
  </div>

  @if (!links.length) {
  <i appIcon icon="sad-smile" appSquare="20" class="project__no-items"></i>
  }
</div>
