<!-- @format -->

<div [formGroup]="projectForm" class="project__inner">
  @if(link; as link){
  <fieldset class="project__left">
    <label class="field-label">Ссылка на контакты</label>
    <app-input
      class="edit-link__input"
      formControlName="link"
      placeholder="https://example.com"
    ></app-input>
    @if (link | controlError: "pattern") {
    <div class="text-body-14 error">
      {{ errorMessage.VALIDATION_PATTERN }}
    </div>
    }
  </fieldset>
  }

  <div class="project__right">
    <app-button size="big" (click)="addLink()" class="vacancy__submit">
      <span>Добавить ещё одну ссылку</span>
      <i appIcon icon="plus" appSquare="12"></i>
    </app-button>

    <ul class="invite__list">
      @if(linksItems().length || links.length){ @for (linkItem of links.value; track $index) {
      <li class="invite__item">
        <app-link-card
          [type]="'link'"
          (remove)="removeLink($index)"
          (edit)="editLink($index)"
          [data]="linkItem"
        ></app-link-card>
      </li>
      } }
    </ul>
  </div>
</div>
