<!-- @format -->

@if (open && !nonConfirmerModalOpen()) {
<app-modal [open]="open" (openChange)="onOpenChange($event)">
  <div class="plans">
    <i (click)="onCloseModal()" appIcon icon="cross" class="plans__cross"></i>
    <h1 class="plans__title">Выберите 5 навыков</h1>
    <p style="color: var(--red); text-align: center">
      Пожалуйста, выберите 5 навыков из приведённого ниже списка, которые будут доступны вам в
      следующем месяце.
    </p>
    <div class="plans__tariffs">
      @for (skill of skillsList(); track skill.id) {
      <app-personal-skill-card
        [isRetryPicked]="isRetryPicked"
        [profileIdSkills]="profileIdSkills"
        [personalSkillCard]="skill"
        (selectedCountChange)="onSelectedCountChange($event)"
      ></app-personal-skill-card>
      }

      <div class="plans_pagination">
        <div class="plans_pages">
          <i
            appIcon
            icon="left-arrow"
            class="plans_pages-prev plans_pages-icon"
            (click)="prevPage()"
            [ariaDisabled]="currentPage === 1"
          ></i>
          <p>
            <span class="plans_pages-start">{{ currentPage }}</span> /
            {{ totalPages() }}
          </p>
          <i
            appIcon
            icon="left-arrow"
            class="plans_pages-next plans_pages-icon"
            (click)="nextPage()"
            [ariaDisabled]="currentPage >= this.totalPages()"
          ></i>
        </div>

        <app-button
          [ngStyle]="{
              opacity: selectedSkillsCount() === 5 ? '1' : '0.5',
            }"
          [color]="selectedSkillsCount() !== 5 ? 'grey' : 'primary'"
          [disabled]="selectedSkillsCount() !== 5"
          (click)="onCloseModal()"
          >Выбрать</app-button
        >
      </div>
    </div>
  </div>
</app-modal>
}

<app-modal [open]="isRetryPicked()" (openChange)="isRetryPicked.set(!isRetryPicked())">
  <div class="cancel">
    <div class="cancel__top">
      <i (click)="isRetryPicked.set(false)" appIcon icon="cross" class="cancel__cross"></i>
      <p class="cancel__title text-bold-body-16">Этот навык вы уже выбирали в прошлом месяце.</p>
    </div>
    <p class="text-body-14 cancel__text">
      Если хотите выбрать другой навык, то закройте это окно и выберите другой навык.
    </p>
  </div>
</app-modal>

@if (open && nonConfirmerModalOpen()) {
<app-modal [open]="nonConfirmerModalOpen()">
  <div class="confirm">
    <h4 class="confirm__title text-heading-4">У вас нет активной подписки</h4>
    <div class="cancel__confirm">
      <img alt="more image" src="assets\images\trajectories\more.svg" class="confirm__image" />
      <p class="text-body-12 cancel__subtext">
        Чтобы получить доступ ко всем возможностям платформы, оформите подписку прямо сейчас!
      </p>

      <div class="cancel__buttons-group">
        <app-button
          customTypographyClass="text-body-12"
          [color]="'grey'"
          (click)="onSubscriptionModalClosed()"
          >Назад</app-button
        >

        <app-button
          routerLink="/subscription"
          customTypographyClass="text-body-12"
          [color]="'primary'"
          >Купить</app-button
        >
      </div>
    </div>
  </div>
</app-modal>
}
