@use "styles/responsive";

.video {
  width: 100%;

  &__body {
    display: flex;
    flex-direction: row;
    gap: 12px;
    min-height: 358px;
    padding: 12px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);

    @include responsive.apply-desktop {
      gap: 24px;
      padding: 24px;
    }

    iframe {
      display: block;
      align-self: center;
      width: 100%;
      max-width: 395px;
      height: 185px;
      aspect-ratio: 16 / 9;
      border: 0;
      border-radius: var(--rounded-lg);

      @include responsive.apply-desktop {
        height: 223px;
      }
    }

    &--hasImage {
      flex-direction: column;

      @include responsive.apply-desktop {
        flex-direction: row-reverse;
      }
    }

    &--hasVideo {
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    gap: 24px;
    width: 100%;

    &--hasVideo {
      flex-direction: column;
      flex-grow: 1;

      @include responsive.apply-desktop {
        flex-direction: row;
      }
    }

    &--hasImage {
      flex-direction: column-reverse;
      flex-grow: 1;

      @include responsive.apply-desktop {
        flex-direction: row-reverse;
      }
    }
  }

  &__task {
    color: var(--grey-for-text);
  }

  &__img {
    align-self: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: var(--rounded-lg);
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__text {
    white-space: pre-line;
  }

  .read-more {
    align-items: start;
    align-self: self-start;
    margin-top: -14px;
    color: var(--accent);
    cursor: pointer;
    transition: color 0.2s;

    @include responsive.apply-desktop {
      margin-top: 12px;
    }

    &:hover {
      color: var(--accent-dark);
    }
  }
}
