@use "styles/responsive";

.video {
  width: 100%;

  &__body {
    display: flex;
    flex-direction: row;
    gap: 24px;
    min-height: 358px;
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);

    iframe {
      display: block;
      width: 100%;
      max-width: 400px;
      height: auto;
      aspect-ratio: 16 / 9;
      border: 0;
      border-radius: var(--rounded-lg);
    }

    &--hasImage {
      flex-direction: row-reverse;
    }

    &--hasVideo {
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    gap: 24px;
    width: 100%;

    &--hasVideo {
      flex-direction: row;
      flex-grow: 1;
    }

    &--hasImage {
      flex-direction: row-reverse;
      flex-grow: 1;
    }
  }

  &__task {
    color: var(--grey-for-text);
  }

  &__img {
    align-self: center;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: var(--rounded-lg);
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }

  &__text {
    display: -webkit-box;
    overflow: hidden;
    white-space: pre-line;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    transition: all 0.7s ease-in-out;

    &.expanded {
      display: block;
      max-height: 200px;
      overflow-y: auto;
      -webkit-line-clamp: unset;
    }
  }

  .read-more {
    margin-top: 12px;
    color: var(--accent);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }
}
