<!-- @format -->

<div class="video">
  <div
    class="video__body"
    [class.video__body--hasVideo]="data.videoUrl"
    [class.video__body--hasImage]="data.imageUrl"
  >
    @if ((data.videoUrl || data.attachmentUrl) && !data.imageUrl) {
    <p class="video__task text-body-12">задание {{ data.order }}</p>
    }

    <div
      class="video__wrapper"
      [class.video__wrapper--hasVideo]="data.videoUrl"
      [class.video__wrapper--hasImage]="data.imageUrl"
    >
      @if (cachedVideoUrl) {
      <iframe
        [src]="cachedVideoUrl"
        width="395px"
        height="222px"
        frameborder="0"
        allowfullscreen
        allowtransparency="true"
      >
      </iframe>
      } @if (data.imageUrl) {
      <img appImagePreview class="video__img" [src]="data.imageUrl" />
      }

      <div class="video__text-content">
        @if (!data.videoUrl) {
        <p class="video__task text-body-12">задание {{ data.order }}</p>
        }

        <p class="video__title text-body-12-bold">
          {{ data.title | truncate: (cachedVideoUrl ? 80 : data.imageUrl ? 100 : 200) }}
        </p>
        <div
          #descEl
          class="video__text text-body-12"
          [innerHTML]="
            data.bodyText | truncateHtml: (cachedVideoUrl ? 627 : data.imageUrl ? 500 : 1000)
          "
        ></div>
        @if (descriptionExpandable) {
        <div
          class="read-more text-body-10"
          (click)="onExpandDescription(descEl, 'expanded', readFullDescription)"
        >
          {{ readFullDescription ? "скрыть" : "подробнее" }}
        </div>
        } @if (data.attachmentUrl) {
        <app-file-item
          mode="preview"
          [type]="'file'"
          name="файл с заданием"
          [size]="0"
          [link]="data.attachmentUrl"
        ></app-file-item>
        }
      </div>
    </div>
  </div>
</div>
