/** @format */

@use "styles/typography";
@use "styles/responsive";

.filter {
  &__toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-left: 15px;
    color: var(--black);
    cursor: pointer;

    &--active {
      color: var(--white);
      background-color: var(--black);
    }
  }

  &__arrow {
    position: absolute;
    bottom: 5px;
    left: 50%;
    color: var(--white);
    transform: rotate(180deg) translateX(50%);
  }

  &__body {
    display: flex;
    flex-direction: column;
    min-width: 330px;
    min-height: 50vh;
    padding: 22px;
    background-color: var(--white);
    border-radius: var(--rounded-md);
  }

  &__titles {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
  }

  &__clear {
    cursor: pointer;
  }

  &__title {
    color: var(--black);

    @include typography.heading-3;

    @include responsive.apply-desktop {
      @include typography.bold-body-16;
    }
  }

  &__block {
    margin-bottom: 14px;
  }

  &__name {
    margin-bottom: 6px;
    color: var(--gray);
  }

  &__switch {
    display: flex;
    margin-top: 6px;

    &--one {
      display: flex;
      gap: 12px;
      align-items: center;
    }

    app-switch {
      margin: 0 20px;
    }
  }

  &__yes-no {
    &--active {
      color: var(--accent);
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: var(--black);
    cursor: pointer;

    app-checkbox {
      margin-right: 15px;
    }
  }

  &__select {
    margin-bottom: 6px;
    color: var(--black);
    cursor: pointer;

    ::ng-deep {
      app-select {
        .field__input,
        li {
          @include typography.body-12;
        }
      }
    }
  }
}
