<!-- @format -->

<div class="control" [style.width]="size + 'px'" [style.height]="size + 'px'">
  <input
    [id]="controlId"
    hidden
    type="file"
    class="control__input"
    accept="image/*"
    (change)="onUpdate($event)"
  />
  <label [for]="controlId" class="control__label" [class.control__label--error]="error">
    @if (loading) {
    <div class="control__loader">
      <app-loader></app-loader>
    </div>
    } @if (value) {
    <img [src]="value" alt="avatar" class="control__img" />
    } @if(type === 'avatar') {
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfRvoKyPWxl-0EExOVhrqc56QcPcWK-Tloew&usqp=CAU"
      alt="avatar"
      class="control__img"
    />
    }@else {
    <div class="control__img placeholder"></div>
    }
    <div class="control__overlay">
      <i appIcon icon="edit-pen" appSquare="32"></i>
    </div>
  </label>
</div>
