<!-- @format -->

<div
  [ngStyle]="{
    border: (type === 'project' || type === 'profile') ? '3px solid var(--accent)' : 'none',
  }"
  class="control"
  [style.width]="size + 'px'"
  [style.height]="size + 'px'"
>
  <input
    [id]="controlId"
    hidden
    type="file"
    class="control__input"
    accept="image/*"
    (change)="onFileSelected($event)"
  />
  <label [for]="controlId" class="control__label" [class.control__label--error]="error">
    @if (loading) {
    <div class="control__loader">
      <app-loader type="circle" color="accent" size="20px"></app-loader>
    </div>
    } @if (value) {
    <img [src]="value" alt="avatar" class="control__img" />
    } @if(type === 'avatar') {
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfRvoKyPWxl-0EExOVhrqc56QcPcWK-Tloew&usqp=CAU"
      alt="avatar"
      class="control__img"
    />
    }@else {
    <div class="control__img placeholder"></div>
    }
    <div class="control__overlay">
      <i appIcon icon="edit-pen-old" appSquare="18"></i>
    </div>
  </label>

  @if (haveHint && tooltipText) {
  <div class="control__tooltip-wrapper">
    <app-tooltip
      [text]="tooltipText"
      [isVisible]="isTooltipVisible"
      [position]="tooltipPosition"
      [iconSize]="'24'"
      [tooltipWidth]="tooltipWidth"
      customClass="control__tooltip-icon"
      (show)="showTooltip()"
      (hide)="hideTooltip()"
    ></app-tooltip>
  </div>
  }
</div>

<app-modal [open]="showCropperModal" (openChange)="showCropperModal = !showCropperModal">
  <div class="cancel" style="width: 500px; padding: 40px 0px 40px">
    <div class="cancel__top">
      <i appIcon icon="cross" class="cancel__cross" (click)="closeCropper()"></i>
      <p class="cancel__title text-bold-body-16">Редактирование изображения перед отправкой!</p>
    </div>

    @if (showCropperModalErrorMessage) {
    <p class="text-body-14 cancel__text">
      {{ showCropperModalErrorMessage }}
    </p>
    }

    <div class="cancel__cropper-container">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="false"
        [aspectRatio]="1"
        [resizeToWidth]="600"
        [cropperMinWidth]="100"
        [cropperMinHeight]="100"
        [roundCropper]="type === 'avatar'"
        [canvasRotation]="0"
        [transform]="{}"
        [alignImage]="'center'"
        [style]="'width: 100%; height: 350px;'"
        format="jpeg"
        quality="92"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
    </div>

    <div class="cancel__buttons">
      <app-button
        class="cancel__button"
        color="grey"
        (click)="closeCropper()"
        customTypographyClass="text-body-12"
        >Отменить</app-button
      >
      <app-button
        class="cancel__button"
        (click)="saveCroppedImage()"
        [disabled]="!croppedBlob"
        customTypographyClass="text-body-12"
        >Сохранить</app-button
      >
    </div>
  </div>
</app-modal>
