/** @format */

.tag {
  display: flex;
  align-items: center;
  padding: 5px 40px;
  border-radius: var(--rounded-xxl);
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--accent);

  &--primary {
    color: var(--white);
    background-color: var(--accent);
  }

  &--secondary {
    background: transparent;
    border: 0.5px solid var(--accent);
  }

  &--accent {
    color: var(--white);
    background-color: var(--accent);
  }

  &--complete {
    color: var(--white);
    background-color: var(--green);
  }

  ::ng-deep {
    >* {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
