/** @format */

.tag {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  padding: 2px 20px;
  overflow: hidden;
  color: var(--accent);
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: var(--rounded-xxl);

  p {
    margin: 0 10px;
  }

  &--inline {
    color: var(--white);
    border: 0.5px solid transparent;

    &.tag--secondary {
      background: var(--dark-grey);
      border: 0.5px solid var(--grey-for-text);
    }

    &.tag--accent {
      color: var(--white);
      background-color: var(--accent);
    }

    &.tag--accent-medium {
      color: var(--white);
      background-color: var(--accent-medium);
    }

    &.tag--blue-dark {
      color: var(--white);
      background-color: var(--blue-dark);
    }

    &.tag--complete {
      color: var(--white);
      background-color: var(--green);
    }

    &.tag--complete-dark {
      color: var(--white);
      background-color: var(--green-dark);
    }

    &.tag--red {
      color: var(--white);
      background-color: var(--red);
    }

    &.tag--cyan {
      color: var(--white);
      background-color: var(--cyan);
    }

    &.tag--soft {
      color: var(--light-white);
      background: var(--gold);
      border: transparent;
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &--outline {
    color: var(--accent);
    background: transparent;
    border: 0.5px solid var(--accent);

    &.tag--primary {
      color: var(--accent);
      border: 0.5px solid var(--accent);
    }

    &.tag--secondary {
      color: var(--grey-for-text);
      background: transparent;
      border: 0.5px solid var(--dark-grey);
    }

    &.tag--accent {
      color: var(--accent);
      background: transparent;
      border: 0.5px solid var(--accent);
    }

    &.tag--accent-medium {
      color: var(--white);
      background: transparent;
      border: 0.5px solid var(--accent-medium);
    }

    &.tag--blue-dark {
      color: var(--white);
      background: transparent;
      border: 0.5px solid var(--blue-dark);
    }

    &.tag--complete {
      color: var(--green);
      background: transparent;
      border: 0.5px solid var(--green);
    }

    &.tag--complete-dark {
      color: var(--white);
      background: transparent;
      border: 0.5px solid var(--green-dark);
    }

    &.tag--red {
      color: var(--white);
      background: transparent;
      border: 0.5px solid var(--red);
    }

    &.tag--cyan {
      color: var(--white);
      background: transparent;
      border: 0.5px solid var(--cyan);
    }

    &.tag--soft {
      color: var(--gold);
      background: transparent;
      border: 0.5px solid var(--gold);
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }

  &__icons {
    position: absolute;
    top: 30%;
    right: 5%;
    display: flex;
    flex-shrink: 0;
    gap: 3px;
    align-items: center;

    i {
      cursor: pointer;
      opacity: 1;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
