.vacancy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-gray-1);
  border-radius: var(--rounded-md);

  &__role {
    color: var(--black);
  }

  &__requirements {
    color: var(--dark-gray);
  }

  &__basket {
    color: var(--red);
    cursor: pointer;
  }
}
