@use "styles/responsive";

.bar {
  display: block;
  overflow: hidden;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  &__nav {
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 25px;
  }

  &__tabs {
    display: flex;

    li {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    color: var(--dark-grey);
    cursor: pointer;
    transition: color 0.2s;

    @include responsive.apply-desktop {
      padding: 20px;
    }
  }

  &__ball {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    min-height: 22px;
    padding: 1px 6px;
    margin-left: 6px;
    line-height: 1;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 7px;
    transition: background-color 0.2s;

    &--small {
      padding: 0;
      border-radius: 100px;
    }
  }

  &__link {
    &--active {
      .bar__item {
        color: var(--black);
        border-bottom: 2px solid var(--black);
      }

      .bar__ball {
        background-color: var(--accent);
      }
    }

    &:hover {
      .bar__item {
        color: var(--black);
      }

      .bar__ball {
        background-color: var(--accent);
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__add-project {
    display: flex;
    align-items: center;
    cursor: pointer;

    i {
      display: block;
      margin-left: 6px;
    }
  }

  &__add-project-text {
    display: none;

    @include responsive.apply-desktop {
      display: inline;
    }
  }
}
