<!-- @format -->

@if (profile) {
<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">
      Добро пожаловать, {{ profile.firstName }} {{ profile.lastName }}! ✌️
    </h3>
    <p class="auth__info">
      Пожалуйста, заполни уточняющие данные о себе, чтобы мы знали, какие команды тебе подойдут
      лучше всего, и чтобы сами команды могли тебя найти
    </p>
  </div>
  <form [formGroup]="stageForm" class="page__form" (ngSubmit)="onSubmit()">
    @if (stageForm.get("avatar"); as avatar) {
    <fieldset class="page__field">
      <label for="avatar" class="field-label">Фотография профиля</label>
      <app-avatar-control
        id="avatar"
        formControlName="avatar"
        [error]="avatar | controlError"
      ></app-avatar-control>
      @if (avatar | controlError: "required") {
      <div class="text-body-14 error">
        {{ errorMessage.EMPTY_AVATAR }}
      </div>
      }
    </fieldset>
    } @if (stageForm.get("city"); as city) {
    <fieldset class="page__field">
      <label for="city" class="field-label">Город</label>
      <app-input
        id="city"
        [error]="city | controlError"
        type="text"
        placeholder="Откуда ты"
        formControlName="city"
      ></app-input>
      @if (city | controlError: "required") {
      <div class="text-body-14 error">
        {{ errorMessage.VALIDATION_REQUIRED }}
      </div>
      }
    </fieldset>
    }

    <div class="page__first-row">
      <p class="text-bold-body-14">Образование</p>

      <div class="page__years">
        @if (stageForm.get("entryYear"); as entryYear) {
        <fieldset class="years__left">
          <label for="entryYear" class="field-label">Дата начала</label>
          <app-select
            formControlName="entryYear"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>

          @if (entryYear | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (stageForm.get("completionYear"); as completionYear) {
        <fieldset class="years__right">
          <label for="completionYear" class="field-label">Дата окончания</label>
          <app-select
            formControlName="completionYear"
            placeholder="2023 год"
            [options]="yearListEducation.slice(5)"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>
          @if (completionYear | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      @if (stageForm.get("organizationName"); as organizationName) {
      <fieldset class="page__field">
        <label for="organizationName" class="field-label">Название учреждения</label>
        <app-input
          id="organizationName"
          [error]="organizationName | controlError"
          type="text"
          placeholder="ВУЗ / коллежд / школа"
          formControlName="organizationName"
        ></app-input>
        @if (organizationName | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("description"); as description) {
      <fieldset class="page__field">
        <label for="description" class="field-label">Краткое описане</label>
        <app-input
          id="description"
          [error]="description | controlError"
          type="text"
          placeholder="Востоковедение и Африканистика"
          formControlName="description"
        ></app-input>
        @if (description | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("educationLevel"); as educationLevel) {
      <fieldset>
        <label for="educationLevel" class="field-label">Уровень образования</label>
        <app-select
          formControlName="educationLevel"
          placeholder="Высшее образование-магистратура"
          [options]="educationLevelList"
        >
          <i appIcon icon="arrow-no-body" appSquare="32"></i>
        </app-select>
        @if (educationLevel | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("educationStatus"); as educationStatus) {
      <fieldset>
        <label for="educationStatus" class="field-label">Должность</label>
        <app-select
          formControlName="educationStatus"
          placeholder="Студент"
          [options]="educationStatusList"
        >
          <i appIcon icon="arrow-no-body" appSquare="32"></i>
        </app-select>
        @if (educationStatus | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>

    <div class="page__first-row">
      <p class="text-bold-body-14">Место работы</p>
      <div class="page__years">
        @if (stageForm.get("entryYearWork"); as entryYearWork) {
        <fieldset class="years__left">
          <label for="entryYearWork" class="field-label">Дата начала</label>
          <app-select
            formControlName="entryYearWork"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__entry"></i>
          </app-select>

          @if (entryYearWork | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (stageForm.get("completionYearWork"); as completionYearWork) {
        <fieldset class="years__right">
          <label for="completionYearWork" class="field-label">Дата окончания</label>
          <app-select
            formControlName="completionYearWork"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
          </app-select>

          @if (completionYearWork | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      @if ( stageForm.get("organizationNameWork"); as organizationNameWork) {
      <fieldset>
        <label for="organizationNameWork" class="field-label">Название</label>
        <app-input
          id="organizationNameWork"
          [error]="organizationNameWork | controlError"
          type="text"
          placeholder="Проколлаб"
          formControlName="organizationNameWork"
        ></app-input>
        @if (organizationNameWork | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("descriptionWork"); as descriptionWork) {
      <fieldset>
        <label for="descriptionWork" class="field-label">Краткое описание</label>
        <app-input
          id="descriptionWork"
          [error]="descriptionWork | controlError"
          type="text"
          placeholder="Образовательная платформа"
          formControlName="descriptionWork"
        ></app-input>
        @if (descriptionWork | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("jobPosition"); as jobPosition) {
      <fieldset>
        <label for="jobPosition" class="field-label">Должность</label>
        <app-input
          id="jobPosition"
          [error]="jobPosition | controlError"
          type="text"
          placeholder="Дизайнер"
          formControlName="jobPosition"
        ></app-input>
        @if (jobPosition | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>

    <app-button type="submit" [loader]="stageSubmitting">Продолжить</app-button>
  </form>
</div>
}
