<!-- @format -->

@if (profile) {
<div class="page">
  <div class="auth__greeting">
    <h3 class="auth__title">Привет, {{ profile.firstName }} {{ profile.lastName }}! ✌️</h3>
    <p class="auth__info">Расскажи о себе, чтобы твое резюме было сильным и отражало твой опыт.</p>
  </div>
  <form [formGroup]="stageForm" class="page__form" (submit)="onSubmit()">
    <div class="page__first-row">
      @if (stageForm.get("avatar"); as avatar) {
      <fieldset class="page__field">
        <div class="content">
          <label for="avatar" class="field-label">Фотография профиля</label>
          <i
            appIcon
            icon="hint"
            appSquare="24"
            class="content__hint"
            (mouseenter)="showTooltip('photo')"
            (mouseleave)="hideTooltip('photo')"
          ></i>
          <span
            class="content__tooltip text-body-12"
            style="left: 42%"
            [class.content__tooltip--visible]="isHintPhotoVisible"
            >{{ tooltipPhotoText }}</span
          >
        </div>
        <app-avatar-control
          type="project"
          id="avatar"
          formControlName="avatar"
          [error]="avatar | controlError"
        ></app-avatar-control>
        @if (avatar | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.EMPTY_AVATAR }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("city"); as city) {
      <fieldset class="page__field">
        <label for="city" class="field-label">Город</label>
        <app-input
          id="city"
          [error]="city | controlError"
          type="text"
          placeholder="Где живешь?"
          formControlName="city"
        >
          <i
            appIcon
            icon="hint"
            appSquare="24"
            class="content__hint"
            (mouseenter)="showTooltip('city')"
            (mouseleave)="hideTooltip('city')"
          ></i>
          <span
            class="content__tooltip text-body-12"
            style="left: 100%; top: 100%"
            [class.content__tooltip--visible]="isHintCityVisible"
            >{{ tooltipCityText }}</span
          >
        </app-input>
        @if (city | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </div>

    <div class="page__first-row">
      <div class="content">
        <p class="text-bold-body-14">Образование</p>
        <i
          appIcon
          icon="hint"
          appSquare="24"
          class="content__hint"
          (mouseenter)="showTooltip('education')"
          (mouseleave)="hideTooltip('education')"
        ></i>
        <span
          class="content__tooltip text-body-12"
          style="left: 28%"
          [class.content__tooltip--visible]="isHintEducationVisible"
          >{{ tooltipEducationText }}</span
        >
      </div>

      @if (stageForm.get("educationLevel"); as educationLevel) {
      <fieldset>
        <label for="educationLevel" class="field-label">Уровень образования</label>
        <app-select
          [selectedId]="selectedEducationLevelId()"
          formControlName="educationLevel"
          placeholder="Высшее образование-магистратура"
          [options]="educationLevelList"
        >
          <i appIcon icon="arrow-no-body" appSquare="32"></i>
        </app-select>
        @if (educationLevel | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <div class="page__years">
        @if (stageForm.get("entryYear"); as entryYear) {
        <fieldset class="years__left">
          <label for="entryYear" class="field-label">Дата начала</label>
          <app-select
            formControlName="entryYear"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>

          @if (entryYear | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (stageForm.get("completionYear"); as completionYear) {
        <fieldset class="years__right">
          <label for="completionYear" class="field-label">Дата окончания</label>
          <app-select
            formControlName="completionYear"
            placeholder="2023 год"
            [options]="yearListEducation.slice(5)"
          >
            <i appIcon icon="arrow-no-body" appSquare="32"></i>
          </app-select>
          @if (completionYear | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      @if (stageForm.get("organizationName"); as organizationName) {
      <fieldset class="page__field">
        <label for="organizationName" class="field-label">Название учреждения</label>
        <app-input
          id="organizationName"
          [error]="organizationName | controlError"
          type="text"
          placeholder="вуз / колледж / школа"
          formControlName="organizationName"
        ></app-input>
        @if (organizationName | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("educationStatus"); as educationStatus) {
      <fieldset>
        <label for="educationStatus" class="field-label">Должность</label>
        <app-select
          [selectedId]="selectedEducationStatusId()"
          formControlName="educationStatus"
          placeholder="Студент"
          [options]="educationStatusList"
        >
          <i appIcon icon="arrow-no-body" appSquare="32"></i>
        </app-select>
        @if (educationStatus | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("description"); as description) {
      <fieldset class="page__field">
        <label for="description" class="field-label">Профиль обучения</label>
        <app-input
          id="description"
          [error]="description | controlError"
          type="text"
          placeholder="Бизнес информатика"
          formControlName="description"
        >
          <i
            appIcon
            icon="hint"
            appSquare="24"
            class="content__hint"
            (mouseenter)="showTooltip('educationDescription')"
            (mouseleave)="hideTooltip('educationDescription')"
          ></i>
          <span
            class="content__tooltip text-body-12"
            style="left: 100%; top: 100%"
            [class.content__tooltip--visible]="isHintEducationDescriptionVisible"
            >{{ tooltipEducationDescriptionText }}</span
          >
        </app-input>
        @if (description | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <div class="profile__row education__block">
        <app-button
          [disabled]="!isEducationDirty"
          [ngStyle]="{
            opacity: !isEducationDirty ? '0.6' : '1',
            cursor: !isEducationDirty ? 'not-allowed' : 'pointer'
          }"
          class="page__add-education"
          (click)="addEducation()"
        >
          <span>{{ editEducationClick ? "Созранить изменения" : "Добавить образование" }}</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>

        @if(educationItems().length || education.length){ @for (educationItem of education.value;
        track $index) {
        <div class="education__remove">
          <div class="education__info">
            <p class="text-body-16 education__text">
              {{ educationItem.organizationName }}

              @if(educationItem.entryYear && educationItem.completionYear) {
              {{ educationItem.entryYear }} год - {{ educationItem.completionYear }} год } @else if
              (educationItem.entryYear && !educationItem.completionYear) {
              {{ educationItem.entryYear }} год } @else if (!educationItem.entryYear &&
              educationItem.completionYear){ {{ educationItem.completionYear }} год }

              {{ educationItem.description }} {{ educationItem.educationStatus }}
              {{ educationItem.educationLevel }}
            </p>
            <i
              class="edit"
              appIcon
              icon="edit-pen"
              appSquare="20"
              (click)="editEducation($index)"
            ></i>
          </div>
          <app-button class="basket" color="red" (click)="removeEducation($index)">
            <i appIcon icon="basket" appSquare="24"></i>
          </app-button>
        </div>
        } }
      </div>
    </div>

    <div class="page__first-row">
      <div class="content">
        <p class="text-bold-body-14">Место работы</p>
        <i
          appIcon
          icon="hint"
          appSquare="24"
          class="content__hint"
          (mouseenter)="showTooltip('work')"
          (mouseleave)="hideTooltip('work')"
        ></i>
        <span
          class="content__tooltip text-body-12"
          style="left: 28%"
          [class.content__tooltip--visible]="isHintWorkVisible"
          >{{ tooltipWorkText }}</span
        >
      </div>

      @if (stageForm.get("organizationNameWork"); as organizationNameWork) {
      <fieldset>
        <label for="organizationNameWork" class="field-label">Название</label>
        <app-input
          id="organizationNameWork"
          [error]="organizationNameWork | controlError"
          type="text"
          placeholder="Проколлаб"
          formControlName="organizationNameWork"
        >
          <i
            appIcon
            icon="hint"
            appSquare="24"
            class="content__hint"
            (mouseenter)="showTooltip('workName')"
            (mouseleave)="hideTooltip('workName')"
          ></i>
          <span
            class="content__tooltip text-body-12"
            style="left: 100%; top: 100%"
            [class.content__tooltip--visible]="isHintWorkNameVisible"
            >{{ tooltipWorkNameText }}</span
          >
        </app-input>
        @if (organizationNameWork | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <div class="page__years">
        @if (stageForm.get("entryYearWork"); as entryYearWork) {
        <fieldset class="years__left">
          <label for="entryYearWork" class="field-label">Дата начала</label>
          <app-select
            [selectedId]="selectedEntryYearWorkId()"
            formControlName="entryYearWork"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__entry"></i>
          </app-select>

          @if (entryYearWork | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (stageForm.get("completionYearWork"); as completionYearWork) {
        <fieldset class="years__right">
          <label for="completionYearWork" class="field-label">Дата окончания</label>
          <app-select
            [selectedId]="selectedComplitionYearWorkId()"
            formControlName="completionYearWork"
            placeholder="2023 год"
            [options]="yearListEducation"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
          </app-select>

          @if (completionYearWork | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      @if (stageForm.get("jobPosition"); as jobPosition) {
      <fieldset>
        <label for="jobPosition" class="field-label">Должность</label>
        <app-input
          id="jobPosition"
          [error]="jobPosition | controlError"
          type="text"
          placeholder="Дизайнер"
          formControlName="jobPosition"
        ></app-input>
        @if (jobPosition | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (stageForm.get("descriptionWork"); as descriptionWork) {
      <fieldset>
        <label for="descriptionWork" class="field-label">Краткое описание</label>
        <app-input
          id="descriptionWork"
          [error]="descriptionWork | controlError"
          type="text"
          placeholder="Образовательная платформа"
          formControlName="descriptionWork"
        >
          <i
            appIcon
            icon="hint"
            appSquare="24"
            class="content__hint"
            (mouseenter)="showTooltip('workDescription')"
            (mouseleave)="hideTooltip('workDescription')"
          ></i>
          <span
            class="content__tooltip text-body-12"
            style="left: 100%; top: 100%; width: 220px"
            [class.content__tooltip--visible]="isHintWorkDescriptionVisible"
            >{{ tooltipWorkDescriptionText }}</span
          >
        </app-input>
        @if (descriptionWork | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <div class="page__row education__block">
        <app-button
          [disabled]="!isWorkDirty"
          [ngStyle]="{
            opacity: !isWorkDirty ? '0.6' : '1',
            cursor: !isWorkDirty ? 'not-allowed' : 'pointer'
          }"
          class="page__add-education"
          (click)="addWork()"
        >
          <span>{{ editWorkClick ? "Сохранить изменения" : "Добавить место работы" }}</span>
          <i appIcon icon="plus" appSquare="14"></i>
        </app-button>

        @if(workItems().length || workExperience.length){ @for (workItem of workExperience.value;
        track $index) {
        <div class="education__remove">
          <div class="education__info">
            <p class="text-body-16 education__text">
              {{ workItem.organizationName }}
              @if(workItem.entryYear && workItem.completionYear) {
              {{ workItem.entryYear }} год - {{ workItem.completionYear }} год } @else if
              (workItem.entryYear && !workItem.completionYear) { {{ workItem.entryYear }} год }
              @else if (!workItem.entryYear && workItem.completionYear){
              {{ workItem.completionYear }} год }
              {{ workItem.description }}
              {{ workItem.jobPosition }}
            </p>
            <i class="edit" appIcon icon="edit-pen" appSquare="20" (click)="editWork($index)"></i>
          </div>
          <app-button class="basket" color="red" (click)="removeWork($index)">
            <i appIcon icon="basket" appSquare="24"></i>
          </app-button>
        </div>
        } }
      </div>
    </div>

    <div class="page__first-row">
      <ng-container formArrayName="achievements">
        <ul>
          @for (control of achievements.controls; track control.value.id; let i = $index) {
          <li class="page__achievement">
            <form [formGroupName]="i" class="achievement">
              <div class="achievement__first-row">
                @if (achievements.at(i)?.get("title"); as title) {
                <fieldset>
                  <div class="content">
                    <label class="field-label">Достижения</label>
                    <i
                      appIcon
                      icon="hint"
                      appSquare="24"
                      class="content__hint"
                      (mouseenter)="showTooltip('achievements')"
                      (mouseleave)="hideTooltip('achievements')"
                    ></i>
                    <span
                      class="content__tooltip text-body-12"
                      style="left: 42%; width: 270px"
                      [class.content__tooltip--visible]="isHintAchievementsVisible"
                      >{{ tooltipAchievementsText }}</span
                    >
                  </div>
                  <app-input
                    [error]="title | controlError"
                    placeholder="Название конкурса"
                    formControlName="title"
                  ></app-input>
                  @if (title | controlError: "required") {
                  <div class="text-body-14 error">
                    {{ errorMessage.VALIDATION_REQUIRED }}
                  </div>
                  }
                </fieldset>
                }
                <app-button class="achievement__remove" color="red" (click)="removeAchievement(i)">
                  <span>Удалить</span>
                  <i appIcon icon="basket" appSquare="24"></i>
                </app-button>
              </div>
              @if (achievements.at(i).get("status"); as status) {
              <fieldset>
                <app-input
                  [error]="status | controlError"
                  placeholder="Занятое место"
                  formControlName="status"
                ></app-input>
                @if (status | controlError: "required") {
                <div class="text-body-14 error">
                  {{ errorMessage.VALIDATION_REQUIRED }}
                </div>
                }
              </fieldset>
              }
            </form>
          </li>
          }
        </ul>
      </ng-container>
      <app-button class="page__add-achievement" (click)="addAchievement()">
        <span>Добавить достижение</span>
        <i appIcon icon="plus" appSquare="14"></i>
      </app-button>
    </div>

    <div class="page__first-row">
      <div class="content">
        <p class="text-bold-body-14">Язык</p>
        <i
          appIcon
          icon="hint"
          appSquare="24"
          class="content__hint"
          (mouseenter)="showTooltip('language')"
          (mouseleave)="hideTooltip('language')"
        ></i>
        <span
          class="content__tooltip text-body-12"
          style="left: 14%"
          [class.content__tooltip--visible]="isHintLanguageVisible"
          >{{ tooltipLanguageText }}</span
        >
      </div>
      <div class="page__years">
        @if (stageForm.get("language"); as language) {
        <fieldset class="years__left">
          <label for="language" class="field-label">Уровень</label>
          <app-select
            [selectedId]="selectedLanguageId()"
            formControlName="language"
            placeholder="Английский"
            [options]="languageList"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
          </app-select>

          @if (language | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        } @if (stageForm.get("languageLevel"); as languageLevel) {
        <fieldset class="years__right" style="margin-top: 26px">
          <app-select
            [selectedId]="selectedLanguageLevelId()"
            formControlName="languageLevel"
            placeholder="B1"
            [options]="languageLevelList"
          >
            <i appIcon icon="arrow-no-body" appSquare="32" class="arrow-list__end"></i>
          </app-select>

          @if (languageLevel | controlError: "required") {
          <div class="text-body-14 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }
      </div>

      <app-button
        [disabled]="!isLanguageDirty || languageItems().length === 4 || userLanguages.length === 4"
        [ngStyle]="{
          opacity: !isLanguageDirty ? '0.6' : '1',
          cursor: !isLanguageDirty ? 'not-allowed' : 'pointer'
        }"
        class="page__add-education"
        (click)="addLanguage()"
      >
        <span>{{ editLanguageClick ? "Сохранить изменения" : "Добавить язык" }}</span>
        <i appIcon icon="plus" appSquare="14"></i>
      </app-button>

      <div class="page__row education__block">
        @if(languageItems().length || userLanguages.length){ @for (languageItem of
        userLanguages.value; track $index) {
        <div class="education__remove">
          <div class="education__info">
            <p class="text-body-16 education__text">
              {{ languageItem.language }} {{ languageItem.languageLevel }}
            </p>
            <i
              class="edit"
              appIcon
              icon="edit-pen"
              appSquare="20"
              (click)="editLanguage($index)"
            ></i>
          </div>
          <app-button class="basket" color="red" (click)="removeLanguage($index)">
            <i appIcon icon="basket" appSquare="24"></i>
          </app-button>
        </div>
        } }
      </div>
    </div>

    <div class="page__first-row">
      <app-button (click)="onSkipRegistration()" color="grey" [loader]="skipSubmitting()"
        >Закончить регистрацию позже</app-button
      >
      <app-button
        [disabled]="
          editEducationClick ||
          editWorkClick ||
          editLanguageClick ||
          isEducationDirty ||
          isWorkDirty
        "
        [ngStyle]="{
          opacity:
            editEducationClick ||
            editWorkClick ||
            editLanguageClick ||
            isEducationDirty ||
            isWorkDirty
              ? '0.6'
              : '1',
          cursor:
            editEducationClick ||
            editWorkClick ||
            editLanguageClick ||
            isEducationDirty ||
            isWorkDirty
              ? 'not-allowed'
              : 'pointer'
        }"
        type="submit"
        [loader]="stageSubmitting()"
        >Продолжить</app-button
      >
    </div>
  </form>

  <app-modal [open]="isModalErrorYear()" (openChange)="isModalErrorYear.set(!isModalErrorYear())">
    <div class="cancel">
      <div class="cancel__top">
        <i (click)="isModalErrorYear.set(false)" appIcon icon="cross" class="cancel__cross"></i>
        <p class="cancel__title text-bold-body-16">Произошла ошибка при редактировании!</p>
      </div>
      <p class="text-body-14 cancel__text">{{ isModalErrorYearText() }}.</p>
    </div>
  </app-modal>
</div>
}
