@use "styles/responsive";
@use "styles/typography";

.app {
  position: relative;
  display: flex;
  height: 100%;
  background-color: var(--white);

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }

  &__sidebar {
    display: none;

    @include responsive.apply-desktop {
      display: block;
      flex-shrink: 0;
      width: 234px;
      height: 100vh;

      ::ng-deep {
        .sidebar__logo {
          margin-bottom: 17px;
        }
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: 2px;
      margin-top: 17px;
      color: var(--dark-grey);
    }
  }

  .nav-bar {
    display: block;
    padding: 25px 0 10px;
    background-color: var(--light-gray);

    @include responsive.apply-desktop {
      display: none;
      padding: 20px 0;
      background-color: transparent;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 50px;
      margin-bottom: 40px;
    }

    &__notifications-toggle {
      position: relative;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      width: 60px;
      height: 40px;
      color: var(--black);
      cursor: pointer;
      border-radius: var(--rounded-sm);

      >.attention {
        top: 9px;
        right: 11px;
      }

      &--active {
        color: var(--white);
        background-color: var(--accent);
      }
    }

    &__toggle {
      position: relative;
      z-index: 100;
      display: block;
      cursor: pointer;

      >.attention {
        top: 8px;
        right: 2px;
      }

      @include responsive.apply-desktop {
        display: none;
      }
    }

    &__mobile-menu {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 50;
      display: flex;
      flex-direction: column;
      padding: 25px 15px 30px;
      background-color: var(--white);
    }

    &__mobile-logo {
      display: block;
    }

    &__profile {
      display: flex;
      justify-content: flex-start;
      margin-top: auto;
    }
  }

  .attention {
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--red);
    border-radius: 50%;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0 200px;
    overflow-y: auto;

    @media (max-width: 1600px) {
      padding: 0 150px;
    }

    @media (max-width: 1400px) {
      padding: 0 100px;
    }

    @media (max-width: 1200px) {
      padding: 0 50px;
    }

    @media (max-width: 992px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0 15px;
    }
  }

  &__header {
    display: none;
    background-color: var(--white);

    @include responsive.apply-desktop {
      display: block;
    }
  }

  &__inner {
    display: flex;
    width: 100%;
    height: 100%;

    &--wrapper {
      display: grid;
      grid-template-columns: 2fr 10fr;
      width: 100%;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    &--content {
      flex-grow: 1;
      min-width: 0;
    }
  }
}
