<!-- @format -->

<div class="page__head head">
  <div class="head__body">
    <img [src]="program.imageAddress" [alt]="program.name" class="head__avatar" />
    <div class="head__info">
      <h1 class="head__title">{{ program.name }}</h1>
      <div class="head__row">
        <div class="head__tag">#{{ program.tag }}</div>
        <div class="head__location">
          <i appIcon icon="geo-point" appSquare="15"></i>
          {{ program.city }}
        </div>
      </div>
    </div>
  </div>
  @if (isProjectsList && (isUserExpert | async)) {
    <a [routerLink]="['../projects-rating']" class="head__rate-projects"
      ><app-button>Оценить проекты</app-button></a
    >
  }
  <!--<div class="head__search search">
    <input type="text" class="text-body-14" [(ngModel)]="searchValue" />
    <div class="search__right">
      <i appIcon icon="search" appSquare="35"></i>
      <span class="text-body-14">Поиск</span>
    </div>
  </div>-->
</div>
