@use "styles/typography";
@use "styles/responsive";

.profile {
  display: flex;
  flex-direction: column;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--accent-light);
    opacity: 0.7;

    &__text {
      @include typography.heading-1;

      color: #a59fb9;
    }

    &__image {
      margin: 0 auto;
    }
  }

  &__month {
    grid-column: span 2;
  }
}
