<!-- @format -->

<div class="profile">
  <!-- <div class="profile__overlay">
    <img src="assets/images/profile/soon.svg" alt="soon" class="profile__overlay__image" />
    <p class="profile__overlay__text">Скоро...</p>
  </div> -->
  @if (profileData()) {
  <!-- <app-month-block [months]="profileData()['months']" class="profile__month"></app-month-block> -->
  @if(type === 'months') {
  <app-month-block [months]="mockMonts" class="profile__month"></app-month-block>
  } @else {
  <app-trajectory-block class="profile__month"></app-trajectory-block>
  }
  <app-skills-block class="profile__skills"></app-skills-block>
  <app-progress-block></app-progress-block>
  }
</div>
