/** @format */

@use "styles/responsive";

$header-height: 58px + 18px * 2;
$input-height: 66px + 18px;

.chat-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  background-color: var(--white);

  @include responsive.apply-desktop {
    flex-direction: row;
  }

  &__main {
    flex-grow: 1;
    max-height: 100%;
  }

  &__aside {
    display: none;

    &-visible {
      display: block;
    }

    @include responsive.apply-desktop {
      display: block;
      flex-basis: 30%;
      min-width: 250px;
      border-left: 1px solid var(--gray);
    }
  }
}

.main {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 18px 28px 18px 18px;
    border-bottom: 1px solid var(--gray);
  }

  &__chat {
    display: none;
    flex-grow: 1;
    max-height: calc(100% - #{$header-height});

    &-visible {
      display: block;
    }

    @include responsive.apply-desktop {
      display: block;
    }
  }

  &__project {
    display: flex;
    align-items: center;
    margin-bottom: 11px;
  }

  &__avatar {
    margin-right: 6px;
  }

  &__meta {
    display: flex;
    align-items: center;
  }

  &__members-list {
    display: flex;
    margin-right: 5px;
  }

  &__member-avatar {
    position: relative;
  }

  &__count {
    color: var(--dark-grey);
  }

  &__dot {
    margin: 0 10px;
    color: var(--dark-grey);
  }

  &__count-online {
    color: var(--accent);
  }

  &__actions {
    display: flex;
    flex-basis: 5%;
    justify-content: center;

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__action {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &::before {
      position: absolute;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      content: "";
    }
  }
}

.chat-members {
  padding: 12px 18px 18px;
  border-bottom: 1px solid var(--gray);

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }

  &__title {
    color: var(--black);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.member {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 8px;
  }

  &__name {
    color: var(--black);
  }

  &__i {
    margin-left: 4px;
    color: var(--dark-grey);
  }
}

.files {
  padding: 16px 18px 18px;

  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
