/** @format */

@use "styles/responsive";

$header-height: 58px + 18px * 2;
$input-height: 66px + 18px;

.chat-page {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 20px;

  &__aside {
    display: none;

    &-visible {
      display: block;
    }

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }

  &__text {
    width: 60%;
    text-align: center;
  }

  &__placeholder {
    color: var(--grey-for-text);
    position: absolute;
    top: 50%;
    left: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    z-index: 1;
  }
}

.main {
  display: flex;
  flex-direction: column;

  &__chat {
    display: none;
    flex-grow: 1;

    &-visible {
      display: block;
    }

    @include responsive.apply-desktop {
      display: block;
    }
  }
}

.info {
   background-color: var(--light-white);
  border-radius: var(--rounded-xl);
  padding: 24px;
  border: 0.5px solid var(--medium-grey-for-outline);
  min-height: 245px;

   &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.5px solid var(--accent);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &__title {
    color: var(--accent);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  i {
    color: var(--accent);
  }
}

.member {
  display: flex;
  align-items: center;

  &__avatar {
    margin-right: 8px;
  }

  &__name {
    color: var(--black);
  }

  &__i {
    margin-left: 4px;
    color: var(--dark-grey);
  }
}
