<!-- @format -->
@if (project) {
<div class="chat-page">
  <div class="chat-page__main main">
    @if (!messages.length) {
    <div class="chat-page__placeholder">
      <i appIcon icon="empty-chat" appSquare="37"></i>
      <p class="text-body-12 chat-page__text">
        начните обсуждать ваш план по заработку первого миллиона
      </p>
    </div>
    }

    <app-chat-window
      class="main__chat"
      [class.main__chat-visible]="!isAsideMobileShown"
      [messages]="messages"
      [typingPersons]="typingPersons"
      (submit)="onSubmitMessage($event)"
      (edit)="onEditMessage($event)"
      (delete)="onDeleteMessage($event)"
      (fetch)="onFetchMessages()"
    ></app-chat-window>
  </div>

  <aside class="chat-page__aside" [class.chat-page__aside-visible]="isAsideMobileShown">
    <div class="info">
      <header class="info__header">
        <h2 class="info__title text-body-12">участники</h2>
        <i appIcon icon="team" appSquare="12"></i>
      </header>
      <ul class="info__list">
        @for (member of project.collaborators; track member.userId) {
        <li class="info__item">
          <a class="member" [routerLink]="['/office/profile', member.userId]">
            <app-avatar class="member__avatar" [url]="member.avatar" [size]="30"></app-avatar>
            <span class="member__name text-body-10">
              {{ member.firstName }} {{ member.lastName }}
            </span>
            @if (currentUserId === member.userId) {
            <span class="member__i text-body-10">(вы)</span>
            }
          </a>
        </li>
        }
      </ul>
    </div>

    <div class="info">
      <div class="info__header">
        <h2 class="info__title text-body-12">файлы</h2>
        <i appIcon icon="file" appSquare="12"></i>
      </div>
      <ul class="info__list">
        @for (file of chatFiles; track $index) {
        <li class="info__item">
          <app-file-item
            [name]="file.name"
            [link]="file.link"
            [type]="file.extension"
            [size]="file.size"
          ></app-file-item>
        </li>
        }
      </ul>
    </div>
  </aside>
</div>
}
