<!-- @format -->

<main class="responses">
  <section class="responses__main">
    @if (!responses.length) {
      <div class="responses__no-responses">
        <img src="assets/images/projects/responses/no-responses.svg" alt="Отклики отсутствуют" />
        <span class="text-body-14">Откликов на вакансии пока нет, возвращайтесь позже</span>
      </div>
    }
    <ul>
      @for (response of responses; track response.id) {
        <li>
          <app-response-card
            [response]="response"
            (accept)="acceptResponse($event)"
            (reject)="rejectResponse($event)"
          ></app-response-card>
        </li>
      }
    </ul>
  </section>
</main>
