<!-- @format -->

<main *ngIf="program" class="project">
  <section class="program__main">
    <div class="info program__section program__info">
      <div class="info__cover">
        <img class="info__cover" [src]="program.coverImageAddress" alt="cover" />
        <app-avatar
          class="info__avatar"
          [url]="program.imageAddress"
          [hasBorder]="true"
          [size]="140"
        ></app-avatar>
      </div>
      <div class="info__body">
        <div class="info__text">
          <h1 class="info__title">{{ program.name }}</h1>
          <div class="info__row">
            <div class="info__tag">#{{ program.tag }}</div>
            <div class="info__location">
              <i appIcon icon="geo-point" appSquare="10"></i>
              {{ program.city }}
            </div>
          </div>
        </div>
        <div class="info__actions">
          <a
            *ngIf="!program.isUserMember"
            class="info__presentation"
            [routerLink]="['/office/program', program.id, 'register']"
          >
            <app-button> Зарегистрироваться</app-button>
          </a>
          <a
            class="info__presentation"
            [href]="program.presentationAddress"
            download=""
            target="_blank"
          >
            <app-button color="grey">Положение</app-button>
          </a>
        </div>
      </div>
    </div>
    <div class="program__advertisement" *ngIf="!program.isUserMember">
      <img [src]="program.advertisementImageAddress" [alt]="program.name" />
    </div>
    <div *ngIf="program.isUserMember" class="program__content">
      <div class="about program__about">
        <div class="about__head">
          <h3 class="text-bold-body-16 about__title">О программе</h3>
          <div class="about__views">
            <i appIcon icon="eye" appSquare="20"></i>
            <span>{{ program.viewsCount }}</span>
          </div>
        </div>
        <div *ngIf="program.description" class="text-body-14 about__text">
          {{
            readFullDescription
              ? program.description
              : program.description.split(" ").slice(0, 50).join(" ")
          }}
          <div
            *ngIf="program.description.split(' ').length > 50"
            class="read-more about__read-more"
            (click)="readFullDescription = !readFullDescription"
          >
            {{ readFullDescription ? "Скрыть" : "Читать полностью" }}
          </div>
        </div>
      </div>
      <div class="news">
        <app-program-news-card
          class="news__item"
          *ngFor="let n of news"
          [attr.data-id]="n.id"
          [newsItem]="n"
          (like)="onLike($event)"
        ></app-program-news-card>
      </div>
    </div>
    <aside class="program__aside">
      <div class="links program__section" *ngIf="program.isUserMember && program.links.length">
        <h3 class="links__title text-bold-body-16">Контакты</h3>
        <ul>
          <li class="contact-link links__item text-body-12" *ngFor="let link of program.links">
            <a
              class="contact-link__link"
              *ngIf="link | userLinks as l"
              target="_blank"
              [href]="link"
            >
              <i class="contact-link__icon" appIcon [icon]="l.iconName" appSquare="16"></i>
              {{ l.tag }}
            </a>
          </li>
        </ul>
      </div>
      <div *ngIf="program.isUserMember" class="text-body-12 program__views-desktop">
        <i appIcon icon="eye" appSquare="20"></i>
        <span>{{ program.viewsCount }}</span>
      </div>
    </aside>
  </section>
</main>
