@use "src/styles/responsive";
@use "src/styles/typography";

.program {
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 0;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 8px;
    align-items: start;

    @include responsive.apply-desktop {
      grid-template-columns: 2fr 1fr;
      grid-gap: 16px;
    }
  }

  &__aside {
    display: grid;
    grid-row-start: 3;
    gap: 20px;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__section {
    padding: 24px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 15px;
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__content {
    grid-row-start: 2;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__about {
    padding: 0 24px;
  }

  &__news {
    grid-row-start: 4;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__advertisement {
    grid-column: span 3;

    img {
      width: 100%;
    }
  }

  &__views-desktop {
    display: none;
    color: var(--dark-grey);

    @include responsive.apply-desktop {
      display: flex;
      align-items: center;
    }

    i {
      margin-right: 5px;
    }
  }
}

.about {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include responsive.apply-desktop {
      display: block;
    }
  }

  &__title {
    margin-bottom: 12px;
    color: var(--black);
  }

  &__views {
    display: flex;
    align-items: center;
    color: var(--gray);

    @include typography.body-12;

    @include responsive.apply-desktop {
      display: none;
    }

    i {
      margin-right: 5px;
    }
  }

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }
  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.info {
  $body-slide: 15px;

  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: $body-slide;

  &__cover {
    position: relative;
    height: 230px;
    border-radius: 15px 15px 0 0;

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: top;
    }
  }

  &__body {
    position: relative;
    z-index: 2;
    padding: 40px 24px 24px;
    margin-top: -$body-slide;
    border-radius: $body-slide;

    @include responsive.apply-desktop {
      display: flex;
      align-items: flex-end;
      padding-top: 10px;
      padding-left: 225px;
      background-color: var(--white);
      border: 1px solid var(--medium-grey-for-outline);
    }
  }

  &__avatar {
    position: absolute;
    bottom: $body-slide;
    left: 50%;
    z-index: 3;
    display: block;
    transform: translateX(-50%) translateY(30px);

    @include responsive.apply-desktop {
      left: 35px;
      transform: translateY(50%);
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;

    @include responsive.apply-desktop {
      justify-content: unset;
      margin-top: 0;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: auto;

    @include responsive.apply-desktop {
      flex-direction: row;
      gap: 10px;
    }

    app-button ::ng-deep .button--inline {
      min-height: 38px;
    }
  }

  &__tag {
    padding: 4px 10px;
    color: var(--white);
    background-color: var(--accent);
    border-radius: 5px;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-left: 20px;

    i {
      margin-right: 5px;
    }
  }

  &__title {
    color: var(--black);
    text-align: center;

    @include typography.heading-4;

    @include responsive.apply-desktop {
      margin-bottom: 10px;
      text-align: unset;

      @include typography.heading-2;
    }
  }

  &__text {
    color: var(--dark-grey);
  }

  &__industry {
    margin-right: 20px;

    @include responsive.apply-desktop {
      margin-right: 40px;
    }
  }

  &__geo {
    display: flex;
    align-items: center;

    i {
      margin-right: 5px;
    }
  }

  &__presentation {
    display: block;
    margin-top: 35px;

    @include responsive.apply-desktop {
      margin-top: 0;
      margin-left: auto;
    }

    i {
      margin-left: 10px;
    }
  }

  &__edit {
    display: block;
  }
}

.read-more {
  color: var(--accent);
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.links {
  overflow: hidden;

  &__title {
    margin-bottom: 12px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 3px;

      @include responsive.apply-desktop {
        margin-bottom: 12px;
      }
    }
  }

  ul {
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.news {
  &__item {
    display: block;
    margin-top: 20px;
  }
}
