<!-- @format -->

<div class="filter">
  <div class="filter__body">
    <div class="filter__titles"></div>

    <!-- Скрыть пока не появится программа для мос политеха -->
    <!-- <div class="filter__block">
      <div class="filter__switch--one">
        <app-switch
          [checked]="isMospolytech"
          (checkedChange)="onFilterMospolytech($event)"
        ></app-switch>
        <span class="filter__yes-no text-body-14" [class.filter__yes-no--active]="isMospolytech"
          >Проект ПД.МосПолитеха
        </span>
      </div>
    </div> -->

    <!-- <div class="filter__block">
      <h4 class="text-body-12 filter__name">Проекты</h4>
      @for (tag of filterTags; track tag.id) {
      <div class="text-body-14 filter__checkbox" (click)="onFilterProjectType($event, tag.id)">
        <app-checkbox [checked]="tag.id === currentFilterTag"></app-checkbox>
        {{ tag.label }}
      </div>
      }
    </div> -->
    <!-- <div class="filter__block">
      <h4 class="text-body-12 filter__name">Участники (кол-во)</h4>
      <app-num-slider
        [appNums]="membersCountOptions"
        [appValue]="currentMembersCount"
        (appValueChange)="onFilterByMembersCount($event)"
      ></app-num-slider>
    </div> -->
    <!-- <div class="filter__block">
      <div class="text-body-12 filter__name">Наличие вакансий</div>
      <div class="filter__switch">
        <span class="filter__yes-no text-body-14" [class.filter__yes-no--active]="!hasVacancies"
          >Нет</span
        >
        <app-switch
          [checked]="hasVacancies"
          (checkedChange)="onFilterVacancies($event)"
        ></app-switch>
        <span class="filter__yes-no text-body-14" [class.filter__yes-no--active]="hasVacancies"
          >Да</span
        >
      </div>
    </div> -->
    <div class="filter__block">
      <div class="text-body-12">
        <app-select
          [formControl]="industryControl"
          size="big"
          [options]="industries"
          placeholder="сфера проекта"
        ></app-select>
      </div>
    </div>
  </div>
</div>
