<!-- @format -->

<div class="analytics">
  <div class="analytics--wrapper">
    <div class="analytics__soon">
      <div class="analytics__closed">
        <i appIcon icon="lock" appSquare="10"></i>
        <span class="text-body-6 analytics__closed--text">пока закрыто</span>
      </div>
      <app-button customTypographyClass="text-body-6" color="green" size="extra-small"
        >скоро</app-button
      >
    </div>

    <div class="analytics__info">
      <p class="text-body-12">{{ title }}</p>
      <p class="text-body-6">{{ description }}</p>
    </div>
  </div>
</div>
