<!-- @format -->

@if (courseStructure()) {
<main class="trajectory">
  <section class="course__main">
    <div class="course__details">
      @if (appWidth > 1000) {
      <div class="course__left">
        <aside class="course__aside">
          <app-soon-card
            title="аналитика"
            description="уровень включённости студентов, статистика достижения целей в проектах"
          ></app-soon-card>
        </aside>
      </div>
      }

      <section class="course__content">
        <div
          class="course__progress"
          [class.course__progress--complete]="courseStructure()!.percent === 100"
        >
          <p class="text-body-12">прогресс по курсу</p>
          <p class="text-body-12 course__progress--percent">{{ courseStructure()!.percent }}%</p>
          <div class="course__progress--cover" [style.width.%]="courseStructure()!.percent"></div>
        </div>

        <div class="course__modules">
          @for (courseModule of courseStructure()!.modules; track courseModule) {
          <app-course-module-card [courseModule]="courseModule"></app-course-module-card>
          } @empty {
          <p class="text-body-12-bold">на данные момент модулей нет!</p>
          }
        </div>
      </section>

      @if (appWidth > 1000) {
      <div class="course__right">
        <app-course-about [description]="courseDetail()!.description"></app-course-about>
      </div>
      }
    </div>
  </section>

  <app-modal [open]="isCompleteModule()" (openChange)="isCompleteModule.set(false)">
    <div class="cancel">
      <p class="cancel__title text-body-14">
        {{ isCourseCompleted() ? "ты прошел курс!" : "ты прошел модуль!" }}
      </p>

      <img
        alt="complete module image"
        src="assets/images/courses/character.svg"
        class="cancel__img"
      />

      <app-button
        customTypographyClass="text-body-12"
        size="medium"
        (click)="isCompleteModule.set(false)"
        >отлично</app-button
      >
    </div>
  </app-modal>
</main>
}
