<!-- @format -->

<div class="detail">
  <section class="detail__bar">
    <app-back path="/office/projects/all"></app-back>
  </section>

  <div class="detail__body">
    @if(project) {
    <div class="info project__section project__info">
      <div class="info__cover">
        <img
          class="info__cover"
          [src]="
            project.coverImageAddress
              ? project.coverImageAddress
              : '/assets/images/office/profile/detail/cover.png'
          "
          alt="cover"
        />
        <div class="info__avatar">
          <app-avatar [url]="project.imageAddress" [hasBorder]="true" [size]="110"></app-avatar>
          <h1 class="info__title text-body-12">{{ project.name }}</h1>
        </div>
      </div>
      @if (authService.profile | async; as profile) {
      <div class="info__body">
        <div class="info__actions">
          @if (project.presentationAddress) {
          <a class="info__presentation" [href]="project.presentationAddress" target="_blank">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
              <span>презентация</span>
              <i appIcon icon="arrow-down" appSquare="6"></i>
            </app-button>
          </a>
          } @else {
          <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
            рабочая зона
          </app-button>
          } @if (profile.userType !== 1 && !(isInProject$ | async)) {
          <app-button
            appearance="outline"
            size="medium"
            customTypographyClass="text-body-12"
            (click)="openSupport = true"
          >
            написать
          </app-button>
          } @else {
          <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
            чат проекта
          </app-button>
          }
          <a
            class="info__edit"
            [routerLink]="
              isEditDisable
                ? ['/office/projects', project.id]
                : ['/office/projects', project.id, 'edit']
            "
            [queryParams]="isEditDisable ? {} : { editingStep: 'main' }"
          >
            @if (profile.id === project.leader) {
            <app-button
              appearance="outline"
              customTypographyClass="text-body-12"
              (click)="onUnableEditingProject()"
              [ngStyle]="{
                opacity: isEditDisable ? '0.5' : '1',
              }"
              [color]="isEditDisable ? 'grey' : 'primary'"
            >
              редактировать
            </app-button>
            }
          </a>

          <app-button
            [routerLink]="'/office/projects/' + project.id + '/team'"
            [appearance]="isTeamPage ? 'inline' : 'outline'"
            size="medium"
            customTypographyClass="text-body-12"
            >команда</app-button
          >

          <app-button
            [routerLink]="'/office/projects/' + project.id + '/vacancies'"
            [appearance]="isVacanciesPage ? 'inline' : 'outline'"
            size="medium"
            customTypographyClass="text-body-12"
            >вакансии</app-button
          >

          @if (isInProject$ | async) {
          <app-button
            appearance="outline"
            color="red"
            size="medium"
            customTypographyClass="text-body-12"
            (click)="this.isLeaveProjectModalOpen = true"
          >
            выйти из проекта
          </app-button>

          <app-modal [(open)]="isLeaveProjectModalOpen">
            <div class="unsubscribe-modal">
              <h3>Выход из проекта</h3>
              <img alt="leave image" src="/assets/images/projects/detail/leaveProject.svg" />
              <p class="text-body-14" style="width: 55%; text-align: center; margin-bottom: 18px">
                Ты уверен, что хочешь выйти из проекта? Это действие нельзя будет отменить.
              </p>
              <div class="unsubscribe-modal__buttons" style="justify-content: center">
                <app-button
                  color="grey"
                  customTypographyClass="unsubscribe-modal-btn__typography"
                  (click)="onLeave()"
                >
                  Да
                </app-button>
                <app-button
                  customTypographyClass="unsubscribe-modal-btn__typography"
                  (click)="onCloseLeaveProjectModal()"
                >
                  Нет, хочу остаться
                </app-button>
              </div>
            </div>
          </app-modal>
          }
        </div>
      </div>
      }
    </div>
    }

    <app-modal [(open)]="openSupport">
      <div class="support">
        <i
          class="support__cross"
          appIcon
          icon="cross"
          appSquare="20"
          (click)="openSupport = false"
        ></i>
        <img src="assets/images/projects/shared/idea.svg" alt="idea" class="support__img" />
        <h3 class="support__title">Поддержать проект</h3>
        <p class="support__text">Напишите лидеру проекта, чтобы обсудить оказание поддержки</p>
        @if (project?.links && project?.links?.length) {
        <ul>
          @for (link of project?.links; track $index) {
          <li class="contact-link links__item text-body-12">
            @if (link | userLinks; as l) {
            <a class="contact-link__link" target="_blank" [href]="link">
              <i class="contact-link__icon" appIcon [icon]="l.iconName" appSquare="12"></i>
              {{ l.tag }}
            </a>
            }
          </li>
          }
        </ul>
        }
      </div>
    </app-modal>

    <app-modal [open]="leaderLeaveModal">
      <div class="unsubscribe-modal">
        <h3>Прежде чем выйти из проекта смените основателя!</h3>
        <app-avatar [url]="project?.imageAddress" [size]="130"></app-avatar>
        <div class="unsubscribe-modal__buttons--additional">
          <app-button
            customTypographyClass="unsubscribe-modal-btn__typography"
            (click)="onCloseLeaderLeaveModal()"
          >
            Хорошо
          </app-button>
        </div>
      </div>
    </app-modal>

    <app-modal [(open)]="isEditDisableModal">
      <div
        class="unsubscribe-modal"
        style="text-align: center; padding: 20px 80px 20px; position: relative"
      >
        <i
          style="right: 0px; top: 0px"
          class="support__cross"
          appIcon
          icon="cross"
          appSquare="24"
          (click)="isEditDisableModal = false"
        ></i>
        <img
          src="assets/images/projects/shared/edit_disable.svg"
          alt="idea"
          class="unsubscribe-modal__img"
        />
        <h4 class="support__title">Редактирование недоступно</h4>

        <p class="support__text text-body-12" style="max-width: 100%">
          Этот проект уже отправлен на конкурс. <br />Изменения будут доступны только после
          окончания конкурса.
        </p>

        <app-button
          size="medium"
          customTypographyClass="text-body-12"
          (click)="isEditDisableModal = false"
          >Отмена</app-button
        >
      </div>
    </app-modal>

    <router-outlet></router-outlet>
  </div>
</div>
