<!-- @format -->

@if (project) {
<div class="detail">
  <app-bar
    [links]="
        (isInProject$ | async)
          ? [
              {
                link: '/office/projects' + '/' + project.id.toString(),
                linkText: 'Страница проекта',
                isRouterLinkActiveOptions: true,
              },
              {
                link: '/office/projects' + '/' + project.id.toString() + '/' + 'responses',
                linkText: 'Отклики на вакансии',
                isRouterLinkActiveOptions: false,

              },
              {
                link: '/office/projects' + '/' + project.id.toString() + '/' + 'chat',
                linkText: 'Чат проекта',
                isRouterLinkActiveOptions: false,
              },
            ]
          : []
      "
    [backHave]="true"
    class="bar detail__bar"
  ></app-bar>

  <div class="detail__body">
    <router-outlet></router-outlet>
  </div>
</div>
}
