<!-- @format -->

<app-modal [(open)]="modalService.confirmState">
  @if (settings$ | async; as settings) {
  <div class="confirm">
    <i class="confirm__icon" appIcon icon="basket" appSquare="80"></i>
    <p class="confirm__main-text text-bold-body-16">{{ settings.mainText }}</p>
    <p class="confirm__sub-text text-body-14">{{ settings.subText }}</p>
    <app-button class="confirm__cancel" appearance="outline" (click)="onResult(false)">
      Отменить
    </app-button>
    <app-button class="confirm__approve" color="red" (click)="onResult(true)">Удалить</app-button>
  </div>
  }
</app-modal>
