@use "styles/typography";
@use "styles/responsive";
@use "sass:list";
@use "sass:math";

.progress {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  @include responsive.apply-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__info {
    margin-top: 200px;

    @include responsive.apply-desktop {
      margin-top: 0;
    }
  }

  &__chart {
    position: relative;
    width: 100%;
  }

  &__hint {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
      opacity: 0.5;
    }
  }

  &__tooltip {
    position: absolute;
    bottom: 95%;
    left: 66%;
    z-index: 100;
    width: 200px;
    padding: 12px;
    color: var(--dark-grey);
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
    border-radius: 15px 15px 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &--visible {
      opacity: 1;
    }
  }
}

.info {
  &__list {
    margin-top: 10px;
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
  }

  &__bullet {
    width: 15px;
    height: 15px;
    background-color: var(--accent);
    border-radius: 50%;
  }
}

.chart {
  position: relative;
  width: 300px;
  height: 300px;

  &__circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.circle {
  $items: (
    (275, 6),
    (235, 6.5),
    (198, 7),
    (155, 9),
    (107, 12)
  );

  @for $i from 1 through 5 {
    &:nth-child(#{$i}) {
      width: #{list.nth(list.nth($items, $i), 1)}px;

      circle {
        stroke-width: #{list.nth(list.nth($items, $i), 2)}px;

        // ⬇️ Keep it for some time

        // @if $i == 1 {
        //   stroke-width: $base-stroke-width;
        // } @else if $i == 2 {
        //   stroke-width: $base-stroke-width * (list.nth($items-v2, $i - 1) / list.nth($items-v2, $i));
        // } @else {
        // stroke-width: $base-stroke-width *
        // (list.nth($items-v2, $i - 2) /
        // list.nth($items-v2, $i - 1)) * (list.nth($items-v2, $i - 1) / list.nth($items-v2, $i));
        // }
      }
    }
  }

  &__track,
  &__filled {
    fill: none;
  }

  &__track {
    stroke: var(--accent-light);
  }

  &__filled {
    stroke: var(--accent);
    transition: all 0.2s;
  }
}
