@use "styles/typography";
@use "styles/responsive";

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--grey-button);
  border-radius: 15px;

  @include responsive.apply-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  &__info {
    margin-top: 200px;

    @include responsive.apply-desktop {
      margin-top: 0;
    }
  }

  &__chart {
    position: relative;
    width: 100%;
  }
}

.info {
  &__list {
    margin-top: 10px;
  }

  &__item {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__bullet {
    width: 15px;
    height: 15px;
    background-color: var(--accent);
    border-radius: 50%;
  }
}

.chart {
  &__circle {
    position: absolute;
    top: 0;
    left: 20%;

    @include responsive.apply-desktop {
      left: 0;
      transform: translate(0%, -50%);
    }
  }
}

.circle {
  width: 200px;

  @include responsive.apply-desktop {
    width: 260px;
  }

  &__track,
  &__filled {
    fill: none;
    stroke-width: 8;
  }

  &__track {
    stroke: var(--accent-light);
  }

  &__filled {
    stroke: var(--accent);
    transition: all 0.2s;
  }
}
