<!-- @format -->

<div class="progress">
  <div class="progress__chart chart">
    @if (skillsList().length) { @for (skill of skillsList().slice(0, 5); track $index) {
    <svg class="circle chart__circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
      <circle class="circle__track" cx="80" cy="80" [attr.r]="radius" />
      <circle
        class="circle__filled"
        cx="80"
        cy="80"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset(skill.skillProgress)"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
        [attr.stroke-opacity]="getOpacity($index)"
      />
    </svg>
    } } @else {
    <svg class="circle chart__circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
      <circle class="circle__track" cx="80" cy="80" [attr.r]="radius" />
      <circle
        class="circle__filled"
        cx="80"
        cy="80"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset(0)"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>
    }
  </div>

  <div class="progress__info info">
    <h1 class="text-heading-1">Прогресс</h1>
    <i
      appIcon
      icon="hint"
      appSquare="24"
      class="progress__hint"
      (mouseenter)="showTooltip()"
      (mouseleave)="hideTooltip()"
    ></i>
    <span
      class="progress__tooltip text-body-12"
      [class.progress__tooltip--visible]="isHintVisible"
      >{{ tooltipText }}</span
    >
    @for (skill of skillsList().slice(0, 5); track $index) {
    <ul class="info__list">
      <li
        class="info__item"
        [style.opacity]="getOpacity($index)"
        (mouseenter)="hoveredIndex = $index"
        (mouseleave)="hoveredIndex = -1"
      >
        <div class="info__bullet"></div>
        <p class="text-body-16">{{ skill.skillName }}</p>
      </li>
    </ul>
    }
  </div>
</div>
