<!-- @format -->

<div class="progress">
  <div class="progress-bar">
    <svg class="progress-bar-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
      <circle class="track" cx="80" cy="80" [attr.r]="radius" />
      <circle
        class="filled"
        cx="80"
        cy="80"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>

    <svg class="progress-bar-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190 190">
      <circle class="track" cx="95" cy="95" [attr.r]="radius - 5" />
      <circle
        class="filled"
        cx="95"
        cy="95"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>

    <svg class="progress-bar-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 230 230">
      <circle class="track" cx="115" cy="115" [attr.r]="radius - 10" />
      <circle
        class="filled"
        cx="115"
        cy="115"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>

    <svg class="progress-bar-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 280 280">
      <circle class="track" cx="140" cy="140" [attr.r]="radius - 20" />
      <circle
        class="filled"
        cx="140"
        cy="140"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>

    <svg class="progress-bar-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
      <circle class="track" cx="170" cy="170" [attr.r]="radius - 30" />
      <circle
        class="filled"
        cx="170"
        cy="170"
        [attr.r]="radius"
        stroke-linecap="round"
        transform="rotate(-90 80 80)"
        [attr.stroke-dashoffset]="calculateStrokeDashOffset()"
        [attr.stroke-dasharray]="calculateStrokeDashArray()"
      />
    </svg>
  </div>

  <div class="progress-right">
    <h1 class="progress-title">Прогресс</h1>

    @for (skill of skillsList(5); track $index) {
    <ul class="progress-right-list">
      <li class="progress-right-list-el">
        <div class="progress-right-list-bullet"></div>
        <p class="text-body-16">Составление ТЗ</p>
      </li>
    </ul>
    }
  </div>
</div>
