@use "styles/responsive";
@use "styles/typography";

.complete {
  padding: 24px;
  background-color: var(--light-white);
  border: 0.5px solid var(--medium-grey-for-outline);
  border-radius: var(--rounded-lg);
  min-height: 358px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0px;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
