<!-- @format -->

@if (user) {
<a class="user" [routerLink]="['/office/profile', user.id]">
  <app-avatar class="user__avatar" [url]="user.avatar"></app-avatar>
  <div>
    <div class="user__row">
      <div class="text-bold-body-14 user__name">{{ user.firstName }} {{ user.lastName }}</div>
      <button class="user__logout text-bold-body-14" (click)="onLogout()">
        <span>Выход</span>
        <i appIcon icon="logout" appSquare="20"></i>
      </button>
    </div>
    @if (!user.verificationDate) {
    <div class="text-body-14 user__email">{{ user.email }}</div>
    } @if (user.verificationDate; as verificationDate) {
    <div class="text-body-14 user__verified">
      Подтвержден с {{ verificationDate | dayjs: "format":"DD.MM.YY" }}
    </div>
    } @else {
    <div class="text-body-14 user__not-verified">Ожидает подтверждения</div>
    }
  </div>
</a>
}
