/** @format */
@use "src/styles/responsive";

.user {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  &__avatar {
    display: block;
    margin-right: 12px;
  }

  &__row {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  &__logout {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    i {
      margin-left: 5px;
    }

    &:hover {
      color: var(--red-dark);
    }

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__name {
    color: var(--black);
  }

  &__email,
  &__verified,
  &__not-verified {
    text-decoration: underline;
    text-underline-offset: 4px;
  }

  &__email,
  &__verified {
    color: var(--gray);
  }

  &__not-verified {
    color: var(--red);
  }
}
