/** @format */

.user {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__avatar {
    display: block;
    margin-right: 12px;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__logout {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    i {
      margin-left: 5px;
    }

    &:hover {
      color: var(--red-dark);
    }
  }

  &__name {
    color: var(--black);
  }

  &__email {
    color: var(--dark-gray);
  }

  &__verified {
    color: var(--green);
  }
}
