<!-- @format -->

<div class="control-panel">
  <div class="control-panel__actions">
    <a class="control-panel__action">
      <div class="control-panel__bell">
        <i appIcon icon="bell" appSquare="24"></i>
      </div>
    </a>

    <a href="https://app.procollab.ru/office" class="control-panel__action" (click)="logout.emit()">
      <div class="control-panel__bell">
        <i appIcon icon="logout2" appSquare="24"></i>
      </div>
    </a>
  </div>
  <a class="user" routerLink="/profile">
    <div class="user__row">
      <app-avatar class="user__avatar" [url]="user()?.avatar"></app-avatar>
      <div class="text-bold-body-14 user__name">{{ user()?.firstName }} {{ user()?.lastName }}</div>
    </div>
    <div class="user__row">
      <!-- @if (user()?.verificationDate; as verificationDate) {
      <div class="text-body-12 user__verified">
        Подтвержден с {{ verificationDate | dayjs: "format":"DD.MM.YY" }}
      </div>
      } @else {
      <div class="text-body-12 user__not-verified">Ожидает подтверждения</div>
      } -->
      <a href="https://app.procollab.ru/office" (click)="$event.stopPropagation()">
        <button class="user__logout text-bold-body-14" (click)="logout.emit()">
          <span>Вернуться</span>
          <i appIcon icon="logout" appSquare="20"></i>
        </button>
      </a>
    </div>
  </a>
</div>
