<!-- @format -->

<div class="filter">
  <div class="filter__body">
    <h3 class="filter__title">Фильтр</h3>
    <div class="filter__block">
      <h4 class="text-body-12 filter__name">Статус проекта</h4>
      @for (step of steps; track step.id) {
      <div class="text-body-14 filter__checkbox" (click)="onFilterByStep($event, step.id)">
        <app-checkbox [checked]="step.id === currentStep"></app-checkbox>
        {{ step.name }}
      </div>
      }
    </div>
    <div class="filter__block">
      <h4 class="text-body-12 filter__name">Участники (кол-во)</h4>
      <app-num-slider
        [appNums]="membersCountOptions"
        [appValue]="currentMembersCount"
        (appValueChange)="onFilterByMembersCount($event)"
      ></app-num-slider>
    </div>
    <div class="filter__block">
      <div class="text-body-12 filter__name">Наличие вакансий</div>
      <div class="filter__switch">
        <span class="filter__yes-no" [class.filter__yes-no--active]="!hasVacancies">Нет</span>
        <app-switch
          [checked]="hasVacancies"
          (checkedChange)="onFilterVacancies($event)"
        ></app-switch>
        <span class="filter__yes-no" [class.filter__yes-no--active]="hasVacancies">Да</span>
      </div>
    </div>
    <div class="filter__block">
      <h4 class="text-body-12 filter__name">Направление</h4>
      @for (industry of industries; track industry.id) {
      <div class="text-body-14 filter__checkbox" (click)="onFilterByIndustry($event, industry.id)">
        <app-checkbox [checked]="industry.id === currentIndustry"></app-checkbox>
        {{ industry.name }}
      </div>
      }
    </div>
  </div>
</div>
