/** @format */

@use "styles/responsive";

.office {
  position: relative;
  display: flex;
  height: 100%;
  background-color: var(--white);

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }

  &__top {
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    overflow-y: auto;
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: responsive.$container-md;
    height: 100%;

    &--wrapper {
      display: flex;
      gap: 20px;
      width: 100%;
    }

    &--content {
      flex-grow: 1;
      min-width: 0;
    }
  }

  &__sidebar {
    display: none;

    @include responsive.apply-desktop {
      display: block;
      flex-shrink: 0;
      width: 150px;
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 70%;
      margin-top: 30px;
      color: var(--dark-grey);
    }
  }

  &__header {
    display: none;
    background-color: var(--white);

    @include responsive.apply-desktop {
      display: block;
    }
  }
}

.message-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  &__title {
    margin: 15px 0 10px;
  }

  &__text {
    max-width: 300px;
    margin-bottom: 20px;
  }

  &__button {
    min-width: 100px;
  }
}
