/** @format */

@use "styles/responsive";

.office {
  position: relative;
  display: flex;
  height: 100%;
  background-color: var(--white);

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 130px;
    padding-right: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
  }

  &__top {
    flex-shrink: 0;
  }

  &__body {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 0 200px;
    overflow-y: auto;

    @media (max-width: 1600px) {
      padding: 0 150px;
    }

    @media (max-width: 1400px) {
      padding: 0 100px;
    }

    @media (max-width: 1200px) {
      padding: 0 50px;
    }

    @media (max-width: 992px) {
      padding: 0 20px;
    }

    @media (max-width: 768px) {
      padding: 0 15px;
    }
  }

  &__programs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 135px;
    margin-top: 12px;
  }

  &__inner {
    display: flex;
    width: 100%;
    max-width: 1040px;
    height: 100%;

    &--wrapper {
      display: grid;
      grid-template-columns: 2fr 10fr;
      width: 100%;

      @media (max-width: 992px) {
        grid-template-columns: 1fr;
      }
    }

    &--content {
      flex-grow: 1;
      min-width: 0;
    }
  }

  &__sidebar {
    display: none;

    @include responsive.apply-desktop {
      display: block;
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: 2px;
      width: 80%;
      margin-top: 30px;
      color: var(--dark-grey);
    }
  }

  &__header {
    display: none;
    background-color: var(--white);

    @include responsive.apply-desktop {
      display: block;
    }
  }
}

.message-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;

  &__title {
    margin: 15px 0 10px;
  }

  &__text {
    max-width: 300px;
    margin-bottom: 20px;
  }

  &__button {
    min-width: 100px;
  }
}

.cancel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);

  i {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    width: 40%;
    color: var(--dark-grey);
    text-align: center;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 30px 0;
    }

    &-list {
      margin-left: 20px;

      li {
        list-style-type: disc;
      }
    }
  }

  &__button {
    margin-top: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1040px;
  padding: 0 200px;
  margin: 0 auto;

  @media (max-width: 1600px) {
    padding: 0 150px;
  }

  @media (max-width: 1400px) {
    padding: 0 100px;
  }

  @media (max-width: 1200px) {
    padding: 0 50px;
  }

  @media (max-width: 992px) {
    padding: 0 20px;
  }

  @media (max-width: 768px) {
    padding: 0 15px;
  }
}
