<!-- @format -->

<div class="office">
  @if (authService.profile | async; as user) {
  <ui-sidebar
    class="office__sidebar"
    logoSrc="/assets/images/shared/logo.svg"
    [navItems]="navItems"
  >
    @if (user !== undefined && invites!== undefined) {
    <app-profile-control-panel
      [invites]="invites()"
      [hasNotifications]="false"
      [hasUnreads]="!!(chatService.unread$ | async)"
      [user]="user"
      (acceptInvite)="onAcceptInvite($event)"
      (rejectInvite)="onRejectInvite($event)"
      (logout)="onLogout()"
    ></app-profile-control-panel>
    }
    <div class="text-body-14 pro-item" (click)="openSkills()" afterNavItems>
      <div class="pro-item__name">
        <i appIcon icon="book" appSquare="24"></i> <span> Навыки </span>
      </div>
      <div class="pro-item__badge text-body-12">PRO</div>
    </div>
  </ui-sidebar>
  }
  <div class="office__wrapper">
    <div class="office__top">
      <app-nav [invites]="invites()"></app-nav>
    </div>
    <div class="office__body">
      <div class="office__inner">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <app-modal [open]="waitVerificationModal && !waitVerificationAccepted">
    <div class="message-modal">
      <img src="/assets/images/office/shared/wait.png" alt="wait" width="215px" />
      <h3 class="message-modal__title text-bold-body-16">Ваш аккаунт проходит подтверждение</h3>
      <p class="message-modal__text text-body-14">
        Мы проверяем ваши данные и скоро сообщим о подтверждении аккаунта, а пока можете уже
        пользоваться платформой
      </p>
      <app-button class="message-modal__button" (click)="onAcceptWaitVerification()">
        Хорошо
      </app-button>
    </div>
  </app-modal>
  <app-delete-confirm></app-delete-confirm>
  <app-snackbar></app-snackbar>
  <app-subscription-plans
    [subscriptionPlans]="subscriptions()"
    [open]="openSubscription()"
  ></app-subscription-plans>
</div>
