@use "styles/responsive";

.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 40px;

  &__feed {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    align-items: start;

    @media (max-width: 800px) {
      grid-template-columns: minmax(0, 1fr);
    }

    &--no-items {
      display: flex;
      flex-direction: column;
      grid-column: 1 / -1;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-top: 70px;

      i,
      p {
        color: var(--grey-for-text);
      }
    }
  }

  &__item {
    display: block;
    min-width: 0;
  }
}
