/** @format */

@use "styles/responsive";

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(51 46 45 / 50%);
  }

  &__body {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 24px;
    overflow: hidden;
    background: var(--white);
    border-radius: 15px;
    transform: translate(-50%, -50%);

    @include responsive.apply-desktop {
      width: unset;
    }

    &--gradient {
      background: var(--gradient);
    }
  }
}
