<!-- @format -->

<div class="skill-card--wrapper" (click)="toggleExpand($event)">
  <div class="skill-card">
    <div class="skill-card__inner">
      <!-- <app-avatar [size]="50" [url]="courseModule.avatarUrl"></app-avatar> -->

      <div class="skill-card__info">
        <p class="skill-card__title text-body-12">Модуль {{ courseModule.id }}</p>

        <p class="skill-card__text text-body-12">
          {{ courseModule.title }}
        </p>

        <div class="skill-card__text-block">
          <p class="skill-card__level text-body-10">
            {{ courseModule.lessons.length }}
            {{ courseModule.lessons.length | pluralize: ["урок", "урока", "уроков"] }}
          </p>
        </div>
      </div>
    </div>

    <app-circle-progress-bar
      style="width: 40px; height: 40px"
      [progress]="courseModule.percent"
      [appereance]="courseModule.isAvailable ? 'open' : 'closed'"
      [mode]="
        courseModule.isAvailable && courseModule.percent.toString().length ? 'progress' : 'button'
      "
    ></app-circle-progress-bar>
  </div>

  @if (courseModule.lessons.length) {
  <div class="skill-card__expand" (click)="toggleExpand($event)">
    @if (isExpanded) {
    <i appIcon icon="arrow-no-body" class="skill-card__expanded" appSquare="8"></i>
    } @else {
    <i appIcon icon="arrow-no-body" appSquare="8"></i>
    }
  </div>
  }
</div>

<div class="expandable" [class.expandable--expanded]="isExpanded">
  <div class="expandable__content">
    <ul class="expandable__list">
      @for (lesson of courseModule.lessons; track lesson.id) {
      <li class="expandable__item" [routerLink]="['lesson', lesson.id]">
        <div class="expandable__item--inner">
          <span class="topic__number text-body-10"
            >Урок {{ lesson.id }}.
            <span class="topic__name text-body-10">{{ lesson.title }}</span></span
          >
          <p class="topic__levels text-body-10">
            <!-- {{ lesson. }} {{ topic.levels | pluralize: ["задание", "задания", "заданий"] }} -->
          </p>
        </div>

        <app-circle-progress-bar
          style="width: 30px; height: 30px"
          [progress]="lesson.percent"
          [appereance]="lesson.isAvailable ? 'open' : 'closed'"
          mode="button"
        ></app-circle-progress-bar>
      </li>
      }
    </ul>
  </div>
</div>
