<!-- @format -->

<section class="members" #membersRoot>
  <form class="members__bar" [formGroup]="searchForm">
    <app-search
      formControlName="search"
      placeholder="Введите имя участника"
      [openable]="containerSm < appWidth"
    ></app-search>
  </form>
  <!--  <app-members-filters [filterForm]="filterForm"></app-members-filters>-->
  <ul class="members__list">
    <a *ngFor="let member of members" [routerLink]="['/office/profile', member.id]">
      <li>
        <app-member-card [user]="member"></app-member-card>
      </li>
    </a>
  </ul>
</section>
