<!-- @format -->
<div>
  <div class="project__top">
    <p class="project__title">Редактировать проект</p>
    <a class="project__back" [routerLink]="'/office/projects/' + profileId">
      <app-button [color]="'grey'" customTypographyClass="text-body-12">Назад</app-button>
    </a>
  </div>
  <main class="project">
    <form [formGroup]="projectForm" class="project__form">
      <app-project-navigation
        style="width: 100%"
        (stepChange)="navigateStep($event)"
      ></app-project-navigation>

      <div class="project__inner">
        @if (editingStep === "main") {
        <app-project-main-step
          style="width: 100%"
          [industries$]="industries$"
          [projectSteps$]="projectSteps$"
          [programTagsOptions]="programTagsOptions"
          [leaderId]="leaderId"
          [projSubmitInitiated]="projSubmitInitiated"
          [isProjectBoundToProgram]="isProjectBoundToProgram"
          (assignToProgram)="assignProjectToProgram()"
        ></app-project-main-step>

        } @else if (editingStep === "contacts") {
        <app-project-contacts-step style="width: 100%"></app-project-contacts-step>
        } @else if (editingStep === "achievements") {
        <app-project-achievement-step
          style="width: 100%"
          [projSubmitInitiated]="projSubmitInitiated"
        ></app-project-achievement-step>
        } @else if (editingStep === "vacancies"){
        <app-project-vacancy-step
          style="width: 100%"
          [inlineSkills]="inlineSkills()"
          (searchSkill)="onSearchSkill($event)"
          (addSkill)="onAddSkill($event)"
          (removeSkill)="onRemoveSkill($event)"
          (toggleSkillsGroupsModal)="toggleSkillsGroupsModal()"
        ></app-project-vacancy-step>
        } @else if (editingStep === "team") {
        <app-project-team-step style="width: 100%"></app-project-team-step>
        } @else if (editingStep === "additional") {
        <app-project-additional-step
          #additionalStepComponent
          style="width: 100%"
          [programTagsOptions]="programTagsOptions"
        ></app-project-additional-step>
        }
      </div>
      <div class="project__save">
        <app-button customTypographyClass="text-body-12" color="red" (click)="deleteProject()">
          Удалить проект
        </app-button>
        <app-button
          customTypographyClass="text-body-12"
          color="grey"
          [loader]="projFormIsSubmittingAsDraft"
          (click)="saveProjectAsDraft()"
        >
          Сохранить черновик
        </app-button>
        <app-button
          customTypographyClass="text-body-12"
          [loader]="projFormIsSubmittingAsPublished"
          (click)="saveProjectAsPublished()"
        >
          {{ isCompetitive ? "Отправить заявку" : "Сохранить" }}
        </app-button>
      </div>
    </form>
    <app-modal
      [open]="
        (projectForm.invalid || additionalForm.invalid) && projSubmitInitiated && !warningModalSeen
      "
    >
      <div class="project__warning-modal">
        <h3 class="text-bold-body-16">📢 Внимание!</h3>
        <p class="text-body-14">
          Для публикации проекта, нужно заполнить все <strong>обязательные поля</strong> (они будут
          <strong>подсвечены&nbsp;<span>красным</span></strong
          >). Если вы пока не знаете что написать, можно сохранить черновик проекта и заполнить поля
          позже :&#41;
        </p>
        <app-button (click)="closeWarningModal()">Понятно</app-button>
      </div>
    </app-modal>
  </main>
</div>

<app-modal
  [open]="isAssignProjectToProgramError"
  (openChange)="isAssignProjectToProgramError ? clearAssignProjectToProgramError() : null"
>
  <div class="cancel" style="width: 80%; padding: 40px 0px 40px">
    <div class="cancel__top">
      <i
        (click)="clearAssignProjectToProgramError()"
        appIcon
        icon="cross"
        class="cancel__cross"
      ></i>
      <p class="cancel__title text-bold-body-16">Ошибка привязки проекта к программе!</p>
    </div>

    <p class="text-body-14 cancel__text">
      {{ (errorAssignProjectToProgramModalMessage()?.non_field_errors)![0] }}
    </p>

    <app-button
      class="cancel__button"
      customTypographyClass="text-body-12"
      (click)="clearAssignProjectToProgramError()"
      >Понятно</app-button
    >
  </div>
</app-modal>

<app-modal
  [open]="isAssignProjectToProgramModalOpen()"
  (openChange)="isAssignProjectToProgramModalOpen.set(!isAssignProjectToProgramModalOpen)"
>
  <div class="cancel" style="width: 80%; padding: 40px 0px 40px">
    <div class="cancel__top">
      <i
        (click)="closeAssignProjectToProgramModal()"
        appIcon
        icon="cross"
        class="cancel__cross"
      ></i>
      <p class="cancel__title text-bold-body-16">Поздравляем!</p>
    </div>

    <p class="text-body-14 cancel__text">
      Мы создали дубликат проекта, который вы привязали к выбранной программе
      <span
        ><strong>{{ assignProjectToProgramModalMessage()?.partnerProgram }}</strong></span
      >, теперь его можно отредактировать!
    </p>

    <app-button
      class="cancel__button"
      customTypographyClass="text-body-12"
      (click)="closeAssignProjectToProgramModal()"
      >Понятно</app-button
    >
  </div>
</app-modal>

<app-modal [open]="isCompleted" (openChange)="isCompleted = !isCompleted">
  <div class="cancel">
    <div class="cancel__top">
      <i (click)="isCompleted = false" appIcon icon="cross" class="cancel__cross"></i>
      <p class="cancel__title text-bold-body-16">Проект завершен!</p>
    </div>

    <img alt="end" src="assets/images/projects/detail/end.svg" class="cancel__img" />

    <p class="text-body-14 cancel__text">
      Этот проект был успешно завершён в рамках программы {{ errorModalMessage()?.program_name }}.
      Редактирование или удаление проекта больше недоступно.
    </p>
  </div>
</app-modal>

<app-modal [open]="skillsGroupsModalOpen()" class="modal">
  <div class="modal__wrapper">
    <h4 class="text-heading-4">Библиотека навыков</h4>
    <div class="modal__content">
      <div class="modal__skills-groups">
        <ul>
          @for (skillsGroup of nestedSkills$ | async; track skillsGroup.id) {
          <li>
            <app-skills-group
              [title]="skillsGroup.name"
              [options]="skillsGroup.skills"
              [selected]="this.vacancyForm.getRawValue().skills"
              (optionToggled)="onToggleSkill($event)"
            ></app-skills-group>
          </li>
          }
        </ul>
      </div>
    </div>
    <app-button (click)="toggleSkillsGroupsModal()">Сохранить</app-button>
  </div>
</app-modal>

<app-modal
  [open]="isSendDescisionToPartnerProgramProject"
  (openChange)="isSendDescisionToPartnerProgramProject = !isSendDescisionToPartnerProgramProject"
>
  <div class="cancel" style="width: 100%; padding: 40px 20px 20px">
    <div class="cancel__top">
      <i
        (click)="isSendDescisionToPartnerProgramProject = false"
        appIcon
        icon="cross"
        class="cancel__cross"
      ></i>
      <img alt="end" src="assets/images/projects/detail/bid.svg" class="cancel__img" />
      <h4 class="cancel__title text-heading-4">Отправить заявку?</h4>
    </div>

    <p class="text-body-12 cancel__text">
      После отправки заявку нельзя будет редактировать до окончания конкурса.
      <br />Вы уверены, что хотите отправить заявку сейчас?
    </p>

    <div class="cancel__buttons">
      <app-button
        customTypographyClass="text-body-12"
        color="grey"
        (click)="isSendDescisionToPartnerProgramProject = false"
        >Отмена</app-button
      >
      <app-button customTypographyClass="text-body-12" (click)="closeSendingDescisionModal()"
        >Отправить</app-button
      >
    </div>
  </div>
</app-modal>
