<!-- @format -->

<div class="desktop">
  <div class="desktop__header">
    <h3>Фильтр</h3>
    <a class="text-body-12" (click)="resetFilter()">Сбросить фильтр</a>
  </div>
  <ng-container *ngTemplateOutlet="filter"></ng-container>
  <div class="desktop__actions">
    <app-button size="big" class="" customTypographyClass="text-body-12" (click)="applyFilter()"
      >Применить</app-button
    >
  </div>
</div>

<div class="mobile">
  <div class="select" (clickOutside)="onClickOutside()">
    <div
      class="select__input"
      [class.select__input--open]="filterOpen()"
      (click)="filterOpen.set(!filterOpen())"
    >
      Фильтр
    </div>
    <i
      appIcon
      icon="arrow-no-body"
      appSquare="15"
      class="select__dropdown-icon"
      (click)="filterOpen.set(!filterOpen())"
    ></i>
    @if (filterOpen()) {
    <div class="select__dropdown" @dropdownAnimation>
      <ng-container *ngTemplateOutlet="filter"></ng-container>
      <a class="text-body-12" (click)="resetFilter()">Сбросить фильтр</a>
    </div>
    }
  </div>
  <app-button size="big" class="" customTypographyClass="text-body-14" (click)="applyFilter()"
    >Применить</app-button
  >
</div>

<ng-template #filter>
  <div class="filter">
    <div class="filter__experience">
      <span class="text-body-12">Опыт</span>
      <ul>
        @for (option of filterExperienceOptions; track $index) {
        <li
          class="text-body-14 filter__checkbox"
          (click)="setExperienceFilter($event, option.value)"
        >
          <app-checkbox [checked]="currentExperience() === option.value"></app-checkbox>
          {{ option.label }}
        </li>
        }
      </ul>
    </div>

    <div class="filter__format">
      <span class="text-body-12">Формат работы</span>
      <ul>
        @for (option of filterWorkFormatOptions; track $index) {
        <li
          class="text-body-14 filter__checkbox"
          (click)="setWorkFormatFilter($event, option.value)"
        >
          <app-checkbox [checked]="currentWorkFormat() === option.value"></app-checkbox>
          {{ option.label }}
        </li>
        }
      </ul>
    </div>

    <div class="filter__schedule">
      <span class="text-body-12">График</span>
      <ul>
        @for (option of filterWorkScheduleOptions; track $index) {
        <li
          class="text-body-14 filter__checkbox"
          (click)="setWorkScheduleFilter($event, option.value)"
        >
          <app-checkbox [checked]="currentWorkSchedule() === option.value"></app-checkbox>
          {{ option.label }}
        </li>
        }
      </ul>
    </div>

    <form [formGroup]="salaryForm">
      <div class="filter__salary">
        <span class="text-body-12">Заработная плата</span>
        <div class="filter__amounts">
          <app-input type="text" placeholder="от 50000" formControlName="salaryMin"></app-input>
          <hr style="transform: rotate(90deg)" class="filter__salary-line" />
          <app-input type="text" placeholder="до 150000" formControlName="salaryMax"></app-input>
        </div>
      </div>
    </form>
  </div>
</ng-template>
