<!-- @format -->

<div class="radio" [class.radio--hasContent]="hasVideoUrl() || !!data.imageUrl">
  <div class="radio__body" [class.radio__body--hasContent]="!!data.imageUrl || hasVideoUrl()">
    @if ((!data.videoUrl && !data.imageUrl) || data.attachmentUrl) {
    <p class="text-body-12 radio__answer">задание {{ data.order }}</p>
    } @if (getSafeVideoUrl(); as videoUrl) {
    <iframe
      [src]="videoUrl"
      width="283px"
      height="183px"
      frameborder="0"
      allowfullscreen
      allowtransparency="true"
    ></iframe>
    } @if (data.imageUrl) {
    <img appImagePreview class="radio__img" [src]="data.imageUrl" />
    }

    <p class="text-body-12-bold radio__title" [class.radio__img-text]="data.imageUrl">
      {{ data.title | truncate: 60 }}
    </p>

    @if (!(data.videoUrl || data.imageUrl)) {
    <p class="text-body-12 radio__description">{{ data.bodyText | truncate: 700 }}</p>
    } @if (data.attachmentUrl) {
    <app-file-item
      mode="preview"
      [type]="'file'"
      name="файл с заданием"
      [size]="0"
      [link]="data.attachmentUrl"
    ></app-file-item>
    } @if (hint.length) {
    <div class="radio__hint" [innerHTML]="hint"></div>
    }
  </div>

  <div class="radio__content" [class.radio__content--hasContent]="!!data.imageUrl || hasVideoUrl()">
    @if (data.videoUrl || data.imageUrl) {
    <p class="text-body-12 radio__answer">задание {{ data.order }}</p>
    }

    <ul class="radio__list">
      <p class="radio__title text-body-12-bold">{{ data.bodyText | truncate: 110 }}</p>
      @for (op of data.options; track op.id) {
      <li
        class="radio__item"
        [class.radio__item--success]="success && result().answerId === op.id"
        [class.radio__item--error]="error && result().answerId === op.id"
        (click)="onSelect(op.id)"
      >
        <input type="radio" [id]="op.id" name="radio-group" />
        <label class="text-body-12" [for]="op.id">
          {{ op.text }}
        </label>
      </li>
      }
    </ul>
  </div>
</div>
