@use "styles/typography";
@use "styles/responsive";

.radio {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include responsive.apply-desktop {
    flex-direction: row;
    gap: 20px;

    // &--hasContent {
    //   flex-direction: row-reverse;
    // }
  }

  &__answer {
    align-self: baseline;
    color: var(--grey-for-text);
  }

  &__title {
    margin: 23px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__description {
    text-align: justify;
    white-space: pre-line;
  }

  .read-more {
    align-items: start;
    align-self: self-start;
    margin-top: 12px;
    color: var(--accent);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--accent-dark);
    }
  }

  &__img {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 150px;
    margin: 22px 0;
    object-fit: cover;
    border-radius: var(--rounded-lg);

    &-text {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    gap: 14px;
    align-items: center;
    cursor: pointer;

    label {
      cursor: pointer;
    }

    input[type="radio"] {
      position: relative;
      min-width: 18px;
      min-height: 18px;
      cursor: pointer;
      background: transparent;
      border: 0.5px solid var(--medium-grey-for-outline);
      border-radius: 50%;
      outline: none;
      appearance: none;
    }

    input[type="radio"]:checked {
      background-color: var(--accent);
    }

    input[type="radio"]:checked::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      content: "";
      background-color: var(--light-white);
      border-radius: 50%;
      transform: translate(-50%, -50%);
    }

    &--success {
      input[type="radio"]:checked {
        background-color: var(--green);
      }
    }

    &--error {
      input[type="radio"]:checked {
        background-color: var(--red);
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  &__body,
  &__content {
    min-height: 358px;
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__body {
    flex: 1;

    &--hasContent {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      justify-content: center;
      text-align: center;

      iframe {
        display: block;
        align-self: center;
        width: 100%;
        max-width: 395px;
        height: 185px;
        aspect-ratio: 16 / 9;
        border: 0;
        border-radius: var(--rounded-lg);

        @include responsive.apply-desktop {
          height: 223px;
        }
      }
    }
  }

  &__content {
    max-width: 350px;

    &--hasContent {
      min-width: 333px;
    }

    &:not(&--hasContent) {
      max-width: 333px;
    }
  }

  :host ::ng-deep &__hint p {
    margin-top: 20px;

    @include typography.body-14;
  }
}
