/** @format */

@use "src/styles/responsive";

.card {
  padding: 20px;
  background-color: var(--white);
  border: 1px solid var(--medium-grey-for-outline);
  border-radius: 15px;

  &__body {
    display: flex;
    align-items: center;
  }

  &__info {
    margin-left: 16px;
  }

  &__status {
    margin: 0 0 3px;
    color: var(--dark-gray);
  }

  &__name {
    margin-bottom: 3px;
    color: var(--black);
  }

  &__additional-info {
    color: var(--accent);
  }

  &__speciality {
    display: flex;
    max-width: 200px;
    overflow: hidden;
  }

  &__skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  &__skill {
    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
