<!-- @format -->

<section class="bar">
  <nav class="bar__nav">
    @if (backHave) {
    <app-back class="bar__back"></app-back>
    }
    <ul class="bar__tabs">
      @for (link of links; track $index) {
      <a
        class="bar__link"
        [routerLinkActiveOptions]="
          link.isRouterLinkActiveOptions ? { exact: true } : { exact: false }
        "
        [routerLink]="[link.link]"
        routerLinkActive="bar__link--active"
      >
        <li class="text-body-14 bar__item">
          {{ link.linkText }}

          @if (ballHave) {
          <div class="bar__ball" [class.bar__ball--small]="link.count! < 10">
            {{ link.count }}
          </div>
          }
        </li>
      </a>
      }
    </ul>

    <ng-content></ng-content>
  </nav>
</section>
