<!-- @format -->

<div class="write-task">
  <p class="write-task__text text-heading-3">{{ data.text }}</p>
  <p class="write-task__description text-body-14">
    @if (videoUrl) {
    <iframe [src]="videoUrl" width="100%" height="600px" frameborder="0" allowfullscreen></iframe>
    }
    {{ description }}
  </p>
  <div class="write-task__input">
    <textarea
      class="write-task__textarea text-body-14"
      rows="2"
      (keydown)="onKeyUp($event)"
      placeholder="Введите ответ"
    ></textarea>
  </div>
</div>
