/** @format */

.page {
  margin-top: 30px;

  app-search ::ng-deep .search {
    padding: 12px;
    background: var(--white);
    border: 0.5px solid var(--gray);
    border-radius: var(--rounded-xxl);

    &:focus-within {
      outline: 2px solid var(--accent);
      outline-offset: 2px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 250px;
    gap: 24px;
    padding-bottom: 40px;
  }

  &__outlet {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 0;
    margin-top: 0;
  }

  &__left {
    min-width: 0;
  }

  &__info--my {
    grid-template-columns: minmax(0, 1fr);
  }

  @media (max-width: 800px) {
    &__info {
      grid-template-columns: minmax(0, 1fr);
    }
  }
}
