<!-- @format -->
<div class="card">
  <div class="card__head">
    <div class="card__title">
      <img class="card__avatar" [src]="newsItem.imageAddress" [alt]="newsItem.name" />
      <div>
        <div class="card__name">{{ newsItem.name }}</div>
        <div class="card__date text-body-14">
          {{ newsItem.datetimeCreated | dayjs: "format":"DD MMMM, HH:mm" }}
        </div>
      </div>
    </div>
    @if (isOwner) {
    <div class="card__menu" (clickOutside)="onCloseMenu()">
      <div class="card__dots" (click)="menuOpen = true">
        <i appIcon icon="dots" appWidth="4" appHeight="16" appViewBox="0 0 4 16"></i>
      </div>
      @if (menuOpen) {
      <ul *ngIf="menuOpen" class="card__options">
        @if (!editMode) {
        <li *ngIf="!editMode" class="card__option text-body-14" (click)="editMode = true">
          Редактировать
        </li>
        }
        <li class="card__option text-body-14" (click)="delete.emit(newsItem.id)">Удалить</li>
      </ul>
      }
    </div>
    }
  </div>
  @if (newsItem.text) {
  <div class="card__text text-body-14">
    @if (!editMode) {
    <p #newsTextEl [innerText]="newsItem.text"></p>
    } @else{ @if (editForm.get('text'); as text) {
    <app-textarea [formControl]="text | formControl"></app-textarea>
    } }
  </div>
  } @if (editMode) {
  <ul>
    @for (f of imagesEditList; track f.id) {
    <app-img-card
      [loading]="f.loading"
      [src]="f.src"
      [error]="f.error"
      (cancel)="onDeletePhoto(f.id)"
      (retry)="onRetryUpload(f.id)"
    ></app-img-card>
    }
  </ul>
  <ul class="card__edit-files">
    @for (f of filesEditList; track f.id) {
    <app-file-upload-item
      [link]="f.src"
      [type]="f.tempFile?.type ?? f.type"
      [size]="f.tempFile?.size ?? f.size"
      [name]="f.tempFile?.name ?? f.name"
      [error]="f.error"
      [loading]="f.loading"
      (delete)="onDeleteFile(f.id)"
    ></app-file-upload-item>
    }
  </ul>
  } @if (newsTextExpandable && !editMode) {
  <div
    class="read-more"
    (click)="onExpandNewsText(newsTextEl?.nativeElement, 'expanded', readMore)"
  >
    {{ readMore ? "Скрыть" : "Читать полностью" }}
  </div>
  } @if (!editMode) {
  <div class="card__gallery">
    @for (f of imagesViewList; let index = $index; track index) {
    <div class="card__img" (touchend)="onTouchImg($event, index)">
      <img class="card__img" [src]="f.link" [alt]="f.name" />
      <div class="card__img-like" [class.card__img-like--show]="showLikes[index]">
        <i appIcon icon="like" appSquare="40"></i>
      </div>
    </div>
    }
  </div>
  } @if (!editMode && filesViewList.length) {
  <div class="card__files">
    @for (f of filesViewList; track $index) {
    <app-file-item
      [name]="f.name"
      [size]="f.size"
      [type]="f.mimeType"
      [link]="f.link"
    ></app-file-item>
    }
  </div>
  } @if (!editMode) {
  <div class="card__footer footer">
    <div class="footer__left">
      <div
        class="footer__item footer__like text-body-12"
        [class.footer__like--active]="newsItem.isUserLiked"
        (click)="like.emit(newsItem.id)"
      >
        <i appIcon icon="like" appSquare="22"></i>
        {{ newsItem.likesCount }}
      </div>
      <div class="footer__item text-body-12">
        <i appIcon icon="views" appSquare="22"></i>
        {{ newsItem.viewsCount }}
      </div>
    </div>
    <div class="footer__right">
      <div class="footer__share share" (click)="onCopyLink()">
        <i class="share__icon" appIcon icon="share" appSquare="22"></i>
      </div>
    </div>
  </div>
  } @else {
  <div class="editor-footer">
    <label class="editor-footer__attach">
      <i appIcon icon="attach" appSquare="22"></i>
      <input type="file" accept="*/*" multiple (change)="onUploadFile($event)" />
    </label>
    <div class="editor-footer__actions">
      <app-button color="grey" (click)="editMode = false">Отмена</app-button>
      <app-button (click)="onEditSubmit()">Сохранить</app-button>
    </div>
  </div>
  }
</div>
