<!-- @format -->

@if (loading()) {
<div class="loading">
  <app-loader color="accent"></app-loader>
</div>
} @else {
<div class="subtask">
  @if (infoSlide(); as is) {
  <app-info-task [data]="is"></app-info-task>
  } @if (singleQuestion(); as sq) {
  <app-radio-select-task [data]="sq"></app-radio-select-task>
  } @if (connectQuestion(); as cq) {
  <app-relations-task [data]="cq"></app-relations-task>
  } @if (excludeQuestion(); as eq) {
  <app-exclude-task [data]="eq"></app-exclude-task>
  }
  <a routerLink="/task/234/results">
    <app-button>Продолжить</app-button>
  </a>
</div>
}
