@use "styles/typography";
@use "styles/responsive";

.subtask {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.action {
  position: relative;

  &__button {
    position: relative;
    z-index: 1;
  }

  &__badge {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 15px 10px 0;
    border-radius: var(--rounded-xl);
    transition: all 0.2s;
    transform: translateY(0%);

    &--open {
      transform: translateY(-80%);
    }
  }

  &__error {
    color: var(--red);
    background-color: var(--light-red);
  }

  &__success {
    color: var(--green);
    background-color: var(--light-green);
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  max-height: calc(100vh - 40px);
  padding: 0 0 40px;
  overflow-y: auto;

  @include responsive.apply-desktop {
    width: 586px;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__title {
    align-self: flex-start;
    margin-bottom: 20px;
    color: var(--black);

    @include typography.heading-3;

    @include responsive.apply-desktop {
      margin-bottom: 23px;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;

    @include responsive.apply-desktop {
      display: flex;
      flex-direction: row;
      gap: 15px;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
    }
  }

  &__description {
    flex-basis: 55%;
    align-self: self-start;
    margin-bottom: 40px;
  }

  &__wave {
    position: absolute;
    bottom: 0%;
    left: 0;
    width: 100%;
    transform: rotate(180deg);
  }

  &__link {
    color: var(--accent);
    cursor: pointer;
  }

  &__pdf {
    display: block;
    width: 24px;
    height: 24px;
  }

  &__line {
    color: var(--accent);
  }
}
