<!-- @format -->

@if (loading()) {
<div class="loading">
  <app-loader color="accent"></app-loader>
</div>
} @else {
<div class="subtask">
  @if (infoSlide(); as is) { @if(is.popups && is.popups.length > 0){
  <app-modal
    style="position: relative"
    [open]="success() && openQuestion() === 'info_slide'"
    (openChange)="onOpenChange($event)"
  >
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>

      <p class="cancel__title">{{ is.popups[0].title }}</p>

      @if (is.popups[0].fileLink; as fileLink) {
      <div class="cancel__image">
        <img
          [ngSrc]="fileLink"
          [alt]="fileLink"
          loading="lazy"
          width="225"
          height="144"
          style="object-fit: contain"
        />
        @if(is.popups[0].text; as popupText){
        <p
          class="cancel__description text-body-14"
          [innerHTML]="popupText | parseLinks | parseBreaks"
        ></p>
        }
      </div>
      } @else { @if(is.popups[0].text; as popupText){
      <p
        class="cancel__description text-body-14"
        [innerHTML]="popupText | parseLinks | parseBreaks"
      ></p>
      } }

      <app-button (click)="onCloseModal()" [color]="'primary'" style="width: 100%"
        >Продолжить</app-button
      >
      <img alt="wave" src="assets/images/task/wave_cropped.svg" class="cancel__wave" />
    </div>
  </app-modal>
  }
  <app-info-task [data]="is"></app-info-task>
  } @if (singleQuestion(); as sq) { @if(sq.popups && sq.popups.length > 0){
  <app-modal
    style="position: relative"
    [open]="success() && openQuestion() === 'question_single_answer'"
    (openChange)="onOpenChange($event)"
  >
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>

      <p class="cancel__title">{{ sq.popups[0].title }}</p>

      @if (sq.popups[0].fileLink; as fileLink) {
      <div class="cancel__image">
        <div class="cancel__file">
          <img [ngSrc]="fileLink" [alt]="fileLink" loading="lazy" width="225" height="144" />
        </div>
        @if(sq.popups[0].text; as popupText){
        <p
          class="cancel__description text-body-14"
          [innerHTML]="popupText | parseLinks | parseBreaks"
        ></p>
        }
      </div>
      } @else { @if(sq.popups[0].text; as popupText){
      <p
        class="cancel__description text-body-14"
        [innerHTML]="popupText | parseLinks | parseBreaks"
      ></p>
      } }

      <app-button (click)="onCloseModal()" [color]="'primary'" style="width: 100%"
        >Продолжить</app-button
      >
      <img alt="wave" src="assets/images/task/wave_cropped.svg" class="cancel__wave" />
    </div>
  </app-modal>
  }
  <app-radio-select-task
    [data]="sq"
    [error]="singleQuestionError()"
    [success]="success()"
    (update)="body.set($event)"
    [hint]="hint()"
  ></app-radio-select-task>
  } @if (connectQuestion(); as cq) { @if(cq.popups && cq.popups.length > 0){
  <app-modal
    style="position: relative"
    [open]="success() && openQuestion() === 'question_connect'"
    (openChange)="onOpenChange($event)"
  >
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>

      <p class="cancel__title">{{ cq.popups[0].title }}</p>

      @if (cq.popups[0].fileLink; as fileLink) {
      <div class="cancel__image">
        <div class="cancel__file">
          <img
            [ngSrc]="fileLink"
            [alt]="fileLink"
            loading="lazy"
            width="225"
            height="144"
            style="object-fit: contain"
          />
        </div>
        @if (cq.popups[0].text; as popupText) {
        <p
          class="cancel__description text-body-14"
          [innerHTML]="popupText | parseLinks | parseBreaks"
        ></p>
        }
      </div>
      } @else { @if (cq.popups[0].text; as popupText) {
      <p
        class="cancel__description text-body-14"
        [innerHTML]="popupText | parseLinks | parseBreaks"
      ></p>
      } }

      <app-button (click)="onCloseModal()" [color]="'primary'" style="width: 100%"
        >Продолжить</app-button
      >
      <img alt="wave" src="assets/images/task/wave_cropped.svg" class="cancel__wave" />
    </div>
  </app-modal>
  }
  <app-relations-task
    [data]="cq"
    [error]="connectQuestionError()"
    [success]="success()"
    (update)="body.set($event)"
    [hint]="hint()"
  ></app-relations-task>
  } @if (excludeQuestion(); as eq) { @if(eq.popups && eq.popups.length > 0){
  <app-modal
    style="position: relative"
    [open]="success() && openQuestion() === 'exclude_question'"
    (openChange)="onOpenChange($event)"
  >
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>

      <p class="cancel__title">{{ eq.popups[0].title }}</p>

      @if (eq.popups[0].fileLink; as fileLink) {
      <div class="cancel__image">
        <div class="cancel__file">
          <img
            [ngSrc]="fileLink"
            [alt]="fileLink"
            loading="lazy"
            width="225"
            height="144"
            style="object-fit: contain"
          />
        </div>
        @if (eq.popups[0].text; as popupText) {
        <p
          class="cancel__description text-body-14"
          [innerHTML]="popupText | parseLinks | parseBreaks"
        ></p>
        }
      </div>
      } @else { @if (eq.popups[0].text; as popupText) {
      <p
        class="cancel__description text-body-14"
        [innerHTML]="popupText | parseLinks | parseBreaks"
      ></p>
      } }

      <app-button (click)="onCloseModal()" [color]="'primary'" style="width: 100%"
        >Продолжить</app-button
      >
      <img alt="wave" src="assets/images/task/wave_cropped.svg" class="cancel__wave" />
    </div>
  </app-modal>
  }
  <app-exclude-task
    [data]="eq"
    [error]="excludeQuestionError()"
    [success]="success()"
    (update)="body.set($event)"
    [hint]="hint()"
  ></app-exclude-task>
  } @if (writeQuestion(); as wq) { @if(wq.popups && wq.popups.length > 0){
  <app-modal
    style="position: relative"
    [open]="success() && openQuestion() === 'question_write'"
    (openChange)="onOpenChange($event)"
  >
    <div class="cancel">
      <i (click)="onCloseModal()" appIcon icon="cross" class="cancel__cross"></i>

      <p class="cancel__title">{{ wq.popups[0].title }}</p>

      @if (wq.popups[0].fileLink; as fileLink) {
      <div class="cancel__image">
        <div class="cancel__file">
          <img
            [ngSrc]="fileLink"
            [alt]="fileLink"
            loading="lazy"
            width="225"
            height="144"
            style="object-fit: contain"
          />
        </div>
        @if(wq.popups[0].text; as popupText){
        <p
          class="cancel__description text-body-14"
          [innerHTML]="popupText | parseLinks | parseBreaks"
        ></p>
        }
      </div>
      } @else { @if(wq.popups[0].text; as popupText){
      <p
        class="cancel__description text-body-14"
        [innerHTML]="popupText | parseLinks | parseBreaks"
      ></p>
      } }

      <app-button (click)="onCloseModal()" [color]="'primary'" style="width: 100%"
        >Продолжить</app-button
      >
      <img alt="wave" src="assets/images/task/wave_cropped.svg" class="cancel__wave" />
    </div>
  </app-modal>
  }
  <app-write-task [data]="wq" [success]="success()" (update)="body.set($event)"></app-write-task>
  }

  <div class="action">
    <div class="action__error action__badge" [class.action__badge--open]="anyError()">
      Вышла неточность...
    </div>
    <div class="action__success action__badge" [class.action__badge--open]="success()">
      Всё верно! Так держать
    </div>
    <app-button class="action__button" (click)="onNext()">Продолжить</app-button>
  </div>
</div>
}
