<!-- @format -->

<div class="auth register">
  <div class="auth__greeting">
    <img class="register__logo" src="/assets/images/shared/logo.svg" alt="logo" />
  </div>
  <form class="auth__wrapper" [formGroup]="registerForm" (ngSubmit)="onSendForm()">
    <ng-container>
      <div class="auth__row">
        @if (registerForm.get("firstName"); as name) {
        <fieldset class="auth__field">
          <label for="name" class="field-label">имя</label>
          <app-input
            size="big"
            [error]="!!(name | controlError)"
            id="name"
            type="text"
            formControlName="firstName"
            placeholder="Иван"
          ></app-input>
          @if ((name | controlError) && registerIsSubmitting()) {
          <ng-container>
            @if (name | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            } @if (name | controlError: "invalidLanguage") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_LANGUAGE }}
            </div>
            }
          </ng-container>
          }
        </fieldset>
        } @if (registerForm.get("lastName"); as surname) {
        <fieldset class="auth__field">
          <label for="surname" class="field-label">фамилия</label>
          <app-input
            size="big"
            [error]="!!(surname | controlError)"
            id="surname"
            type="text"
            formControlName="lastName"
            placeholder="Иванов"
          ></app-input>
          @if ((surname | controlError) && registerIsSubmitting()) {
          <ng-container>
            @if (surname | controlError: "required") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            } @if (surname | controlError: "invalidLanguage") {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_LANGUAGE }}
            </div>
            }
          </ng-container>
          }
        </fieldset>
        }
      </div>

      @if (registerForm.get("birthday"); as birthday) {
      <fieldset class="auth__field">
        <label for="birthday" class="field-label">дата рождения</label>
        <app-input
          size="big"
          id="birthday"
          [error]="!!(birthday | controlError)"
          type="text"
          mask="00.00.0000"
          placeholder="25.02.2005"
          formControlName="birthday"
        ></app-input>
        @if ((birthday | controlError) && registerIsSubmitting()) {
        <ng-container>
          @if (birthday | controlError: "required") {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          } @if (birthday | controlError: "tooYoung") {
          <div class="text-body-10 error">
            @if (birthday.errors) {
            {{ errorMessage.MINIMAL_AGE }}
            {{ birthday.errors["tooYoung"]["requiredAge"] }} лет }
          </div>
          } @if (birthday | controlError: "tooOld") {
          <div class="text-body-10 error">
            @if (birthday.errors) {
            {{ errorMessage.MAXIMAL_AGE }}
            {{ birthday.errors["tooOld"]["requiredAge"] }} лет }
          </div>
          } @if (birthday | controlError: "invalidDateFormat") {
          <div class="text-body-10 error">
            {{ errorMessage.INVALID_DATE }}
          </div>
          }
        </ng-container>
        }
      </fieldset>
      } @if (registerForm.get("phoneNumber"); as phoneNumber) {
      <fieldset class="auth__field">
        <label for="links" class="field-label">телефон</label>
        <app-input
          size="big"
          id="phoneNumber"
          [error]="phoneNumber | controlError"
          mask="0-000-000-00-00"
          type="text"
          placeholder="+79999999999"
          formControlName="phoneNumber"
          style="flex-grow: 1"
        ></app-input>

        @if (phoneNumber | controlError) {
        <ng-container>
          @if (phoneNumber | controlError: "required") {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          } @if (phoneNumber | controlError: "pattern") {
          <div class="text-body-10 error">Неверный формат телефона</div>
          }
        </ng-container>
        }
      </fieldset>
      } @if (registerForm.get("email"); as email) {
      <fieldset class="auth__field">
        <label for="email" class="field-label">почта</label>
        <app-input
          size="big"
          [error]="!!(email | controlError)"
          id="email"
          type="email"
          formControlName="email"
          placeholder="example@example.com"
        ></app-input>
        @if ((email | controlError) && registerIsSubmitting()) {
        <ng-container>
          @if (email | controlError: "required") {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          } @if (email | controlError: "email") {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_EMAIL }}
          </div>
          }
        </ng-container>
        }
      </fieldset>
      } @if (registerForm.get("password"); as password) {
      <fieldset class="auth__field">
        <label for="passowrd" class="field-label">пароль</label>
        <app-input
          size="big"
          [error]="!!(password | controlError)"
          id="passowrd"
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          placeholder="GJiwoeuhbn120="
        >
          @if(showPassword()) {
          <i
            appIcon
            icon="eye"
            appSquare="20"
            class="icon"
            (click)="toggleShowPassword('first')"
          ></i>
          } @else {
          <i
            appIcon
            icon="eye-off"
            appSquare="18"
            class="icon"
            (click)="toggleShowPassword('first')"
          ></i>
          }
        </app-input>
      </fieldset>

      <fieldset class="auth__field">
        <label for="repeatedPassword" class="field-label">повторите пароль</label>
        <app-input
          size="big"
          class="register__repeated-password"
          [error]="!!(password | controlError)"
          id="repeatedPassword"
          [type]="showPasswordRepeat() ? 'text' : 'password'"
          formControlName="repeatedPassword"
          placeholder="GJiwoeuhbn120="
        >
          @if(showPasswordRepeat()) {
          <i
            appIcon
            icon="eye"
            appSquare="20"
            class="icon"
            (click)="toggleShowPassword('repeat')"
          ></i>
          } @else {
          <i
            appIcon
            icon="eye-off"
            appSquare="18"
            class="icon"
            (click)="toggleShowPassword('repeat')"
          ></i>
          }
        </app-input>
      </fieldset>

      @if ((password | controlError)) {
      <ng-container>
        @if (password | controlError: "required") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        } @if (password | controlError: "passwordTooShort") {
        <div class="text-body-10 error">
          @if (password.errors) { Пароль должен содержать минимум
          {{ password.errors["passwordTooShort"]["requiredLength"] }} символов }
        </div>
        } @if (password | controlError: "passwordNoUppercase") {
        <div class="text-body-10 error">
          Пароль должен содержать минимум одну заглавную букву (A-Z)
        </div>
        } @if (password | controlError: "passwordNoLowercase") {
        <div class="text-body-10 error">
          Пароль должен содержать минимум одну строчную букву (a-z)
        </div>
        } @if (password | controlError: "passwordNoNumber") {
        <div class="text-body-10 error">Пароль должен содержать минимум одну цифру (0-9)</div>
        } @if (password | controlError: "passwordNoSpecialChar") {
        <div class="text-body-10 error">
          Пароль должен содержать минимум один специальный символ
        </div>
        } @if (password | controlError: "passwordHasSpaces") {
        <div class="text-body-10 error">Пароль не должен содержать пробелы</div>
        } @if (password | controlError: "passwordHasSequence") {
        <div class="text-body-10 error">
          Пароль не должен содержать последовательности символов (123456, abcdef и т.д.)
        </div>
        } @if (password | controlError: "passwordHasRepeating") {
        <div class="text-body-10 error">
          Пароль не должен содержать более 2 одинаковых символов подряд
        </div>
        } @if (password | controlError: "unMatch") {
        <div class="text-body-10 error">
          {{ errorMessage.VALIDATION_PASSWORD_UNMATCH }}
        </div>
        }
      </ng-container>
      } }
    </ng-container>

    @if (serverErrors()) {
    <div class="text-body-10 error">
      @for (e of serverErrors(); track $index) {
      <p>{{ e }}</p>
      }
    </div>
    }

    <div class="register__agreement">
      <app-checkbox [(checked)]="registerAgreement"></app-checkbox>
      <span (click)="registerAgreement.set(!registerAgreement())">
        я прочитал соглашение и даю согласие на
        <a href="/assets/downloads/auth/shared/Политика_обработки_перс_данных_2022.docx" download
          >обработку персональных данных</a
        >
      </span>
    </div>

    <div class="register__agreement">
      <app-checkbox [(checked)]="ageAgreement"></app-checkbox>
      <span (click)="ageAgreement.set(!ageAgreement())"
        >нажимая на кнопку подтверждаете, что вам больше 14 лет</span
      >
    </div>

    <app-button
      size="big"
      [loader]="registerIsSubmitting()"
      [ngStyle]="{
        opacity: !(ageAgreement() && registerAgreement) ? '0.6' : '1',
        cursor: !(ageAgreement() && registerAgreement) ? 'not-allowed' : 'pointer'
      }"
      [disabled]="!(ageAgreement() && registerAgreement)"
      type="submit"
      customTypographyClass="text-body-12"
      class="auth__button"
    >
      зарегистрироваться
    </app-button>

    <p class="auth__toggle">если есть аккаунт? - <a routerLink="/auth/login">войдите</a></p>

    <app-modal
      [open]="isUserCreationModalError()"
      (openChange)="isUserCreationModalError.set(!isUserCreationModalError())"
    >
      <div class="cancel">
        <i
          (click)="isUserCreationModalError.set(!isUserCreationModalError())"
          appIcon
          icon="cross"
          class="register__cross"
        ></i>

        <p class="register__title">Привет!</p>

        <p class="text-body-14 register__text">
          Подтверждение аккаунтов на платформе временно выполняется вручную, процесс может занять до
          6 часов.
        </p>

        <p class="text-body-14 register__text">
          Как только твой аккаунт будет подтвержден, ты получишь уведомление на почту.
        </p>

        <p class="text-body-14 register__text">
          Мы уже решаем эту проблему, чтобы сделать использование платформы максимально комфортным
          для тебя ❤️
          <br />
          <br />
          По любым вопросам пиши в
          <a href="https://t.me/procollab_support">аккаунт поддержки в Telegram</a>
        </p>
      </div>
    </app-modal>
  </form>
</div>
