@use "styles/typography";

.kanban {
  &__detail {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    max-width: 422px;
    padding: 24px;
    background-color: var(--light-white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);

    &-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;

      &-menu {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    &-type,
    &-priority-wrapper,
    &-delete-wrapper {
      cursor: pointer;
    }

    &-priority {
      width: 15px;
      height: 15px;
      background-color: var(--green);
      border-radius: var(--rounded-xxl);
    }

    &-general {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-bottom: 5px;
      border-bottom: 0.5px solid var(--accent);

      &-score {
        display: flex;
        gap: 3px;
        align-items: center;
      }

      p {
        color: var(--accent) !important;
      }
    }

    p { color: var(--grey-for-text); }

    &-info {
      display: flex;
      gap: 10px;
      align-items: flex-start;
      margin-top: 15px;

      &-name {
        display: flex;
        gap: 3px;
        align-items: center;

        ::ng-deep {
          app-input {
            .field {
              width: 44px !important;
              height: 23px !important;
            }

            .field__input {
              max-width: 44px;
              padding: 0;
              background: transparent;
              border: 0;
              border-radius: 0;

              &:focus {
                border-color: 0;
                box-shadow: none;
              }

              @include typography.body-10;
            }
          }
        }

        &--date {
          display: flex;
          gap: 3px;
          align-items: center;

          p,
          i {
            color: var(--green-dark) !important;
          }
        }

        h6 {
          color: var(--accent);
        }

        p {
          color: var(--accent);
        }
      }

      &-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }
    }

    &-info-wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;

      app-tag {
        cursor: pointer;
      }
    }

    &-add-responsible {
      padding: 8px;
      cursor: pointer;
      border: 0.5px dashed var(--accent);
      border-radius: var(--rounded-xxl);
    }

    &-avatar {
      position: relative;
      cursor: pointer;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        color: var(--light-white) !important;
        transform: translate(-50%, -50%);
      }
    }

    &-performers {
      display: flex;
      gap: 4px;
      align-items: center;
      margin-left: 12px;

      app-avatar {
        margin-left: -12px;
      }
    }

    &-add-object {
      display: flex;
      align-items: center;
      align-self: center;
      justify-content: center;
      width: 100%;
      padding: 2px 48px;
      cursor: pointer;
      border: 0.5px solid var(--accent);
      border-radius: var(--rounded-xl);

      ::ng-deep {
        app-tag {
          .tag {
            max-width: 100px;
          }
        }
      }
    }

    &-description {
      margin: 12px 0;

      ::ng-deep {
        app-textarea {
          .field__input {
            min-height: 40px;
            padding: 12px 12px 0;
            margin-left: -10px;
            background-color: transparent;
            border: none;
            border-radius: 0;

            &:focus {
              border-color: none;
              box-shadow: none;
            }
          }
        }
      }
    }

    &-files {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 10px;
    }

    &-file {
      width: 116px;

      &--empty {
        display: flex;
        gap: 5px;
        align-items: center;
      }
    }

    &-comments {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
    }

    i {
      color: var(--accent);
    }
  }

  &__divider {
    width: 100%;
    margin-top: 5px;
  }
}

.messages {
  &__wrapper {
    margin-bottom: 12px;
  }

  &__date {
    color: var(--grey-for-text);
    text-align: center;
  }
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 10px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    gap: 5px;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__author {
    color: var(--accent) !important;
  }

  &__time {
    color: var(--grey-for-text) !important;
  }

  p {
    color: var(--black);
  }
}

.about {
  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--grey-for-text);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }

  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 2px;
    color: var(--accent);
    cursor: pointer;
  }
}

.read-more {
  margin-top: 12px;
  color: var(--accent);
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 422px;
  height: 28px;
  padding: 10px 24px;
  margin-bottom: -25px;
  margin-left: -25px;
  background-color: var(--light-white);
  border: 0.5px solid var(--medium-grey-for-outline);
  border-radius: var(--rounded-lg);

  &__row {
    display: flex;
    align-items: center;
    width: 100%;

    ::ng-deep {
      app-input {
        .field__input {
          width: 100%;
          color: var(--grey-for-text) !important;
          background-color: transparent;
        }
      }
    }
  }

  &__files {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &:not(:empty) {
      margin-top: 20px;
    }
  }

  &__actions {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;

    i {
      color: var(--light-white);
    }

    input {
      display: none;
    }
  }

  &__attach {
    i {
      color: var(--dark-grey);
      opacity: 0.5;
    }
  }

  &__send {
    width: 15px;
    height: 15px;
    padding: 4px;
    color: var(--accent);
    cursor: pointer;
    background-color: var(--accent);
    border-radius: var(--rounded-sm);

    i {
      color: var(--white);
    }
  }

  &__input {
    flex-grow: 1;
    resize: none;
    background: transparent;
    border: none;
    outline: none;
  }
}

.result {
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
      color: var(--black);
    }

    &-error {
      border: 0.5px solid var(--red);
    }

    &--cv {
      &-empty {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        color: var(--grey-for-text);
      }
    }
  }
}

.lists {
  &__section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }
}

.modal {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 672px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 536px;
    height: 480px;
    background-color: var(--white);
    border: 1px solid var(--medium-grey-for-outline);
    border-radius: 8px;
    box-shadow: 5px 5px 25px 0 var(--gray-for-shadow);
  }

  &__specs-groups,
  &__skills-groups {
    height: 100%;
    overflow: auto;
    scrollbar-width: thin;

    ul {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 14px;

      @for $i from 1 through 8 {
        > li:nth-child(#{$i}) {
          ::ng-deep app-skills-group .content--open {
            top: 0;
            margin-top: -#{($i - 1) * 50}px;
          }
        }
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);
  padding: 30px 60px;
  overflow-y: auto;

  &__title {
    text-align: center;
  }

  &__text {
    color: var(--grey-for-text);
  }

  &__buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
  }

  &__button {
    margin-top: 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-actions {
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
