.control {
  padding: 26px;
  border: 2px dashed var(--accent);
  border-radius: var(--rounded-md);

  &__empty {
    cursor: pointer;
  }
}

.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--light-gray-1);
  border-radius: var(--rounded-lg);

  &__title {
    width: 80%;
    overflow: hidden;
    color: var(--black);
    text-overflow: ellipsis;
    cursor: pointer;
  }

  &__basket {
    color: var(--red);
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: var(--red-dark);
    }
  }
}
