<!-- @format -->

<div class="project__team">
  <div class="project__invite">
    <ul
      class="invite__team"
      [style.overflow-x]="collaborators.length > 8 ? 'auto' : 'none'"
      [style.display]="collaborators.length ? 'grid' : 'none'"
    >
      @for (collaborator of collaborators; track collaborator.userId) {
      <li class="invite__item">
        <app-collaborator-card
          (collaboratorRemoved)="onCollaboratorRemove($event)"
          [collaborator]="collaborator"
        ></app-collaborator-card>
      </li>
      }
    </ul>
  </div>

  @if (showFields) {
  <div class="">
    <div class="" style="display: flex; flex-direction: column; width: 59%">
      <form [formGroup]="inviteForm">
        @if (link; as link) {
        <fieldset class="invite__role">
          <label class="text-body-12 field-label">ссылка на пользователя внутри procollab</label>
          <app-input
            size="big"
            id="invite_link"
            formControlName="link"
            [error]="(link | controlError) && inviteSubmitInitiated()"
            placeholder="https://app.procollab.ru/office/profile/13"
          ></app-input>
          @if ((link | controlError: "required") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          } @if ((link | controlError: "pattern") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_PROFILE_LINK }}
          </div>
          } @if (inviteNotExistingError() && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.USER_NOT_EXISTING }} либо<br />
            {{ errorMessage.USER_IS_LEADER }} либо <br />
            {{ errorMessage.USER_IS_MEMBER }} либо <br />
          </div>
          }
        </fieldset>
        } @if (role; as role) {
        <fieldset class="invite__role">
          <label class="text-body-12 field-label">роль в проекте</label>
          <app-input
            size="big"
            id="invite_role"
            [haveHint]="true"
            [tooltipText]="'Расскажите, кем будет человек, которого вы приглашаете'"
            [tooltipPosition]="'right'"
            [tooltipWidth]="300"
            formControlName="role"
            [error]="(role | controlError) && inviteSubmitInitiated()"
            placeholder="напишите роль участника в команде"
          ></app-input>
          @if ((role | controlError: "required") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }

        <!-- <label class="field-label" style="color: var(--accent)">
            Для проектов ПД.МосПолитех
          </label>
          @if (specialization; as specialization) {
          <fieldset style="margin-bottom: 220px">
            <app-select
              id="specialization"
              formControlName="specialization"
              placeholder="Специальность"
              [options]="rolesMembersList"
            ></app-select>
            @if ((specialization | controlError: "required") && inviteSubmitInitiated()) {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } -->
      </form>
    </div>

    <!-- <app-button
        size="big"
        customTypographyClass="text-body-12"
        (click)="submitInvite()"
        [loader]="inviteFormIsSubmitting()"
      >
        Отправить
      </app-button> -->
  </div>
  }

  <div class="invite__link" [style.flex-direction]="!invites.length ? 'row' : 'row-reverse'">
    <ul
      class="invite__link--wrapper"
      [style.overflow-x]="invites.length > 8 ? 'auto' : 'none'"
      [style.display]="invitesFill ? 'flex' : 'none'"
    >
      @for (user of invites; track user.id) { @if (user.isAccepted === null) {
      <li class="invite__item">
        <app-invite-card
          [invite]="user"
          (edit)="editInvitation($event)"
          (remove)="removeInvitation($event)"
        ></app-invite-card>
      </li>
      } }
    </ul>
    <app-button
      size="big"
      appearance="outline"
      (click)="showFields ? submitInvite() : createInvitationBlock()"
      class="invite__submit"
      customTypographyClass="text-body-12"
    >
      <span>{{ showFields ? "отправить приглашение" : "создать приглашение" }}</span>
      <i appIcon icon="plus" appSquare="10"></i>

      @if (!showFields) {
      <app-tooltip
        [text]="
          'Пару советов на старте: Оптимальный размер команды 2–5 человек. Это обеспечивает гибкость и эффективность коммуникации. Стремитесь к разнообразию навыков среди участников. Четко распределите роли и зоны ответственности на старте.'
        "
        [isVisible]="isTooltipVisible"
        [position]="'right'"
        [tooltipWidth]="400"
        customClass="content__hint"
        (show)="showTooltip()"
        (hide)="hideTooltip()"
      ></app-tooltip>
      }
    </app-button>

    @if (!invites.length || !collaborators.length) {
    <i appIcon icon="sad-smile" appSquare="20" class="project__no-items"></i>
    }
  </div>

  <div class="project__tooltip">
    <div class="tooltip">
      <app-tooltip color="grey" iconSize="40" (show)="isHintTeamVisible.set(true)"></app-tooltip>

      @if (isHintTeamVisible()) {
      <div class="tooltip__wrapper" (mouseleave)="isHintTeamVisible.set(false)">
        <p class="tooltip__text text-body-10">
          Напишите зону ответственности участника, приглашаемого в команду
        </p>
        <p class="tooltip__text text-body-10" (click)="openHintModal($event)">подробнее</p>
      </div>
      }
    </div>
  </div>

  <app-modal [open]="isHintTeamModal()" (openChange)="isHintTeamModal.set(false)">
    <div class="cancel">
      <div class="cancel__top">
        <p class="cancel__title text-body-14">Уверены, большие дела не делаются в одиночку!</p>
      </div>

      <div class="cancel__text-block">
        <p class="text-body-12">
          После создания проекта пригласите в команду тех, кто вместе с вами будет причастен к его
          реализации
        </p>

        <p class="text-body-12">
          Вставьте ссылку на профиль участника на платформе, а также кратко напишите зону
          ответственности или (при наличии) конкретную роль в команде
        </p>

        <p class="text-body-12">
          Участник получит приглашение стать частью команды – это приглашение необходимо принять.
          Ваш со-командник получит уведомление или может найти приглашение во вкладке «проект»
        </p>
      </div>

      <app-button
        customTypographyClass="text-body-12"
        size="medium"
        (click)="isHintTeamModal.set(false)"
        >спасибо, понятно</app-button
      >
    </div>
  </app-modal>
</div>
