<!-- @format -->

<div class="project__team">
  <div class="project__invite">
    <ul
      class="invite__team"
      [style.overflow-x]="collaborators.length > 8 ? 'auto' : 'none'"
      [style.display]="collaborators.length ? 'grid' : 'none'"
    >
      @for (collaborator of collaborators; track collaborator.userId) {
      <li class="invite__item">
        <app-collaborator-card [collaborator]="collaborator"></app-collaborator-card>
      </li>
      }
    </ul>
  </div>

  @if (showFields) {
  <div class="">
    <div class="" style="display: flex; flex-direction: column; width: 60%">
      <form [formGroup]="inviteForm">
        @if (link; as link) {
        <fieldset class="invite__role">
          <label class="text-body-12 field-label">Ссылка на пользователя внутри procollab</label>
          <app-input
            size="big"
            id="invite_link"
            formControlName="link"
            [error]="(link | controlError) && inviteSubmitInitiated()"
            placeholder="https://app.procollab.ru/office/profile/13"
          ></app-input>
          @if ((link | controlError: "required") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          } @if ((link | controlError: "pattern") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_PROFILE_LINK }}
          </div>
          } @if (inviteNotExistingError() && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.USER_NOT_EXISTING }} либо<br />
            {{ errorMessage.USER_IS_LEADER }} либо <br />
            {{ errorMessage.USER_IS_MEMBER }} либо <br />
          </div>
          }
        </fieldset>
        } @if (role; as role) {
        <fieldset class="invite__role">
          <label class="text-body-12 field-label">Роль в проекте</label>
          <app-input
            size="big"
            id="invite_role"
            formControlName="role"
            [error]="(role | controlError) && inviteSubmitInitiated()"
            placeholder="Напишите роль участника в команде"
          ></app-input>
          @if ((role | controlError: "required") && inviteSubmitInitiated()) {
          <div class="text-body-10 error">
            {{ errorMessage.VALIDATION_REQUIRED }}
          </div>
          }
        </fieldset>
        }

        <!-- <label class="field-label" style="color: var(--accent)">
            Для проектов ПД.МосПолитех
          </label>
          @if (specialization; as specialization) {
          <fieldset style="margin-bottom: 220px">
            <app-select
              id="specialization"
              formControlName="specialization"
              placeholder="Специальность"
              [options]="rolesMembersList"
            ></app-select>
            @if ((specialization | controlError: "required") && inviteSubmitInitiated()) {
            <div class="text-body-10 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } -->
      </form>
    </div>

    <!-- <app-button
        size="big"
        customTypographyClass="text-body-12"
        (click)="submitInvite()"
        [loader]="inviteFormIsSubmitting()"
      >
        Отправить
      </app-button> -->
  </div>
  }

  <div class="invite__link" [style.flex-direction]="invitesFill ? 'row-reverse' : 'row'">
    <ul
      class="invite__link--wrapper"
      [style.overflow-x]="invites.length > 8 ? 'auto' : 'none'"
      [style.display]="invitesFill ? 'flex' : 'none'"
    >
      @for (user of invites; track user.id) { @if (user.isAccepted === null) {
      <li class="invite__item">
        <app-invite-card
          [invite]="user"
          (edit)="editInvitation($event)"
          (remove)="removeInvitation($event)"
        ></app-invite-card>
      </li>
      } }
    </ul>
    <app-button
      size="big"
      appearance="outline"
      (click)="showFields ? submitInvite() : createInvitationBlock()"
      class="invite__submit"
      customTypographyClass="text-body-12"
    >
      <span>{{ showFields ? "Отправить приглашение" : "Создать приглашение" }}</span>
      <i appIcon icon="plus" appSquare="10"></i>
    </app-button>

    @if (!invites.length || !collaborators.length) {
    <i appIcon icon="sad-smile" appSquare="20" class="project__no-items"></i>
    }
  </div>
</div>
