/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  position: relative;

  &__inner {
    width: 100%;
    margin-bottom: 25px;

    @include responsive.apply-desktop {
      display: flex;
      gap: 90px;
      justify-content: space-between;
      margin-bottom: 0;
      margin-bottom: 20px;
    }
  }

  &__inner > fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  &__left {
    flex-basis: 50%;
    margin-bottom: 20px;

    form {
      width: 280px;

      @include responsive.apply-desktop {
        width: 600px;
      }
    }
  }

  &__right {
    flex-basis: 50%;

    :first-child & :not(span, fieldset, label, h4, p, i) {
      margin-top: 26px;
      margin-bottom: 10px;
    }

    :last-child & :not(i, span) {
      margin-top: 10px;
    }
  }

  &__invite {
    display: flex;
    flex-direction: column;

    app-button {
      width: 100%;

      @include typography.body-12;

      @include responsive.apply-desktop {
        width: 25%;

        @include typography.bold-body-16;
      }
    }
  }

  &__no-items {
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translateY(-50%);
  }

  &__team {
    position: relative;

    &-tooltip {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translateY(calc(var(--app-height) * 0.47));
    }
  }
}

.invite {
  &__title {
    margin-bottom: 12px;
  }

  &__role {
    margin-bottom: 12px;
  }

  &__item {
    flex-grow: 1;
    margin-bottom: 12px;
  }

  &__list {
    width: 100%;
    margin-top: 10px;
  }

  &__team {
    grid-template-columns: repeat(1, 270px);
    grid-gap: 20px;
    margin: 15px 0;

    @include responsive.apply-desktop {
      grid-template-columns: repeat(5, 150px);
    }
  }

  &__link {
    display: flex;
    gap: 20px;
    margin-bottom: 12px;

    app-button {
      flex-basis: 59%;
    }

    &--wrapper {
      flex-basis: 40%;
      flex-direction: column-reverse;
    }
  }

  &__submit {
    position: relative;

    app-tooltip {
      position: absolute;
      right: -2%;
      bottom: 30%;
    }
  }
}

.vacancy {
  &__submit {
    display: block;
  }
}

.tooltip {
  position: relative;
  display: flex;
  align-items: center;

  &__wrapper {
    position: absolute;
    right: 100%;
    bottom: 22px;
    left: auto;
    width: 310px;
    padding: 18px 10px 10px 16px;
    background-color: var(--white);
    border: 0.5px solid var(--grey-for-text);
    border-radius: var(--rounded-lg) var(--rounded-lg) 0 var(--rounded-lg);

    :last-child {
      color: var(--black);
      cursor: pointer;
    }
  }

  &__text {
    color: var(--grey-for-text);

    a {
      color: var(--accent);
    }
  }
}

.cancel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-height: calc(100vh - 40px);
  padding: 0 24px;
  overflow-y: auto;

  @include responsive.apply-desktop {
    width: 605px;
    max-width: 100%;
  }

  &__cross {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    cursor: pointer;

    @include responsive.apply-desktop {
      top: 8px;
      right: 8px;
    }
  }

  &__top {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    text-align: center;

    &-block {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin: 30px 0;
    }
  }
}
