/** @format */

@use "styles/responsive";
@use "styles/typography";

.nav-bar {
  display: block;
  padding: 25px 0 10px;
  background-color: var(--light-gray);

  @include responsive.apply-desktop {
    display: none;
    padding: 20px 0;
    background-color: transparent;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: responsive.$container-md;
    padding: 0 15px;
    margin: 0 auto;

    @include responsive.apply-desktop {
      padding: 0;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    margin-bottom: 40px;
  }

  &__notifications-toggle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: var(--black);
    cursor: pointer;
    border-radius: var(--rounded-sm);

    > .attention {
      top: 9px;
      right: 11px;
    }

    &--active {
      color: var(--white);
      background-color: var(--accent);
    }
  }

  &__toggle {
    position: relative;
    z-index: 100;
    display: block;
    cursor: pointer;

    > .attention {
      top: 8px;
      right: 2px;
    }

    @include responsive.apply-desktop {
      display: none;
    }
  }

  &__title {
    color: var(--black);

    @include typography.heading-3;

    @include responsive.apply-desktop {
      @include typography.heading-1;
    }
  }

  &__mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    padding: 25px 15px 30px;
    background-color: var(--white);
  }

  &__user {
    margin-top: auto;
  }

  &__mobile-logo {
    display: block;
  }

  &__profile {
    display: block;
    margin-top: auto;
  }
}

.notifications {
  &__title {
    margin-bottom: 12px;
  }

  &__invite {
    &:not(:last-child) {
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid var(--gray);
    }
  }
}

.attention {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: var(--red);
  border-radius: 50%;
}
