<!-- @format -->

<!-- <app-bar
  class="bar"
  [links]="[
    {
      link: '/office/program' + '/' + programId!.toString(),
      linkText: 'Страница программы',
      isRouterLinkActiveOptions: true,
    },

    {
      link: '/office/program' + '/' + programId!.toString() + '/' + 'projects',
      linkText: 'Проекты-участники',
      isRouterLinkActiveOptions: false,
    },

    {
      link: '/office/program' + '/' + programId!.toString() + '/' + 'members',
      linkText: 'Участники',
      isRouterLinkActiveOptions: false,
    },
  ]"
></app-bar> -->

@if (program) {
<main class="project">
  <section class="program__main">
    <div class="info program__section program__info">
      <div class="info__cover">
        <img
          class="info__cover"
          [src]="
            program.coverImageAddress
              ? program.coverImageAddress
              : '/assets/images/office/profile/detail/cover.png'
          "
          alt="cover"
        />
        <app-avatar
          class="info__avatar"
          [url]="program.imageAddress"
          [hasBorder]="true"
          borderColor="dark-grey"
          [size]="123"
          (click)="onOpenDetailProgram()"
        ></app-avatar>
      </div>

      <div class="info__body">
        <div class="info__actions">
          @if (!program.isUserMember && !registerDateExpired) { @if
          (program.name.includes("Кейс-чемпионат MIR")) {
          <a href="https://case-champ.ru/corporate#rec1176757836">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12"
              >Зарегистрироваться</app-button
            >
          </a>
          } @else {
          <a [routerLink]="['/office/program', program.id, 'register']">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12"
              >Зарегистрироваться</app-button
            >
          </a>
          } } @else if (program.isUserMember || program.isUserManager) {
          <app-button
            size="medium"
            (click)="addProject()"
            customTypographyClass="text-body-12 bar__add-project"
          >
            <span class="bar__add-project-text">подать проект</span>
            <i appIcon icon="plus" appSquare="10"></i>
          </app-button>
          }

          <a
            class="info__presentation"
            [href]="program.presentationAddress"
            download=""
            target="_blank"
          >
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12">
              {{
                program.name.includes("Технолидеры Будущего")
                  ? "Каталог лучших стартапов 2022/23"
                  : "положение"
              }}
              <i appIcon class="info__presentation-icon" icon="arrow-down" appSquare="10"></i>
            </app-button>
          </a>

          <!-- TODO: внести ссылку на сайт программы когда это поле будет на бэке -->
          <a class="info__more" [href]="program.presentationAddress" target="_blank">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12"
              >узнать подробнее</app-button
            >
          </a>

          <!-- добавить информацию с ссылок или чего-то в дизайне телефон но не у каждой программы есть телефон в контактах -->
          <a class="info__contacts">
            <app-button appearance="outline" size="medium" customTypographyClass="text-body-12"
              >информация с ссылок</app-button
            >
          </a>
        </div>
      </div>
    </div>

    <!-- advertisementImageAddress поле только для тех кто не участник программы поэтому нельзя сделать toggle и давать появляться или нет полю -->
    @if (!program.isUserMember && !showDetails) {
    <div class="program__advertisement">
      <img [src]="program.advertisementImageAddress" [alt]="program.name" />
    </div>
    } @else if (program.isUserMember && showDetails) {
    <div class="program__details">
      <div class="program__left">
        <aside class="program__aside">
          @if (program.isUserMember && (program.links?.length && program.links)) {
          <div class="links program__section">
            <h3 class="links__title text-body-12">контакты</h3>
            <ul>
              @for (link of program.links; track $index) {
              <li class="contact-link links__item text-body-10">
                @if (link | userLinks; as l) {
                <a
                  class="contact-link__link"
                  target="_blank"
                  [href]="link.includes('@') ? 'mailto:' + link : link"
                >
                  <i class="contact-link__icon" appIcon [icon]="l.iconName" appSquare="16"></i>
                  <span>{{ l.tag }}</span>
                </a>
                }
              </li>
              }
            </ul>
          </div>
          }
        </aside>
      </div>

      <div class="program__content">
        <div class="about program__about">
          <div class="about__head">
            <h3 class="text-body-12 about__title">о программе</h3>
            <i appIcon icon="folder" appSquare="12" class="about__head--icon"></i>
          </div>
          @if (program.description) {
          <div class="text-body-10 about__text">
            <p #descEl [innerHTML]="program.description | parseLinks | parseBreaks"></p>
            @if (descriptionExpandable) {
            <div
              class="read-more"
              (click)="onExpandDescription(descEl, 'expanded', readFullDescription)"
            >
              {{ readFullDescription ? "cкрыть" : "подробнее" }}
            </div>
            }
          </div>
          }
        </div>
        <div class="news">
          @if (program.isUserManager) {
          <app-news-form class="news__form" (addNews)="onAddNews($event)"></app-news-form>
          } @for (n of news(); track n.id) {
          <app-program-news-card
            class="news__item"
            [attr.data-id]="n.id"
            [newsItem]="n"
            [isOwner]="program.isUserMember"
            (like)="onLike($event)"
            (delete)="onDelete($event)"
          ></app-program-news-card>
          }
        </div>
      </div>

      <div class="program__right">
        <aside class="program__aside">
          @if (program.isUserMember && (program.links?.length && program.links)) {
          <div class="links program__section">
            <div class="links__section">
              <h3 class="links__title text-body-12">контакты</h3>
              <i appIcon icon="phone" class="links__icon" appSquare="12"></i>
            </div>
            <ul>
              @for (link of program.links; track $index) {
              <li class="contact-link links__item text-body-10">
                @if (link | userLinks; as l) {
                <a
                  class="contact-link__link"
                  target="_blank"
                  [href]="link.includes('@') ? 'mailto:' + link : link"
                >
                  <i class="contact-link__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
                  <span>{{ l.tag }}</span>
                </a>
                }
              </li>
              }
            </ul>
          </div>
          }
        </aside>

        <aside class="program__aside">
          @if (program.isUserMember && (program.materials?.length && program.materials)) {
          <div class="links program__section">
            <div class="links__section">
              <h3 class="links__title text-body-12">материалы</h3>
              <i appIcon icon="book" appSquare="12" class="links__icon"></i>
            </div>
            <ul>
              @for (material of program.materials; track $index) {
              <li class="contact-link links__item text-body-10">
                @if (material.url | userLinks; as l) {
                <a
                  class="contact-link__link"
                  target="_blank"
                  [href]="material.url.includes('@') ? 'mailto:' + material.url : material.url"
                >
                  <i class="contact-link__icon" appIcon [icon]="l.iconName" appSquare="10"></i>
                  <span>{{ material.title }}</span>
                </a>
                }
              </li>
              }
            </ul>
          </div>
          }
        </aside>
      </div>
    </div>
    }
  </section>
</main>

<app-modal [open]="showProgramModal()" (openChange)="showProgramModal.set(!showProgramModal)">
  <div class="cancel" style="width: 500px; padding: 40px 0px 40px">
    <div class="cancel__top">
      <i appIcon icon="cross" class="cancel__cross" (click)="closeModal()"></i>
      <p class="cancel__title text-bold-body-16">
        Вы не являетесь экспертом или организатором программы!
      </p>
    </div>

    @if (showProgramModalErrorMessage()) {
    <p class="text-body-12 cancel__text">
      {{ showProgramModalErrorMessage() }}
    </p>
    }

    <app-button class="cancel__button" (click)="closeModal()" customTypographyClass="text-body-12"
      >Хорошо</app-button
    >
  </div>
</app-modal>
}
