@use "styles/responsive";
@use "styles/typography";

.program {
  padding-bottom: 100px;

  @include responsive.apply-desktop {
    padding-bottom: 0;
  }

  &__main {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__section {
    padding: 24px;
    background-color: var(--white);
    border: 0.5px solid var(--medium-grey-for-outline);
    border-radius: var(--rounded-lg);
  }

  &__info {
    @include responsive.apply-desktop {
      grid-column: span 3;
    }
  }

  &__content {
    grid-row-start: 2;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__news {
    grid-row-start: 4;

    @include responsive.apply-desktop {
      grid-row-start: unset;
    }
  }

  &__advertisement {
    grid-column: span 3;

    img {
      width: 100%;
    }
  }

  &__details {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    grid-gap: 20px;
  }
}

.bar__add-project {
  display: flex;
  align-items: center;
  cursor: pointer;

  i {
    display: block;
    margin-left: 6px;
  }
}

.bar__add-project-text {
  display: inline;
}

.about {
  padding: 24px;
  background-color: var(--light-white);
  border-radius: var(--rounded-lg);

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);

    &--icon {
      color: var(--accent);
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  /* stylelint-disable value-no-vendor-prefix */
  &__text {
    p {
      display: -webkit-box;
      overflow: hidden;
      color: var(--black);
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 5;
      transition: all 0.7s ease-in-out;

      &.expanded {
        -webkit-line-clamp: unset;
      }
    }

    ::ng-deep a {
      color: var(--accent);
      text-decoration: underline;
      text-decoration-color: transparent;
      text-underline-offset: 3px;
      transition: text-decoration-color 0.2s;

      &:hover {
        text-decoration-color: var(--accent);
      }
    }
  }
  /* stylelint-enable value-no-vendor-prefix */

  &__read-full {
    margin-top: 8px;
    color: var(--accent);
    cursor: pointer;
  }
}

.read-more {
  margin-top: 8px;
  color: var(--accent);
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: var(--accent-dark);
  }
}

.links {
  overflow: hidden;

  &__section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    border-bottom: 0.5px solid var(--accent);
  }

  &__icon {
    color: var(--accent);
  }

  &__title {
    margin-bottom: 8px;
    color: var(--accent);
  }

  &__item {
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.news {
  &__form {
    display: block;
    margin-top: 20px;
  }

  &__item {
    display: block;
    margin-top: 20px;
  }
}

.cancel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 40px);

  i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }

  &__top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
  }

  &__text {
    width: 40%;
    color: var(--dark-grey);
    text-align: center;
  }

  &__button {
    margin-top: 20px;
  }
}
