@use "styles/typography";

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      border-radius: 15px;
      object-fit: cover;
    }
  }

  &__indexes {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    padding: 2px 20px;
    background-color: rgb(66 66 66 / 30%);
    border-radius: 15px;

    span {
      color: var(--white);
      opacity: 0.6;

      @include typography.body-12;
    }
  }

  &__btn {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 5px;
    cursor: pointer;
    background-color: rgb(30 30 30 / 50%);
    border: none;
    border-radius: 100%;
  }

  &__btn--prev {
    left: 10px;
    transform: translateY(-50%) rotate(180deg);
  }

  &__btn--next {
    right: 10px;
    transform: translateY(-50%) rotate(0deg);
  }

  &__img-like {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    color: var(--accent);
    background-color: var(--white);
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
    transform: translate(-50%, -50%) scale(0);

    &--show {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}
