/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  position: relative;

  &__inner {
    width: 100%;
    margin-bottom: 25px;

    @include responsive.apply-desktop {
      display: flex;
      gap: 20px;
      justify-content: space-between;
      margin-bottom: 0;
      margin-bottom: 20px;
    }
  }

  &__inner > fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  &__left {
    flex-basis: 60%;
    margin-bottom: 20px;
  }

  &__right {
    flex-basis: 40%;

    :first-child & :not(span, fieldset, label, h4, p, i) {
      margin-top: 26px;
      margin-bottom: 10px;
    }

    :last-child & :not(i, span) {
      margin-top: 10px;
    }
  }

  &__no-items {
    position: absolute;
    bottom: 0%;
    left: 50%;
  }
}

.invite {
  &__item {
    margin-bottom: 12px;
  }
}

.vacancy {
  &__item {
    margin-bottom: 10px;
  }

  fieldset {
    margin-bottom: 10px;
  }

  &__form-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__info,
  &__additional {
    display: flex;
    gap: 20px;
    align-items: center;

    :first-child,
    :last-child {
      flex-basis: 50%;
    }
  }

  &__submit {
    display: block;
  }
}

.error {
  color: var(--red) !important;
}

.vacancies {
  display: flex;

  &__input {
    flex-grow: 1;
    margin-right: 6px;
  }
}
