<!-- @format -->

<div class="project__inner">
  <div class="vacancy project__left">
    <label class="field-label">Создание вакансии</label>
    <form [formGroup]="vacancyForm">
      @if (role; as role) {
      <fieldset class="vacancy__role">
        <app-input
          id="vacancy_role"
          formControlName="role"
          [error]="(role | controlError) && vacancySubmitInitiated()"
          placeholder="Напишите роль, которую вы хотите закрыть в вашем проекте"
        ></app-input>
        @if ((role | controlError: "required") && vacancySubmitInitiated()) {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      } @if (description; as description) {
      <fieldset class="vacancy__description">
        <app-input
          id="vacancy_description"
          formControlName="description"
          [error]="(description | controlError) && vacancySubmitInitiated()"
          placeholder="Опишите вакансию"
        ></app-input>
        @if ((description | controlError: "required") && vacancySubmitInitiated()) {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <div class="vacancy__work">
        <div class="vacancy__info">
          @if (requiredExperience; as requiredExperience) {
          <fieldset>
            <app-select
              id="requiredExperience"
              formControlName="requiredExperience"
              placeholder="Опыт"
              [selectedId]="selectedRequiredExperienceId()"
              [options]="experienceList"
            ></app-select>
            @if (requiredExperience | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (workFormat; as workFormat) {
          <fieldset>
            <app-select
              id="workFormat"
              formControlName="workFormat"
              placeholder="Формат"
              [selectedId]="selectedWorkFormatId()"
              [options]="formatList"
            ></app-select>
            @if (workFormat | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>

        <div class="vacancy__additional">
          @if (salary; as salary) {
          <fieldset>
            <app-input
              id="salary"
              formControlName="salary"
              [error]="(salary | controlError) && vacancySubmitInitiated()"
              placeholder="Заработная плата"
            ></app-input>
            @if ((salary | controlError: "required") && vacancySubmitInitiated()) {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          } @if (workSchedule; as workSchedule) {
          <fieldset>
            <app-select
              id="workSchedule"
              formControlName="workSchedule"
              placeholder="График"
              [selectedId]="selectedWorkScheduleId()"
              [options]="scheludeList"
            ></app-select>
            @if (workSchedule | controlError: "required") {
            <div class="text-body-14 error">
              {{ errorMessage.VALIDATION_REQUIRED }}
            </div>
            }
          </fieldset>
          }
        </div>
      </div>

      <fieldset class="vacancy__search">
        <label class="field-label">Навыки</label>
        <div class="vacancies">
          <app-autocomplete-input
            class="vacancies__input"
            placeholder="Введите необходимый для соискателя навык"
            searchIcon=""
            [suggestions]="inlineSkills"
            fieldToDisplay="name"
            [forceSelect]="true"
            [clearInputOnSelect]="true"
            (searchStart)="onSearchSkill($event)"
            (optionSelected)="onAddSkill($event)"
          ></app-autocomplete-input>
          <app-button type="button" class="vacancies__button" (click)="onToggleSkillsGroupsModal()">
            <i appIcon icon="folder" appWidth="24" appHeight="24"></i>
          </app-button>
        </div>
      </fieldset>

      @if (skills; as skills) {
      <fieldset class="skills-basket">
        <app-skills-basket
          formControlName="skills"
          [error]="skills | controlError"
        ></app-skills-basket>
        @if (skills | controlError: "required") {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }

      <label class="field-label" style="color: var(--accent)">Для проектов ПД.МосПолитех</label>
      @if (specialization; as specialization) {
      <fieldset>
        <app-select
          id="specialization"
          formControlName="specialization"
          placeholder="Специальность"
          [selectedId]="selectedVacanciesSpecializationId()"
          [options]="rolesMembersList"
        ></app-select>
        @if ((specialization | controlError: "required") && vacancySubmitInitiated()) {
        <div class="text-body-14 error">
          {{ errorMessage.VALIDATION_REQUIRED }}
        </div>
        }
      </fieldset>
      }
    </form>
  </div>

  <div class="project__right">
    <app-button class="vacancy__submit" [loader]="vacancyIsSubmitting()" (click)="submitVacancy()">
      <span>Создать вакансию</span>
      <i appIcon icon="person" appSquare="24"></i>
    </app-button>

    <ul class="vacancy__list">
      @for (vacancy of vacancies; track vacancy.id) {
      <li class="vacancy__item">
        <app-vacancy-card
          [vacancy]="vacancy"
          (edit)="editVacancy(vacancies.indexOf(vacancy))"
          (remove)="removeVacancy($event)"
        ></app-vacancy-card>
      </li>
      }
    </ul>
  </div>
</div>
