/** @format */

@use "styles/responsive";
@use "styles/typography";

.project {
  &__inner {
    width: 100%;
    margin-bottom: 25px;

    @include responsive.apply-desktop {
      display: flex;
      gap: 90px;
      justify-content: space-between;
      margin-bottom: 0;
      margin-bottom: 20px;
    }
  }

  &__inner > fieldset:not(:last-child) {
    margin-bottom: 20px;
  }

  &__left {
    flex-basis: 50%;
    margin-bottom: 20px;

    form {
      width: 280px;

      @include responsive.apply-desktop {
        width: 600px;
      }
    }
  }

  &__right {
    flex-basis: 50%;

    :first-child & :not(span, fieldset, label, h4, p, i) {
      margin-top: 26px;
      margin-bottom: 10px;
    }

    :last-child & :not(i, span) {
      margin-top: 10px;
    }
  }
}

.invite {
  &__item {
    margin-bottom: 12px;
  }
}

.vacancy {
  &__item {
    margin-bottom: 12px;
  }

  fieldset {
    margin-bottom: 10px;
  }

  &__form-list {
    display: flex;
    flex-wrap: wrap;
  }

  &__skill {
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__info,
  &__additional {
    display: flex;
    gap: 20px;
    align-items: center;

    :first-child,
    :last-child {
      flex-basis: 50%;
    }
  }

  &__submit {
    display: block;
  }

  &__description {
    ::ng-deep {
      app-input {
        .field__input {
          padding: 40px 20px;
        }
      }
    }
  }
}

.vacancies {
  display: flex;

  &__input {
    flex-grow: 1;
    margin-right: 6px;
  }

  ::ng-deep {
    app-autocomplete-input {
      .field__input {
        padding: 12px 20px;

        @include typography.body-16;
      }
    }

    app-button {
      .button {
        width: 52px;
        height: 52px;
      }
    }
  }
}
